[2017-10-14 22:02] erin-doyle commented on #758
_**Note for people overriding any styles:**_ a number of the class names have slightly changed and some have been removed/new ones added.  You may need to verify the class names you are overriding have not been changed.

[2017-10-14 23:25] ljharb commented on #531
It’s a flaw in the React native packager. The best solution right now is to add a postinstall script that removes all babelrc files inside node_modules.

[2017-10-15 08:42] melinapazoki commented on #447
<DateRangePicker
                            monthFormat={'jMMMM'}
                            isRTL={true}
          />

[2017-10-15 08:43] melinapazoki commented on #447
`        <DateRangePicker
                            monthFormat={'jMMMM'}
                            isRTL={true}
                            />`

[2017-10-16 01:13] SimeonC commented on #709
I have it occurring on 2+ forward months as well.

[2017-10-16 07:21] sag1v opened #774 "Right to left keyboard navigation"
Hi, when i created [454](https://github.com/airbnb/react-dates/pull/454) for the `RTL` support ,i forgot to take care for the keyboard navigation. Now it is reversed.
It's been a while since I've looked in the source code and can't find the time to do another PR on this in the near future.
Would love to get some help on that.

[2017-10-16 15:47] felquis commented on #55
I still have this issues :) I'm using react-dates 12.6.0 and moment 2.18.1, I have a working demo in this branch https://github.com/pagarme/pilot/tree/refactor-filters/webapp/src/components/DateSelector, my computer timezone is America/Sao_Paulo.

[2017-10-16 15:59] majapw commented on #55
What browser are you using? I set my timezone and looked at airbnb.com (which is running v12.6.0) and didn't see an issue. Can you (a) double-check airbnb.com on your setup and (b) send a screencap?

I am going to say I would be very surprised if this were still an issue...

[2017-10-16 16:01] icd2k3 commented on #769
+1 to @erin-doyle - I too had `react-dates` in a separate entry chunk (our code is split like `entry: { app: [ ], common: []  }`... removing `react-dates` from the `common` chunk solved the theme issue for me

[2017-10-16 16:04] majapw commented on #769
@erin-doyle @icd2k3 is there any way you could add a snippet to the README to better describe your solution?

[2017-10-16 16:13] icd2k3 commented on #769
@majapw well it fixes the error, but it's actually not a great _solution_.

I would like to keep `react-dates` in my webpack `common` entry chunk because my project utilizes a lot of code splitting. Because `react-dates` is used in a lot of places in my app this adds a lot of file size because it is now included in every code-split chunk that uses it.

For example, 12.6.0 was only included in `com

[2017-10-16 16:29] majapw commented on #758
Hi all, I've clarified the instructions quite a bit in the [README](https://github.com/airbnb/react-dates/blob/master/README.md). Please let me know if you have any feedback or if anything can still be adjusted!

I will be working on some

[2017-10-16 16:32] ljharb commented on #55
(Also, could you file a new issue?)

[2017-10-16 16:46] erin-doyle commented on #769
I agree with @icd2k3.  So I've changed where I said "Solution" to instead say "Workaround".

I wonder if the `ThemedStyleSheet` can be modified such that the `styleTheme` and `styleInterface` weren't mutable especially such that there isn't the possibility of calling `create()` out of order from registering the theme and interface.  I feel like that there is the problem.

[2017-10-16 17:03] BenSwennen commented on #25
@hanselsen I created one, but unfortunately it didn't seem to get a lot of traction, so I removed it and kept it specific to our needs. I also struggled to find the time to get the tests to succeed and to get it to work properly. https://github.com/airbnb/react-dates/pull/672

[2017-10-16 17:04] majapw commented on #769
Hmm, we're still definitely working out the kinks of using RWS in the wild (so react-dates is def the playground for this process). One thing we do internally is that we have a `withStyles` file that does
[code]

and then every individual component imports from this file instead of from `react-with-styles` directly, ie we'd do:
[code]

This ensures that the theme and interface *is* always set when

[2017-10-16 17:38] derekstavis opened #776 "Daylight saving time in Brazil and duplicated October 15"
Hey,

Selecting October 15 or 16 in America/Sao_Paulo timezone gives me duplicated days:

![peek 2017-10-16 14-35](https://user-images.githubusercontent.com/1611639/31623806-64db9a50-b27f-11e7-9e52-0626620e32ed.gif)

This is a new issue originally reported by @felquis in #55.

[2017-10-16 17:40] felquis commented on #776
Alright, at airbnb.com you cannot reproduce it, because day 15 is out of range.

[2017-10-16 17:42] majapw commented on #776
But are two October 16s visible?

On Mon, Oct 16, 2017, 10:41 AM Felquis Gimenes <notifications@github.com>
wrote:

[2017-10-16 17:43] majapw commented on #776
Oh jokes it's only when selected. That's really weird!

On Mon, Oct 16, 2017, 10:42 AM Maja Wichrowska <majapw@gmail.com> wrote:

[2017-10-16 21:22] gdborton commented on #769
@icd2k3 @erin-doyle Could you post more of your webpack config?

If I'm understanding this issue correctly, you're seeing that errors are happening when you pull `react-dates` into a common vendor chunk, that doesn't occur when you don't.  Are you utilizing the `CommonsChunkPlugin` at all, or do you just build the two chunks `app` and `common`?

[2017-10-16 22:05] erin-doyle commented on #769
Here's a scaled down example of what we're doing:

[code]

[2017-10-17 01:29] koba04 opened #778 "Localize aria-label for CalendarDay button"
Currently, the aria-label format for CalendarDay button is fixed like "Saturday, October 14, 2017".

https://github.com/airbnb/react-dates/blob/master/src/components/CalendarDay.jsx#L104

Is there any way to customize the format?
I guess I can do that by reparsing the text and format using moment but it seems not to be a proper approach.

Thanks!

[2017-10-17 16:14] ArtyomResh commented on #647
Hi, @majapw! :)
Is there any news about this issue? I've checked #631 and #657 but didn't found a solution for this.

[2017-10-17 17:15] mjchang commented on #760
Cause is because isOutsideRange is only being called when focus changes or there's a new isOutsideRange. The modifier is not being triggered when start date or end date changes which is the case when you clear date.

https://github.com/airbnb/react-dates/pull/652 is a partial fix to this but the start / end date change condition is also needed for the isOutsideRange modifier condition.

[2017-10-17 22:09] darakeon commented on #776
The real problem is with endOf function of moment. At Oct 15th, the endOf was pointing to GMT 2:59:59. At Oct 16th, the start was GMT 2:00:00. So there was an hour that, according to moment, belongs to two days, when it should belong only to Oct 16th. Fixed it making the endOf of Oct 15th be one millisecond before the start of Oct 16th.

[2017-10-18 06:16] hanselsen commented on #25
@BenSwennen I switched to react-datepicker and styled it, because it has more options and styling is not limited.

[2017-10-18 17:18] DaveCole commented on #769
I too am seeing this behavior if I just npm install --save it out of the box.  Hoping for a fix soon!

[2017-10-18 17:30] majapw commented on #769
@DaveCole is it due to your webpack config? are you importing the initialize script as per the readme?

[2017-10-18 19:39] DaveCole opened #779 "IE11: Object doesn't support property or method 'is' (when text field clicked)"
In the latest IE11 on Windows, with most of the common MDN polyfills installed, when you click on the text field containing the date range to open the date picker, this error appears in IE11:

Warning: Failed prop type: Object doesn't support property or method 'is'
in Unknown
(the stack trace keeps going back to Unknowns)

The only noticeable behavior difference is that the blue styling for the s

[2017-10-18 20:13] icd2k3 commented on #769
@DaveCole you shouldn't see the `theme` undefined error if you're not utilizing webpack code chunk splitting and have followed the instructions in the readme.

@gdborton I could post more of my webpack config, but it's really similar to @erin-doyle's

[2017-10-19 14:08] DaveCole commented on #49
That fixed things nicely,  and also patched up a couple of unrelated bugs.  I could hug you.  Thank you, sir!

[2017-10-19 22:41] Sceluswe commented on #45
Smaller examples would be appreciated as well.

[2017-10-19 23:10] majapw commented on #45
@Sceluswe commenting on a closed, old issue is unlikely to get much traction. Could you open a new issue? What do you mean by a smaller example in this case?

[2017-10-20 08:32] szczepanbarszczowski commented on #761
I've been on v7.0.1 and after upgrade to v12.7.0 encountered the same behaviour.

[2017-10-21 00:29] majapw commented on #747
Hmm, does hitting `esp` to go back to the input work? In general we want to encourage use of the calendar over typing in the inputs, so I'm not sure that this is the worse behavior. What would your preferred behavior be?

It's possible that we could remove this check when move focus to the daypicker and leave that for the portal case.

[2017-10-21 00:35] majapw commented on #763
Can you upgrade to 13.0.5 and let us know if this still happens? Also what browser are you using?

Is `.day-picker-wrap` originally `display: none`? The `display: none` example seems to work for me. The transition container height gets set dynamically so it can be finicky, but I haven't run into this bug.

When the daypicker wrapper is first shown, is focused set to true off the bat?

[2017-10-21 00:37] majapw commented on #647
This has not yet been implemented, but I think we would accept a PR. Unfortunately, I do not currently have the bandwidth myself.

[2017-10-21 00:46] comron commented on #747
It doesn't look like there is anyway to get focus back to the input. The code seems to steal focus from the input whenever it gains focus if isTouchDevice is true.

I think the problem here is that "touch device" is too broad of a check, and specifically not allowing a user to type into the field if their browser responds to 'ontouchstart' seems overly strict. In this case the user doesn't even kn

[2017-10-22 03:04] manatarms opened #782 "Adjust the padding on the edge of the calendar"
Thanks for this awesome calendar component.

I've been trying to reduce the padding between the calendar edge and the date table, but the values seem to be set dynamically during width and height calculation.

I don't want to hard code the height and width values of the calendar, because that makes things look weird when the number of days in the month change. I also thought of setting a max-heigh

[2017-10-22 04:11] saeho opened #783 "Input caret should be visible when typing"
When the date picker input is focused/typing, the input caret should be visible to indicate that typing is possible in the date picker.

[2017-10-22 04:18] majapw commented on #783
This will be addressed by https://github.com/airbnb/react-dates/pull/780

[2017-10-23 12:34] stonerworx opened #786 "Style selected end date"
Hi!
I've noticed that the selected start date and the selected end date share the same css class names. We have the case that we need to set a different styling to the end date. Is it possible to set a different class name for the selected end date?

Or any other ideas how to select the selected end date with css?

We're already doing things like this:
[code]
But it feels super hacky.

Thanks!

[2017-10-23 17:43] jeremymarc commented on #697
got the same issue with Windows 10 / Edge

[2017-10-23 18:43] alexi commented on #761
Also seeing this issue - has anyone found a solution?

[2017-10-23 18:52] majapw commented on #761
Is this only on the `verticalScrollable` datepicker or on other versions as well?

[2017-10-23 19:58] alexi commented on #761
I am using horizontal one-month `DateRangePicker`

[2017-10-23 20:18] majapw commented on #783
This has been released in v14.0.0

[2017-10-23 20:18] #783 closed

[2017-10-23 20:26] jabsatz commented on #48
I have the following setup:

A page with a list of ranges to select (This Month, Previous Month, Previous Year, etc.) and a DayPickerRangeController component, since you can also manually select these dates. So let's suppose today is October 23rd, so I go back 3 months to July in the calendar, when I click on the "This Month" range the present month is selected, so October 1st through October 31st

[2017-10-23 21:40] sloyless opened #790 "iOS/Touch Devices - Cursor/non focusable on selecting End Date input"
Device: iOS v11.0.3 in Safari

On the DateRangePicker, vertical with full screen portal, on selecting the End Date input field does not place focus on the calendar, and the cursor is visible through the calendar pop up.

Steps to reproduce:
1. In Safari on iOS go to the [Storybook link](http://airbnb.io/react-dates/?selectedKind=DRP%20-%20Calendar%20Props&selectedStory=vertical%20with%20full%20scr

[2017-10-24 07:00] vivek3003 commented on #763
_Can you upgrade to 13.0.5 and let us know if this still happens? Also what browser are you using?_
Yes. This is still happening. Chrome  61.0.

_Is .day-picker-wrap originally display: none?_
So I am using another wrapper over day-picker-wrap to toggle visibility. I was also using the `visibility` property on it.

_When the daypicker wrapper is first shown, is focused set to true off the bat?_
Ye

[2017-10-24 20:57] merrilj opened #793 "Selecting Initial Date on SingleDatePicker Component Mount"
Hey!

I'm using your react-dates module for an app I'm developing and absolutely love it! However, I'm trying to select an initial date on component mount, where today for instance is initially selected. I looked through Storybook and tried using the 'initialDate' property on the SingleDatePicker component, but it gets grumpy about it. Any advice?

Thanks,
Merril

[2017-10-25 01:40] koba04 commented on #778
What do you think about adding `dayAriaLabelFormat` prop?

[2017-10-25 01:47] ljharb commented on #778
That seems reasonable. Are there any other label props in any other components that might need similar treatment? We should add it everywhere all at once if so.

[2017-10-25 02:24] erin-doyle commented on #706
I've been doing some testing with tab behavior using the storybook in various browsers.  I'm not sure using the storybook is a very accurate "environment" for testing tab order behavior as the code under test is within an iframe of a page with other elements that have varying tabIndex and other tab order precedence.

The "Show Info" button in the top right corner actually has a tabIndex attribute

[2017-10-25 02:29] erin-doyle commented on #721
The link that you are saying the cursor is going to is the Show Info button in the right corner of the Storybook and this is happening because that button has a tabIndex="0".  This gives it priority in the tab order and has nothing to do with the react-dates DatePicker functionality.  Unfortunately the Storybook does not provide the most accurate "environment" for testing tab order do to the other

[2017-10-25 04:24] dudunegrinhu opened #794 "2 inputs in the same page"
I'm trying to add 2 SingleDatePicker in the same page but it doesn't work. It only works with 1 input. This is my code below:

[code]

[2017-10-25 12:30] sjain-mi9 commented on #706
Storybook was just a rough example of the issue. I have tried that in my application as well and facing the same problem. The behavior is seen on IE and not other browsers. For me it jumps to the chrome page link.
For now I have provided manual tab control using jquery(temporary fix).

[2017-10-25 15:32] tagoro9 commented on #786
I just run into this issue while updating to the latest version. I believe this is a bug. `CalendarDay--selected-start` and `CalendarDay--selected-end` class names used to be added to the calendar day.

I'm gonna try to work on a fix.

[2017-10-25 15:49] axe-z opened #797 "Uncaught TypeError: Cannot read property 'theme' of undefined"
ThemedStyleSheet.js?17e6:33 Uncaught TypeError: Cannot read property 'theme' of undefined
    at Object.create (ThemedStyleSheet.js?17e6:33)
    at withStyles (withStyles.js?55c9:78)
    at Object.65 (DateInput.js?edf4:462)
    at __webpack_require__ (DateInput.js?edf4:21)
    at eval (DateInput.js?edf4:67)
    at eval (DateInput.js?edf4:70)
    at Object.<anonymous> (bundle.js:2838)
    at __webp

[2017-10-25 16:16] mifi opened #798 "Input field looks wrong if global box-sizing is not set to border-box"
Shouldn't this component set box-sizing: border-box itself, if that's what's required for it to look as expected?

[2017-10-25 17:05] majapw commented on #797
Hi @axe-z, if you look at the readme, as of v13, there is one additional step to get things working. Specifically, you need to `import 'react-dates/initialize';` before you use any of the components.

See https://github.com/airbnb/react-dates#initialize for more info!

[2017-10-25 17:05] #797 closed

[2017-10-25 17:09] majapw commented on #798
Hi @mifi, you are probably right in that it should at the least be documented. I think the reason that we rely on `box-sizing` to be set to `border-box` in the environment rather than explicitly setting it on each element that needs it is ... honestly because the latter would be quite annoying. There are a *lot* of elements that have explicitly set padding and border in the repo. X_x

It would pro

[2017-10-25 17:13] majapw commented on #794
Hi @dudunegrinhu, it appears that you are using the same `focused` variable for  both `SingleDatePicker` components
[code]
Also, nowhere do you actually pass in `focused={this.state.focused}`.

Both of these thing would contribute to the calendars not working.

[2017-10-26 00:10] #786 closed

[2017-10-26 06:01] Subramanian8 opened #801 "I want to enable past and present dates."
I want to enable past and present dates to choose.

[2017-10-26 06:09] stonerworx commented on #786
awesome, thank you!

[2017-10-26 06:10] Subramanian8 opened #802 "How to limit a select dates in date range picker."
I want limit a choose dates in date range picker,

for example,
Allow to choose 90 days (3 months) only in date range picker.

First i choose start date as 1/1/2017(january 1st, 2017),
then the end date to choose is only with in 90 days.
Other dates are must in disable state.

[2017-10-26 11:53] ogg opened #803 "Get the month which is about to be rendered?"
Hi,
I am using the `SingleDatePicker` (version 14.0.0). Before displaying the calendar, I need to make a request to the server to get the available dates for the month which is about to be displayed (so I can use `isDayHighlighted` and `isDayBlocked` to format the dates on the calendar).

I am struggling to find how I can figure out what month is about to be displayed. This is what my code looks l

[2017-10-26 12:08] ogg commented on #803
Current workaround is to start with current month, and then change it with onNextMonthClick and onPrevMonthClick.

[2017-10-26 12:08] #803 closed

[2017-10-26 15:08] koba04 commented on #778
@ljharb I don't have the issue in any other components now.

[2017-10-26 17:31] sarahdmsi opened #804 "Touch devices not allowing keyboard input with readOnly={false}"
Touch devices do not appear to be allowing keyboard input when the user first interacts with the input field. The keyboard will flicker, but it appears to be suppressed. However, if the user changes the month by using the arrow key on the dropdown, the keyboard will then function normally when the user taps the input.

[code]

[2017-10-26 20:49] sarahdmsi opened #805 "Cannot clear dates after manually changing date by highlighting text"
When manually entering a date, if you use backspace it seems to work fine. However, if you highlight and type to replace text, it seems to get stuck where you can no longer clear it. See the linked screenshot for an example.

https://www.dropbox.com/s/50hv1vk7v8kyvxa/React%20Dates%20Highlight%20Issue.mov?dl=0

[2017-10-27 11:23] cecton commented on #514
I'm not 100% sure it is related but I have the problem in 14.0.0 14.1.0 and 13.0.6 by simply pressing TAB to switch to the next field. I have a lot of fields on my page and I want to navigate to the next one.

Nothing special in my code, I just inserted your component today with all the default parameters of the example. I tested on Firefox 56.

[2017-10-27 12:01] onigoetz opened #806 "Avoid using Set, to save 27K in polyfills"
Can we remove the usage of `Set` in `DayPickerRangeController` and `DayPickerSingleDateController` ?

Currently, many browsers still don't support `Set` and the polyfills are quite big (for example, `es6-set` is 27K after minification, because it also includes Symbol and other polyfills).

`Set` is currently only used in modifiers, so maybe the prop could be changed to accept a Set or an array. An

[2017-10-27 15:46] ljharb commented on #806
We recommend https://npmjs.com/airbnb-browser-shims; we don’t recommend es6-set, nor can symbols be faithfully polyfilled anyways.

The benefits of Set are more than the API; they’re also the O(1) lookup and the uniqueness.

[2017-10-27 17:21] sjain-mi9 commented on #743
@ljharb Is there a way I can track the input? When user types a date, at each character the user types, it is detected onDateInputChanges or something like that? It would help in limiting the types of input we would like the users to enter and display error if wrong text has been entered.

[2017-10-27 17:23] majapw commented on #743
@sjain-mi9 This is something that has been floated around before. I think it's a good idea, but am not yet sure what the best way to implement it is.

[2017-10-27 17:52] majapw commented on #805
O_o that's really weird, it looks like it's not committing the value for some reason (ie not clearing the `dateString` state) but that's weird because it's closing the datepicker... which I would assume would only happen when it properly committed things. D: Maybe something got lost when we exposed the real input.

This def needs more investigation. I can dig around a bit but would appreciate any

[2017-10-28 01:40] greenkeeper[bot] opened #808 "An in-range update of eslint is breaking the build 🚨"
## Version **4.10.0** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2Feslint-4.10.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2017-10-29 18:12] erin-doyle commented on #802
I think you should be able to use `isOutsideRange` which is a function that takes a day and is called on each day.  You can return true or false as to whether that day is outside of the range you want to allow.  So you can check to see if the day is within that 90 days from the selected start date.

[2017-10-29 18:15] erin-doyle commented on #801
This is possible.  What is the question or problem you're having?

[2017-10-29 19:38] rakeshgunduka commented on #805
This bug isn't reproducible. I tried the way it was done in the [screen shot example given](https://www.dropbox.com/s/50hv1vk7v8kyvxa/React%20Dates%20Highlight%20Issue.mov?dl=0) by @sarahdmsi but ended with no success.

[2017-10-30 05:34] Subramanian8 commented on #801
@erin-doyle thanks for your reply. my question is how to do that?

i found solution for this.

isOutsideRange={(day) => {
           return !day.isSameOrBefore());
}}

[2017-10-30 05:38] Subramanian8 commented on #802
@erin-doyle can you please share the exact condition if you know?

[2017-10-30 05:50] Subramanian8 opened #810 "Is it possible to add year dropdown in date picker?"
Is it possible to add year dropdown in date picker?

if possible means tell me how to do that?

for example see the given image.
![screenshot-2017-10-30 reactjs datepicker crafted by hackerone](https://user-images.githubusercontent.com/20462201/32156637-99218014-bd64-11e7-80fd-a70917a216b1.png)

After click the select dropdown button.
![screenshot-2017-10-30 reactjs datepicker crafted by hackerone

[2017-10-30 05:56] #801 closed

[2017-10-30 16:09] ljharb commented on #810
Duplicate of #672.

[2017-10-30 16:09] #810 closed

[2017-10-30 16:59] erin-doyle commented on #717
I think this is because the default behavior of the arrow keys in FireFox is to scroll the page up and down.  It seems like after focusing the Date Input a second time it works ok from then.  I'm looking in to it.

[2017-10-30 22:52] mpalmr opened #811 "ThemedStyleSheet Error"
When attempting to use this package for the first time, installed via `npm i -S react-dates` today, I'm unable to run my application due to an error thrown from this library. The error can be found below along with a copy of my app's entry point and `package.json` file.

I'll report back with whether or not using an older version runs without error.

### Chrome's Console
[code]

### `./src/index.j

[2017-10-31 03:46] pradok opened #812 "Inject spinner into calendar"
Hi
On clicking next month, I need to make an ajax request for days available to enable/disable on calendar.
Is there a way to inject a spinner inside the tbody.js-CalendarMonth__grid DOM and not show next month till the ajax data is loaded for the next clicked month?

Thanks

[2017-10-31 03:47] majapw commented on #812
This is actually @sdjidjev was asking about recently as well! I think this is a great idea. We could have a default styling and also a customLoader prop a la most of the icons in the library.

[2017-10-31 03:48] pradok commented on #812
ooh! That was express quick!, thanks @majapw

[2017-10-31 10:40] TMonika commented on #761
Anyone found solution for this issue? Strange that it works with debug mode on.

[2017-10-31 11:43] erin-doyle commented on #811
Yes, there was an update in v13.0.0 that was breaking.  Please see the note in the README about using Initialize: https://github.com/airbnb/react-dates#initialize and reference this closed Issue: https://github.com/airbnb/react-dates/issues/797.  Let us know if you're still having any trouble after that!

[2017-10-31 11:57] sag1v opened #813 "isDayBlocked needs a new instance on each render on async operations"
Hi, consider this scenario:
Rendering `DateRangePicker` normally and passing `isDayBlocked`.
when a user choose checkin-date we want to fetch checkout available dates  from the server and run `isDayBlocked` against the new dates.
In order to achieve this flow, we must provide a new function instance prop of `isDayBlocked` on each render:
[code]
due to [this logic](https://github.com/airbnb/react-d

[2017-10-31 13:52] ljharb commented on #813
The issue there is that you're passing a new arrow function every render - use a constructor-bound instance method, and you'll get the same `===` function every time.

[2017-10-31 13:53] ljharb commented on #811
@erin-doyle they've already got the initialize import in index.js, so i don't think that's the issue.

[2017-10-31 13:58] ljharb commented on #808
[Fluke](https://travis-ci.org/airbnb/react-dates/builds/293937945?utm_source=github_status&utm_medium=notification).

[2017-10-31 13:58] #808 closed

[2017-10-31 16:47] RahulReddy75 opened #814 "How to iterate through all the rendered dates on the DRP"
Hi,
I am using the isDayBlocked prop to disable weekends on the calendar. But how do I iterate through all the rendered dates on the DRP?

[2017-10-31 17:07] majapw commented on #811
@mpalmr have you read through https://github.com/airbnb/react-dates/issues/769?

Is there a chance that your webpack setup is causing issues (ie the `initialize` script is not always called before your first `react-dates` import?)

[2017-10-31 17:14] majapw commented on #814
Why do you need to iterate through all the rendered dates?

[2017-10-31 17:19] RahulReddy75 commented on #814
To check if the day is a weekend or not. and based on that block it.

[2017-10-31 17:26] majapw commented on #814
@RahulReddy75 the `isDayBlocked` method take a function which receives a day (in moment object form) as an argument. So to block weekends you would do something like
[code]

The documentation on this is not super clear (whoops) and should probably be improved. But yeah! that woudl do it.

[2017-10-31 17:31] RahulReddy75 commented on #814
oh ok i get it. I was trying to do it through the getDay() function.
Anyway thanks this solves the issue.

[2017-10-31 17:34] majapw commented on #813
@sag1v @ljharb You can also have multiple `isDayBlocked` methods to force update once a checkin is selected. I imagine something like this would cover these issues.

[code]

[2017-10-31 17:34] #814 closed

[2017-10-31 18:28] sag1v commented on #813
@ljharb I'm actually passing a new instance on purpose so i can force it to run   this block
[code]
This is to bypass the issue where you want to update the blocked days after an aync fetch of the checkout dates. I just don't want to pass a new instance on each render (like I'm doing now) and only pass it when my async operation and callback completed.
I think @majapw has a good point with separat

[2017-10-31 19:16] mpalmr commented on #811
@majapw I actually initially started out making my `entry` value in my Webpack config the following without those additional imports and it still wasn't working:

[code]

Even as it is now in my first post, how is it possible that I'm importing `react-dates` before importing the initialization and CSS?

[2017-10-31 20:14] mifi commented on #798
I agree that this is a big change. I added a PR for an explanation in README.md: #815

[2017-10-31 20:58] #798 closed

[2017-10-31 21:13] sag1v commented on #813
Ok i think @majapw nailed it with this approach. I don't know why i was so fixed on one handler in the first place.
Anyway [this is a code example](https://codesandbox.io/s/986x52w9o) if you want to see the use case.

[2017-10-31 21:17] majapw commented on #813
Glad to hear that you were able to get it working! I think we need some more documentation on the prop modifiers so maybe it would be good to add lessons like these to the README :)

[2017-10-31 21:36] sag1v commented on #813
@majapw

Yeah i was thinking the same thing, but in what section? all of the optional `props` doesn't have explanation nor examples.

[2017-10-31 23:22] sunlee-newyork commented on #127
I tried to return a React element but it only works by returning a string. Is there a way to return a React element instead?

[2017-11-01 05:32] erin-doyle commented on #717
After more testing:
I can't reproduce this with the Storybook.

I was able to reproduce within my own app that uses react-dates but what I was finding with respect to the arrow-down key not transitioning focus to a date was because the DateInput was not focused when I initially would tab to it.  Something about the way my app was managing the focused prop would cause the DateInput to blur() and th

[2017-11-01 06:35] kishoreyarram opened #817 "Enable dates only from Jan1st 2017 to current date"
- Is there any way to enable only dates from Jan 1st 2017 till current date and disable previous to jan 1st and future dates
- Future dates I am disabling using ```isOutsideRange={day => !isInclusivelyBeforeDay(day, moment())}```
- I need suggestions only to disable date before Jan 1st

[2017-11-01 06:41] majapw commented on #817
You can use an or operator in your `isOutsideRange`
[code]

[2017-11-01 10:09] sag1v commented on #813
Sorry but i made a silly mistake, in my code example i kept the syntax like this:
[code]
So obviously your approach worked as i didn't change the fact that i am passing a new instance of a function on each render.
if i use the desired approach and passing it like this:
[code]
Then the relevant dates are not clickable but they don't display correctly (looks like an available date).
in my code examp

[2017-11-01 10:44] awfulthings commented on #452
Same issue here.

[2017-11-01 12:45] janpe commented on #769
What is the status on this? I'm seeing the same errors even though I am importing initialize before using any of the components.

[2017-11-01 13:21] mpalmr commented on #811
@erin-doyle Do you think we can remove the label you added? I've reconfirmed that this is not the issue.

[2017-11-01 15:18] kishoreyarram commented on #817
Thank you @majapw For the real quick response. Its working...!!

[2017-11-01 15:18] #817 closed

[2017-11-01 15:20] erin-doyle commented on #811
I've removed the label, I'm not 100% sure what it's intention is for but my assumption was to track any issues that are related to initialize not getting called in the correct sequence.  The core of the issue here is that initialize is not getting called in the proper order _somehow_ it's not to say that you're not calling initialize.

Are you using chunking in your webpack build or is the entry o

[2017-11-01 16:52] eryue0220 opened #818 "README.md"
**Bug?**

Maybe not. But suggestion is real. I forked the repo and followed the steps as saying in the README.md:

But when I opened the url `http://localhost:6001`, I met the error:

And after checking out the `package.json`, I found that I should build first then execute `npm run storybook`. And I thought the `README.md` can update as follow:

Or any other ways that can let other people could ea

[2017-11-01 17:02] corohsnk commented on #233
Hello, I import react-dates DateRangePicker in my project and testing in IE9 return error "SCRIPT5007: Unable to get value of the property 'isDayBlocked': object is null or undefined", and file initialize.js has const and IE9 not understand const, I changed const to var.

Any idea on how to fix it?

[2017-11-01 17:05] ljharb commented on #811
Having the label there or not isn't a huge deal :-) its intention is to mark any issues where `/initialize` is misused, not used, or broken.

[2017-11-01 17:06] ljharb commented on #769
@janpe what errors? see #811 as well; if it's the same, please comment there; if different, please file a new issue.

[2017-11-01 17:11] ljharb commented on #233
@corohsnk https://github.com/airbnb/react-dates/blob/master/initialize.js doesn't have `const`, and neither does https://unpkg.com/react-dates@15.0.0/lib/initialize.js - how are you importing it into your project?

[2017-11-01 17:12] ljharb commented on #818
Yes, you're correct that the build process is required - it should probably be in package.json as `"prestorybook": "npm run build"`, though, rather than modifying the documentation.

[2017-11-01 17:23] corohsnk commented on #233
@ljharb I checked in my project, it was with version 13, I updated to the current version (15.0.0) but it still gives error of isDayBlocked: object is null or undefined in IE9

[2017-11-01 18:04] ljharb commented on #233
@corohsnk can you file a new issue, and include the stack trace as well as how you're using react-dates? Also, please confirm (in the issue) that you're using airbnb-browser-shims or the equivalent?

[2017-11-01 18:18] corohsnk opened #820 "react-dates doesn't work in IE9"
Hello Guys, I imported react-dates in my project and I tested in IE9 and broke webapp.

I imported in file.js

[code]

I inserted like get started instruct

[code]
and in IE9 when I click to select date broken webapp and print exception in console

Any idea on how to fix it?

[2017-11-01 18:28] majapw commented on #820
Woah! That is a surprise. I will dig into that today. That seems major.

[2017-11-01 18:35] ljharb commented on #820
@corohsnk could you provide line 44499 in your bundle?

[2017-11-01 18:49] corohsnk commented on #820
Attach error in line 44499

![selection_019](https://user-images.githubusercontent.com/18468813/32291503-64f1de44-bf24-11e7-9e9b-3a94a21fb58c.png)

[2017-11-01 19:03] ljharb commented on #820
What version of React are you using?

[2017-11-01 20:42] corohsnk commented on #820
is 16.0.0

[2017-11-01 22:01] #793 closed

[2017-11-01 23:12] erin-doyle commented on #557
I'll take a shot at working on this. :crossed_fingers:

[2017-11-02 06:36] janpe commented on #769
The ones in the initial post on this issue. I'm not sure I understand. Both this and #811 unresolved so why is my comment not relevant here?

[2017-11-02 11:42] yasserhennawi opened #821 "Does DateRanegPicker receive a classname ?"
Hi, Thanks for the great lib.!
I was trying to overwrite some the themes using the provided instructions in the documentation, yet it seem to be missing the part where the component takes the theme itself, so, Here's my code:
`theme.js`
[code]
`index.js`
[code]
I improvised here based on `react-with-styles` docs, yet I get this error:
[code]
so, What do you think is wrong here ?

[2017-11-02 12:54] yasserhennawi commented on #821
Sorry my bad, Apparently it was working yet the warning was just that i provided reactDates as is, something like:
[code]
should fix it, and then maybe we add more clear styles ( just for testing ) in our theme object like :
[code]
again , I am new to this so if anyone'd like to introduce a better practice to this please go on :)
closing this now 👍

[2017-11-02 12:54] #821 closed

[2017-11-02 15:18] icd2k3 commented on #769
@janpe are you using entry code chunk splitting in webpack?

[2017-11-02 16:58] majapw commented on #818
@ljharb Why does storybook require the build process now? It didn't before. Is this because of the esm changes?

[2017-11-02 17:01] majapw commented on #818
@ljharb @eryue0220 I think the right thing to do is not to have the build step before storybook but rather to update the components in https://github.com/airbnb/react-dates/tree/master/examples to rely on the src version of the constants file.

If we have storybook relying on built files, that means changes to those files won't be updated automatically as you're developing which is a bad experienc

[2017-11-02 18:30] instant-coffee opened #823 "Failed build :: Module not found"
[code]

Path in `constants.js` should be `module.exports = require('./src/constants');`

[2017-11-02 19:12] #818 closed

[2017-11-02 19:13] ljharb commented on #818
Pushed up a fix to use the constants from src.

If we can figure out how to forbid imports from outside `src` or `examples` or `node_modules` in the `examples` dir, we should.

[2017-11-02 19:13] ljharb commented on #823
Duplicate of #818; now fixed in latest master.

[2017-11-02 19:13] #823 closed

[2017-11-03 09:17] pradok opened #824 "Unable to set initialVisibleMonth for DayPickerSingleDateController"
Hi
I am using DayPickerSingleDateController for displaying single month.
I need to change the default month to another month but not the current month.
I am passing `() => moment().subtract(2, 'month')` to the initialVisibleMonth prop and it is not working.

Not sure what's the best way.
Thanks

[2017-11-04 18:22] erin-doyle commented on #557
Ok PR submitted: https://github.com/airbnb/react-dates/pull/825.

[2017-11-04 20:49] sontek commented on #25
@BenSwennen I'm also very interested in what you implemented.  Any chance we could get you to re-send your PR? :)

[2017-11-04 20:52] sontek commented on #25
@secretyouth Your suggestion looks really nice, but I'd be happy with a PR from @jvanderz22 since he has already implemented it.

@majapw You have any luck with the designer you were partnering with?

[2017-11-04 20:53] sontek commented on #25
@majapw @ljharb The use case for this is birthdays, anniversaries, etc.   It is extremely painful to use `react-dates` for historical dates.   I just need a quick way for people to switch years, I don't mind having them tab through 12 months.   Just no 45 years and then 12 months :P

[2017-11-05 07:20] sag1v commented on #813
@majapw @ljharb Have you checked out my example? any thoughts about this behavior?
Note that i changed the dates collection to December so the check the example you should choose `02/12/2017` instead of `02/11/2017`

[2017-11-06 13:29] corohsnk commented on #820
I created project blank with React ^15.5.4, added react-dates ^15.0.0 and I got the same error again.

[2017-11-06 16:45] ljharb commented on #820
That error is indicating that `this.props` is undefined; any chance you could use a debugger, and figure out what the value of `this` is there?

[2017-11-06 20:05] majapw commented on #820
Is there a possibility the arrow functions in the constructor are not being transpiled correctly?

[2017-11-06 21:16] ljharb commented on #820
No - https://unpkg.com/react-dates@15.0.0/lib/components/DateRangePicker.js shows that it's correct.

Are you sure you're not babel-transpiling node_modules (something you should never do)?

[2017-11-06 21:18] ljharb commented on #820
Regardless, if it wasn't being transpiled correctly, it'd be failing on most engines, not just on IE 9 :-(

[2017-11-07 08:34] JuanCaicedo opened #827 "Babel dependencies properly included for development"
I'm seeing some errors within my webpack build (coming from babel) when trying to get started with this component. They seem to require that I install the babel plugins used by react-date's own [.babelrc](https://github.com/airbnb/react-dates/blob/master/.babelrc#L14).

To verify, I ran `$ npm install babel-plugin-inline-react-svg babel-preset-airbnb babel-plugin-transform-replace-object-assign`.

[2017-11-07 08:38] ljharb commented on #827
This issue is caused if you are (incorrectly) transpiling `node_modules`. If you don't configure your babel to do this, you won't run into it.

[2017-11-07 08:50] JuanCaicedo commented on #827
Thanks for the quick response. Perhaps I'm understanding how babel is configured, but as far as I can tell, I'm not doing anything with `node_modules`
[code]

Perhaps it has to do with [the preset I'm using](https://github.com/kMeillet/babel-preset-next-react/blob/master/index.js)?

[2017-11-07 08:53] ljharb commented on #827
Nothing in that seems like it'd transpile node_modules.

What are the errors you're seeing?

`react-dates`, installed from npm, should be using the pre-transpiled code in `lib` - babel plugins are only required for *developers* of react-dates, not users of it.

[2017-11-07 08:59] JuanCaicedo commented on #827
They're along the lines of
[code]

[2017-11-07 09:03] JuanCaicedo commented on #827
Also I'm confused about how importing a css file could cause this error

[2017-11-07 09:04] ljharb commented on #827
aha! looks like `wrap-in-js` is transpiling that css; and it's reading the `.babelrc` inside `react-dates`.

That's a bug in that plugin; it should be setting `--no-babelrc` when it transforms CSS files.

[2017-11-07 09:49] JuanCaicedo commented on #827
I added this issue so I can close the one here https://github.com/davibe/babel-plugin-wrap-in-js/issues/2, but I'm still having trouble 😬

[2017-11-07 09:49] #827 closed

[2017-11-08 10:10] AlfredLabs-Hector commented on #824
Same here.
I am using version 15.0.0

[2017-11-08 17:47] ericls opened #828 "Pass modifiers to renderDay to allow flexible CalendarDay display and styling?"
First of all, thanks for such a great library.

I'm trying to change how days are rendered based on the select/hover state of the calendar.
I'm aware that you can combine onMouseEnter, startDate, endDate, etc to achieve this, but it would be nice to have all those information passed to renderDay directly from modifiers.

[2017-11-08 19:20] majapw commented on #828
Yes! I actually have a local branch that does this but haven't had a chance
to merge it in. I'd love to accept a PR for this.

On Wed, Nov 8, 2017, 9:47 AM Shen Li <notifications@github.com> wrote:

[2017-11-08 21:56] gugadev opened #830 "Avoid initial input focus"
I pass `null` to `focusedInput` property and works but I get an error:

There is any way to avoid this error?

[2017-11-09 00:39] backwardok opened #831 "`DayPickerRangeController` leaves ghost values when using a keyboard"
http://airbnb.io/react-dates/?selectedKind=DayPickerRangeController&selectedStory=default&full=0&down=1&left=1&panelRight=0&downPanel=storybook%2Factions%2Factions-panel

Steps to reproduce:
1. Tab into calendar with keyboard
2. Select a date with the keyboard via space or enter. Notice that there's a green highlighted date right after the date chosen
3. Select an end date
4. Select a new date not

[2017-11-09 00:55] majapw commented on #831
Ah, yeah, I think this was probably due to the withStyles change being somewhat incomplete. In the DRP, we get a refresh due to the calendar being closed and reopened so it's not an issue there.

Actually, just kidding... gh-pages seems kind of out of date. :/ It's not showing the aphrodite classes.

[2017-11-09 01:13] majapw opened #832 "gh-pages/storybook on master is currently down! :alarm:"
Working on it!

[2017-11-09 01:32] majapw commented on #832
Related to https://github.com/airbnb/react-dates/commit/7eb21918799a9fbec7be615fed9d447e4c4f7c84

Storybook does not rely on the built files and ... I think it's not getting babel transformed in place as expected. @lencioni @ljharb ?

[2017-11-09 01:51] #832 closed

[2017-11-09 01:57] majapw commented on #831
Okay, now that I went on that segway. This appears to be true, even in the latest version. It looks like we are not cleaning up the hovered-span class which is... weird.

[2017-11-09 04:43] majapw commented on #830
What the fudge is `Content`? Can you share the full stacktrace?

are you importing the focusedInput proptype anywhere and then setting `.isRequired` on it? Because that would (unfortunately) break things.

[2017-11-09 05:16] majapw commented on #824
Hi @pradok and @AlfredLabs-Hector, are you also setting the `date` prop at the same time? I think that that takes precedence over `initialVisibleMonth` as to what month is set.

[2017-11-09 05:19] ljharb commented on #830
I’m not sure why; `.isRequired` returns a new validator, it doesn’t mutate the original one.

[2017-11-09 05:25] majapw commented on #830
Right but putting `.isRequired` on `PropTypes.oneOf([START_DATE, END_DATE])` would fail for a value of `null`.

Because I never put in the effort to figure out how to get `explicitNull` working.

[2017-11-09 06:04] majapw commented on #25
I have some designs, but realistically, since this is not a priority for us, I wouldn't be able to work on this until winter break (late December). If someone wants to tackle an initial prototype with the new react-with-styles framework that handles transition/animations between year navigation and works with keyboard navigation, I'd be happy to work on top of that.

Here are some of the ideas my

[2017-11-09 06:05] majapw commented on #25
We could call it a MonthYearPicker or something and it could build on top of the DayPicker, but separate the logic out of year navigation.

[2017-11-09 06:25] majapw commented on #821
HI @yasserhennawi, I know you closed this but just for future clarification, once you render the theme, you don't have to wrap `ReactDatesComponent` in `withStyles` (ie you don't need `withStyles(({ reactDates }) => ({ reactDates }))(ReactDatesComponent)` at all). It should just work! You would only wrap your component if you wanted to apply your own different styles which you can read more about

[2017-11-09 07:16] AlfredLabs-Hector commented on #824
Hi @majapw,
Let me briefly describe my cases.

**package.json**
[code]

**case 1 (Not working)**
[code]
The result shows 3 months: Nov. 2017, Dec. 2017 and Jan. 2018, while I expect it to be Sep. ~ Nov. 2017.
And there's also a strange behavior in this case, if I click previous month button twice to let it becomes Sep. ~ Nov. 2017, the highlighted dates in Nov. 2017 will not be highlighted.
Actual

[2017-11-09 07:18] pradok commented on #824
Hi @majapw Yes I am using `date` props.
btw i am using 12.6.0 of react-dates, is that prop `initialVisibleMonth` available in that version?

I tried `initialVisibleMonth={() => moment('2017-12-12')}` with no `date` prop , i couldn't get the month default to December 2017. With `date` prop, it only highlights the day, so if I have prop `date={moment('2017-12-12')}` it doesn't change to the December

[2017-11-09 14:25] M-Willett opened #834 "Reduce transition duration"
First of all, awesome job on this! Very nice and flexible.

Our users feel that the transition duration is too slow. The component waits for the end of the transition before being able to skip ahead without delay. I had a quick search through the list of issues but surprisingly no one has reported this.

I've tried setting a `transition-duration: .1s !important` property which creates a weird card

[2017-11-09 14:56] Jesus-Gonzalez opened #835 "Inputs cannot be labeled"
Hello.

Is there some way I can label the inputs in the `DateRangePicker`? I do not have the flexibility to add a custom label to the inputs.

If you like, I can open a PR myself to get this done.

Thanks,
Jesús

[2017-11-09 15:02] timhwang21 commented on #835
@Jesus-Gonzalez we have had a similar issue. One alternative option for you is to assemble your own `DatePicker` using the exported components. For example, instead of importing `DateRangePicker`, import `DayPickerRangeController` and build your own inputs.

[2017-11-09 15:04] Jesus-Gonzalez commented on #835
@timhwang21 thanks, I will try this :slightly_smiling_face:

[2017-11-09 15:04] #835 closed

[2017-11-09 18:11] jabsatz commented on #498
where should the `import 'airbnb-js-shims'` be?

[2017-11-09 18:19] mpalmr commented on #811
@erin-doyle I am chunking in my Webpack build. You can see it [here](https://gist.github.com/mpalmr/dfa89321bbcccf021734a41596803420#file-bundles-js-L19). I'll try disabling all chunking and simplifying everything later today or tomorrow.

[2017-11-09 19:02] ljharb commented on #498
As the first line in the first entry point to every page.

[2017-11-09 19:28] majapw commented on #498
Should we add this implicit dependency to the README?

[2017-11-09 19:29] ljharb commented on #498
Yes, probably.

[2017-11-09 21:22] derwaldgeist commented on #349
I need the same for selecting whole months and whole years. It would be perfect if the widget could be configured in a way that it selects either days, weeks, months, years or user-defined time-spans.

[2017-11-09 21:28] derwaldgeist commented on #29
Need this too, for weeks, months, and years.

[2017-11-09 21:31] derwaldgeist commented on #29
@sharq1 Your extension looks promising, but unfortunately it has no license attached to it.

[2017-11-10 01:31] Drecula opened #836 "No CSS with React 16 & react-dates v15"
I've read #45 et al., and have imported both initialize
and _datepicker.css, but DateRangePicker is not showing
styles.

I also tried copying the css directly into where I'm using
the datepicker and verified that I've no other class named
DateRangePicker.

Please let me know if there's anything else I can do to help
with the diagnosis or fix.

Thanks!!!

page level:
`
import 'react-dates/initializ

[2017-11-10 01:36] majapw commented on #836
Are you getting any errors? Do your components have classnames? Does the datepicker.css look like you would expect?

[2017-11-10 01:39] Drecula commented on #836
Thanks for the speedy response!!!

I am not getting any errors.

It is several layers deep in my view hierarchy, and containing
components do indeed have classnames.

I'm not sure what you mean by "Does the datepicker.css look like you would expect?". I am
just trying to get the component to render with the default styles.

[2017-11-10 02:39] Drecula commented on #836
OK, it was a webpack config problem...there was no css loader in the config.

[2017-11-10 02:39] #836 closed

[2017-11-10 07:07] sharq1 commented on #29
@derwaldgeist it's MIT now. Cheers!

[2017-11-10 12:09] M-Willett commented on #676
This is very important and a lot of the comments here expressed frustration. This component is very much a date "picker" and isn't keyboard friendly. If this is to be a serious component outside of travel websites then my suggestion would be to accept - . / and spaces as delimiters, default to dd mm yyyy (with prop to change this) and accept only numbers (to begin with). Don't use input masking in

[2017-11-10 13:20] erin-doyle commented on #811
Yeah just giving it a quick look it looks like you're pulling in react-dates in the vendor chunk which is the exact issue we're finding where that vendor chunk will import dependencies before the main chunk.  If you can add react-dates to your vendor chunk blacklist and pull it in with the main chunk that may resolve the issue for you.

[2017-11-10 13:31] erin-doyle commented on #769
Maybe the question is, should we either:

1. Add something to the README about code chunking being impacted by this
1. Do we need to look at this as a bug that we need to do more in react-dates to not impact the way people are chunking their code

Or 1 and then 2?

[2017-11-10 16:38] corohsnk commented on #820
Sorry for the delay, well...

For me, this is
`context: undefined
props: undefined
refs: {}
updater: {isMounted: ƒ, enqueueForceUpdate: ƒ, enqueueReplaceState: ƒ, enqueueSetState: ƒ}
isMounted: (...)
replaceState: (...)
__proto__: ReactComponent`

[2017-11-10 18:04] majapw commented on #769
I think 1 and then 2 seems like the right call. I'm not super familiar with webpack and my bandwidth is def... very overwhelmed right now, but I can try and sit down with folks here to see what we can do to address this.

[2017-11-10 19:14] ljharb commented on #820
`props` should just never be `undefined`, rather an empty object - this feels like it might be a React bug.

[2017-11-10 19:15] ljharb commented on #820
Can you share the entire component code that's rendering the DateRangePicker?

[2017-11-11 04:01] majapw commented on #349
It's def trivial to use the datepicker to click on a day and then select the week. It's a bit more challenging to hover the whole week when hovering over a single day.

You could also, as @daltones said, roll your own custom DayPicker config to make it work.

a `DayPickerWeekController` might be an interesting component that we'd probably considering rolling into the library.

[2017-11-11 04:05] majapw commented on #835
I actually kind of thing it would be a great idea to add a visible label to the inputs (and maybe add an option to hide them and have an invisible but accessible label as well).

We should def be encouraging the positive a11y practice of visible labels! Placeholders do not count as labels... no matter how much we want them to. :P

[2017-11-11 04:07] majapw commented on #834
I think that's probably a good idea! I would support this added prop.

[2017-11-11 04:18] majapw commented on #793
Hi @merrilj, sorry we never responded to this... but can you share how you addressed your issue?

[2017-11-11 09:01] derwaldgeist commented on #349
Well, it’s not that trivial if you consider that there are different calendar types and different first days of a week. And yes, hovering should work, too, to give the user a consistent feedback. This is especially important if the widget auto-closes after selection.

[2017-11-11 15:10] derwaldgeist opened #837 "displayFormat seems to run the value returned by a function through moment"
If I provide a function to `displayFormat`, the return value isn't being used as it is. Instead, it seems to be additionally interpreted by moment. If, for instance, the value includes an "l" (small L), this letter is replaced by the complete date. Why is this so? I would prefer the function value to be displayed as is.

If this is not how it is intended to work, a "renderDisplay" function or some

[2017-11-11 15:19] majapw commented on #837
So moment is our formatter of choice so your return value needs to conform
to its standards. If you have an l (or L) in that output, those letters are
special in moment. Anything hardcoded in should be surrounded by brackets,
like so `MMDD [this text won't be run through the formatter]`.

Does that answer your question?

On Sat, Nov 11, 2017, 8:10 AM Tom Brückner <notifications@github.com> wrote:

[2017-11-11 21:50] merrilj commented on #793
Hello @majapw, thanks for reaching out! I set the initial value of the `date` property to a `new Date()` object and formatted it accordingly -- worked like a charm. Keep up the great work :)

[2017-11-11 21:54] derwaldgeist commented on #837
Ah, I did not know about the bracket syntax. Great, thanks.

[2017-11-11 21:54] #837 closed

[2017-11-13 04:22] mKurrels opened #838 "The example doesn't work as is"
When I clone the application, run npm install then npm run storybook, I get this error:

[code]

There is no lib folder.

should ./constants.js read:
[code]

with the "lib" changed to "src"?

[2017-11-13 04:49] majapw commented on #838
I think we fixed this recently. Are you on the latest master?

On Sun, Nov 12, 2017, 9:22 PM Michael Kurrels <notifications@github.com>
wrote:

[2017-11-13 04:58] ljharb commented on #838
Duplicate of #832, I think.

[2017-11-13 11:03] Clcll commented on #278
I resolve it this way
`
                        <DateRangePicker
                            startDate={this.state.startDate} // momentPropTypes.momentObj or null,
                            endDate={this.state.endDate} // momentPropTypes.momentObj or null,
                            onDatesChange={({ startDate, endDate }) => this.setState({ startDate, endDate })}
                            foc

[2017-11-13 17:44] lencioni opened #839 "Code split out everything that is not needed until after user interaction"
The way we are using react-dates at Airbnb, we often see it appear in our bundles with a lot of added filesize. One recent bundle size analysis I did clocks react-dates in at ~118 KiB!

![screen shot 2017-11-13 at 9 39 09 am](https://user-images.githubusercontent.com/195534/32740060-9015e300-c856-11e7-96c9-c0c7039f9180.png)

Although some of the recent work we've done (e.g. #791) should help a lit

[2017-11-13 19:54] ljharb commented on #839
Can you elaborate on how you think we could generically do this?

Requiring that a bunch of components be manually injected isn't super viable imo; using env vars wouldn't really apply here; we could specify browser entry points but then that wouldn't help bundle size, just server renders.

[2017-11-13 21:24] lencioni commented on #839
I'm just sorta thinking out loud here, and I'm not super familiar with how this package is architected, so I may be way off. I'm also not really sure what might be best practices for adding code splitting to third-party components out of the box, so maybe there's a better solution.

But, looking at SingleDatePicker for example, what if we took everything that was rendered by this function

https:/

[2017-11-13 21:31] ljharb commented on #839
Hmm, that seems reasonable but also a pretty big breaking change. Would moving it into a component, alone, help? You could alias it out in your bundler without requiring an API change.

[2017-11-13 21:33] lencioni commented on #839
This could probably be done without a breaking change actually, if we moved most of e.g. SingleDatePicker into a new file, split it up in the way I describe above, and then change SingleDatePicker to import and compose both of these things and pass down all props. Then, consumers who want to use the split up version would simply stop importing SingleDatePicker, and instead import the two separate

[2017-11-13 21:41] ljharb commented on #839
That seems reasonable; I'm a fan anyways of more things being split out into separate components.

[2017-11-13 21:46] lencioni commented on #839
@ljharb Can you think of good names for these components?

[2017-11-13 22:01] ljharb commented on #839
¯\\\_(ツ)_/¯

[2017-11-14 01:14] Drecula opened #840 "Configure location of Info Panel?"
Hi,

Might we add a config so the Info Panel could be Top, Right, Bottom, or Left vs always at the bottom?

Thanks!

[2017-11-14 06:07] majapw commented on #838
@ljharb no, it's different and I thought we patched this in. Will fix now.

[2017-11-14 06:10] majapw commented on #838
Fixed in https://github.com/airbnb/react-dates/commit/55d6453642db3cc3d4a90a9dc32ee244bebbec15, please pull the latest master!

[2017-11-14 06:10] #838 closed

[2017-11-15 16:19] ndhays commented on #798
Wouldn't it work to make it global, but for the specific components? @majapw, @mifi
If so, I can add a PR to add this to the .css file.

[code]

[2017-11-16 04:12] Areaxe opened #844 "TypeError: (0 , _arrayFlatten.from) is not a function"
I meet an error in a react project, the project used css-module and i rewrite the css
[code]

there is my code

[code]

css code

[code]

my environment： node :7.5   "react-dates": "^15.0.0",  "react": "^15.6.2",

[2017-11-16 10:31] Areaxe commented on #844
I am sorry about that, it is my environmental problem. I used yarn 0.19 before and now I have upgraded to 1.3.1

[2017-11-16 10:31] #844 closed

[2017-11-16 11:05] corohsnk commented on #820
Hello @ljharb,

[code]

[2017-11-16 15:32] ljharb commented on #820
Why `import * as moment`? That’s incorrect; moment is a CJS package and as such, only has a default export.

Separately, the airbnb-js-shims import needs to happen first, before any other code in your application runs, especially react.

[2017-11-16 16:16] corohsnk commented on #820
Hello @ljharb, I removed import * as moment and moment.locale('pt-br');

I up 'airbnb-js-shims'; to first import;

but I see error yet

`Error: Unable to get value of the property 'isDayBlocked': object is null or undefined`

[2017-11-16 16:26] ljharb commented on #820
Ok, another thing - the shims have to be the first thing imported *in your entire application*, not just in this component. Meaning, before any other JavaScript has executed on the page.

[2017-11-16 16:49] corohsnk commented on #820
Hmmm, so I need import shims in all components/pages or index.js?

[2017-11-16 16:52] ljharb commented on #820
As the first line of javascript that runs on every webpage on your site; where that means it needs to go depends on your specific setup.

[2017-11-16 16:54] corohsnk commented on #820
Ok, thanks, Are you able to use the component in IE?

[2017-11-16 16:55] ljharb commented on #820
Yes.

[2017-11-16 16:57] corohsnk commented on #820
Hoooow?, even with a blank project, I can not

[2017-11-16 18:55] firaskrichi opened #845 "Getting - cannot read property 'create' of undefined - React 16"
<img width="816" alt="screen shot 2017-11-16 at 8 54 22 am" src="https://user-images.githubusercontent.com/9126737/32909846-ca5177bc-caab-11e7-8643-e56067121772.png">

[2017-11-16 21:13] Magellol commented on #514
@cecton Experiencing the same issue. `shift+tab` to switch from one input to another fields triggers the warning. I'm in chrome 62.

[2017-11-16 21:39] ljharb commented on #845
What version of react-dates are you using? What does `npm ls react-with-styles` say? If you run `npm update`, does it fix it?

[2017-11-16 23:02] firaskrichi commented on #845
Here are my packages:

<img width="372" alt="screen shot 2017-11-16 at 12 57 55 pm" src="https://user-images.githubusercontent.com/9126737/32920678-4df9b9cc-cace-11e7-91f7-541012ee3419.png">

And here is what I see when I run `npm ls react-with-styles`

<img width="286" alt="screen shot 2017-11-16 at 1 01 51 pm" src="https://user-images.githubusercontent.com/9126737/32920705-6910d2ae-cace-11e7-8ff

[2017-11-16 23:02] firaskrichi commented on #845
`npm update ` doesn't help :/

[2017-11-17 18:20] firaskrichi commented on #845
@ljharb any ideas what's wrong I've tried a few things but without luck

[2017-11-17 18:55] EstebanBorai commented on #845
Same issue here!
Im getting:
`Uncaught TypeError: Cannot read property 'create' of undefined
    at Object.createLTR [as create] (main.js:112557)
    at WithStyles.maybeCreateStyles (main.js:9133)
    at WithStyles.componentWillMount (main.js:9119)
    at callComponentWillMount (main.js:61652)
    at mountClassInstance (main.js:61708)
    at updateClassComponent (main.js:63164)
    at beginWork (m

[2017-11-17 23:34] firaskrichi commented on #845
was able to fix the issue by reverting to react-dates 12.2.4

[2017-11-18 01:23] ljharb commented on #845
That's pretty far back; and it shouldn't be needed.

The implication is that `ThemedStyleSheet` is undefined.

Perhaps you haven't done `import 'react-dates/initialize';` at the beginning of your application, which is noted in the readme? @firaskrichi @EstebanBorai does this fix your issue?

[2017-11-18 01:26] aventurella opened #847 "isDayBlocked fails to block day until blur'd and refocused"
[code]

My component is initialized as follows:

[code]

My `isDayBlocked` method looks like this:

[code]

The result I am seeing is as follows. The day (6 days from now) is not blocked when the calendar opens. However, if I `blur` the input field and then refocus it, you can see that the "blocked" date renders with the blocked style.  There is a catch though, I can still select the blocked date.

[2017-11-18 02:09] #847 closed

[2017-11-18 03:31] ljharb commented on #847
Did you figure it out?

[2017-11-18 13:27] EstebanBorai commented on #845
It worked for me thanks!

[2017-11-18 17:18] aventurella commented on #847
Ya, I’m good

[2017-11-18 18:30] greenkeeper[bot] opened #848 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## Version **7.5.0** of [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2Feslint-plugin-react-7.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-react
    <

[2017-11-19 20:44] ljharb commented on #848
v7.5.0 is fixed in v7.5.1.

[2017-11-19 20:44] #848 closed

[2017-11-19 21:45] realisation commented on #126
I have a similar problem where I have provided the required props, but on click nothing renders. Do I still need a wrapper?

[2017-11-20 12:33] erin-doyle commented on #126
@realisation can yo provide some code to show?  Otherwise it's hard to say what the problem may be with your approach.

[2017-11-20 19:25] mKurrels commented on #838
Thanks @majapw!

[2017-11-20 21:59] realisation commented on #126
I was simply using it without any wrapper component in my jsx. Inside an
enclosing parent div, I had two single date pickers with a span between
them. But then I made a wrapper component doing a singledatepicker alone,
by itself, in a parent div and it works just fine.

On Mon, Nov 20, 2017 at 7:33 AM, Erin Doyle <notifications@github.com>
wrote:

[2017-11-21 15:57] trickreich commented on #25
Without this feature this library isn't usable for me. :/

[2017-11-21 18:55] wachunga opened #849 "Option to disable animation"
It appears there is no way to disable the transitions/animation when navigating through months. I would like to use this library but the animation doesn't jive with my company's style guide.

I've tried overriding `transition-duration` etc but the navigation breaks after navigating back a month or two (using SingleDatePicker). The [inline styles in CalendarMonthGrid](https://github.com/airbnb/reac

[2017-11-22 03:33] ljharb commented on #849
A prop to disable animations/transitions makes sense to me.

[2017-11-22 05:43] majapw commented on #849
This seems like a good idea to me too! I think it's been floated before.
Happy to accept a PR.

On Wed, Nov 22, 2017, 12:33 PM Jordan Harband <notifications@github.com>
wrote:

[2017-11-22 09:54] Rickkorsten commented on #828
@majapw @ljharb @schleyfox Is there someone who can show me an example how to use modifiers with the calendar?

thx

[2017-11-22 14:30] alireza-mh commented on #488
it also shows duplicate month (TIR)
![image](https://user-images.githubusercontent.com/18343191/33132463-f9a366c6-cfae-11e7-80df-10b1ba2b9066.png)

[2017-11-22 16:36] rekoke commented on #699
Hi @ArtyomResh
did you finally fix it? I'm having the same issue.
Thanks!

[2017-11-23 09:20] vijaysutrave opened #850 "Callback for onClearDates?"
I have different options on a dropdown: `Today`, `Yesterday`, `Custom`, etc.

- The dropdown flips to become the date-picker holder on the click of `Custom`.
- The flip from Date-picker back to the dropdown will be handled by `customCloseIcon` by toggling state.

I want the date picker to "callback" my function on `clearDates` event, i.e. `onClearDates` could be passed as a prop to the date-picker

[2017-11-23 09:58] wasabigeek commented on #824
@pradok @AlfredLabs-Hector does it work if you set the `focused` prop? ([source](https://github.com/airbnb/react-dates/blob/master/src/components/DayPickerSingleDateController.jsx#L208))

[2017-11-23 10:16] AlfredLabs-Hector commented on #824
Hi @wasabigeek,
Works for me!!
Thank you.
So the `focused` prop is necessary for `initialVisibleMonth` working functionally??

[2017-11-23 15:37] wasabigeek commented on #824
It seems so. In fairness though this component is not well documented, the other components do state that `focused` is a required prop.

[2017-11-24 11:35] Daniellt1 commented on #705
Hi @majapw,

Any updates on this one?

[2017-11-26 05:02] prashand opened #853 "Allow user to select date range from a predefined set of date ranges"
This is a feature request. Add an option to set predefined date ranges the user can select from. This feature is extremely useful in reporting.

![image](https://user-images.githubusercontent.com/5242391/33237279-cd634372-d294-11e7-9c3f-268082f32a26.png)

This feature is available in the [Date Range Picker for Bootstrap](http://www.daterangepicker.com/)  by Improvely.

[2017-11-27 03:21] majapw commented on #824
Yeah the need for `focused` to be true on the DayPickerSingleDateController is cos it was designed to function with the SDP. Perhaps setting that value to default true (which is a bit icky, but might make more sense in this case) would be the right approach.

[2017-11-27 18:18] apucacao opened #854 "react-dates/initialize.js error when running (Jest) tests"
Hi all,

We just replaced our old date picker with this one and it's looking great! Thank you for all your hard work — we are very thankful!

Some of our unit tests around our components that use the date picker are failing with a strange error:

<details>
<summary>
Stacktrace from our component to DateInput
</summary>

[code]
</details>

We're not sure what the cause is yet, but were hoping we've

[2017-11-27 18:51] erin-doyle commented on #854
Where are you importing `react-dates-initialize`?  It may work fine where it is for running the entire app but perhaps is not in a good place for testing a specific module/component in the isolation of a unit test.

[2017-11-27 19:10] apucacao commented on #854
Actually, I'm sorry, this was entirely our fault: our Jest `moduleNameMapper` (regex) was incorrectly mocking out `react-with-styles` 🤦‍♂️

Everything is working now!

Thanks.

[2017-11-27 19:10] #854 closed

[2017-11-27 21:26] #831 closed

[2017-11-28 00:42] #778 closed

[2017-11-28 00:53] majapw commented on #853
This is a duplicate of https://github.com/airbnb/react-dates/issues/29

It's already possible to do this functionality because the DRP is fully controlled by adding some buttons inside the `renderCalendarInfo` prop (which takes a function that returns a node) that would set start and end date appropriately.

That being said I think exporting a `PresetDateRangePicker` component with that prop alrea

[2017-11-28 12:02] erin-doyle commented on #850
What is it you want to do `onClearDates`?  You could listen to the `onDateChange` event to know if your date has been cleared.

[2017-11-28 14:40] tpinne opened #858 "How to render DayPickerSingleDateController "position: absolute"?"
I want to use the DayPickerSingleDateController alongside our own input components to have a consistent design. But it renders always as `position: relative` instead of `position: absolute`. Therefore it displays beneath the input instead laying over other content on the page.

Is there any example besides `https://github.com/airbnb/react-dates/blob/master/examples/DayPickerSingleDateControllerWra

[2017-11-28 17:19] uvtzxpm opened #859 "How do I highlight "today" on the calendar? v12.6.0 upgrading to v15.1.0"
Using an old version (v12.6.0), this CSS worked:

[code]

To give this effect:

![image](https://user-images.githubusercontent.com/24996578/33333872-0a036c04-d460-11e7-82f1-11ff529596f1.png)

How can I do the same thing using a recent version?

I have searched and looked at the v13+ changes, but the answer does not seem obvious. Thanks!

[2017-11-28 19:18] majapw commented on #859
Hmmm, it looks like this feature got removed by accident. Will add back!

[2017-11-28 19:18] lencioni opened #860 "react-portal v4?"
v4 is out and supports only React 16+, but react-dates does not allow it to be used. Is there a way to add support for v4 here?

[2017-11-28 19:18] erin-doyle commented on #859
This may have happened during the conversion to using `withStyles`.  Previously there was this:

[code]

And within `modifiers` is "today", so it would have set the class `CalendarDay--today`.

[2017-11-28 19:55] majapw commented on #859
Put up a PR for a quick fix! :)

[2017-11-28 19:56] majapw commented on #860
@lencioni Because we do not only support React v16, `react-portal@4` is not really an option for us right now. There's some great discussion in https://github.com/tajo/react-portal/issues/180 that might allow us to upgrade eventually but we're blocked for now.

[2017-11-28 19:59] majapw commented on #858
@tpinne Does it work to wrap it in a div and set the position on that wrapper instead? I'm envisioning something like:
[code]
Is there a reason you need to position the `DayPickerSingleDateController` itself?

[2017-11-28 20:00] majapw commented on #853
I'm gonna close in favor of #29 (and in order to pare down the number of issues a bit)

[2017-11-28 20:00] #853 closed

[2017-11-28 20:04] lencioni commented on #860
I'm not super familiar with react-portal. Do you know if v4 has the same API as v3? If so, perhaps the package.json version range could be changed to `^3.1.0 || ^4.0.0`?

[2017-11-28 20:13] majapw commented on #850
Yeah I think @erin-doyle's recommendation is on point. You can check if `startDate` and `endDate` have both been set to null in `onDateChange` and do whatever it is you need to do then. I'm not sure if this necessitates a new prop.

[2017-11-28 20:16] brucewpaul commented on #860
it seems as though the api is the same? https://github.com/tajo/react-portal/issues/180#issuecomment-347377358

[2017-11-28 20:54] #850 closed

[2017-11-28 20:59] #859 closed

[2017-11-28 21:07] uvtzxpm commented on #859
@majapw Thanks for the fast fix. It works for me (class changed to `.CalendarDay__today`).

Do you think there will be a release containing this sometime this week?

[2017-11-28 21:07] majapw commented on #845
It seems like this has been resolved!

[2017-11-28 21:07] #845 closed

[2017-11-28 21:08] majapw commented on #840
Yes! I meant to respond to this when this was first opened, but this seems like a great idea.

[2017-11-28 21:09] majapw commented on #859
Yup! Working on a release right now :)

[2017-11-28 21:11] majapw commented on #828
@Rickkorsten I'm not sure that that is related to this issue (which I'm going to close since we merged in the feature). Can you open a new issue with more details on what exactly you're trying to do?

Thanks!

[2017-11-28 21:11] #828 closed

[2017-11-28 21:14] majapw commented on #830
I think this is due to a prop type validation on a component above `react-dates`. None of our components have a required focusedInput which is why you are able to pass null. If you want to do the same for your Content component, I think you will have to remove the `isRequired` flag on its prop type definition. :) Let me know if you have more Qs!

[2017-11-28 21:14] #830 closed

[2017-11-28 21:17] majapw commented on #859
v15.2.0 is out! :D

[2017-11-28 21:27] majapw commented on #839
I'm just still a bit confused as to how the proposed rearchitecting is all that different from what's happening now (e.g. splitting the SDP into multiple component). The SDP (and DRP as well) is basically just a wire between the inputs and the calendar dropdown. The `renderDayPicker` method you highlighted basically just wraps the `DayPickerSingleDateController` so as to absolutely position it and

[2017-11-28 22:02] majapw commented on #860
@brucewpaul @lencioni it looks like the API is not the same. Before we were able to do `import Portal from 'react-portal';` It look like with the addition of `PortalWithState`, you now have to `import { Portal } from 'react-portal'`;

Potentially we could deep import. Although it looks like the file is at `build/portal.js` in 3.0.0 and `lib/Portal.js` in 4.0.0 so that's not great. :/

[2017-11-28 22:32] brucewpaul commented on #860
ya, the api definitely is not the same. additionally, the props that were being used in 3.1.0 aren't being used/passed to anything in 4.0.0

[2017-11-29 00:18] littleninja opened #864 "_datepicker.css empty, no styles"
It seems there might be a breaking change in the latest release 15.2.0. The datepicker stylesheet (`react-dates/lib/css/_datepicker.css`) is an empty file. Our workaround is to pin our project to version 15.1.0.

Steps:

1. Create an empty directory `test`
2. Change into `test` directory
3. Install latest version of react-dates `npm install react-dates`
4. Open stylesheet in text editor: `node_mod

[2017-11-29 00:27] majapw commented on #864
Ah you are totally right. I believe this is due to the react-with-styles change. :O let me fix this real quick. Sorry for the breakage!

[2017-11-29 00:29] ljharb commented on #860
we can only use v4 if react-portal ships a version that allows all the React versions we support; otherwise we’re on v3 for a long while.

[2017-11-29 00:30] #726 closed

[2017-11-29 00:31] #728 closed

[2017-11-29 00:31] #727 closed

[2017-11-29 00:31] #708 closed

[2017-11-29 00:40] majapw commented on #864
... Okay I actually have no idea what happened because I basically just ran the publish script again and we're back. :/

Sorry for the breakage again and v15.2.1 should contain the patch!

https://unpkg.com/react-dates@15.2.1/lib/css/_datepicker.css

[2017-11-29 00:40] #864 closed

[2017-11-29 00:55] majapw commented on #29
This is somewhat addressed in that there is an example of how to do this at http://airbnb.io/react-dates/?react_perf=1&selectedKind=PresetDatePicker&selectedStory=default&full=0&down=1&left=1&panelRight=0&downPanel=storybook%2Factions%2Factions-panel

I don't think we will be shipping anything preset specific because it's already possible to implement it yourself with the API. Now there is better

[2017-11-29 00:55] #29 closed

[2017-11-29 02:40] #718 closed

[2017-11-29 02:41] #737 closed

[2017-11-29 02:46] #94 closed

[2017-11-29 02:47] majapw commented on #725
These seems like more of a moment question than a react-dates question, so I'm going to close this issue.

Um, in general, I'd recommend using the exported `isSameDay` method from this repo as its a bit more performant.

[2017-11-29 02:47] #725 closed

[2017-11-29 03:01] #714 closed

[2017-11-29 03:02] #663 closed

[2017-11-29 03:06] #480 closed

[2017-11-29 03:06] #637 closed

[2017-11-29 03:06] #638 closed

[2017-11-29 03:07] smoakey commented on #94
@majapw What was the reasoning for not exposing those props?

[2017-11-29 03:08] majapw commented on #610
The latest storybook has IE11 support so this has been addressed

[2017-11-29 03:08] #610 closed

[2017-11-29 03:11] majapw commented on #317
I think this is fixed now! X_x If `readOnly` is explicitly set to false, then that will override the default `isTouch` fallback --- https://github.com/airbnb/react-dates/blob/master/src/components/DateInput.jsx#L194

[2017-11-29 03:11] #317 closed

[2017-11-29 03:12] majapw commented on #276
This is fixed now that we use real inputs (instead of the fake one) as per previous suggestions in this issue. :)

[2017-11-29 03:12] #276 closed

[2017-11-29 03:13] majapw commented on #262
I think this issue has been addressed. :)

[2017-11-29 03:13] #262 closed

[2017-11-29 03:16] majapw commented on #94
@smoakey the goal of the callbacks as described in https://github.com/airbnb/react-dates/issues/94#issuecomment-249207698 is already supported by using the `renderDay` prop for custom behavior (like adding a tooltip or having something else happen on mouse interactions). I think exposing the specific day props ends up being messier than just encouraging consumers to use `renderDay` (especially sin

[2017-11-29 03:17] majapw commented on #94
If you want direct access to those callbacks, I kind expect it's because you want a different set-up for selection (like picking weeks at a time or something) and in that case, you probs just wanna use the DayPicker directly and set up your own wrappers.

[2017-11-29 03:18] majapw commented on #187
I think you can now accomplish this by setting the `daySize` prop to something smaller! :)

[2017-11-29 03:18] #187 closed

[2017-11-29 03:22] #343 closed

[2017-11-29 03:22] majapw commented on #343
I think the original issue here has been addressed.

[2017-11-29 03:23] majapw commented on #329
I think this has been addressed now that we are using real life inputs! :)

[2017-11-29 03:23] #329 closed

[2017-11-29 03:31] #794 closed

[2017-11-29 03:33] varun1101 commented on #840
I intend to start on this. Just wanted to know should this appear as a separate filter in Storybook or as an manual option similar to animation etc.

[2017-11-29 03:40] majapw commented on #840
Hi @varun1101,

I think ideally that the DateRangePicker and SingleDatePicker would take a `calendarInfoPosition` prop and that it would behave very similarly to the `inputIconPosition` prop. It would be good to add like `INFO_POSITION_TOP`, `INFO_POSITION_BOTTOM`, `INFO_POSITION_LEFT`, and `INFO_POSITION_RIGHT` to the constants file and use those as enums.

I would just add examples to https://gi

[2017-11-29 03:50] smoakey commented on #94
@majapw Ah thanks for the explanation! It also looks like a lot has changed since I submitted this on v3.0.0 :)

[2017-11-29 03:54] majapw commented on #94
🙃 definitely! I appreciate you opening the issue though originally! I think it def motivated the creation of that prop.

[2017-11-29 08:35] webbygregg opened #868 "SingleDatePicker with Button instead of text input"
Is there any way to to use a button instead of a text input for a single date picker, like they have on the airbnb website?

[2017-11-29 09:05] tpinne commented on #858
Ah, I now see that the `SingleDatePicker` handles all the CSS logic itself and that it's not part of the `DayPicker`. So we have to reimplement all the `SingleDatePicker` logic just to reuse our own input components but retain the identical date picker behaviour?
Or are we missing something?
Changing the styling of the input through CSS is not an option because we would have more than one place to

[2017-11-29 11:25] TuxujPes commented on #25
Such a pity that a highly requested feature like this takes **more than a year** to be discussed.

[2017-11-29 11:42] webbygregg commented on #868
Sorry, I figured it out using the DayPickerSingleDateController

[2017-11-29 11:42] #868 closed

[2017-11-29 15:27] ljharb commented on #25
Weird, it’s almost as if the thing that determines maintainer’s personal availability isn’t “people want a feature”

[2017-11-29 15:42] sontek commented on #25
@ljharb Maybe you have been burned by open source in the past and that is how you justified such a rude response, but hopefully I can clarify the frustration people are having and move this conversation back to something much more productive than sarcasm.

Everyone is very thankful for the work airbnb has done on this project so far and a lot of us have built our applications to depend on it.   Th

[2017-11-29 15:44] trickreich commented on #25
@sontek Thanks for this words! And in my opinion you are totally right 👍

[2017-11-29 15:57] ljharb commented on #25
@sontek i was responding to https://github.com/airbnb/react-dates/issues/25#issuecomment-347831965, which was an exceedingly rude comment, and i think the sarcasm (towards that person only) was quite deserved.

The reasons for delaying on this feature have been made clear; it’s not that Airbnb has to do the work, it’s that the design has to be approved by our designers first - we ave an obligation

[2017-11-29 16:00] sontek commented on #25
Maybe there is a stop gap approach that could be documented as well.   There is the `renderCalendarInfo`, could there be a way to use that to add our own dropdowns that change the current visible year/month until this can be implemented appropriately??

[2017-11-29 16:31] varun1101 commented on #840
Thanks @majapw for the help.

[2017-11-29 18:37] ConAntonakos commented on #276
Even though the UI changed a bit, I like the solution. Thanks for address this!

[2017-11-29 19:40] ConAntonakos commented on #208
With the release of [Luxon](https://github.com/moment/luxon), perhaps that can be a viable candidate? Or consider a date formatting interface like @majapw's suggests (https://github.com/airbnb/react-dates/issues/839#issuecomment-347669177)?

[2017-11-29 20:15] sandro-pasquali commented on #526
A good vanilla calendar with those features is https://github.com/chmln/flatpickr

[2017-11-29 22:08] majapw commented on #763
Sorry for the long delay in response! If you are still seeing this, a codepen/JSBin would be very helpful. For some reason the height update path seems to be being called. :/

[2017-11-30 02:51] allanpope opened #872 "DayPickerRangeController highlight selection does not remove when using keyboard"
Using a keyboard to navigate the calendar and making a selection works. When you make another selection using the keyboard, the original date range highlight remains.

I am using `DayPickerRangeController` component and using CSS stylesheets and classes(not react-with-styles) and Chrome.

In the screenshot below the dates 15-19th are from the previous selection and still have the `.CalendarDay__ho

[2017-11-30 11:24] santosguilherme opened #873 "DayPicker with the TextField from material-ui"
I can use the `DayPicker` with the `TextField` from [material-ui](https://material-ui-next.com)?

[2017-11-30 12:47] erin-doyle commented on #208
`Luxon` does look more viable to me than `date-fns` at this time.

This seems like much better solution for covering the localization compared to `date-fns`.  Here are their docs on output formatting: https://moment.github.io/luxon/docs/manual/formatting.html

[2017-11-30 18:52] Jucesr commented on #535
Hi @ethanresnick  . Were you be able to achieve this?

[2017-11-30 19:08] liahwallace1 commented on #612
I need this to add half day styling to checkin/checkout days.

[2017-11-30 20:18] majapw commented on #872
@allanpope can you share what version of react-dates you're using? We had recently addressed a similar issue so I'm wondering if it's related.

[2017-11-30 20:20] majapw commented on #873
If you also take a look at the `DayPickerRangeController` example starter code here - https://github.com/airbnb/react-dates/blob/master/examples/DayPickerRangeControllerWrapper.jsx#L125-L130 - you can see how we configure custom inputs to work with the controller.

If you want to duplicate the showing/hiding aspect, I'd recommend duplicating the code in the `DateRangePicker` and simply swapping ou

[2017-11-30 20:52] ethanresnick commented on #535
@Jucesr Yes, but only by overriding more styles than just the Sass variables support. (Once you do that, it's pretty easy.) See the thread in #474 for context on that approach.

[2017-11-30 20:53] majapw commented on #535
The new block styling I am working on should accomplish this more easily!

On Thu, Nov 30, 2017, 12:52 PM Ethan <notifications@github.com> wrote:

[2017-11-30 22:36] allanpope commented on #872
@majapw Yeah you are right. I was using version `15.1.0`, upgrading to `15.2.1` fixes it.
Sorry should of checked the see if there was a newer version. Thanks for your help.

[2017-11-30 22:36] #872 closed

[2017-11-30 23:29] majapw commented on #872
Glad to see that we fixed it! :)

[2017-11-30 23:35] #849 closed

[2017-11-30 23:35] majapw commented on #849
Released in 15.3.0! :)

[2017-11-30 23:35] majapw commented on #834
Released in 15.3.0! :)

[2017-11-30 23:35] #834 closed

[2017-11-30 23:36] majapw commented on #535
This is now very easy in v15.3.0 by just setting the `block` prop on the SDP or the DRP :)

[2017-11-30 23:36] #535 closed

[2017-11-30 23:37] majapw commented on #287
`daySize` exists as a prop now so I will be closing this issue. :)

[2017-11-30 23:37] #287 closed

[2017-12-01 00:09] majapw commented on #734
I can't seem to reproduce this anymore given the change to the inputs.

It still loses focus with the custom date when you type `Dec 2`, but when you select the input again and add a 7, it works as expected (selecting Dec 27). I'm going to close this. :)

[2017-12-01 00:09] #734 closed

[2017-12-01 08:24] TuxujPes commented on #25
@ljharb I believe You are overthinking my comment. I said it is a pity that it takes years for a discussion, and that's it. I apologize if someone finds it rude or sarcastic, didn't mean to.

[2017-12-01 13:46] Rungerd commented on #763
Have the same issue with `DayPickerRangeController`. I am using custom wrapper for calendar. On Clicking Next (Previous) 2-3 times, the months start rendering correctly.
![d](https://user-images.githubusercontent.com/6763985/33485207-8d81e6fc-d6b6-11e7-98d0-301a3a0e9655.jpg)
[code]

It worked for me

[2017-12-01 14:06] erin-doyle commented on #763
I think it's going to be difficult to help troubleshoot this without seeing the context with which this component is being rendered.  There could be something about the css of the parent(s) it's being rendered into that's leading to this.

[2017-12-01 18:05] Jucesr opened #874 "Webpack bundle.js size"
I am using react-dates in my app. I am trying to reduce the size of my bundle.js generated by webpack. I used the "webpack-bundle-analyzer" and I noticed React-dates module is including components I am not using in my app.

I only imported SingleDatePicker and RangeDatePicker but I am getting all the components in bundle. I tried to use the webpack.IgnorePlugin but I was not able to get this done.

[2017-12-01 18:19] majapw commented on #874
Hi! Have you tries deep importing the component directly, e.g.
[code]

The index for `react-dates` includes all of the exports which might be
contributing.

On Fri, Dec 1, 2017, 10:05 AM Julio Ojeda <notifications@github.com> wrote:

[2017-12-01 19:29] Jucesr commented on #874
Hi @majapw I tried but still it's kind of big. It's around 350kb. My bundle has other files such as DarPicker.js, CalendarMonth.js . I think they are used by SingleDataPicker that is why webpack is adding them.

Correct me if I am wrong please.

[2017-12-01 19:32] ljharb commented on #874
Perhaps this is the only thing adding moment? Moment can be large in webpack because i believe it grabs up all locales by default.

[2017-12-01 19:56] majapw commented on #874
SingleDatePicker does use a number of other components under the hood... it's a fairly complex component. moment is also quite a big package.

@lencioni might have some more thoughts on optimization.

[2017-12-01 21:02] lencioni commented on #874
Indeed, Moment can easily blow up your bundle size, especially if you aren't being really careful about what it brings in. I think they have a plan to make it easier to do the right thing, but I'm not sure if it has landed yet.

In https://github.com/airbnb/react-dates/pull/791 we added an /esm build that you will want to hook up via a webpack alias, if you are on a new enough version of webpack (

[2017-12-01 23:07] mmahalwy opened #875 "Setup file with a project that already uses react-with-styles"
Hello there!

Wanted to share an example setup file for projects that currently use `react-with-styles` as this would result to error:
![image](https://user-images.githubusercontent.com/3749095/33507388-504c2dae-d6a9-11e7-829b-2bd24b569d57.png)

Example setup.js:

[code]

[2017-12-01 23:15] majapw commented on #875
Thanks for filing @mmahalwy! I'll add some text to the README for what to do if your app already uses `react-with-styles` elsewhere.

[2017-12-01 23:38] majapw commented on #721
I think this is behaving as expected due to tab order. I can't repro any different behavior from Chrome in Firefox so I'm going to close this. :/

[2017-12-01 23:38] #721 closed

[2017-12-01 23:49] majapw commented on #802
You could have your `isOutsideRange` method look something like:
[code]

[2017-12-02 04:20] vivek3003 commented on #763
Understandable. Will try to share a JSbin/codepen link reproducing this in the next 2 days. Sorry could not get it done until now.

[2017-12-02 10:25] prashand commented on #853
Thanks @majapw. Did not see the renderCalenderInfo prop or the PresetDateRangePicker example in the docs.

[2017-12-03 20:06] greenkeeper[bot] opened #876 "An in-range update of @storybook/addon-actions is breaking the build 🚨"
## Version **3.2.17** of [@storybook/addon-actions](https://github.com/storybooks/storybook) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2F%40storybook%2Faddon-actions-3.2.17">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @storybook/addon-a

[2017-12-03 20:09] greenkeeper[bot] opened #877 "An in-range update of @storybook/addon-info is breaking the build 🚨"
## Version **3.2.17** of [@storybook/addon-info](https://github.com/storybooks/storybook) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2F%40storybook%2Faddon-info-3.2.17">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @storybook/addon-info

[2017-12-03 20:22] greenkeeper[bot] opened #878 "An in-range update of @storybook/addon-options is breaking the build 🚨"
## Version **3.2.17** of [@storybook/addon-options](https://github.com/storybooks/storybook) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2F%40storybook%2Faddon-options-3.2.17">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @storybook/addon-o

[2017-12-03 20:24] greenkeeper[bot] opened #879 "An in-range update of @storybook/addon-links is breaking the build 🚨"
## Version **3.2.17** of [@storybook/addon-links](https://github.com/storybooks/storybook) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2F%40storybook%2Faddon-links-3.2.17">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @storybook/addon-links

[2017-12-03 20:28] greenkeeper[bot] opened #880 "An in-range update of @storybook/react is breaking the build 🚨"
## Version **3.2.17** of [@storybook/react](https://github.com/storybooks/storybook) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2F%40storybook%2Freact-3.2.17">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @storybook/react
    </td>
  </tr>

[2017-12-04 08:23] stilllife00 opened #882 "Current date does not display while using Recompose"
I like to use [Recompose](https://github.com/acdlite/recompose) to keep state clearly separated from presentation. It seems though that the current date of the datepicker does not show up when using Recompose.

Comparison with / without recompose:

[code]

The `props` of react are fine so recompose is doing is job fine. Maybe DatePicker is meant to always read the component's state and ignore the

[2017-12-04 08:30] stilllife00 commented on #882
Closing because the problem was caused by a typo `date ` with a trailing space, so the `date` prop was never passed down

[2017-12-04 08:30] #882 closed

[2017-12-04 10:26] thomassnielsen commented on #847
@aventurella how did you solve this? Experiencing the same behaviour myself.

[2017-12-04 10:40] thomassnielsen commented on #847
For me it was that I forgot to specify the comparison granularity for moment:

[code]

[2017-12-04 17:12] lencioni commented on #839
@majapw The goal is to allow the imports to be separated out cleanly enough with minimal API changes, so that people can use code-splitting features in their bundler (e.g. webpack) to avoid putting most of the code from this package in their main bundle.

In the implementation, everything would be mostly the same, except for renderDayPicker. Instead of importing and rendering `DayPickerSingleDateC

[2017-12-04 17:48] timgivois commented on #25
what's the status of this issue?

[2017-12-04 17:51] sontek commented on #25
@timgivois Are you asking us to summarize all the conversation above?  Or do you have a specific question?

[2017-12-04 18:09] timgivois commented on #25
[#25 commentf](https://github.com/airbnb/react-dates/issues/25#issuecomment-343056092) asks for help to start an initial prototype. I want to know if there is someone working on that, or we need to add a `Pull Request needed` label.

[2017-12-04 19:23] #876 closed

[2017-12-04 19:23] #877 closed

[2017-12-04 19:23] #878 closed

[2017-12-04 19:23] #879 closed

[2017-12-04 19:23] #880 closed

[2017-12-05 20:55] evonsdesigns commented on #345
:+1: Or allow the consumer to pass in a function to validate inputs with.

[2017-12-06 00:07] jakeclements commented on #349
I've had a requirement for this functionality as well, I've had a chance to take a look at it and have submitted a PR.
Feedback & change requests are welcome

[2017-12-06 23:17] majapw commented on #345
I think that allowing a consumer to pass in a function is actually a pretty good idea. That would give a lot more control over validation (which people have been asking for) and allow for whatever customization your app requires.

We'd probably want to couple this (perhaps with two PRs) with something that would report back that an error was received.

[2017-12-06 23:23] teroqim commented on #761
A workaround that seems to do the job in my particular case. Would be awesome if this could be fixed properly!
Here's my onFocusChange handler:
[code]

[2017-12-07 09:02] Bubbi opened #889 "Support for week numbers"
It could be very nice to support week numbers in this calendar, as at least in some countries (Denmark, Germany and Sweden) you do a lot of planning in week numbers.

Example: "I'm on vacation from week 28 to week 30".

It could be nice to be able to style week number cells individually from the rest of the table cells.

It would also be nice to be able to enable hover/click event on the week numb

[2017-12-07 15:36] green-arrow opened #890 "Allow previous month navigation for DayPicker with `verticalScrollable` orientation"
First off, thanks for this library! I appreciate all the hard work you all put into it.

I was wondering if it would be possible to allow the `DayPicker` to load previous months in the `verticalScrollable` orientation. This orientation fits our use case for mobile devices perfectly, but we have to allow for the selection of past dates.

Thanks again for all the work on this!

[2017-12-07 21:19] ljharb commented on #860
Closed in #888.

[2017-12-07 21:19] #860 closed

[2017-12-07 21:40] Pixelatex commented on #844
I'm getting this error still.. not using yarn so would appreciate some help on this. (using the single date picker)

[2017-12-08 02:27] angusfretwell commented on #314
Hi @majapw, is this something that could be revisited now? We're keen to have three-letter day labels.

[2017-12-08 09:43] smakosh commented on #769
Facing the same issue over here

[2017-12-08 11:11] smakosh commented on #769
![airbnb-date](https://user-images.githubusercontent.com/20082141/33763410-55f70562-dc08-11e7-84b9-0233d169a370.png)

This is what it shows up on the screen

Here's my code
https://github.com/smakosh/react-todolist/blob/learning_redux/src/components/tasksForm.jsx

[2017-12-08 20:07] kunokdev opened #893 "Any way to disable screen reader only messages?"
Is threre any way to disable screen reader only messages?

![image](https://user-images.githubusercontent.com/13220754/33783167-e108302e-dc5b-11e7-9ea5-4271a45cceb5.png)![image](https://user-images.githubusercontent.com/13220754/33783167-e108302e-dc5b-11e7-9ea5-4271a45cceb5.png)

The problem with these messages is that they ruin SEO heavily. Basically my homepage is very minimal and there is only

[2017-12-08 21:39] majapw commented on #893
Um, it seems bad to sacrifice accessibility for SEO but @backwardok perhaps has some insight as to how the two can exist in tandem.

As a hack, although I don't recommend it, each of these phrases reads from a `phrases` object that you can override via the `phrases` prop. I imagine if you were to pass an empty string for the text you didn't want to render, that would work.

[2017-12-09 10:45] kunokdev commented on #893
@majapw In my case SEO has higher priority since my website is not optimized for accessibility overall at the moment, while I have huge issues with SEO optimization due to lack of rich content. I apologize in front for lack of respect towards accessibility.

The hack worked great, I just passed empty object to `phrases` prop and it worked like a charm. Thank you so much for this awesome and flexib

[2017-12-10 08:35] Notlistedanywhere opened #895 "close button in daterangepicker in react dates"
I wanted to add small close button in daterangepicker in upper right corner but don't know how to add custom close button. please help!!

[2017-12-10 09:02] majapw commented on #895
I think there's a `customCloseIcon` button. Have you looked at https://github.com/airbnb/react-dates/blob/master/stories/DateRangePicker_input.js#L108-L115?

[2017-12-10 14:40] Notlistedanywhere commented on #895
`import React, { Component } from 'react';
import moment from 'moment';

import logo from './logo.svg';
import './App.css';
import 'react-dates/initialize';
import { DateRangePicker, SingleDatePicker } from 'react-dates';
import 'react-dates/lib/css/_datepicker.css';

// var SelectedStartDate = moment('2017-01-10');
// var SelectedEndDate = moment('2017-12-10');

const TestCustomCloseIcon = () =>

[2017-12-10 21:18] MaxiSantos commented on #615
hey @alexcroox can you provide the methods you used for the clickHandler on each button on the footer? I'm looking at the API but I didn't see the renderCalendarInfo [https://www.diycode.cc/projects/airbnb/react-dates](https://www.diycode.cc/projects/airbnb/react-dates)

[2017-12-11 00:41] MaxiSantos commented on #235
@passi246 I'm also trying to get the value of the input so I can validate them. The moment validation isn't very useful because when you click on the first date the endDate is null but that dosen't mean it's invalid because the user hasn't ended selecting dates. I can't get the onChange event working for me on a wrapper div. Did you try on a DataRange component?

[2017-12-11 00:44] MaxiSantos commented on #345
I'd love to use this functionality. Right now I want a live validation and I don't know how to do it.

[2017-12-12 00:54] mergebandit opened #897 "Clarification around theming"
So I'm pretty confused about what the idea behind `react-with-styles` is supposed to be.

We're building out an implementation on top of a `DayPickerRangeController` with our own custom start / end dates. We need to be able to theme this for each of our brands.

Each brand has a static JS file - containing things like palette, typography, etc. We then pass that theme file in through our `styled-co

[2017-12-12 03:27] selfcontained commented on #844
Also seeing this while trying to upgrade from `11.0.1` in a react 16 upgrade.

[2017-12-12 07:08] Pixelatex commented on #844
it doesn't need initialize... it has it already but no matter what I try, it still breaks.

[2017-12-12 07:14] ljharb commented on #844
The error seems to be coming from https://unpkg.com/array-flatten@2.1.1/array-flatten.js, but that has `.from`, so I'm not sure what the issue is.

[2017-12-12 10:46] Bubbi opened #898 "VerticalScrollable dateRangePicker would be nice"
As far as I can see, it is not possible to set orientation to verticalScrollable on a dateRangePicker. Only on dayPickerRange. it would be nice to include this, as you can then have a scrollable fullscreen portal with for example 6 months. Not possible atm.

[2017-12-12 15:47] evonsdesigns commented on #663
@majapw Thanks for this solution. The only change I had to make was to not destructure `focusedInput` from the input parameter.

[2017-12-12 18:54] selfcontained commented on #844
Yah, digging in more, `npm ls array-flatten` shows:

[code]

...but when looking at the output that webpack is bundling it seems like it's grabbing `1.1.1` from the express dep, which seems wrong.  I can't find anything related to `react-dates` that would be causing this, but not sure why webpack is bundling that version.  NPM is installing `array-flatten@2.1.1` inside the `react-with-styles-inter

[2017-12-13 11:50] passi246 opened #899 "CalendarDay - onKeyDown is not a function"
Preconditions:
 - Using v16
 - Using SingleDatePicker Component
 - Entering the CalendarDay by pressing the down key

Pressing a key results in CalendarDay onKeyDown is not a function
<img width="562" alt="bildschirmfoto 2017-12-13 um 12 47 26" src="https://user-images.githubusercontent.com/6725613/33937556-401bd0c4-e004-11e7-9398-5f6e2e73a819.png">

[2017-12-13 14:21] sag1v opened #900 "DayPickerRangeController position top"
Hi, is there a feature that i'm missing regarding the position of `DayPickerRangeController`?
For example if i placing the Input on the bottom of the page (fixed position),  the `DayPickerRangeController` won't show as it will render below the input.
I think we should have a `position` prop with the shape of `bottom || top`.
Or maybe even better, if react dates could calculate the position by it s

[2017-12-13 17:52] revyh commented on #273
Will portals (introduced in react 16) change anything with this issue?

[2017-12-13 17:57] isaachinman commented on #273
@revyh It's been awhile since we discussed this issue, but yep - I imagine that'd solve it nicely.

It's also been awhile since I looked through the `react-dates` source, but if I recall correctly, there's some deeply nested stuff going on. Porting `DateRangePicker__picker` as a direct descendent of `body` would solve these positioning issues.

[2017-12-13 18:25] ljharb commented on #899
Thanks, this is definitely a [bug](https://github.com/airbnb/react-dates/blob/master/src/components/CalendarDay.jsx#L164)

[2017-12-13 18:30] majapw commented on #899
oh no! will fix asap!

[2017-12-13 20:56] #899 closed

[2017-12-14 09:47] burtyish commented on #458
Sounds like this would be solved by using `initialVisibleMonth`, as described in [this answer](https://stackoverflow.com/a/47763860).

[2017-12-14 12:30] tiberiumihai commented on #845
I defined basepath in my environment files and used it for translations like this:
[code]
I change it to:
[code]
and is working fine now.

[2017-12-14 14:49] mattias800 commented on #374
The typing for renderDay is wrong in the Typescript definitions.

[2017-12-14 17:51] ljharb commented on #374
@mattias800 you should file that on the DefinitelyTyped repo; we do not write, maintain, or support TypeScript definitions.

[2017-12-15 11:37] euvl commented on #46
Hey, I am getting the same issue in "15.5.1":

![kapture 2017-12-15 at 11 37 26](https://user-images.githubusercontent.com/1577802/34040598-61e05908-e18c-11e7-8b1d-8f3194bd2df1.gif)

[2017-12-15 16:36] viniciusmichelutti opened #902 "onClose function called before onChange"
When using a DateRangePicker with onDatesChange and onClose, when I select the end date, it closes and call the callback before the last onChange.

I think the correct would be change the last date and then close.

[2017-12-15 20:04] nolastan commented on #898
+1

Adding the property `orientation="verticalScrollable"` seems to accomplish what you're looking for, but it throws a warning:

[code]

[2017-12-17 05:17] jakebern opened #903 "CSS issue with 15.5.2"
Updated from 15.2.1 to 15.5.2 and had breaking changes.  I updated moment - is there another dependency I'm missing?

With following packages, no issues: (see screenshot)
[code]

15.2.1
<img width="719" alt="15 2 1" src="https://user-images.githubusercontent.com/5565911/34076799-d629365a-e334-11e7-97b7-a3a437a5065c.png">

15.5.2
<img width="1013" alt="15 5 2" src="https://user-images.githubusercon

[2017-12-17 05:27] ljharb commented on #903
hmm, do you see any console errors?

It's certainly possible that something went wrong with the build process for v15.5.2. Can you check on v15.5.1 and confirm?

[2017-12-17 05:30] majapw commented on #903
I just looked at https://unpkg.com/react-dates@15.5.2/lib/css/ and it looks
like the css file didn't build properly. @ljharb can you take a look and
republish when you get a chance? I know that there is a version of
react-with-styles that the css interface doesn't work with. Can you check
what `npm build:css` outputs?

On Sat, Dec 16, 2017, 11:17 PM jakebern <notifications@github.com> wrote:

[2017-12-17 05:51] ljharb commented on #903
@majapw ah, that's totally it; pegging to react-with-styles 2.2.0 and republishing shortly. When are we reverting that change in 2.x? O.o

[2017-12-17 06:08] ljharb commented on #903
v15.5.3 is released, and v15.5.2 is deprecated.

[2017-12-17 06:09] #903 closed

[2017-12-17 20:22] keiyng commented on #532
I'm trying to do custom validation on close but couldn't properly validate since endDate is always null.
Is this going to fixed?

[2017-12-18 02:11] jeznag commented on #874
@lencioni could you provide more details on how to use /esm with webpack alias?

[2017-12-18 08:16] sag1v commented on #900
Any thoughts about this? 😮

[2017-12-18 13:38] majapw commented on #900
Do you mean when using the DateRangePicker? I think there is already a prop
for this. It is called openDirection.

On Mon, Dec 18, 2017, 2:16 AM Sagiv ben giat <notifications@github.com>
wrote:

[2017-12-18 14:07] sag1v commented on #900
@majapw Yup, [you are right](https://github.com/airbnb/react-dates/blob/master/src/components/DateRangePicker.jsx#L365)!
And yeah i meant `DateRangePicker`, i had a typo.
I guess I've missed it. sorry. :)

[2017-12-18 14:09] #900 closed

[2017-12-18 14:20] singingwolfboy opened #904 "openDirection="up" has fang in the wrong location"
This can be easily seen on the [official Storybook story for this case](http://airbnb.io/react-dates/?selectedKind=DRP%20-%20Calendar%20Props&selectedStory=open%20up):

![misplaced-fang](https://user-images.githubusercontent.com/132355/34110401-d955d5ae-e406-11e7-8325-3a5953f77271.png)

Notice how the top of the fang is aligned to the _input_, when it should be aligned to the _calendar_.

[2017-12-18 14:31] majapw commented on #904
Whoops! This is probably due to my recent refactoring. I can't get to a fix
until after the 25th, but the error is in the logic for fang placement in
the DateInput component. We'd accept a PR with the patch!

On Mon, Dec 18, 2017, 8:20 AM David Baumgold <notifications@github.com>
wrote:

[2017-12-19 11:36] yaroslav-perec commented on #557
Auto focus for keyboard shortcuts panel doesn't work, "react-dates": "^15.4.0"
OC: ubuntu 16.04;
Browser: Google Chrome Version 61.0.3163.100;

[2017-12-19 13:55] erin-doyle commented on #557
@yaroslav-perec can you describe this a little more?  What is not working about it?  What is it doing instead?

[2017-12-19 15:51] yaroslav-perec commented on #557
@erin-doyle  Sure, I use **SingleDatePicker**, it looks like this:

![selection_328](https://user-images.githubusercontent.com/30346881/34162371-2186c75e-e4dc-11e7-91c7-db31e02c0ac6.png)

It seems close button has focus, but when I press **Enter** key shortcuts panel popup window doesn't close, I know if i click **ESC** it will close, but if you use SingleDatePicker inside modal window (that often

[2017-12-19 16:02] erin-doyle commented on #557
Right now it is coded to close when you hit the spacebar.  It is my understanding (which could be incorrect) that spacebar is what keyboard only users expect to use when they are making selections or actions on elements.  This is in main part because some browsers will automatically submit a form when the enter key is pressed anywhere on a page that has a form.  So again the expected keys for navi

[2017-12-19 16:28] yaroslav-perec commented on #557
@erin-doyle I understood, thanks!

[2017-12-19 18:34] backwardok commented on #557
It would probably be good to support `enter` as well, since native `button`s activate on both `enter` and `space`.

[2017-12-19 19:04] maddoxnelson opened #906 "Warning.js errors when attempting to integrate into Preact app"
👋 Hi, fairly new to React and Preact here.

I'm loving `react-dates`, but I need to integrate it into a Preact app. I have it working, but it keeps throwing warning errors in my test app. The errors only appear in dev mode, and the datepicker functions perfectly otherwise. When I run `yarn build`, the errors vanish (which I'd expect, but just clarifying).

I made a Git repo that's an accurate repr

[2017-12-19 19:08] ljharb commented on #906
We don't support preact since this is "react"-dates :-)

I'm not sure what the issues are here; I suspect that it's some difference in the way react and preact pass props to components, and validate propTypes. Probably a better place to file it is preact itself?

If it turns out there's a change we could make here, that wouldn't interfere with react usage but would enable preact usage, we'd be hap

[2017-12-19 19:21] erin-doyle commented on #557
Ok I can work on making that change then.

[2017-12-19 19:22] Olian04 opened #907 "Unexpected token ] in JSON"
I've followed the installation instructions but I'm getting an error:

[code]
The error is thrown when i try and use the `DateRangePicker` component:
[code]

__Versions:__
npm: 5.5.1
react-vis: 1.8.0
react: 16.2.0
parcel-bundler: 1.2.0

[2017-12-19 19:23] maddoxnelson commented on #906
That's the gist of my question -- I'm surprised no one has tried to use this module with preact thus far, seems like it would be useful to be compatible with.

I'll keep poking around on my little test app. If I find a reasonable change, I'll file a PR -- open to suggestions from anyone else, thanks for the info!

[2017-12-19 19:39] ljharb commented on #907
This seems like it might be an issue with parcel; I'm not sure why it'd be running into any JSON. In this case, it looks like it's picking up the `.babelrc` file and trying to require it?

[2017-12-19 19:39] #906 closed

[2017-12-19 19:42] raphpap opened #908 "Error when using the `isDayHighlighted` property"
Hello, we are having an issue trying to use the `isDayHighlighted` property along with some others. Here is our code.

[code]

This component is always visible (focused).
The issue seems to be related to [issue 824](https://github.com/airbnb/react-dates/issues/824).
Setting `focused` to `true` did not work in our case.

After moving forwards 2 months, hovering over any date throws the following er

[2017-12-19 19:44] Olian04 commented on #907
@ljharb hmm, alright. I'll open an issue over there aswell then.

[2017-12-19 19:44] #907 closed

[2017-12-20 12:33] matheusalxds opened #911 "Change display name (startDate/endDate)"
How could I change the display name start or end to another language?

[2017-12-20 18:45] matheusalxds opened #912 "Border-radius"
How could I set border-radius?

[2017-12-20 18:46] matheusalxds commented on #912
Any suggestion?

[2017-12-20 18:52] ljharb commented on #912
On what, exactly?

[2017-12-20 18:52] ljharb commented on #911
On which component, specifically?

[2017-12-20 21:36] matheusalxds commented on #912
At all, but I dit it!

[2017-12-20 23:18] dcmwong commented on #802
Literally did what you wanted today:
` isOutsideRange(day) {
        return (
            !isInclusivelyAfterDay(day, this.state.startDate) ||
            isInclusivelyAfterDay(day, moment(this.state.startDate).add(90, 'days'))
        );
    }
`

However I didn't end up using it as it prevents the user from correcting their selection ie. if they want the next selection's start date to be past 90

[2017-12-21 00:42] #912 closed

[2017-12-21 00:45] matheusalxds commented on #911
Solved!

[2017-12-21 00:45] #911 closed

[2017-12-21 10:10] mikkelwf commented on #619
@majapw whats the status on this..?

[2017-12-21 21:23] evonsdesigns opened #914 "Allow selecting same date in DateRangePickerWrapper"
I have an inline calendar where the date range can span a single day.

Is it possible to allow the end date to be selected as the same day as the start date with the Calendar view of DateRangePickerWrapper? In Storybook, nothing happens when selecting the same day. I can do it programmatically via a preset, but that makes for bad UX.

[2017-12-21 23:14] majapw commented on #914
Yup! Just pass in minimumNights={0}.

On Thu, Dec 21, 2017, 3:23 PM Joseph Evans <notifications@github.com> wrote:

[2017-12-22 10:59] mihirsoni commented on #827
@ljharb  I am also facing similar issue.

.babelrc

[code]

Error log

[code]

[2017-12-22 12:21] plxel opened #915 "Looks like `enableOutsideDates` not working"
![image](https://user-images.githubusercontent.com/1496959/34297884-c2e9ee5e-e72b-11e7-9b75-3a7cc14a6a0b.png)

Looks like this property is not working at all

[2017-12-22 15:57] evonsdesigns commented on #914
That works! Thanks!

[2017-12-22 15:57] #914 closed

[2017-12-22 19:34] #514 closed

[2017-12-22 20:27] erin-doyle commented on #557
Pull Request #916 added with this change.

[2017-12-25 03:32] SamMatthewsIsACommonName commented on #208
Another thing to consider is that a LOT of people (look at the stars on luxon repo) are moving to luxon from monent for reasons such as immutability and reduced bundle size. However we are then stuck having to use both because of the dependency of this library.
Just a thought to consider. I agree it would be the most viable alternative candidate though, and the immutability may help remove some sm

[2017-12-25 11:10] lsamruth opened #917 "How to Disable current date from Single Date Picker ?"
How to disable today from the single date picker ? below is my code

      showDefaultInputIcon
      inputIconPosition={ICON_AFTER_POSITION}
      date={input.value}
      placeholder="Move Date"
      numberOfMonths={input.numberOfMonths ? input.numberOfMonths : 1}
      focused={meta.active}
      openDirection="up"
      onDateChange={value => {
        const val = value && value.format ? valu

[2017-12-25 12:16] lsamruth commented on #917
This issue has been resolved by adding
`isOutsideRange={day => !isInclusivelyAfterDay(day, today)}` in `SingleDatePicker` component.

[2017-12-25 12:16] #917 closed

[2017-12-27 00:06] greenkeeper[bot] opened #918 "An in-range update of @storybook/addon-actions is breaking the build 🚨"
## Version **3.3.0** of [@storybook/addon-actions](https://github.com/storybooks/storybook) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2F%40storybook%2Faddon-actions-3.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @storybook/addon-act

[2017-12-27 00:08] greenkeeper[bot] opened #919 "An in-range update of @storybook/addon-options is breaking the build 🚨"
## Version **3.3.0** of [@storybook/addon-options](https://github.com/storybooks/storybook) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2F%40storybook%2Faddon-options-3.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @storybook/addon-opt

[2017-12-27 00:13] greenkeeper[bot] opened #920 "An in-range update of @storybook/addon-info is breaking the build 🚨"
## Version **3.3.0** of [@storybook/addon-info](https://github.com/storybooks/storybook) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2F%40storybook%2Faddon-info-3.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @storybook/addon-info

[2017-12-27 00:19] greenkeeper[bot] opened #921 "An in-range update of @storybook/addon-links is breaking the build 🚨"
## Version **3.3.0** of [@storybook/addon-links](https://github.com/storybooks/storybook) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2F%40storybook%2Faddon-links-3.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @storybook/addon-links

[2017-12-27 00:25] greenkeeper[bot] opened #922 "An in-range update of @storybook/react is breaking the build 🚨"
## Version **3.3.0** of [@storybook/react](https://github.com/storybooks/storybook) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2F%40storybook%2Freact-3.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @storybook/react
    </td>
  </tr>

[2017-12-27 05:20] seraphimrose opened #923 "Unexpected result when selecting the same day by DRP"
Version: `16.0.1`

I've cloned the repo and done `npm run storybook`.

I passed in the prop `minimumNights={0}` to the `DateRangePicker` component in `examples/DateRangePickerWrapper.jsx` to allow the start and end date to be the same, then I modified the `onDatesChange` method as below so that when the user selects, the start date is always `00:00:00.000`, and the end date is always `23:59:59.999

[2017-12-27 06:02] michaelfaust commented on #923
the same problem zzzZZZ

[2017-12-27 07:44] daifee commented on #629
@majapw you forgot the bug ^_^

[2017-12-27 19:09] kdichev commented on #374
![image](https://user-images.githubusercontent.com/12297753/34390693-a3c7a8f8-eb41-11e7-9200-e21a8043297c.png)

I have managed to go this far as displaying differrent colored ranges. I am using `renderDayContents` but I guess I might want to switch to render day?

[2017-12-27 19:37] geryit commented on #779
core-js can hep you: `require('core-js/fn/object/is');`
https://github.com/zloirock/core-js

[2017-12-27 23:36] ljharb commented on #779
@geryit indeed, but https://npmjs.com/airbnb-browser-shims is a better choice.

[2017-12-28 05:49] nikoootine opened #924 "inputIconPosition prop usage is not included in the docs"
having inputIconPosition into the README would be great

[2017-12-28 23:08] greenkeeper[bot] opened #926 "An in-range update of enzyme is breaking the build 🚨"
## Version **3.3.0** of [enzyme](https://github.com/airbnb/enzyme) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2Fenzyme-3.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      enzyme
    </td>
  </tr>
  <tr>
    <th align=left>
      Current V

[2017-12-29 05:23] DaveCole commented on #779
Props thank you for the education!

[2017-12-29 05:23] #779 closed

[2017-12-29 13:19] ericsaboia commented on #709
@tylerjbainbridge I think your issue is similar to https://github.com/airbnb/react-dates/issues/824. Adding `focused={true}` solves it

[2017-12-29 13:30] ericsaboia commented on #824
I'm not very familiar with the source code, but the problem is that [this line](https://github.com/airbnb/react-dates/blob/v16.0.1/src/components/DayPicker.jsx#L145) returns `now` for the current month if `hidden` is false, instead of the date you specified.

I wonder why this was needed if `initialVisibleMonth` already returns `now` if no other date is specified by `date` or `initialVisibleMonth`

[2017-12-29 18:41] gouthamr22 opened #929 "Focus back to the selected date-range when implementing PresetDateRangePicker"
I have buttons which selects the date range this week, this month. how to focus to the selected date range.

[2017-12-29 18:51] gouthamr22 commented on #853
how did you focus to the selected date range when u selected custom date range.

[2017-12-29 19:40] nikoootine opened #930 "Set different formats for Start Date and End Date for DateRangePicker"
I have a use case where the Date Input should look like this:
![image](https://user-images.githubusercontent.com/15661253/34446044-fbe282f0-ec8c-11e7-9443-96baf1acfaec.png)

The way I see it is maybe we can add props like startDateFormat and endDateFormat for the DateRangePicker

[2017-12-29 21:38] ljharb commented on #930
What would your use case look like when the dates are December 23rd, through January 2nd?

[2017-12-30 00:44] nikoootine commented on #930
The dates would be displayed as "Dec 10, 2017 - January 2, 2018" as they spread out into different years.

[2017-12-30 01:08] ljharb commented on #930
So you're suggesting that you (the consumer) would be responsible for changing the startDateFormat/endDateFormat as needed?

[2017-12-30 01:30] nikoootine commented on #930
Precisely, this would allow us to further customize the date picker inputs.  I can make the pull request if needed

[2017-12-30 01:31] ljharb commented on #930
Great! Let's see what @majapw and @erin-doyle think first.

[2017-12-30 14:33] prztrz opened #931 "DRP Change visible month with onDatesChange()"
Hello I am working on application in which user should be able to select very broad date range like from ```01/01/2007``` to ```01/01/2017```, it would be usefull for me to change the visible month focus in this way:

Let's say the default ```startDate``` is ```01/01/2007``` and the default ```endDate``` is ```01/01/2017```. When user clicks on the start date the visible month should be January 20

[2018-01-01 19:04] asulaiman opened #934 "Failed styles prop type check while trying to render DateRangePicker"
**Overview**
I tried applying the `DateRangePickerWrapper` example along with the application of `react-styles` for theming but i m getting the following error:

**My wrapper component**

[code]
Is there a step i am missing? Previous threads tend to suggest trying to set an interface which i am already doing. Note: Identical setup works for the `SingleDatePicker` with the exception of the `startDa

[2018-01-01 19:32] ljharb commented on #934
You shouldn't need `import 'react-dates/initialize';` if you're registering your own aphrodite interface, as long as you add https://github.com/airbnb/react-dates/blob/master/src/utils/registerInterfaceWithDefaultTheme.js#L6 - can you try that?

[2018-01-01 21:45] asulaiman commented on #934
No change, same error.

[2018-01-02 01:31] ljharb commented on #934
What exact version of react-dates are you using?

[2018-01-02 03:03] asulaiman commented on #934
16.0.1

[2018-01-02 06:28] rodolph66 commented on #934
I seem to be having a similar issue... I cannot shake away that warning:

![warning_react-dates](https://user-images.githubusercontent.com/9017114/34475588-48a3a094-ef42-11e7-9117-d0d0ba74fe9b.png)

![package json](https://user-images.githubusercontent.com/9017114/34476047-d6c27396-ef42-11e7-98f7-64d94cb11282.png)

I have followed every detail in the documentation and changed some... but the warni

[2018-01-02 06:32] ljharb commented on #934
@rodolph66 those are legitimate errors, and unrelated to this issue.

[2018-01-02 06:50] michaelfaust commented on #923
Anyone could solve this problem? I also met this problem and it really confuse the user...

[2018-01-02 17:05] majapw commented on #923
@michaelfaust @seraphimrose `moment` objects are not immutable and when you call `startDate.startOf('day')` and `endDate.endOf('day')`, you are actually changing the value of the original moment object. I wonder if you cloned the `startDate` and `endDate` if that would help things, e.g.:
[code]

Do you still see the same problem if you don't change the time at all?

[2018-01-02 17:20] majapw commented on #934
@rodolph66 `startDateId` and `endDateId` are required props on the component (this is recent). We updated this behavior to have parity with the `SingleDatePicker` and for accessibility reasons. If you add id props on your `DateRangePicker` you should see the warning go away.

@asulaiman Can you try registering your theme at the top-level instead of inside the constructor and see if that changes an

[2018-01-02 18:00] erin-doyle commented on #930
Hmm, I'm not sure.  It seems to me that if the library consumer wants to really customize the input then maybe it's the right scenario for using the [DayPickerRangeController](https://github.com/airbnb/react-dates#daypickerrangecontroller) instead and implementing the input yourself.

[2018-01-02 18:22] rodolph66 commented on #934
Hi, before posting I did just that (supplied the id props), going by what the warning was saying, among other things. No change. but I will try again.

[2018-01-02 18:25] rodolph66 commented on #934
Apologies, the warning did go away when supplying the id props. My mistake was supplying the wrong type (number instead of string). Thank a lot...

[2018-01-02 18:35] asulaiman commented on #934
@majapw yes now it renders. However that defeats the purpose of theming for me because i wanted to change theme attributes based on props passed into the component. This works for `SingleDatePicker`.

[2018-01-02 18:44] dwjft commented on #769
After a new deployment today I am seeing this error in the console.

```Uncaught TypeError: Cannot read property 'theme' of undefined```

It appears this error has persisted for a while, and there has been no solution offered. What is odd, is that we were not experiencing this issue previously. I'm assuming one of these releases has caused the issue to re-surface:

[code]

We are using webpack and

[2018-01-02 18:44] comron commented on #747
Was there any resolution for this? I would be happy to implement the change if one was proposed.

[2018-01-02 18:47] erin-doyle commented on #769
I think the advice is still the same as it is earlier on in this thread:

[2018-01-02 18:50] dwjft commented on #769
FYI, pinning `react-dates` to `v15.5.1` solved the issue.

[2018-01-02 18:50] erin-doyle commented on #747
Maybe we need to work on making isTouchDevice more specific to mobile devices then?

[2018-01-02 18:54] majapw commented on #930
I am kind of with @erin-doyle on this one. This is similar to what happens on airbnb.com/s/ right now and in that case, we use a single button instead of two inputs and pair that with the `DayPickerRangeController`, esp since this formatting doesn't seem very keyboard editable.

[2018-01-02 18:56] majapw commented on #853
@gouthamr22 can you open a new issue and elaborate on your problem?

Focusing in the calendar is done automatically (there's not outside control available). If you focus back on the calendar assuming it remains open, the last focused day should still be focused. If you close it and reopen it, the start date is focused (I believe).

[2018-01-02 18:59] majapw commented on #934
@asulaiman Hmm, so the `react-with-styles` theme is meant to be done only once on an app-wide basis. My guess is that you're doing it multiple times (rendering `DateRange` more than once) which is blowing up the theme and causing some strange issues.

It looks like you're rendering multiple `DateRangePickers` and you want each one to have a different selected color, yeah? There is a way of doing t

[2018-01-02 19:00] majapw commented on #934
Also as @ljharb mentioned, you should not need
[code]
in your code if you're doing your own customization.

[2018-01-02 19:04] ljharb commented on #747
We should be detecting features, not sniffing user agents - "mobile" isn't a feature, while "touch" is.

[2018-01-02 19:05] ljharb commented on #769
I think this has been addressed; pinning to v15 isn't a long term solution, and the solutions with v16 have been discussed in this thread already.

If anyone is still having problems, please file a new issue :-)

[2018-01-02 19:05] #769 closed

[2018-01-02 19:06] majapw commented on #747
@erin-doyle I think the problem is if we're not using `touch`, we usually end up using user-agent, which is unreliable.

Perhaps we should have a prop to allow the consumer to specify the behavior they want or maybe we should be relying on screen-size instead (that's generally how we select mobile devices at airbnb, although devices like the iPad prop make it a bit difficult).

btw the code for `i

[2018-01-02 19:07] ljharb commented on #926
Fixed in 9780545c35831d793032538243bf560f254bbe60

[2018-01-02 19:07] #926 closed

[2018-01-02 19:08] ljharb commented on #747
I think indeed that providing a way for the user to override this default logic is the simplest way forward.

[2018-01-02 19:20] majapw commented on #747
Okay, I would add a prop named something like `keepFocusOnInput(s)` and then have that short-circuit the focus movement when true. @comron would that work for you?

[2018-01-02 19:21] comron commented on #747
@majapw Probably, I'll put together a PR later today.

[2018-01-02 19:24] gouthamr22 commented on #853
@majapw  i did open a new issue for this. please check, https://github.com/airbnb/react-dates/issues/929

[2018-01-02 20:23] mhluska commented on #904
This tripped me up for a while. As a temporary fix, I'm passing `verticalSpacing={0}` to hide the caret.

[2018-01-02 20:41] mhluska opened #935 "Prevent vertical animation when openDirection="up""
Is there a way to prevent vertical movement when open direction is set to `up`? It causes the next/prev buttons for months to move and can cause the user to accidentally close the picker while cycling through months.

I'm currently using this hack:

[code]

[2018-01-02 20:46] mhluska opened #936 "Warning: This synthetic event is reused for performance reasons"
I get the following warning when navigating with left/right arrow keys on the picker:

[code]

The full stack trace:

[code]

Looks like there's a `stopPropagation` call at `DateInput.js:218`.

[2018-01-02 20:52] erin-doyle commented on #936
I think this should be fixed when we get Pull Request #916 merged.  Either way this is a duplicate of Issue #514 .

[2018-01-02 20:52] #936 closed

[2018-01-02 23:54] majapw commented on #935
@mhluska Are you fine then with the fixed white-space that will exist at the bottom of the picker?

@ljharb I don't know if this counts as a bug. It is intentional behavior (the growing of the height of the DayPicker). I think the question is whether or not we always turn it off in this scenario or just provide an option to turn it off.

[2018-01-02 23:56] ljharb commented on #935
@majapw i ran into this behavior on a different datepicker just today, and it really feels broken. Growing the height is intentional, but moving user controls around out from underneath the user isn't - when the open direction is "down", the height always grows downwards, so this doesn't happen.

I think that the next/previous controls should never move; whatever it takes to achieve that is good.

[2018-01-03 00:08] majapw commented on #904
https://github.com/airbnb/react-dates/pull/925 should fix this!

[2018-01-03 00:11] majapw commented on #924
Whoops! Yeah it would. :)

[2018-01-03 00:20] backwardok opened #937 "[a11y] Tabbing away from date picker results in keyboard trap in Safari, Edge/IE"
For both the [DateRangePicker](http://airbnb.io/react-dates/?selectedKind=DateRangePicker%20%28DRP%29&selectedStory=default&full=0&down=1&left=1&panelRight=0&downPanel=storybook%2Factions%2Factions-panel) and the [SingleDatePicker](http://airbnb.io/react-dates/?selectedKind=SingleDatePicker%20%28SDP%29&selectedStory=default&full=0&down=1&left=1&panelRight=0&downPanel=storybook%2Factions%2Factions-

[2018-01-03 01:24] comron commented on #747
So I started to make the change, branched off master. Seems like the behavior on master is slightly different than what I was seeing with the version in October.

In the storybook for SingleDatePicker, with the default settings, when I force isTouchDevice to true, it does indeed steal focus from the input, but a second click on the input gives the input focus rather than re-stealing it to the cale

[2018-01-03 06:54] dotnetexpert opened #938 "Date Picker Range is not loading complete when its being used inside modal and we close modal via [Esc] key and loads DPR again"
When i close Overlay popover  via escape key with  with DPR opn to select date its  not being load  completedly some CSS issue i guess.

`
<OverlayTrigger placement="bottom"
              rootClose
              trigger="click"
              ref="overlay"
              container={this}
              overlay={
                <Popover id="column-menu-checkbox-list_report" arrowOffsetLeft='96%'>

[2018-01-03 06:56] dotnetexpert commented on #938
Normal
![image](https://user-images.githubusercontent.com/14305756/34511383-2c705314-f081-11e7-8364-dea7f45cd71e.png)
Not Normal  and when i open overlay popover again it shows like this automatically opened half
![image](https://user-images.githubusercontent.com/14305756/34511395-3ae84f8c-f081-11e7-9666-6eb26ca8c785.png)

[2018-01-03 14:52] erin-doyle commented on #747
I think this may have changed with the change I made to the DayPicker's componentDidUpdate focusing behavior in Pull Request #825 .

[2018-01-03 19:59] backwardok commented on #893
Ah sorry for not responding earlier!

In general, I would say that we shouldn't sacrifice accessibility for SEO. However, I do find the content that gets read out, and the general instructions, to be somewhat problematic for accessibility in that the instructions are only valid for a keyboard user who doesn't use a screen reader, but a sighted keyboard user who doesn't use a screen reader would ne

[2018-01-03 20:05] comron commented on #747
@erin-doyle Thanks for the hint, I'll take a look.
However, I'm having trouble reproducing this issue inside the storybook. I rolled back my fork to v12.6.0 which is the version I have in production that exhibits this focus problem.

I hard-coded isTouchDevice to return true to fake the environment I see the bug in, and in the SingleDatePicker default story book, I cant get the focus behavior to b

[2018-01-03 20:19] erin-doyle commented on #747
I have found some of the work I've done around focus to be a little tricky to test in the storybook.  I think that in some browsers the elements outside of the iFrame can take focus priority and I'm sorry I can't quote exactly which ones and which versions and so forth but it has caused me problems.  There have been some changes I've worked on where I've had to do a lot of my testing in my own app

[2018-01-03 20:21] backwardok opened #939 "Visually hidden previous/next months get read by screen readers"
Steps to repro:
1. Open a date picker in Storybook (ex. http://airbnb.io/react-dates/?selectedKind=SingleDatePicker%20%28SDP%29&selectedStory=default&full=0&down=1&left=1&panelRight=0&downPanel=storybook%2Factions%2Factions-panel)
2. Turn on VoiceOver (or your screen reader of choice)
3. Navigate to the date picker input
4. Use arrow navigation (ctrl + opt + arrow in VoiceOver) to move to calendar

[2018-01-03 20:32] comron commented on #747
Thanks for the insight. Yeah I just kept rolling back to older versions just because I kept failing to reproduce in the story book.

[2018-01-03 22:02] majapw commented on #747
@comron I guess the question remains... is this still a bug in the latest version of react-dates? and if not, can we close this issue?

[2018-01-03 22:08] comron commented on #747
@majapw I'll investigate and let you know, thanks for all your help.

[2018-01-03 22:08] majapw commented on #939
@backwardok can you explain why the discrepancy between the focused date and what's read is happening? I'm concerned that even if we apply `visibility: hidden` to the invisible months there will still be a problem in the following scenario:
![screen shot 2018-01-03 at 2 07 40 pm](https://user-images.githubusercontent.com/1383861/34542007-7975994a-f08f-11e7-8861-5f5af806f642.png)

where react-dates

[2018-01-03 22:11] majapw commented on #939
Okay, never mind, that does seem to work. Is it strange that our focus handling and the voiceover focus handling get out of sync?

[2018-01-03 22:14] majapw commented on #747
Feature detection is a tricky issue! And we def want this to work as expected in all scenarios. :) Let us know what you find!

[2018-01-03 22:20] majapw commented on #893
That seems like a different issue that we can work on improving. :) I think as we continue to make improvements, we will get there.

In any case, this issue seems resolved. I'm gonna close it!

[2018-01-03 22:20] #893 closed

[2018-01-03 22:42] backwardok commented on #939
If someone is navigating by traditional keyboard methods (tabbing around), then the focus would be on the "appropriate" date, though you'd still run into the situation where going to hidden dates would be possible. If you're navigating by screen reader browsing methods (going from node to node), then focus would end up on the inappropriate date.

VO "focus" doesn't always match up to browser focus

[2018-01-03 23:14] erin-doyle commented on #939
I'm curious what browser you're using in combination with VoiceOver.  I did run into some issues with the VoiceOver focus not aligning with the browser focus when using in Chrome recently but found that Safari's focus was lining up with VoiceOver just fine.  It's my understanding that the usage numbers of VoiceOver with Chrome is pretty low compared with Safari (and maybe because it is flukey and

[2018-01-03 23:18] backwardok commented on #939
I've been testing with Safari - the only times when focus won't match up is if you're VO focused on something that isn't focusable (like text). Doesn't seem to impact using the calendar in any meaningful way though (aka I didn't notice any issues with focus being somewhere I didn't expect it to be)

[2018-01-03 23:25] erin-doyle commented on #939
Ah ok, I bet I've missed this because I admittedly have not been testing using the VoiceOver commands but mostly tabbing along with the keyboard shortcuts. :woman_facepalming:

[2018-01-04 12:53] epifab commented on #339
min and max is for some cases a must have.. any progress on this?

[2018-01-04 14:41] aporlando commented on #747
I'm am experiencing an issue in the same area. Specifically, I want to be able to close the datepicker on any subsequent interaction with a readonly input on any device.
Right now I don't have sufficient hook to get it working.
I can get it to work on touch screens by checking focus state before `onFocusChange` and the focused value passed in. Here are the scenarios:

**Using a device that is not

[2018-01-04 16:28] ljharb commented on #339
Nobody’s submitted a PR yet.

[2018-01-04 18:53] nikoootine commented on #930
Thanks for the thoughts. I will try just implementing the input myself. Appreciate the feedbacks

[2018-01-05 01:38] marcellarius commented on #709
Adding `focused={true}` seems to fix the other weird behaviours that @lukemcgregor mentioned too.

[2018-01-05 14:34] erin-doyle commented on #339
This is on my team's list of things we'd like to work on at some point but it's pretty low in priority so if someone else needs it faster I'd suggest submitting a PR.  Otherwise I can get it it eventually. :woman_shrugging:

[2018-01-05 14:37] erin-doyle commented on #930
I'm going to go ahead and close this then.  Thanks @nikoootine for the question!

[2018-01-05 14:37] #930 closed

[2018-01-05 16:58] majapw commented on #339
Same here --- it is on the list, but it is not yet a high priority. The fastest way to get to it would be to submit a PR! :)

[2018-01-05 19:11] majapw commented on #709
Hmm, I think probably we should set the default value of focused to true on both DayPickerControllers

[2018-01-07 05:38] greenkeeper[bot] opened #942 "An in-range update of eslint is breaking the build 🚨"
## Version **4.15.0** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2Feslint-4.15.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2018-01-08 06:16] DorjeD commented on #934
@majapw hi how would add id props to the component. sorry I am a total newbie and resolve the issue. any help will be much appreciated. Thank you..!

[2018-01-08 06:22] DorjeD commented on #934
@rodolph66 hi how did you mange to add the id props to the component to resolve the issue? I tried varied different steps without any success to get rid of the "`startDateId` is marked as required in `withStyles(DateRangePicker)`," issue. Thank you so much for any help you can provide. Thank you again.

[2018-01-08 06:51] ljharb commented on #922
Fixed in 91d9b82b4d3ac1d50b3efeff9aae8f37899b7c26

[2018-01-08 06:51] #922 closed

[2018-01-08 06:51] ljharb commented on #919
Fixed in 91d9b82b4d3ac1d50b3efeff9aae8f37899b7c26

[2018-01-08 06:51] #919 closed

[2018-01-08 06:51] ljharb commented on #920
Fixed in 91d9b82b4d3ac1d50b3efeff9aae8f37899b7c26

[2018-01-08 06:51] #920 closed

[2018-01-08 06:51] ljharb commented on #921
Fixed in 91d9b82b4d3ac1d50b3efeff9aae8f37899b7c26

[2018-01-08 06:51] #921 closed

[2018-01-08 06:51] ljharb commented on #918
Fixed in 91d9b82b4d3ac1d50b3efeff9aae8f37899b7c26

[2018-01-08 06:51] #918 closed

[2018-01-08 12:20] greenkeeper[bot] opened #944 "An in-range update of sinon is breaking the build 🚨"
## Version **4.1.4** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2Fsinon-4.1.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sinon
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Vers

[2018-01-08 12:59] greenkeeper[bot] opened #945 "An in-range update of @storybook/addon-info is breaking the build 🚨"
## Version **3.3.6** of [@storybook/addon-info](https://github.com/storybooks/storybook) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2F%40storybook%2Faddon-info-3.3.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @storybook/addon-info

[2018-01-08 16:46] aporlando opened #946 "SingleDatePicker onFocus when readOnly is true"
This is related to the same code in #747 but a separate issue.
In the SingleDatePicker onFocus function, there is logic to determine whether focus should remain on the input when opened (so user can type in date) or move to the datepicker (for portal and touch device.)
When I have a readOnly input, I want to be able to capture subsequent interactions with the input so I can close the date picker.

[2018-01-08 16:47] aporlando commented on #747
I realize that my issue is actually separate since this issue is requesting that input not lose focus on touch devices that have the keyboard enabled. Instead, what I am looking for is the focus to move to the datepicker when the readOnly prop is set to true. I opened #946 for this issue and have a proposed solution.

[2018-01-09 02:38] senseluo opened #947 "SingleDatePicker now showing a weird top margin even withPortal is true"
Here is what it looks like now (Pretty sure it should be fine several weeks ago):

![snip20180109_2](https://user-images.githubusercontent.com/128367/34702262-c23a247e-f527-11e7-8f4a-c1f1d27a061b.png)

I noticed in source file[ src/components/SingleDatePicker.jsx](https://github.com/airbnb/react-dates/blob/master/src/components/SingleDatePicker.jsx)

[code]

I tried to set verticalSpacing to 0, bu

[2018-01-09 12:41] rodolph66 commented on #934
You can use uuid which generates ids, but even simpler just make up your own. It has to be string format. Any combination of characters should work. I tried both and they did work. But using uuid for this is abit too much I guess...!!!

[2018-01-09 14:08] erin-doyle commented on #747
Should we close this then?

[2018-01-09 21:18] comron commented on #747
The “keepFocusOnInputs” is something I’m still working on. It’s still
needed, I just have been caught up with other items and haven’t been able
to push anything up.

On Tue, Jan 9, 2018 at 6:08 AM Erin Doyle <notifications@github.com> wrote:

[2018-01-10 00:00] qk0106 commented on #676
My complaining is changing year input doest not change the calendar is not "react" at all.

[2018-01-10 02:39] seraphimrose commented on #923
@majapw Thank you very much for your response! It works. That's my mistake.

[2018-01-10 02:39] #923 closed

[2018-01-10 08:42] ljharb commented on #942
Fixed in e1949f2b3c8bf5fb25dcec0010d1f39c6e624e1a

[2018-01-10 08:42] #942 closed

[2018-01-10 08:42] ljharb commented on #945
Fixed in 91d9b82b4d3ac1d50b3efeff9aae8f37899b7c26

[2018-01-10 08:42] #945 closed

[2018-01-10 08:42] ljharb commented on #944
Caused by https://www.traviscistatus.com/incidents/lrc4yp46t8wb

[2018-01-10 08:42] #944 closed

[2018-01-10 11:28] revoltaxz opened #948 "the text cursor does not appear in the input when I type"
Hello! I've had problems with the text cursor, when I type it does not appear, I think it's because of a div that is generated over the input.
What can I do about it?

Thanks!

[2018-01-10 18:23] revoltaxz commented on #948
Sorry, after dependency update, is running all right

[2018-01-10 18:23] #948 closed

[2018-01-10 20:36] jeffkreska opened #949 "Vertical orientation does not allow selection of months prior to the current selection"
http://airbnb.io/react-dates/?selectedKind=DateRangePicker%20%28DRP%29&selectedStory=vertical%20with%20custom%20height&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

Using the default storybook, I select start and end date to be 2 months in the future.  Then I click on start or end date and try and pick a date in this month but this month is not displayed or

[2018-01-10 21:01] jeffkreska commented on #949
Nevermind, the buttons were scrolled off the screen.

[2018-01-11 04:16] khsily commented on #233
@corohsnk That is because of "this.props.isDayBlocked" in constructor.
I don't know why but lower versions of ie do not support using this.props in constructor so simply changing "this.props.isDayBlocked" to "props.isDayBlocked" will fix the problem.

[2018-01-11 04:18] khsily commented on #820
@corohsnk That is because of "this.props.isDayBlocked" in constructor.
I don't know why but lower versions of ie do not support using this.props in constructor so simply changing "this.props.isDayBlocked" to "props.isDayBlocked" will fix the problem.

[2018-01-11 07:39] #820 closed

[2018-01-11 07:40] ljharb commented on #820
(#233)

[2018-01-11 13:27] jeffkreska commented on #949
It turns out that the problem does exist when using Vertical Scroll orientation.  When vertical scroll orientation is selected the previous button is never displayed for me.

[2018-01-11 13:51] jeffkreska commented on #949
I tried to run a story to demonstrate the problem with no luck.
`  .addWithInfo('vertical scrollable', () => (
    <DayPickerRangeControllerWrapper
      onOutsideClick={action('DayPickerRangeController::onOutsideClick')}
      onPrevMonthClick={action('DayPickerRangeController::onPrevMonthClick')}
      onNextMonthClick={action('DayPickerRangeController::onNextMonthClick')}
      withPortal

[2018-01-11 16:26] KnockNow commented on #259
@majapw yes it works but only when mounting the component. If my locale is updated after, it doesn't work.
Why not make a local setting ? Where can you be a solution ?

[2018-01-11 17:59] majapw commented on #259
@KnockNow I get the frustration but I don't feel like it is appropriate for `react-dates` to take care of what is essentially a global setting outside of the package. Because moment locale affects everything in your app that might use dates, I think it makes sense for the consumer to set it themselves in the appropriate place.

[2018-01-11 22:56] easwee opened #950 "Warning when datepicker opens"
I'm getting this warning message in console the first time SingleDatePicker opens:

[code]
Version:
[code]
Same behaviour happens with DateRangePicker. Possible bug?

[2018-01-11 23:09] majapw commented on #950
Are you seeing this in the storybook as well? Can you share your call the the SingleDatePicker?

[2018-01-12 08:14] easwee commented on #950
Yes.
[code]
Date value is irrelevant - either null or with date same warning. I can't seem to replicate this on storybook, now that I checked. Kinda lost here :)

[2018-01-12 10:04] davebream opened #951 "DayPickerRangeController doesn't open calendar on months based on initial dates"
Hey there!
There are number of issues (example: https://github.com/airbnb/react-dates/issues/282), that in my opinion might be related to my problem, but since most of them are talking about other components, I've decided to post a new one.

If I use `DayPickerRangeController` with initial dates range that is further than 2 months from today:

1. The calendars still open on today's month and next

[2018-01-12 11:14] amivag opened #952 "Support for half-days?"
Is it possible to support half days? Essentially splitting the days in two halves and allow half day selection, or in multi-day selections, begginning and end is either half-day, or full.

[2018-01-12 16:03] dsanc89 opened #953 "Please provide clearer documentation"
I'm working on using react-dates for a project but I'm having a very difficult time understanding many of the props and their purposes. It would be really great if you were able to provide a complete breakdown of all the props, such as what affect they have and what possible values they could be. Especially if they are functions which you can override -- give us insight into what args are fed to t

[2018-01-12 18:10] majapw commented on #950
And just to follow up once more, what version of react-dates are you on?

@ljharb does that proptype error look a bit weird to you?

[2018-01-12 21:09] easwee commented on #950
@majapw like I wrote - v 16.0.2

[2018-01-12 21:57] ljharb commented on #952
Duplicate of #123

[2018-01-12 21:57] #952 closed

[2018-01-12 21:58] ljharb commented on #950
The error looks strange because it's a composed propType; it's saying that the first child CalendarWeek received is not a Day. I'm not sure what it is, though :-/

[2018-01-12 22:03] majapw commented on #950
I wonder if this is due to the blank days (Ie the ones at the beginning and
end of each month). But it's weird it's not cropping up in storybook.

On Fri, Jan 12, 2018, 1:59 PM Jordan Harband <notifications@github.com>
wrote:

[2018-01-12 23:14] bluestreek18 opened #954 "Close picker on clicking date again."
I have the readOnly={true} prop set and I want to be able to close the datepicker again when I click the same place I opened it from. I have looked through the issues/props and I don't see a way to do this.

Thanks

[2018-01-13 12:15] easwee commented on #950
Ok I solved it by deleting all node modules, and installing all again, and now can't replicate it anymore... Weird I hate this kind of solutions.

Closing.

[2018-01-14 21:24] MartinDawson commented on #798
The ReadME.md should not recommend setting `box-sizing: border-box` for every component. I don't see why you can't just do what @ndhays suggested internally.

[2018-01-14 21:47] ljharb commented on #798
@MartinDawson Why is that obviously bad CSS? [CSS experts](https://www.paulirish.com/2012/box-sizing-border-box-ftw/) don't seem to agree.

[2018-01-15 00:48] chengyin commented on #486
An FYI here Googlebot is based on Chrome v41 and do not fully support new syntax. Since babel loader excludes node modules, the final script will have "syntax errors" when interpreted by Googlebot.

[2018-01-15 01:05] ljharb commented on #486
It’d be helpful to figure out which module that is, since everything published to npm should be CJS es5, or else I’d file it as a bug.

[2018-01-16 03:44] jonathanhotono commented on #25
This feature is definitely needed. This date picker component will be perfect when we're getting this feature! 👍

[2018-01-16 14:12] aporlando commented on #954
This is related to #946

[2018-01-16 19:43] iamandrewluca commented on #331
Any updates?

[2018-01-17 17:41] #939 closed

[2018-01-17 18:15] #805 closed

[2018-01-18 05:37] kkotwal94 opened #959 "Question regarding having many calendars"
I want to just show about 2n (where n is generally 20 - 30) calendars. Obviously doing that is going to cost a lot of rending. But my goal is to just show readonly calendars with higlighting that marks the days 'x' action has occurred.

I have three questions:
1. How would you recommend rendering many calenders.
2. Can you have two different highlighted colors? (i.e. blue and red for one calendar

[2018-01-18 08:41] frontmaker opened #960 "What's wrong with class 'CalendarDay__last_in_range'?"
I wanna change styles the last element of selection range.

I've found `CalendarDay__last_in_range` class, but how can I get it in DayPickerRangeController component.
![selection_005](https://user-images.githubusercontent.com/15380070/35088112-9fa9f5ce-fc43-11e7-9d8c-7535bbf77be1.png)

[2018-01-18 17:10] bluestreek18 commented on #954
This is identical to #946, I think we can close this and move any further discussion there.

[2018-01-18 17:10] #954 closed

[2018-01-19 03:04] imadmk commented on #953
First of all, thanks for this great library.
Maybe one example is this
[SDP - Day Props - with some blocked dates](http://airbnb.io/react-dates/?selectedKind=SDP%20-%20Day%20Props&selectedStory=with%20some%20blocked%20dates&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel)

The story source contains only `<SingleDatePickerWrapper isDayBlocked={anonymous()} auto

[2018-01-19 11:55] caub commented on #953
This is what I get following the instructions in README: https://codesandbox.io/s/nln9n86np

not working, yes, it clearly need some clarifications, I would update README with a simple example when I get it working

[2018-01-19 15:02] davidvenin opened #963 "DateRangePicker - Picker disappearing from the dom"
Hi,

I'm using DateRangePicker and according to the doc, I'm unable to find a way to avoid the calendar to disappear when inputs are not focused.
I tried to work with the onClose fn but not working.

I saw that the Calendar is removed from the dom, I don't want that...

Any idea or some props I didn't see ?

[Edit] For now, I forced the props/state `isDateRangePickerInputFocused` to `true` in the

[2018-01-19 17:29] jfama commented on #951
We've run into a similar issue with SingleDatePicker. Without the `focused` props, the starting month will not take the `initialVisibleMonth` prop into consideration and instead show the current month.

[2018-01-19 17:38] jfama commented on #282
Bumping as this issue is still present as per @davebream's post #951
The initially shown month does not respect the `initialVisibleMonth` prop unless `focusedInput` is not null for DateRangePicker, or unless `focused` is not null for SingleDatePicker.

[2018-01-20 09:23] rodolph66 commented on #930
I know this is closed, but I have one simple query and relates to this post...
The DateRangePicker displays the initial startDate and endDate in the format MM/DD/YYYY, however, were I come from the standard recognized date format is DD/MM/YYYY, which is just a matter of exchanging the month and day location. is there a why to do that?
The locale on my device is set to such format, but using moment

[2018-01-20 14:27] KnockNow commented on #259
@majapw Sorry, I do not understand your logic. If this is the overall setting of the project, why not connect it to your lib? I clone your repo and I try, it works. For a calendar that is called "internationalizable"...

[2018-01-21 13:53] AmalJossy opened #965 "Input element overflows DateInput Div"
![dates](https://user-images.githubusercontent.com/19892510/35194824-aa05adda-fedf-11e7-94fb-ce9c04f23292.PNG)
The input element within the DateInput div element overflows the parent if the `box-sizing:borderbox;`
is not set to it. In the storybook, all elements inherits `box-sizing:borderbox;` in _storybook.scss which may not be provided in all projects explicitly

[2018-01-21 14:15] iSaadSalman opened #966 "Cant select more then a month in DateRangePicker"
My element is like this:
`           <DateRangePicker
                                      startDateId="start-date-cell"
                                      endDateId="end-date-cell"
                                      startDate={this.state.startDate}
                                      endDate={this.state.endDate}
                                      focusedInput={this.state.focusedInput}

[2018-01-22 13:49] gitowiec commented on #758
How's clarification going? I really have hard time to run react-dates with CSSInterface. All I got is
![image](https://user-images.githubusercontent.com/1553195/35223836-1eb46a06-ff83-11e7-8672-0653c951adf6.png)
Here is my setup:
[code]

[2018-01-22 17:33] majapw commented on #965
Hi @AmalJossy, there's a note on this in the README in the initialize section - https://github.com/airbnb/react-dates#initialize

Specifically, we state that:
[code]

We had a lot of discussion about this but it seemed like a better strategy to expect border-box styling above the datepicker level rather than to add it to every single component in the react-dates library. :/

If you have feedback o

[2018-01-22 17:33] #965 closed

[2018-01-23 03:40] dananw opened #968 "Question : blocked day with moment date range"
Hi,

[2018-01-23 07:26] hrmshandy opened #969 "Is this support for react native ?"
Is this support for react native ? because I got this error
![screen shot 2018-01-23 at 14 24 42](https://user-images.githubusercontent.com/8230690/35262898-2e6ea472-0049-11e8-964f-3f5a126b22db.png)

and can you provide me some guide to implement on react native ?

Thanks.

[2018-01-23 08:13] lavokad opened #970 "Question: horizontal 3x4 calendar view"
Hi is there a good way (through props or basic css change) to ouput 12 months calendar in wrapped div, showing 4 rows each containing 3 months, for example?

[2018-01-23 09:23] danan23 opened #971 "Question: How to disable date"
hi, i want to disable selection like airbnb

this my date
![image](https://user-images.githubusercontent.com/12218408/35267573-53a018ba-0059-11e8-8bd5-4976d9df1e9a.png)

and i want to
![image](https://user-images.githubusercontent.com/12218408/35267601-69b89032-0059-11e8-885d-55cc22ff1cef.png)

![image](https://user-images.githubusercontent.com/12218408/35267631-855010f4-0059-11e8-900a-7ddd9003b3a

[2018-01-23 10:27] lavokad commented on #971
Use `isOutsideRange` props and pass it the function, `let f = (day) => {// if has to be disabled return true, otherwise false}`

[2018-01-23 10:30] lavokad commented on #969
This is a `js` lib, it has to work without any issues in react native. Post some of your code, that throws that error.

[2018-01-23 16:18] ljharb commented on #969
No, this is a React web component.

[2018-01-23 16:18] #969 closed

[2018-01-23 16:47] rubbal90 commented on #486
I was not able to fix this. I ended up using a different date picker.

[2018-01-23 19:43] patriciolopezgonzalez opened #973 "Visual glitch"
Hi, I have a visual glitch on my DateRangePicker and don't understand whats wrong...
I'm using Semantic for styling, here my simple code:

import '../node_modules/react-dates/lib/css/_datepicker.css';
import '../node_modules/react-dates/initialize'
import '../node_modules/semantic-ui-css/semantic.min.css';
import React from 'react'
import ReactDOM from 'react-dom'
import {Segment} from 'semantic-u

[2018-01-24 01:44] majapw commented on #973
Hi @patriciolopezgonzalez! My guess would be that the semantic css package has some global table styles! Can you verify if the datepicker looks correct after removing semantic css?

If that's the problem, then we should dig into what those styles are and explicitly override them in react-dates!

[2018-01-24 02:13] austenpayan commented on #782
+1 for this. Tried overriding the .CalendarMonth padding values, but it seems to cause jank when switching months. Anyone have an idea how to do this smoothly?

[2018-01-24 02:18] majapw commented on #971
I will post some more detailed code later today on how to make this happen
in later versions of react-dates. :)

On Tue, Jan 23, 2018, 2:27 AM lavokad <notifications@github.com> wrote:

[2018-01-24 09:19] gitowiec commented on #758
@majapw thank You for fast reply, You are right, I had missing loader in webpack.config of storybook.
But I have another problem with styling. I would like to use CSSInterface with this approach
[code]
But all I got on a screen is
![image](https://user-images.githubusercontent.com/1553195/35323976-a026e8bc-00ef-11e8-9203-c3b15f66d975.png)

Here is my whole SingleDatePicker Wrapper (using TypeScrip

[2018-01-24 12:39] lakhansamani commented on #416
Adding `overflow: visible` to modal css, solved the issue!

[2018-01-24 13:25] iliran11 commented on #782
Try to pass in daySize prop the following expression:
`daysize={window.innerWidth/7}`

[2018-01-24 15:36] patriciolopezgonzalez commented on #973
Hi @majapw ! Thank you for your response! I'm afraid that removing semantic from the project doesn't solves my problem :(

[2018-01-24 16:44] ljharb commented on #486
@rubbal90 if you were able to provide the webpack bundle output that breaks, we could try to debug it from there.

[2018-01-24 22:11] majapw opened #974 "blocked modifiers not always getting cleared"
I have a situation where the blocked modifiers is left behind even when the distinctions between types of blocking are removed:
![screen shot 2018-01-24 at 2 11 02 pm](https://user-images.githubusercontent.com/1383861/35359820-6d76cfba-0110-11e8-9d60-55e4dcae7cca.png)

[2018-01-25 07:25] rohitsaraswat commented on #488
Is there any update regarding this issue?

[2018-01-25 07:30] rohitsaraswat opened #975 "Calendar is set to Jalali but the display is not correct"
Hi,
After setting locale to 'fa'. Calendar UI is not correct. It is showing starting day as 11 but it should ideally be from 1.
![4b2454b4-3136-11e7-8786-17017ec6f7b8](https://user-images.githubusercontent.com/11419045/35376075-88627666-01cf-11e8-881a-15b3a362e21c.jpg)

[2018-01-25 10:13] 116050423 commented on #532
@meimei777 onClose() can get one parameter which is a object
{
  startDate: moment{}
  endDate: moment{}
}
you can get it here.

[2018-01-25 17:33] sag1v opened #976 "css transitions none, prevents showing next months"
Hi, I've encountered a nasty bug with one of our apps which uses `react-dates`.
tl;dr:
If you will disable CSS `transitions` i.e:
[code]

This will prevent the months from being populated, you will get stuck showing only the first couple of months that are initially rendered (4 months overall i think).

The reason for this is that [`updateStateAfterMonthTransition` ](https://github.com/airbnb/reac

[2018-01-25 17:49] majapw commented on #976
Hi @sag1v, if you pass in `transitionDuration={0}` into the datepicker, it should shortcircuit that logic and fix the issue.

Um, as for

The whole modular react thing we follow is an encapsulation of behavior and an attempt to prevent side-effecty behavior. Global CSS rules are tricky in this way because it's not ... all that surprising that they have unexpected consequences. There's no way for t

[2018-01-25 19:29] ggregoire opened #978 "minimumNights is not handled when changing startDate"
**How to reproduce**

Set the default dates as `startDate = 22` and `endDate = 25` of January.

Set `minimumNights = 0`.

Change the end date to `22`, it works.

Refresh / reset the default values.

Now change the start date to `25`, it doesn't work: `endDate` equals `null`.

**How to fix it**

It happens [here](https://github.com/airbnb/react-dates/blob/2db60a8f4301fa361d2a5a51b787153bbe27fcd9/sr

[2018-01-26 07:25] sag1v commented on #976
@majapw Thanks, but if you mean adding the `transitionDuration={0}` to the `DateRangePicker`, i'm afraid it's not fixing the issue (you can try it on the snippet i posted above).

As for your explanation on

I fully agree with your statement, though i still think that some `JavaScript` logic of the component like displaying the next month when clicked on the next button should't depend on `CSS` ru

[2018-01-26 08:32] welljs commented on #750
16.2.1 still not working in production

[code]

[2018-01-26 10:49] raphaelbeckmann commented on #947
Same here! Super annoying bug.
I'm wondering if Airbnb is testing their code before commiting?

[2018-01-26 19:17] lencioni commented on #874
@jeznag I think you would need to add something like this to your webpack's resolve.alias configuration:

[code]

More info: https://webpack.js.org/configuration/resolve/#resolve-alias

[2018-01-26 19:30] majapw commented on #947
I think it's not terribly productive to snarkily accuse us of not testing our code. We work fairly hard at maintaining this repo and bugs like this can always slip through the cracks.

I am also somewhat confused because the portal examples in the storybook don't seem to have the same problem as your screenshot @senseluo . Can you share what props you're passing into the SDP and any other styles y

[2018-01-26 23:26] Mateus-Brito opened #982 "calendar startDate does not change"
Hello! I would like to set the starting date for a certain period, but after setting it is not possible to change.
I define as a moment object:
[code]

but the calendar looks like this:
![untitled](https://user-images.githubusercontent.com/13570164/35464615-cb1ca346-02c4-11e8-8b9d-dd2fbcebbde5.png)

I can not change the date! (using the interface)

[code]
I'd like to start with a date and be able

[2018-01-27 02:40] diegowifi opened #983 "Can I have two SDP(Single Date Pickers) in the same component?"
I want to use an individual date picker for the **start date** and the second for an **end date**

This is my code, as you can see I'm using the same code as in the docs, I think the issue is with the state because they have the same twice.

[code]

[2018-01-27 06:15] ljharb commented on #983
Are you storing both `date`s and `focused`s in your outer component's state under the same name?

[2018-01-27 06:43] diegowifi commented on #983
Yes @ljharb , here is the full code of my component, I just got started working with React so maybe the issue is quite obvious but I can´t see it. Both datepickers are not working at this point.

[code]

[2018-01-27 07:07] diegowifi commented on #983
Like this the first SDP works but the second doesn´t.

Is this what you meant by changing the state?

[code]

[2018-01-27 07:28] ljharb commented on #983
`onFocusChange={({ focused }) => this.setState({ focused })}` is setting a state called "focused" twice, and `onDateChange={date => this.setState({ date })}` is setting a state called "date" twice. At least one of those pairs needs to be renamed.

[2018-01-27 20:38] gate3 opened #985 "Can't pick past dates"
Hi, wonderful library. Fits in nicely with my design. But i can't seem to be able to select past dates. How can i include this.

[2018-01-27 20:50] gety9 opened #986 "Can i achieve vertical scroll with this lib?"
Guys hi,

As the title says i am wondering if i can achieve vertical scroll with this lib

Something like [this](https://puu.sh/zaV6H/34b520258c.png).

[2018-01-27 20:58] ljharb commented on #986
Are you looking for the "orientation" prop?

[2018-01-27 21:11] gety9 commented on #986
Sorry, missed it.

SingleDatePicker (SDP)  with "vertical with custom height" looks pretty close what i need, not exactly, but close enough.

Can i export just the SingleDatePicker?
And this library has no dependencies, so i can include it in our project without react/etc, right?

[2018-01-27 21:45] ljharb commented on #986
It has a peer dep on React; none of these React components will work without react.

You can indeed import just the SingleDatePicker, either from the main module, or directly from the path.

[2018-01-27 21:46] gety9 commented on #986
I see,

this comment made me confused > https://github.com/airbnb/react-dates/issues/969#issuecomment-359747882

anyway thank you for fast replies!

[2018-01-28 02:45] majapw commented on #985
Hi @gate3!

If you pass in `isOutsideRange={() => false}`, that should open it up to all dates, both past and future. :)

Thanks!

[2018-01-28 02:45] #985 closed

[2018-01-29 08:46] ajay2507 commented on #21
@majapw  Is this issue still open??.

[2018-01-29 09:20] elenaHristova commented on #79
Hi @VikasPrasad23 ,
Did you find a fix for this using 12.6.0 or did you have to update the version?

[2018-01-29 11:02] mariepw commented on #840
Hi,
Any updates on this?
@varun1101 did you work on something? Or you want me to do the PR?
Thanks.

[2018-01-29 16:21] dallonf opened #987 "DateRangePicker: Can't type in inputs if startDate/endDate not referentially equal"
If `startDate` or `endDate` are created in `render` instead of persisted directly as `Moment`s in state, the `DateRangePicker` will not respond to keyboard input in the field.

Here's a contrived repro:
[code]

For a more realistic scenario, consider integrating `DateRangePicker` into a hierarchy where the date range state lives higher in the tree and is stored as a `Date` or string instead of a `

[2018-01-29 19:23] majapw commented on #978
Ah yeah that def makes sense! Happy to accept a PR. :)

[2018-01-30 08:48] sauldeleon commented on #935
found the same "issue" here. users open issues to some apps we are developing because of this. As the design doesnt' allow to open the Date Range Picker downwards, it must be opened upwards, and moving from different months make the height to change, moving the next-previous arrows. By the way, I am using the same approach than @mhluska (thanks for that!)

Maybe some boolean to avoid the recalcula

[2018-01-30 10:43] varun1101 commented on #840
Hi,
I did not get any time in particular to work on this. You can go ahead with it @mariepw . Thanks

[2018-01-30 17:47] iamvanja opened #991 "Hide months outside range"
First of all, thanks for the awesome component!
I would like to allow calendar input from 2017-01-01 until today.

I am able to accomplish this using `isOutsideRange` method.
[code]

This however still displays all months (before 2017 and after today), regardless of the fact that every day in those months is disabled.

Is there a way to not display those months?

Thanks

[2018-01-30 17:52] majapw commented on #991
I think this is a duplicate of https://github.com/airbnb/react-dates/issues/339. I'm gonna close in favor of that.

We've unfortunately not had the bandwidth yet to take a look at this, but would be happy to accept a PR either to disable or hide month navigation outside of a certain range. :)

[2018-01-30 17:52] #991 closed

[2018-01-30 19:27] robvree commented on #950
I continue to see this warning. Clearning node_modules did not help.

react-dates v16.2.1
react v15.6.2

`Warning: Failed prop type: CalendarWeek: invalid value TypeError: CalendarWeek: invalid value supplied to 0.,TypeError: `CalendarWeek` only accepts children of type withStyles(CalendarDay),TypeError: `CalendarWeek` only accepts children of type withStyles(CustomizableCalendarDay) supplied to r

[2018-01-30 22:10] jorgecuesta commented on #874
Hi @lencioni I do what you suggest about alias and get same result about big size on bundle on `react-moment-proptypes`. I try using both lib and esm for `import DayPickerSingleDateController from 'react-dates/lib/components/DayPickerSingleDateController';` and get same size result.
Something else I can try to reduce the biggest size?

[2018-01-31 00:01] nc1127 commented on #240
another workaround would be putting a key in your component
` <DayPickerRangeController
            key={this.state.startDate? this.state.startDate.format('DDMM'):''}
......
/>`

[2018-01-31 07:17] dibrovadev commented on #782
+1
I inspect source code and didn't find any chance to change this values without problems with transition

[2018-01-31 08:33] jbfm commented on #874
@jorgecuesta I've worked around your exact issue. The problem is `react-moment-proptypes` depends on an old version of moment, so in your bundle you'll get both the peer dependecy from `react-dates`, which you've installed, and the old version from `react-moment-proptypes`, giving you an insane bundle size.

I solved this by simply aliasing moment in my webpack config to the later version. This co

[2018-01-31 10:01] AhmedAbdulrahman opened #992 "Theme causes TypeError 'DateRangePicker' of undefined"
I'm trying to apply a custom theme:
[code]
It's causes an error:
1- `TypeError: Cannot read property 'DateRangePicker' of undefined`
2- `Warning: Failed prop type: The prop styles is marked as required in DateRangePicker, but its value is undefined`

In the Readme file also mention this:
`Note that you must register an interface if you manually register a theme`, But there is no explanation how ca

[2018-01-31 10:34] AhmedAbdulrahman commented on #934
Hi,
I am having the same issue, @ljharb you mentioned up about https://github.com/airbnb/react-dates/blob/master/src/utils/registerInterfaceWithDefaultTheme.js#L6

where should we add this ?

[2018-01-31 16:58] ljharb commented on #992
The explanation you're looking for is [here](https://github.com/airbnb/react-dates#initialize)

[2018-01-31 18:30] majapw commented on #992
@AhmedAbdulrahman feedback def welcome!

You seem to be both using the initialize script and registering your own theme which doesn't quite work. If you remove the initialize script/css and change the order of operations to be:
[code]
Does that work?

[2018-01-31 21:18] majapw commented on #934
@AhmedAbdulrahman you should call that method before your first react-dates component import. :) You will also need to register an interface before your first import.

The initialize helper does both of these things for you.

[2018-01-31 23:32] majapw commented on #874
Hmm, `react-moment-proptypes` has moment as both a peer dep and a direct dep (and it's acceptable range is open, it's like `>=1.6.0`) so whatever you provide should satisfy both `react-dates` and `react-moment-proptypes`'s requirements. I wonder if there's something weird in the deduping process. @ljharb

[2018-01-31 23:55] majapw commented on #782
I think that we need to have innerPadding be determined by a prop passed into the component (or maybe by a theme variable). I think we will need this eventually as well internally.

[2018-02-01 00:56] ljharb commented on #874
I'd try running `npm dedupe` and see if that resolves your issues.

[2018-02-01 01:54] sontek commented on #25
Anyone find a good alternative that has this feature?

[2018-02-01 02:32] kylorhall commented on #25
I actually just built it out using `react-dates` with one **major** caveat being it flashes (closes then opens) every time you change the Month / Year as you cannot change the calendar date by more than 1 month at a time.  Changing `initialVisibleMonth` or a way to change multiple months (years) at a time is the only bit that needs built out, see #376.  Hacking around that is about 50% of my code

[2018-02-01 03:11] majapw commented on #973
Hi @patriciolopezgonzalez, sorry for the delay in follow-up. Can you inspect the td elements, tr elements, and the table and share what styles are being applied in all those cases?

Can you also share what browser you are using?

Is this only in your app or do you see the same bug in storybook?

[2018-02-01 08:56] jbfm commented on #874
Alright, @ljharb @majapw, I checked out an old commit and dug into what caused my issue a bit more. At the time I had this issue I had moment installed as `~2.18.0` due to some other dependency, this seems to cause an issue with Yarn since `react-dates` now had an unmet peer dependency, and in turn making it think `react-moment-proptypes` had an unmet depenecy as well, not really sure why it goes

[2018-02-01 10:00] burtyish commented on #616
I've run into the need to snap the calendar in the DRP to a certain date range, as described in #931 and #929. Seems to me that both these issues require solving it first for the SDP, as described here by OP.
@majapw, you mentioned above that the solution would require an animation for navigating more than a single month at a time.
So I thought I'd suggest the animation used by the folks at Google

[2018-02-01 10:14] AhmedAbdulrahman commented on #992
Thanks a lot for reply, I tired both way did't work and this time I get this error
`TypeError: Cannot read property 'create' of undefined`

[2018-02-01 11:02] kristyanne opened #993 "minimumNights when end date is selected first"
Hi, Really loving this lib so far, it's working really well and I've found it pretty easy to get up and running with :)

So I'm having a problem with the minimumNights property. It could be a bug or it could be that I'm misunderstanding how it works. I have a date range picker where I need to prevent the user from selecting less than 3 nights. So I currently have the minimumNights prop set to 3. W

[2018-02-01 11:34] jnatherley commented on #992
@AhmedAbdulrahman It could be because you're importing the `DateRangePicker` before using the and registering the theme. I had a similar issue just now.

[2018-02-01 20:20] rokborf commented on #937
FYI

This bug is caused by different browsers approaches to managing blur DOM method:

* Edge, Safari and IE after blur() reset tab order to start
* Chrome and Firefox - keep tab order, just unfocus an element

Demo: https://jsfiddle.net/Lebcjfeb/

Here blur method is used: https://github.com/airbnb/react-dates/blob/7dfe618bb5a6b6947799686114a00e70fe42a779/src/components/DateInput.jsx#L114

[2018-02-01 20:50] jorgecuesta commented on #874
Thanks guys @majapw @ljharb and @jbfm to take time to see this.
I have this dependencies: `"react-dates": "16.2.1"`
and finding moment get this result:
[code]
I use Yarn all the time, maybe I need install same `moment` version that used by `moment-prop-types`

I will try using `npm` instead and check updating version. I will let you know if something of that reduce bundle size in relation to `reac

[2018-02-02 04:59] ljharb commented on #993
I would expect either that; or, I'd expect that selecting the 8th and the 9th (the 7th would be 3 nights prior to the 10th) would unselect the end date, since the 10th would now be invalid (based on a start date of the 8th or 9th).

[2018-02-02 07:09] diegowifi commented on #983
Thanks for all the feedback @ljharb, so now both SDPs work but the second one is always showing up because I set the state to `focusedTwo: true`. I need to handle the focus right.

I think I'm not passing something right because `onFocusChange` needs a `PropTypes.func.isRequired` and I don't know what's that.

[code]

[2018-02-02 07:14] ljharb commented on #983
Your first example consistently uses pairs of "focused" and "date".

Your second example uses a pair of "dateTwo", but then uses "focusedTwo" and "focus".

[2018-02-02 09:07] kristyanne commented on #993
@ljharb Ahh good idea, yeah I guess that would work too. So for your solution, I guess this is logic I can do myself on datesChanged(), but, ideally those invalid days (8th, 9th) would just be un-selectable, seems a bit more user friendly. Is this possible do you think?

[2018-02-02 09:08] ljharb commented on #993
Either seems appropriate; neither seems like a bug to me.

[2018-02-02 10:45] kristyanne commented on #993
@ljharb So for the minNights functionality/validation to work, it relies on the user selecting the start date then the end date, it will not work if the end date is selected first. If that's expected then that's fine but just wanted to check before I added the logic for this into my component. Wanted to make sure I hadn't missed something glaringly obvious!

[2018-02-03 05:57] greenkeeper[bot] opened #997 "An in-range update of eslint is breaking the build 🚨"
## Version **4.17.0** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2Feslint-4.17.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2018-02-03 06:24] greenkeeper[bot] opened #998 "An in-range update of @storybook/addon-actions is breaking the build 🚨"
## Version **3.3.12** of [@storybook/addon-actions](https://github.com/storybooks/storybook) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2F%40storybook%2Faddon-actions-3.3.12">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @storybook/addon-a

[2018-02-03 06:25] greenkeeper[bot] opened #999 "An in-range update of @storybook/addon-options is breaking the build 🚨"
## Version **3.3.12** of [@storybook/addon-options](https://github.com/storybooks/storybook) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2F%40storybook%2Faddon-options-3.3.12">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @storybook/addon-o

[2018-02-03 06:26] greenkeeper[bot] opened #1000 "An in-range update of @storybook/addon-info is breaking the build 🚨"
## Version **3.3.12** of [@storybook/addon-info](https://github.com/storybooks/storybook) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2F%40storybook%2Faddon-info-3.3.12">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @storybook/addon-info

[2018-02-03 06:31] greenkeeper[bot] opened #1001 "An in-range update of @storybook/addon-links is breaking the build 🚨"
## Version **3.3.12** of [@storybook/addon-links](https://github.com/storybooks/storybook) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2F%40storybook%2Faddon-links-3.3.12">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @storybook/addon-links

[2018-02-03 06:37] greenkeeper[bot] opened #1002 "An in-range update of @storybook/react is breaking the build 🚨"
## Version **3.3.12** of [@storybook/react](https://github.com/storybooks/storybook) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2F%40storybook%2Freact-3.3.12">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @storybook/react
    </td>
  </tr>

[2018-02-04 02:11] greenkeeper[bot] opened #1003 "An in-range update of lodash is breaking the build 🚨"
## Version **4.17.5** of [lodash](https://github.com/lodash/lodash) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/airbnb/react-dates/compare/greenkeeper%2Flodash-4.17.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      lodash
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2018-02-04 17:25] Wlad-Hawaii opened #1005 "local french"

[2018-02-04 17:26] #1005 closed

[2018-02-04 23:46] jeznag commented on #874
I set up the esm alias and don't see a difference in my bundle size.

[2018-02-06 05:39] roelvan commented on #950
I am getting the same error after updating my Next.js project to v5. Also tried removing node modules and reinstalling everything.

[2018-02-06 14:54] #963 closed

[2018-02-06 16:14] mattRoyten opened #1006 "DayPickerSingleDateController - Focus on First Selectable Day"
I am using the DayPickerSingleDateController and need to focus on the first selectable day. Is there any simple way to do this?

[2018-02-06 17:48] majapw commented on #1006
Can you clarify what you mean by focus? Do you mean selection of that date (pass into the date prop) or do you mean browser focus?

[2018-02-06 17:51] majapw commented on #963
@davidvenin Removing the picker from the DOM is intentional behavior (for performance reasons). If you want the picker to always be open, you could have your `onFocusChange` method look like:
[code]

Maybe if you gave more context on your usecase, it might make sense to make it a feature. :)

[2018-02-06 19:26] mattRoyten commented on #1006
I would like to set the browser's focus to first selectable date upon rendering this component.

[2018-02-06 19:30] stahlmanDesign commented on #725
In this example will highlight today ( `moment()` = now ):
`isDayHighlighted={ day => day.isSame( moment(), 'd' ) }`

[2018-02-06 21:55] backwardok opened #1009 "Keyboard keystroke to enter date picker is not discoverable"
For a keyboard user who doesn't use a screen reader, it's not clear how to access the calendar of the date picker. Even if you figure out how to open the keyboard shortcut menu, it doesn't explain how to get into the calendar.

For a screen reader user, there are instructions to use the down arrow key to access the calendar. However, there are a few problems with this. When using a screen reader,

[2018-02-06 22:07] backwardok opened #1010 "Clicking the calendar icon button should move focus to the calendar"
When you click on the [calendar button](http://airbnb.io/react-dates/?selectedKind=DRP%20-%20Input%20Props&selectedStory=with%20show%20calendar%20icon&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel), focus remains on that button. The label for the button indicates that clicking on it will allow you to interact with the calendar.

Recommend  setting [`aria-has

[2018-02-07 08:59] asveloper opened #1011 "Failed prop type: The prop `styles` is marked as required in `DayPicker`, but its value is `undefined`"
I am getting this error for DayPickerSingleDateController

React: 16.2.0
React Dates: 16.2.1

[2018-02-07 11:02] imprashast commented on #947
Same here. Fixed it temporarily with a custom css:

`
.SingleDatePicker_picker__fullScreenPortal {
    background-color: #fff;
    top: 0px !important;
    z-index: 999;
  }
`

Hope it helps 😄

[2018-02-08 15:44] ebl22 commented on #934
Hi, I've added "startDateId" and "endDateId" props and still get an error says I should supply those required props. Attached my code and the warnings

` <DateRangePicker {...options}
                           hideKeyboardShortcutsPanel
                           minimumNights={0}
                           startDate="null"
                           startDateId="startDateId"

[2018-02-08 18:43] majapw commented on #934
That is... very surprising. Is this the only DRP you're rendering @ebl22? What version of react-dates are you on?

[2018-02-08 19:54] mattRoyten commented on #1006
So, we are using the DayPickerSingleDateController alongside with our own text input, upon click of a calendar icon this calendar renders. For a11y requirements, I need to add some functionality to dictate where to set the browser’s focus. I intend on setting the focus upon the 1st available date or the date that is passed as a prop to it.

I see a few props that seem to aid in this but haven’t fo

[2018-02-08 21:49] jbandi opened #1013 "Cursor jumps to the end of the input filed when typing or deleting a character"
This can easily be reproduced in the live playground:

i.e. in DateRangePicker - default:
- select a date for the start-date and the end-date with the mouse
- now set the cursor on the day or month of start- or end-date
- type one character or backspace

Observed behavior:
The cursor jumps to the end of the date field. This is very annoying if you want to set the date with the keyboard.

Desired b

[2018-02-09 04:29] pranavpinarayi opened #1014 "Two single month calendar overlaps"
Whentwo single month date picker is used in a form then they overlap in a certain scenario.

**_Steps to reproduce:_**
- Open first date picker
- Use arrow keys and move over the dates
- without choosing a date press tab key

![image](https://user-images.githubusercontent.com/17287050/36011712-3aab15a2-0d7f-11e8-8212-39757de53de1.png)

[2018-02-09 05:59] ljharb commented on #1011
Are you using the "initialize" entry point, as mentioned in the docs?

[2018-02-09 06:51] asveloper commented on #1011
@ljharb yes we are initializing it, even after that getting this error

[2018-02-09 07:09] ljharb commented on #1011
Can you provide the code you're using to render the DayPickerSingleDateController?

[2018-02-09 07:10] asveloper commented on #1011
<DayPickerSingleDateController
              date={dueDateLabel || moment()}
              onDateChange={date => this.changeDate(date)} // PropTypes.func.isRequired
              withPortal={false}
              numberOfMonths={1}
            />

[2018-02-09 07:14] ljharb commented on #1011
Can you share the entire file?

[2018-02-09 07:18] asveloper commented on #1011
import 'react-dates/initialize';
import React, { Component } from 'react';
import autoBind from 'react-autobind';
import Random from '@mobylogix/node-random';
import {_} from 'underscore';
import { PulseLoader } from 'react-spinners';
import moment from 'moment';
import { DateRangePicker, SingleDatePicker, DayPickerSingleDateController } from 'react-dates';
import { RIEInput, RIETextArea } from 'r

[2018-02-09 13:57] shubhamkes commented on #548
Am facing similar issue in v16.2.1 . Is there any way to recompute isOutSideRange only on focus change?

[2018-02-09 17:33] majapw commented on #1013
I think this is due to the date being "committed", e.g. when you type a valid date, it goes back and updates the date value that then gets passed down the tree whereas the dateString that you're currently typing gets cleared... maybe we should wait to do this behavior on blur? Or do some sort of check between dateString and date object.

Hmm, this is definitely a bug. I think probably we just don'

[2018-02-10 12:20] muhozi opened #1016 "SingleDatePicker is not working in bootstrap-modal"
`<SingleDatePicker/>` Component is not working in bootstrap-modal (_[reactstrap](reactstrap.github.io)_) even you adjust z-index

[2018-02-10 18:28] ebl22 commented on #934
@majapw I'm using "react-dates": "^16.2.1". The warnings disappear when I remove the props: startDate, endDate. I pass those props in the options, so maybe I got those warnings cause I passed it twice..

[2018-02-12 08:31] pokonski opened #1017 "[12.5 -> 16.2] Custom modifiers now ignored"
Hey guys!

I am in the process of migrating the old 12.5.1 version into 16.2.0 and I noticed that modifiers are now hardcoded here inside CalendarDay component: https://github.com/airbnb/react-dates/blob/9c01aba9a2601f6a38c2910ec94c6194a07ff467/src/components/CalendarDay.jsx#L131-L142

Is it a regression or an intentional change? I had a custom object with my own additional modifiers which are now

[2018-02-12 21:08] Kizmar opened #1019 "Out of the box usage is confusing"
_Using version 16.2.1 with React 16.2.0_

So I have a working React app using Semantic-UI, but I need a date picker. After reading through the implementation documentation, I'm unable to get this working.

I started with the following in my `app.tsx`:
[code]
...and the following in the component I wanted to test this in:
[code]
This resulted in the following error:

Next I moved the `import 'react

[2018-02-12 22:01] majapw commented on #1019
@Kizmar Thanks for posting your issue! So the `initialize` script should take care of both theme registration and interface registration so likely that won't solve the issue.

You mentioned:

If the two textboxes are styled, then that's a good place to start from. I *think* that the issue is you `onFocusChange` method. Right now, it is:
[code]

However, because you're not calling `this.setState` t

[2018-02-13 04:47] ljharb commented on #1017
v12 to v16 is 4 sets of breaking changes; it’s not a regression.

[2018-02-13 04:51] pokonski commented on #1017
@ljharb yeah I realize that, I was asking because I wanted to know if you are open to a PR which will restore custom modifiers.

[2018-02-13 04:53] majapw commented on #1017
hi @pokonski! Can you give us some context on what kind of custom modifiers you were using? That might give us a bit more information to make a call. :)

[2018-02-13 04:57] pokonski commented on #1017
Hey @majapw, absolutely. One of the things we use them for is coloring various days depending on how _busy_ they are.

We use the always visible date picker next to a calendar so users can know which days have anything in them, for example `green` background means that there are time slots available to schedule an event. `Red` means it's a fully booked day, etc.

Right now I managed to "recycle" s

[2018-02-13 14:02] silvenon commented on #992
Yeah, `import` order isn't guaranteed, which might be a problem in this case. My webpack workaround for all problems like this is to add required modules to `entry`, for example:

[code]

Apart from guaranteed order, another reason why this is a good place for these is because importing them every time you need `react-dates` is repetitive. By placing them here you satisfy this requirement in one p

[2018-02-13 17:01] ljharb commented on #992
Import ordering is definitely guaranteed within a specific module graph.

[2018-02-13 17:08] silvenon commented on #992
I was referring to the initial code example, AFAIK `react-dates/initialize` isn't guaranteed to be imported before `react-dates` just because it's specified that way.

[2018-02-13 17:36] YvanGuidoin commented on #976
Problem maybe linked but same solution transitionDuration={0} correct the problem:

It happens only AFTER the month change on re rendering, the `CalendarDay.render()` is called again with wrong props, but if `transitionDuration={0}` it never happens,

In case in changes something, I have a custom `isOutsideRange` logic on my SingleDayPicker

[2018-02-13 22:14] ljharb commented on #992
Yes, it is, unless something earlier in the graph imports react-dates first.

[2018-02-13 23:25] silvenon commented on #992
TIL  😅