[2019-12-29 03:11] David-OConnor opened #1889 "Is moment required?"
Using version `21.5.1`. I'm having a hard time telling. I found several issues and a merged PR related to removing moment, but AFAIK from the docs and TS compiler messages I'm getting, the input and returned values are of type `moment.Moment`. What's the lowdown?

edit: I think it was [react-datepicker](https://github.com/Hacker0x01/react-datepicker) that excisised moment.

[2019-12-29 06:48] ljharb commented on #1889
This package uses moment, and is likely to until Temporal is stage 3 and a polyfill/shim is thus viable in production. Moment is the defacto standard, and once Temporal arrives, nothing else will serve a purpose, so the churn in switching to any alternative (or supporting multiples) doesn't seem worth it in the interim.

Closing as a philosophical duplicate of #208.

[2019-12-29 06:48] #1889 closed

[2019-12-31 14:32] gilbsgilbs commented on #1550
I opened a #1890 since we weren't able to draw attention and get some help here.

[2020-01-01 06:49] shaahrokh commented on #488
use it [#755 ](https://github.com/airbnb/react-dates/issues/755#issuecomment-509524990)

[2020-01-01 06:53] shaahrokh commented on #488
use it [#755](https://github.com/airbnb/react-dates/issues/755#issuecomment-509524990)
best solution from @mmarkelov

[2020-01-02 13:28] pbeleckis commented on #1846
Try overriding `.CalendarDay__hovered_span` class

[2020-01-03 08:01] stelasido opened #1891 "Strangle calculation of the left position when changing window width - Chrome | Date ranges"
**react-dates version**
e.g. react-dates@18.3.1

**Describe the bug**
Hi, when I change the width of the browser window (Chrome), the calendar goes outside of the view (only horizontal), to the left. It calculates and add inline CSS, something like `top: 66px; left: -1272.05px;` - for browser width: 1860px. This happens and, if I change the height of the browser window. It goes always to the left

[2020-01-05 11:25] joetidee commented on #1138
Yeah, would be good to supply a prop to this date picker, e.g. `timezone="America/New_York"`, so that the date it returns is in the specified timezone. This allows date pickers to have their timezones set ad-hoc, rather than rely on globally setting `moment.tz("America/New_York")` across an entire application.

[2020-01-05 13:21] jaspreetsingh2701 commented on #1730
Can you please share the snippet for the styling

[2020-01-06 10:18] jaspreetsingh2701 commented on #1527
Working example or snippet of code?

[2020-01-07 20:06] merktassel commented on #1841
I'm seeing this unexpected behavior as well for the `SingleDatePicker`.

[2020-01-08 00:01] tmurph21 commented on #1514
It seems that the way to get this to work right now is by adding and subtracting the minDate from the current date to offset it, then subtracting out an additional month to the maxDate.

In my example below, this is working for dates in the range from 1 year ago to the current date.

[code]

[2020-01-08 07:23] AragondPL opened #1892 "onClose returns incorrect endDate if it's been entered manually in the input"
If dates are not choosed from calendar but entered manually in inputs onClose handler returns null or previous date in endDate. It is visible in storybook https://airbnb.io/react-dates/?path=/story/drp-calendar-props--with-onclose-handler

[2020-01-08 18:08] Floriferous commented on #684
I'm surprised this has never been addressed, do engineers at airbnb have to "figure out" what each prop does by themselves as well? Or do you have some internal documentation for this?

The storybook only documents a few of all the existing props, and I don't seem to be able to see the definition of function props in the storybook, it simply says `function noRefCheck(){}` for each of them. Maybe I

[2020-01-13 20:12] dan-diaz opened #1897 "Date range, but with two SingleDatePickers instead?"
I'm in a situation where I've got a start date, and an end date, but they are not consecutive fields, because of a start time field between them.

[ StartDateField, StartTimeField, EndDateField, EndTimeField ]

Is there an existing way to get the benefits of the DateRangePicker on the SingleDatePicker?
I'd like to show the range highlight on one calendar, when the other date has been selected.

[2020-01-14 10:43] Cedricvb opened #1899 "Last displayed day outside month range doesn't appear blocked when it should be"
I found this issue when trying to customize the day picker for our own project. It can be reproduced by adding a story like this to Storybook:

`  .add('blocks weekend days', withInfo()(() => (
    <SingleDatePickerWrapper
      isDayBlocked={(day) => moment.weekdays(day.weekday()) === 'Sunday' || moment.weekdays(day.weekday()) === 'Saturday'}
      autoFocus
      enableOutsideDays
      firstDay

[2020-01-14 16:24] Cedricvb commented on #1899
I found out what the issue is. It is because the `getVisibleDays` function doesn't take the `firstDayOfWeek` prop into account.
I've fixed the issue locally, and I'm hoping to get a pull request ready by tomorrow.

[2020-01-15 00:47] KuroNoDev opened #1901 "Is it possible to set the endDate with the same startDate on DateRangePicker?"
Sample scenario: we want our users to have the option to view the data of a specific day.

[2020-01-15 05:05] #1776 closed

[2020-01-15 12:01] mmarkelov commented on #1901
@KuroNoDev you can use **minimumNights** prop. Like so:
[code]

[2020-01-15 13:49] KuroNoDev commented on #1901
Thanks! https://github.com/airbnb/react-dates/issues/24

[2020-01-15 13:49] #1901 closed

[2020-01-16 16:13] kvieira90 commented on #1426
I agree with OP, we shouldn't have to mock internal functions to get clean test coverage. This error handling should be done within the component as neither height or width are required props.

[2020-01-16 16:56] ljharb commented on #1426
Rereading this, I’m a bit confused.

If the error appears without any mocks, then yes, it’s a real problem. However, it’s not clear how to reproduce it. @isi-gach can you provide a repro case?

[2020-01-16 17:30] isi-gach commented on #1426
I was getting that error running Jest tests on using the `react-dates` component

[2020-01-16 18:09] ljharb commented on #1426
The exact jest test code would help :-)

[2020-01-16 18:17] kvieira90 commented on #1426
import DateRangePicker, { DateRangePickerComponentProps } from './DateRangePicker';
import { DayPickerRangeController } from 'react-dates';
import React from 'react';
import { shallow, mount, ShallowWrapper } from 'enzyme';
import moment from 'moment';

export type Moment = moment.Moment;
const defaultProps: DateRangePickerComponentProps = {
  downloadActivity: jest.fn(),
  onRequestClose: jest.fn

[2020-01-17 05:02] jamesaspence commented on #1561
I'm in the same boat here, storyboard doesn't allow me to see what each example's source code is so I'm taking blind stabs at figuring out what individual properties to to figure out how it works.

[2020-01-20 09:51] hieupvd00585 commented on #1176
thank you bro

[2020-01-21 19:41] jooner commented on #1086
Not sure if anyone has been able to resolve this, but I've also been confused why the default behavior was such. After some playing around, I added the `enableOutsideDays={true}`  and `minimumNights={some negative number}` props. This allows users to pick a start date that is after the (previous) end date input.
[code]
Not a pretty/perfect fix, so if you have a better rec, please share.

[2020-01-21 22:31] neaumusic commented on #1024
I'm seeing that the date picker still displays local version of date, even if date is in UTC+0

[2020-01-21 22:36] neaumusic commented on #1138
Yea picking a date is not the same as picking a timestamp, and if we're storing the date in an ISO string, it's UTC+0, but a UTC-based moment object is still being shown as a local date

[2020-01-22 15:42] danielbotn opened #1905 "DayPickerSingleDateController aria-label to div with role="region""
**react-dates version**
e.g. react-dates@20.2.5

**Describe the bug**
We are using the <DayPickerSingleDateController />. Our accessibility software detects the following violation:

The page contains an HTML5 <section> or a WAI-ARIA landmark of the type 'region'.
These types of landmarks are very general and should be named to help users identify the purpose of the landmark.

How to fix it:
Use e

[2020-01-22 18:11] ranneyd commented on #1748
@ljharb so is the plan to not have this lib support React 17? If you plan on supporting React 17, when do you plan on fixing this? You either have to drop <16.9 support, forego React 17+ support, or make a legacy version. How did this lib handle the React 15 -> 16 switch?

[2020-01-23 01:05] indiesquidge commented on #1905
@danielbotn, it looks like that element applies an `aria-label` based on the `phrases.calendarLabel` prop supplied to it.

https://github.com/airbnb/react-dates/blob/b9ddf40984d38eb5ba19f6cace3a1c104b95a2ac/src/components/DayPicker.jsx#L1181

The `phrases` can be provided to the controller component you're using, and appears to have a default value for `calendarLabel`.

https://github.com/airbnb/r

[2020-01-23 06:54] ljharb commented on #1748
React 17 is still a long ways off; eventually we'll do a major that requires React 16.3+, but there's no value in doing that until 17 is out.

React 16 didn't drop anything that was in React 15, so there wasn't really any ecosystem pain from it.

[2020-01-23 09:30] swapnesh opened #1906 "Wrong translation of days in Portuguese Calendar"
**react-dates version**
"react-dates": "21.7.0",

**Describe the bug**
Dates text in a Portuguese calendar displaying numeral characters instead of short day text.

CodeLink - https://codesandbox.io/s/funny-yalow-nsd9b

**Source code (including props configuration)**
Steps to reproduce the behavior:
[code]

**Screenshots/Gifs**
<img width="669" alt="React-Dates-PT" src="https://user-images.githubu

[2020-01-23 09:59] danielbotn commented on #1905
@indiesquidge  No I am not using the phrases prop. These are the props I am using for the DayPickerSingleDateController:

      key
      date
      onDateChange
      onNextMonthClick
      onPrevMonthClick
      focused
      onFocusChange
      numberOfMonths
      isDayBlocked
      isOutsideRange
      hideKeyboardShortcutsPanel
      initialVisibleMonth

Storybook does not flag any violation

[2020-01-23 19:29] ljharb commented on #1906
This seems like something that would need to be filed on `moment`, as it, not us, decides that formatting.

[2020-01-23 19:31] ljharb commented on #1426
@kvieira90 `expect(dateRangePicker.exists).toBeTruthy();` is nonsensical; an enzyme wrapper has an "exists" function. Perhaps you mean `expect(dateRangePicker.length).not.toEqual(0)`, or similar?

[2020-01-24 12:27] kvieira90 commented on #1426
Thanks for the tip, I'll make that change. Any clue about the console errors?

[2020-01-24 20:02] ljharb commented on #1426
Not yet.

[2020-01-26 18:42] bashirpour commented on #1748
Use `static getDerivedStateFromProps` insted that.

For example:
[code]

https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html

[2020-01-26 21:26] ljharb commented on #1748
@bashirpour that requires React 16.3, which would be a breaking change for this package.

[2020-01-27 15:47] matttk commented on #1825
If I understand you correctly, I am also having this problem. When I click on the start date and the calendar opens, I can only set the start date. It doesn't allow me to set a range or select an end date. I have to close the calendar and then choose the end date input. Yet, all demos clearly show that it should work like a normal datepicker.

I'm not sure what's going on but the behaviour looks s

[2020-01-27 19:14] matttk opened #1909 "Blinking and focus reset with react-table and withPortal for DateRangePicker"
**react-dates version**
react-dates@21.7.0

**Describe the bug**
Using `react-table` and `withPortal` causes blinking and a `focus` reset when setting the `startDate` for `DateRangePicker`.

**Source code (including props configuration)**
I am having trouble using `react-dates` as a filter inside `react-table` and I don't think all the issues are due to `react-table`. In my local code, I can't eve

[2020-01-28 07:09] mmarkelov commented on #1909
@matttk as for your question about **minDate** you should enable passed days:
[code]

But I can't help you with **react-table** - it's very interesting issue. I try to find out what's wrong with it

[2020-01-28 09:58] mmarkelov commented on #1909
@matttk seems like it comes from here:
https://github.com/airbnb/react-dates/blob/c644b5c0b66a57dc2b1287b9bf188578e1475fac/src/components/DayPickerRangeController.jsx#L584-L664

Removing **onBlur** from this method fix this issue, but i need to check tests and make sure it will be OK

[2020-01-28 09:59] matttk commented on #1909
But that will enable all dates? I guess I can return based on checking `minDate` and `maxDate`. OK, so `DateRangPicker` only ever allows current and future dates, regardless of what you specify for `minDate` and `maxDate`? I didn't realise that!

[2020-01-28 10:11] mmarkelov commented on #1909
@matttk as I know it does depend on **minDate** and **maxDate**. Yeah it will enable all days, but you can implement your logic with this prop

[2020-01-28 14:39] #1260 closed

[2020-01-28 16:06] matttk commented on #1909
If you move `DateRangePicker` into its own component and only change when both values are set (like in [this sandbox](https://codesandbox.io/s/goofy-smoke-ng38f)), it will work properly. I would guess it is because changing just one value changes the `react-table` filter and then re-renders the component, which grabs away the focus.

[2020-01-31 13:00] EddieJostell opened #1915 "Blocked date typed into a DatePicker is recognized as a valid date (calendar is losing focus and date is selected))"
**react-dates version**
react-dates@18.3.1

**Describe the bug**
Manually typing a blocked date into DatePicker makes a blocked date become selected.

**Steps to reproduce**
[code]

**Desktop (please complete the following information):**
Possible to reproduce on desktop.

**Is the issue reproducible in Storybook?**
https://airbnb.io/react-dates/?path=/story/sdp-day-props--blocks-fridays

[2020-01-31 14:29] MaksimKoniukhov commented on #1161
[#1320 ](https://github.com/airbnb/react-dates/issues/1320)

[2020-02-01 22:49] greenkeeper[bot] opened #1916 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.18.0` to `7.18.1`.

🚨 [View failing branch](https://github.com/airbnb/react-dates/compare/master...airbnb:greenkeeper%2Feslint-plugin-react-7.18.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-

[2020-02-02 05:26] ljharb commented on #1916
The issue's fixed, but https://github.com/airbnb/react-dates/blob/master/src/components/DayPickerKeyboardShortcuts.jsx#L217 needs one more level of indentation (broken here: https://github.com/airbnb/react-dates/pull/1576/files#diff-d7abca67b59078b73c3b4e62cc34e6aeR214)

[2020-02-02 05:26] #1916 closed

[2020-02-02 16:13] #1879 closed

[2020-02-03 05:34] greenkeeper[bot] opened #1917 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.18.2` to `7.18.3`.

🚨 [View failing branch](https://github.com/airbnb/react-dates/compare/master...airbnb:greenkeeper%2Feslint-plugin-react-7.18.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-

[2020-02-03 11:10] bobrobcpp opened #1918 "How to handle blocked day clicks from DateRangePicker"
How could I call a function when a blocked day is clicked whilst only using a wrapper around DateRangePicker?   Neither onDatesChange or onFocusChange is called when clicking on a blocked or out of range day.

For context I'm trying to display an error message when a user clicks a blocked day.

[2020-02-03 14:44] emilyuhde commented on #1080
I'm also running into problems with the SingleDatePicker because of this issue. The `ariaLabel` prop that is provided doesn't seem to be respected. The placeholder text always takes precedent and the text you pass to `ariaLabel` always seems to be ignored.

https://github.com/airbnb/react-dates/blob/master/src/components/DateInput.jsx#L223

[2020-02-03 15:50] ahayes91 opened #1920 "Focus on VoiceOver doesn't return to the input field when a new date is chosen on the calendar"
**react-dates version**
e.g. react-dates@18.3.1
Tested with https://airbnb.io/react-dates/?path=/story/sdp-calendar-props--single-month

**Describe the bug**
A clear and concise description of what the bug is.

When using VoiceOver on Mac OS (Catalina 10.15.3) on Safari and Chrome, if you use only the keyboard to navigate into the calendar and you choose a date, when the calendar is closed the foc

[2020-02-03 15:58] ahayes91 opened #1921 "ChromeVox on Chromebook cannot be used to reopen the calendar/change the date after one has been chosen"
**react-dates version**
Tested with https://airbnb.io/react-dates/?path=/story/sdp-calendar-props--single-month
Chromebook: Acer Chromebook 14 with ChromeVox

**Describe the bug**
When you turn on ChromeVox and use the datepicker storybook example on Chrome, tabbing to the field will open the calendar. Once you tab into the calendar and choose a date with the arrow keys & enter key, the date is po

[2020-02-03 16:07] #1917 closed

[2020-02-04 19:31] nkinser opened #1922 "Unable to customize focus outline"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
I would like to customize the focus outline for the calendar days by including focus styles in the style override props passed to `CustomizableCalendarDay`, but they aren't being included in the css.

I'm passing
[code]
as the `defaultStyles` prop for `CustomizableCalendarDay`, but the border styles are not being applied when the day

[2020-02-04 19:55] ljharb commented on #1922
Hmm - this seems like a react-with-styles thing. Perhaps @lencioni has insight?

[2020-02-04 21:23] k-funk commented on #1184
I would also love to use this library, but it seems to be incompatible with bootstrap, and its patterns that I have adopted in my projects.

Bootstrap does a decent job of abstracting classes into pieces (multiple classes to achieve a desired result, each one used like a utility: `btn btn-success btn-block ....`). https://brigade.engineering/don-t-pass-css-classes-between-components-e9f7ab192785?g

[2020-02-05 18:35] #1915 closed

[2020-02-06 23:53] lainermeister opened #1923 "Question: How to change currently viewed month range for DateRangePicker?"
Like many other users, I am trying to add a Year dropdown to my DateRangePicker. However, I am not sure which prop I can set to update the currently viewed dates.

In the example below, I want to use the dropdown I created to update the month that is being shown to February 2018.

![Screen Shot 2020-02-06 at 6 51 49 PM](https://user-images.githubusercontent.com/26628913/73988804-d1b82780-4911-11ea

[2020-02-07 07:19] mmarkelov commented on #1923
@lainermeister I suppose **renderMonthElement** prop is what you need.
[code]

https://airbnb.io/react-dates/?path=/story/daypickersingledatecontroller--single-month-custom-caption

[2020-02-07 12:09] lainermeister commented on #1923
@mmarkelov Thanks for getting back to me. I used renderMonthElement to change the tops of the calendars to display the drop down via custom captions. However, I’m not sure how I can change the actual calendar view’s month?

[2020-02-07 12:20] mmarkelov commented on #1923
@lainermeister sorry I just can't understand what exactly do you want. :( Do you want to change end date to February  2018 in your example?

[2020-02-07 13:42] lainermeister commented on #1923
@mmarkelov Yes, I want the actual calendar dates in the two calendars to change to correspond to Feb 2018 and Mar 2018 when I select 2018 in the dropdown.

[2020-02-07 14:00] mmarkelov commented on #1923
@lainermeister may be this help?
[![Edit ecstatic-snowflake-yz1ln](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/ecstatic-snowflake-yz1ln?fontsize=14&hidenavigation=1&theme=dark)

[2020-02-07 14:03] lainermeister commented on #1923
That's awesome, thank you so much!

[2020-02-07 14:19] matttk commented on #1909
Another thing I discovered, in case anybody is interested, is that if you use `appendToBody` instead of `withPortal`, `DateRangePicker` will still work but you will be able to type into the input fields. 👍

[2020-02-09 17:29] abdulgafur24 opened #1925 "How to disable multiple range of dates?"
For example I have array with different date ranges:
[code]

I tried this one:

[code]

[2020-02-09 18:02] #1925 closed

[2020-02-10 17:58] lencioni commented on #1922
I'm not very familiar with this code, but looking at how it is implemented I think this won't work because these styles are being passed to the `style` attribute on the DOM node, which does not support pseudo-selectors like `:focus`.

You can see the `defaultStyles` is destructured from `this.props` here: https://github.com/airbnb/react-dates/blob/05356400baa8e05a9d7ea17e74fbb04bb3b23fa8/src/compo

[2020-02-11 01:13] fushar commented on #1426
Any updates on this? The warning is annoying.

@isi-gach could you elaborate on your `jest.spyOn()` solution? Where/from which package do I import `DayPicker` and `CalendarMonth`? Can't seem to work

[code]

[2020-02-11 13:10] gokulrk-vuram commented on #692
Hi guys,
I found a solution to hide/unhide next button on the calendar.

 <SingleDatePicker
   navNext={this.state.isCalendarNextButtonDisabled ? <div hidden="true">Next</div> : ''}
   onNextMonthClick={this.onNextMonthClick}
   ...
/>
 onNextMonthClick = (month) => {
    if (month.month() === 5) {
      this.setState({
        isCalendarNextButtonDisabled: true,
      });
    }
  };
//If the mont

[2020-02-11 13:14] gokulramkul commented on #692
Hi guys,
I found a solution to hide/unhide next button on the calendar.

 <SingleDatePicker
   navNext={this.state.isCalendarNextButtonDisabled ? <div hidden="true">Next</div> : ''}
   onNextMonthClick={this.onNextMonthClick}
   ...
/>
 onNextMonthClick = (month) => {
    if (month.month() === 5) {
      this.setState({
        isCalendarNextButtonDisabled: true,
      });
    }
  };
//If the mont

[2020-02-11 14:36] pedroapfilho commented on #1748
@ljharb do you think that it's a good idea for @MarkEhr to implement `react-lifecycles-compat`?

[2020-02-11 14:49] sibelius commented on #1748
https://twitter.com/dan_abramov/status/1227242568116604939

![image](https://user-images.githubusercontent.com/2005841/74247221-819be500-4cc4-11ea-9a1c-a61322cf8a91.png)

[2020-02-11 14:50] ThiefMaster commented on #1748
My guess would be that @airbnb is using ancient react versions internally and they can't / don't want to drop support for those versions yet because of this..

[2020-02-11 15:01] PlayMa256 commented on #1748
Drop official support on master for that, move 15 support for another one and support them side by side

[2020-02-11 15:06] gaearon commented on #1748
To clarify, this is just my opinion :-). I'm not saying any library should necessarily follow this advice. This is what I would do if I were a maintainer, but I don't have the same constraints.

[2020-02-11 15:09] sunstorymvp commented on #1748
I hope this issue will be addressed as soon as possible.

Actually it hurts ecosystem. `react-dates` is very popular and widely used library. From when `StrictMode` component was added to react many of us want to use it to catch errors earlier. But this issue might stop many of us because of annoyance of those warnings.

[2020-02-11 15:17] oleksandr-dziuban commented on #1748
@sunstorymvp 👍

[2020-02-11 18:04] ljharb commented on #1748
@ThiefMaster that guess is incorrect.

@sunstorymvp What hurts the ecosystem is dropping support for older react versions, and in this case, React adding warnings in semver-minor versions.

@pedroapfilho I've thumbed-up https://github.com/airbnb/react-dates/issues/1748#issuecomment-559991882, so at the least it's waiting for a PR.

[2020-02-11 18:05] ljharb commented on #1426
@fushar no update yet.

Simpler repro code would be nice; a failing test case in a PR would be most ideal.

[2020-02-11 18:16] MarkEhr commented on #1748
I was trying a different approach moving the logic to `componentDidUpdate` but with some drawbacks, like potential infinite render loops and and extra render for each prop change.
But having @ljharb thumb I'll work on the `react-lifecycles-compat` PR, I hope it's ready before the end of the week (there are several components to fix).
I just hope it's not to much of a hassle to fit everything insid

[2020-02-11 18:19] deivid11 commented on #1748
Viva Mark! @MarkEhr

[2020-02-12 14:28] missbruni opened #1926 "Blocked Dates changes not resetting modifiers correctly"
I have a DateRangePicker at the moment with blocked dates.

- Once the start date is selected, I check for the first blocked date from the start date and unblock it using isDayBlocked. (We do that because the user should be able to select the first blocked/unavailable date as a checkout date) - So we basically check startDate and unblock the first blocked day using isDayBlocked.

my isDayBlocked I

[2020-02-12 21:53] phillipwhelan commented on #1479
This feels like a feature that should definitely be baked into the component.

[2020-02-13 11:14] mmarkelov commented on #1926
@missbruni could you provide small representation?

[2020-02-14 09:47] missbruni commented on #1030
Any updates on this at all ? - @kdave2 I also need an example for mui withStyles

[2020-02-14 13:17] Primajin commented on #1030
Material-UI ("MUI") has a way to pass in classes and styles from outside via a CSS API: https://material-ui.com/system/basics/#all-inclusive

When you have a more complex component with sub- and sub-sub-components there are props where you then can pass in styles / classes further down that get applied.

Check the Chip for example (Chip is a pill component with a text and/or up to two icons)
https

[2020-02-16 20:33] YM-KA commented on #1612
Hi @ljharb ! I am having the exact same problem. Can you please elaborate on your answer?
Simply adding <code>Object.assign(func, moment)</code> inside the default export does not do the trick. Maybe I am just stupid? 😉

[2020-02-16 21:22] ljharb commented on #1612
@YM-KA what does your mock look like?

[2020-02-16 21:29] YM-KA commented on #1612
Hi @ljharb ! I managed to get it to work. My mock looked like this:

[code]
I changed it into
[code]
😃

[2020-02-16 21:41] ljharb commented on #1612
Closing, but will be happy to reopen if @mkelley33 can reply with clarification.

[2020-02-16 21:41] #1612 closed

[2020-02-20 11:05] d1ckeys commented on #698
@majapw  Hi, I saw the same behavior of the `DayPickerRangeController`. I spent some time on investigation and identified `getVisibleDays` function in util doesn't take `firstDayOfWeek` prop into account.
If you don't have time to get this on, I'd like to take it over and submit a pull request to fix this issue.

[2020-02-20 18:10] mattaningram commented on #1724
@mmarkelov This shouldn't need a workaround, this should be default behavior of any date range calendar. It is how every other calendar picker I have used works, and it's particularly awkward if you have selected a long time range and want to visually edit the end date using the calendar, you have to clumsily click through many months. It's not very good UX.

[2020-02-20 18:11] mattaningram commented on #1724
@mmarkelov and I just checked the Storybook, the calendar does not open to the End Date when you click the End Date input:
![image](https://user-images.githubusercontent.com/955092/74965039-77739800-53e2-11ea-92a3-9272fc489062.png)

This is a bug in my view.

[2020-02-20 18:19] mattaningram commented on #1320
I appreciate all the hard work the maintainers do to make this stuff available for us, but this is such a basic function of a date range picker, particularly when picking multi-month or multi-year ranges that it seems a bit odd that it hasn't been addressed yet. I can't think of any other date range picker I have ever used that does not focus the calendar popup on the relevant month from the input

[2020-02-20 18:23] ljharb commented on #698
@d1ckeys please feel free :-)

[2020-02-20 20:50] djamshed commented on #1393
@mmarkelov I think the issue is the icon is placed on a separate line when `block: true`, whereas it is expected to stay on the same line with text, just like in `block: false`

[2020-02-21 05:54] MarkEhr commented on #1748
Hi guys, I have good news and bad news.

Good news - I've done the refactoring, it was not easy and a lot of code changed (which means many possible bugs). It works for me with no warnings in the latest react. I'll be testing it on a couple of production sites to quickly find and fix any bug. You can take a look, or `npm install` it from [here](https://github.com/MarkEhr/react-dates/tree/fix-react

[2020-02-21 05:58] ljharb commented on #1748
@MarkEhr does it work with 15+ with the compat package, or does it require 16.3+?

[2020-02-21 06:09] MarkEhr commented on #1748
@ljharb It does not work with 15+ although it seems easier to fix than 0.14+.
0.14+ is very broken.
15+ only breaks a little on the initial render, after changing a page it works well.
16.3+ works fine.

[2020-02-21 06:27] MarkEhr commented on #1748
@ljharb if you would be willing to accept a breaking change to require react 15+ I can work on fixing it. If we still require 0.14+ to be supported I don't think I may work on it anytime soon as it seems to be a lengthy work to do.

[2020-02-21 09:04] osphost commented on #1294
While momentjs was the standard yesterday, doesn't mean it should be today. There are better alternatives to using a bloated library with a mutable API.
I would like to have no momentjs dependency in my clients project, which means I am now considering a react-dates replacement.

[2020-02-21 18:32] ljharb commented on #1294
What should be isn't really relevant; it *is* the standard, and will remain so until the language's Temporal proposal reaches stage 3, at which point a polyfill for *that* will become the standard.

As for "bloat", it's not bloated; moment has exactly the i18n/l10n data that's needed.

[2020-02-25 11:09] d1ckeys commented on #698
@ljharb
I created a PR #1929
please take a look 😀

[2020-02-25 21:57] mmazanec22 commented on #1249
+1 having this issue with DayPickerSingleDateController

[2020-02-26 16:17] yuzhenmi commented on #1829
I'm running into the same issue. Is there lazy rendering going on and it's failing to pick up non-body scroll events as a trigger for re-render?

[2020-02-27 06:29] PiggySpeed commented on #1307
For future devs:

[code]

Here is a working example:
[code]

[2020-02-27 10:36] daviddelusenet commented on #1853
Thanks for the help guys!

When you make the input smaller than the hardcoded input height you need to set a negative `verticalSpacing` value to correct this. However, this will throw another error:

`Failed prop type: verticalSpacing in withStyles(SingleDatePicker) must be a non-negative number`

Amazing work.

[2020-02-27 12:46] burovmarley commented on #1748
@MarkEhr do you know when it will be fixed? Maybe we should create react-dates-15 and leave it as it is. And for new react version create fixed version? Without that we will not be able migrate to react 17 when it will be ready.

[2020-02-27 15:50] markjaquith commented on #1717
I just encountered this as well. I'm using CSS-in-JS (`styled-components`). The same thing happens when using `usePortal` and `useFullscreenPortal`.

I don't think `react-dates` can do anything different here. The portal is outside of your app. *It has to be.* Otherwise your app could be apply styles that would prevent it from aligning properly on the screen.

You can solve this styling issue by h

[2020-02-27 16:46] MarkEhr commented on #1748
@burovmarley I don't know as I don't have any relation with the maintainers. What I know for the comments up here is that airbnb requires support for react 0.14.9, so I think it's improbable that a good fix will arive anytime soon.
To fix this for react 17 while maintaining support for 0.14.9 would require someone with a lot of time to spend as it needs a big refactor, not only moving code around

[2020-02-27 16:49] ranneyd commented on #1748
@burovmarley @MarkEhr I too have my own fork that pretty much does the same thing. I think most people in this thread do.

https://www.npmjs.com/package/react-dates-temp

[2020-02-27 19:11] ljharb commented on #1748
@burovmarley react 17 is not imminent, and when it comes out, obviously react-dates will release a version that works with it. The *only* consideration right now is the warning, which is a mild inconvenience but does not otherwise obstruct anything.

[2020-02-27 19:13] ljharb commented on #1853
No need for the hostility or sarcasm. Maintaining open source projects is often thankless, and often unpaid.

If someone sends a PR that fixes it, we'll happily review it, but in the meantime, prioritization difficulties do not mean you're being ignored.

[2020-02-27 19:59] gromovadarya90 opened #1930 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:03] #1930 closed

[2020-02-28 00:14] MikeHannon commented on #676
I just ran into this issue -- my solution looks like this
[code]
added a manual keyUp handler to check the input value... its not perfect, but it does work.

[2020-02-28 05:53] daviddelusenet commented on #1853
@ljharb thank you for your response.

This is indeed open source software but developed by a company which revenue is multiple billions per year. Seems like they should have the capacity to maintain their projects.

Also, this issue will probably be an easy fix and I don't mind doing it myself and submitting a PR. However, the 85 open pull requests don't really encourage me to do this. To me it se

[2020-02-28 06:02] ljharb commented on #1853
Open PR count is irrelevant; if you subtract out the greenkeeper PRs, the breaking changes, etc, it's fewer.

Either way, the revenue that a company has is also irrelevant - in an organization of any size, work needs to be justified by business impact, and if a company needs its employees to work on things that aren't "someone on the internet's bug", then clearly those bugs are going to take longe

[2020-02-28 06:02] daviddelusenet commented on #1853
Cool, will do that!

[2020-02-28 14:18] herecydev commented on #1426
I'm also seeing the same things and debugged deeply to work it out. As pointed out above the issue stems from within the `calculateDimenion` util. Specifically the lines when it [tries to access style properties](https://github.com/airbnb/react-dates/blob/master/src/utils/calculateDimension.js#L27-L29).

style["margin|padding|border"] are all returning undefined. I'm fairly confident this traces b

[2020-02-28 14:55] archansel commented on #1459
What if we don't know the `start_at` value?
In my case, I can set `isDayBlocked` with a certain logic and I want to start the month based on the first available date "after" applying the function, maybe similar like
[code]

[2020-02-28 14:57] daviddelusenet commented on #1853
Hey @ljharb,

So I've started on setting up a PR. What I'm trying to do is remove the entire `getInputHeight` function from the `SingleDatePicker` component and just pass a `ref` to the actual input to get its height.

Do you think this makes sense? If so, keep reading, because I can't figure out how to use `React.forwardRef` in combination with the `withStyles` HOC.

Do you want me to open a new

[2020-02-28 16:53] ljharb commented on #1426
Seems reasonable (the priority, of course, is the browser, not jsdom). Care to make a PR?

[2020-02-28 16:57] ljharb commented on #1853
forwardRef requires 16.3+; we support 0.14.

[2020-02-28 17:12] herecydev commented on #1426
Sure I'll take a stab at it

[2020-03-02 07:12] daviddelusenet commented on #1853
Alright, that's unfortunate.

The problem is that the `getInputHeight` function uses the theming from `react-with-styles` to (incorrectly) calculate the height of the input.

However, if you just overwrite the CSS classes manually the values inside of the theme never change. This is why the `getInputHeight` returns a wrong height in that case.

I might be able to solve this by passing a function t

[2020-03-02 10:18] muganwas commented on #1456
I had this error, turns out i had misspelled Component, i had written Class blabla extends React.Compnent.

[2020-03-02 14:09] freshollie commented on #1426
For those who want to remove this error from their tests right now:

[code]

[2020-03-02 22:22] ljharb commented on #1853
Ah - the intention was that the only way you would override styling in react-dates is via a react-with-styles theme.

[2020-03-02 23:02] marcgarygray opened #1937 "Pass invalid values to the onDateChange prop"
I believe it would be helpful to a lot of developers to be able to know if an invalid date has been typed by the user into the `<input type="text">` node. In my opinion, the most logical place to provide that information would be in the `onDateChange` handler. I could see an argument for a simple `boolean` that's `false` if the input is not a valid `moment.Moment` or passing the invalid input as a

[2020-03-02 23:04] marcgarygray commented on #1937
### Note
This is for the `<SingleDatePicker>` specifically. It's the only component from this library that I've utilized thus far. I'm not sure if this is the same or different across all of the components exported by the library.

[2020-03-03 08:58] stelasido opened #1938 "Get hovered date."
Hi, I have searched a lot and have asked in SO with no success for now.
What I want is to get date, when date is hovered in the calendar.
My problem is that I don't see any prop for when date is hovered.
I found `onDayMouseEnter`, but for all type of calendars it says - 'not supported prop'.

[2020-03-03 10:37] joeappleton18 opened #1939 "Use the date picker to display date ranges - as opposed to picking"
Is there any way to use the date picker to simply display blocked out date ranges as opposed actually allowing the user to pick date ranges.

A good example of the functionality I require is the availability display that Airbnb use for each property:
<img width="726" alt="Screen Shot 2020-03-03 at 10 35 40" src="https://user-images.githubusercontent.com/19682605/75767663-154c5880-5d3b-11ea-8ff6-2e

[2020-03-03 19:40] ljharb commented on #1937
If there's a nonbreaking way to also pass the original input string, I'd be open to that.

I think this might be a duplicate of #1023?

[2020-03-03 21:26] marcgarygray commented on #1937
@ljharb
Are you open to outside contributions? I'm happy to make the change.
If so, any guidelines (PR must come with a test, etc., etc.) are appreciated. :)

[2020-03-03 22:03] ljharb commented on #1937
Yes, absolutely! Tests are a requirement; a storybook story is nice but not required.

It'd be ideal to make this change on every component in the library, so that everything can follow similar patterns.

[2020-03-04 07:54] mmarkelov commented on #1938
@stelasido As I know there is no way to do it. As workaround you can use **getMinNightsForHoverDate** prop, but it will fire for enter and leave events and it works only for **DayPickerRangeController**:
[code]

[2020-03-04 14:58] stelasido commented on #1938
Thanks for the answer, but `getMinNightsForHoverDate` doesn't  bind.

What I did is to use :
`<DayPickerRangeController
    renderCalendarDay={(obj) => this.renderDay(obj)}
    ....`
and recreate the whole logic for days like day selecting, calculating ranges, adding classes, inactive days and then attach `onMouseEnter` prop to a new `td` element:

`        renderDay = (obj) => {
return obj.day ?

[2020-03-05 05:07] marcgarygray commented on #1937
@ljharb working on this tonight.
Looks like your workflow is to create a branch named something like username/issue#/description and make a PR to merge that branch to `master`, yeah?

[2020-03-05 07:05] Sravan501 commented on #1520
With in modal SingleDatePicker auto closes on hover on today when withPortal={true}

[2020-03-05 07:52] mmarkelov commented on #1520
@ghost could you provide some representation. Just checked [storybook](https://airbnb.io/react-dates/?path=/story/sdp-calendar-props--horizontal-with-portal) and it's ok

[2020-03-05 08:38] trainbolt opened #1940 "Programmatically go to next month"
Is there any way to programmatically get the next month. I'm currently showing a calendar with 2 months and when a user selects the start date  that is too close to the end of the 2nd month that does not meet the minimum nights.

For instance I'm showing Feb. and Mar. and someone chooses Mar. 28 and minimum nights is 5... I need to programmatically 'click' next month so the user doesn't have to.

[2020-03-05 09:43] mmarkelov commented on #1940
@trainbolt as I know there is no such method, as for me I think **react-dates** should navigate to next month under hood for this case. I didn't have any solution, but only **super crazy hack**:
[code]

[2020-03-05 21:22] ljharb commented on #1937
The workflow in general terms for making a PR to any open source project is to fork the repo, make a branch on the fork with your changes, and then make a PR to merge that to the source's default branch (usually `master`).

[2020-03-06 00:09] #1632 closed

[2020-03-06 00:29] marcgarygray commented on #1937
@ljharb thanks. Submitted. 👍

[2020-03-06 17:19] joeappleton18 commented on #1939
Solved this now. In the end, I did the following:

[code]

[2020-03-06 17:20] #1939 closed

[2020-03-06 23:24] ianjmacintosh commented on #1852
Does the documentation live in this repo? Heck if I can find it.

I'm presuming the ask here isn't to remove `verticalSpacing` from the Storybook examples.

[2020-03-07 00:04] #1646 closed

[2020-03-07 00:05] ljharb commented on #1852
The documentation is the storybook and the readme.

[2020-03-07 00:36] ianjmacintosh commented on #1852
Got it. I was looking at https://airbnb.io/projects/react-dates/

[2020-03-08 10:07] pheu commented on #594
Changing daySize does not take any effect in my case, is there more legit way of changing a cell size?

[2020-03-09 13:44] herecydev opened #1943 "Export isBeforeDay/isAfterDay"
Both `isBeforeDay` and `isAfterDay` are quite useful utlities but are not included [in index.js exports](https://github.com/airbnb/react-dates/blob/master/src/index.js#L14-L15). Is there a reason behind this? If not, would you accept a PR to export those?

[2020-03-09 16:31] erin-doyle commented on #1870
I believe this has been fixed.  Please try updating to the latest version and if this is still an issue please reopen this.

[2020-03-09 16:31] #1870 closed

[2020-03-09 16:34] erin-doyle commented on #1865
It looks like there's no more to discuss here so I'm going to close, feel free to reopen if that's not the case.

[2020-03-09 16:34] #1865 closed

[2020-03-09 16:56] erin-doyle commented on #1706
I believe this has been fixed, I'm not able to reproduce.  Can you please try updating to the latest version?  I'm going to close this but please reopen if it's still an issue.

[2020-03-09 16:56] #1706 closed

[2020-03-09 19:58] ljharb commented on #1943
They're already exposed - `react-dates/lib/utils/isBeforeDay`, etc. There's no real need imo to add to the already too-massive manifest export in the "main".

Everything reachable is part of the public API.

[2020-03-09 19:58] #1943 closed

[2020-03-10 12:10] plamenxpenchev opened #1944 "CalendarDay__selected_* not applied to outside days on non-default firstDayOfWeek"
**react-dates version**
e.g. react-dates@21.8.0

**Describe the bug**
The `CalendarDay__selected_*` classes are not applied to "outside days" when working with a `firstDayOfWeek` different from the 0 default (Sunday) & no "outside days" for the month with respect to the 0 default exist.

**Example**
If `firstDayOfWeek={0}`, March 2020 does not have any February 2020 "outside days".
If `firstDayOfW

[2020-03-10 12:44] plamenxpenchev opened #1945 "CalendarDay__selected_start_no_selected_end is not removed from the startDate element's classList when an endDate is selected"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
The `CalendarDay__selected_start_no_selected_end` class is not removed from the startDate element when the endDate is selected.

**Screenshots**
DateRangePicker with both startDate and endDate selected:
![drp-selection](https://user-images.githubusercontent.com/36263058/76312965-bd829400-62dc-11ea-8401-fd81a83ddc74.png)

Class not re

[2020-03-10 16:45] erin-doyle commented on #1570
This is deliberate.  The focus needs to move to the element the user is interacting with.  If they are interacting with the date picker then that's where the focus will be.  There are accessibility implications if you trap the focus on the input you won't be allowing a user using a keyboard or screen reader to navigate to the Date Picker in order to select a date.

If I'm misunderstanding what you

[2020-03-10 16:45] #1570 closed

[2020-03-10 19:14] Journerist commented on #1748
I can't follow the dogmatic decision on all the related bugs. Consider that, if the warning would just be an error then react would not work with this deprecated method. Instead, people argue why keeping backward compatibility is important. Still, the issue will become a major issue sooner or later and there is no point in keeping backward compatibility. The only thing you get is that a lot of peo

[2020-03-10 19:18] ljharb commented on #1748
There's always a point - users stuck on old React versions shouldn't be hung out to dry, and back compat is what makes upgrading *easier*.

[2020-03-10 19:33] erin-doyle commented on #1304
I'm _very_ late responding to this, sorry!  But doing some code spelunking it looks like this has been fixed... sort of, here: https://github.com/airbnb/react-dates/commit/d3e12decd3ad18c702a49f71bd7da763a383bbbe.

I don't know offhand how this _should_ be fixed but I'm not sure I agree with what has been done to handle it.  It feels wrong to be forcing the consumer to add `tabIndex="0"` to their

[2020-03-10 19:35] Journerist commented on #1748
So what do you gain by postponing the breaking change. I only see that the amount of work that people need to implement is getting more and more over time. The react guys give packages the possibility to use the new methods earlier to avoid heavy migrations. Instead of taking this opportunity, you postpone it like a lot of other packages and then the upcoming migrations will be a heavy piece.

[2020-03-10 19:39] ljharb commented on #1748
Why would it be a "heavy piece"? When we do finally make the breaking change, for users of React 16.3+, it will require nothing on their end but bumping the major version; only users of React < 16.3 will be stuck.

[2020-03-10 19:49] erin-doyle commented on #1065
This sounds like the same issue as: https://github.com/airbnb/react-dates/issues/1420 and hopefully could be fixed if we can finish fixing: https://github.com/airbnb/react-dates/issues/1484.  Unless I'm misunderstanding anything?

[2020-03-10 19:50] erin-doyle commented on #1420
I believe this is the same is issue: https://github.com/airbnb/react-dates/issues/1065.  I'm going to close this issue as a duplicate of that one so we can consolidate the conversation but please feel free to reopen this if you feel it is different.

[2020-03-10 19:50] #1420 closed

[2020-03-10 20:25] erin-doyle commented on #717
This is pretty old and A LOT has changed in the library since this time.  I'm going to go ahead and close this.

[2020-03-10 20:25] #717 closed

[2020-03-10 20:30] erin-doyle commented on #18
It looks like this PR has addressed this?  I'm going to close this but if I'm mistaken please feel free to reopen!

[2020-03-10 20:40] erin-doyle commented on #1006
I _think_ at this point in time this is supposed to be the behavior.  I think when the focus goes to the input, under certain conditions, it should then automatically set focus on the selected date or perhaps first available date if none is selected.  But it's not working.

It looks like this only happens on `componentDidUpdate` inside `CalendarDay`:
[code]

So it doesn't set the focus when the `C

[2020-03-10 20:45] ljharb commented on #1420
(duplicate of #1065, so the link is created)

[2020-03-10 21:13] Journerist commented on #1748
Afaik the whole discussion is about breaking backward compatibility for React < 16.3. Hence, tech debt just gets more and more for react <16.3 apps.

[2020-03-10 21:23] ljharb commented on #1748
@Journerist and the best way to make it *harder* for them to upgrade, is if their dependencies drop support.

[2020-03-10 21:38] Journerist commented on #1748
🙈 Alright, I just realized that we have totally different approaches to handle and communicate the state of a project and tech debt. Delay the removal of deprecated methods, that actually are only deprecated and not removed to allow you to migrate, is not their intent ... but I will stop here, it's fine, we are running circles.

Anyhow, thanks for this library and I hope you will find a good solut

[2020-03-11 18:26] michaelhayman commented on #1424
@stuart-williams Thanks so much!

[2020-03-11 18:32] erin-doyle commented on #1006
I've thought of a scenario where I'm guessing maybe users won't want the focus to immediately move to the selected or first available day in the calendar and I'm wondering if there are others I'm not thinking of.  I think it would be helpful if we had a deliberate strategy that took all the use cases into account.  Right now it looks like the code is really ping-ponging focus around and it's almos

[2020-03-12 11:50] srinivasadnt3 commented on #1426
Thanks for the Solution @freshollie it works.
Can you please explain whats happening here.

[2020-03-12 12:11] freshollie commented on #1426
@srinivasadnt3 The component is trying to calculate from the size of an element. For this, it uses the `getComputedStyle` function to find all the styles applied to the element. Because the JSDom has no concept of CSS, or at least it's not ever actually applied to elements, `getComputedStyle` fails to yield those properties which the calculation is looking for. This means that the calculation ends

[2020-03-12 18:56] Yaeldor commented on #1432
Hello, checking in if there are any updates for this issue or plans to resolve it in the near future. Thanks!

[2020-03-13 12:55] lainermeister opened #1946 "horizontalMonthPadding does not allow negative numbers"
I adjusted the width of my `DayPickerRangeController` to be slightly smaller than the default size using CSS.

Since doing so, I encountered a transition animation jumping issue (see animation in slow-mo below).

![animation](https://user-images.githubusercontent.com/26628913/76622423-d9b64900-6507-11ea-9c5c-9bbf8d062e6c.gif)

The only way I've found to fix it is to set the `horizontalMonthPadding

[2020-03-14 14:28] #1830 closed

[2020-03-16 10:03] mmarkelov commented on #1946
@lainermeister for me setting **horizontalMonthPadding** to negative is OK, I can add PR to fix prop types failing

[2020-03-16 12:41] lainermeister commented on #1946
That would be awesome, thanks for getting back to me!

[2020-03-16 14:41] ljharb commented on #1946
The propTypes were set that way because needing to use negative padding/margins to fix a layout is a hack, in the general sense. Instead, it would be better to add whatever props are needed to explicitly support this use case without negative padding.

[2020-03-16 21:05] erin-doyle commented on #1006
PR posted for just making sure the selected or first available day is focused for those first 2 scenarios I listed above.  Work on the following 2 scenarios I'll do separately as we already have issues for each of those.

[2020-03-18 08:25] venkatsub24 commented on #1940
@mmarkelov : Thanks for your solution and seems to work for me. But, what if user has navigated for around 5 or 6 months, but has selected `today` from the preset shortcut as mentioned here --> https://airbnb.io/react-dates/?path=/story/presetdaterangepicker--default

If you see, the view is still in the month which user has navigated to, but the current date would have been selected.

[2020-03-18 16:03] erin-doyle commented on #1009
So perhaps things have changed since this was opened but at present, you can use tab to move from the input to the calendar.  I'm not sure if this is sufficient or not but at least that's now an option in addition to the down arrow key.  I really don't know what it should be though.  What would a keyboard only user expect?  Probably tab is acceptable, I'm guessing that would be the first or second

[2020-03-18 16:13] erin-doyle opened #1949 "Focus does not go to the keyboard shortcuts modal when opened from the input"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
When opening the keyboard shortcuts modal while the focus is on the input the focus does not then move into the keyboard shortcuts modal to the close button.  Instead the focus moves to either the selected or first available day in the calendar which is hidden behind the modal.

**Screenshots/Gifs**
https://media.giphy.com/media/kdKO

[2020-03-19 00:00] backwardok commented on #1009
I think this never got closed after it was addressed! @monokrome addressed this in https://github.com/airbnb/react-dates/pull/1499

[2020-03-19 00:00] #1009 closed

[2020-03-19 05:06] benhoad commented on #1307
OnDateChange gets a single object as arguments:

[code]

[2020-03-20 16:14] GHMT commented on #1632
Why is this closed when it is not in a release? I can see the commit in master, but not in the latest v21.8.0.

[2020-03-20 17:56] Eric24 commented on #676
Note: Since this library already uses moment.js, this doesn't seem as difficult as it sounds. moment.js already supports a fairly flexible/forgiving parser, including allowing for a list of possible formats (arranged in most to least likely, which probably changes based on i18n:

An example for the US:
`const date = moment(<input>, ['YYYY-MM-DD', 'MM-DD-YYYY', 'DD MMM YYYY']);`

[2020-03-20 18:11] ljharb commented on #1632
Issues are pretty much always closed everywhere on GitHub when the fix lands, unrelated to whether it’s released.

[2020-03-22 13:32] dulhaniAshish commented on #25
In case someone is struggling w/ disabling navigations to months that are outside range
I worked on top of @yjvesabalaj solution -

[code]

[2020-03-23 18:38] yu-coder opened #1951 "Can we add reset button to clear selected dates?"

[2020-03-23 18:45] ljharb commented on #1951
Form reset buttons are a horrific antipattern; typically if you want to clear a form, you should refresh the page; it's far too easy to accidentally erase a ton of effort by clicking a reset button.

What's the use case for a button to clear the date field, as opposed to clicking in it and deleting its contents?

[2020-03-23 18:54] yu-coder commented on #1951
Yes, when refreshing the page it looks like selected dates are being cleared. That makes sense.
But for example, if we use this component to **_filter some results by date range_** the selected dates shouldn't be cleared even we refresh the page.
And in this case, it would be better if we have **Reset** button in the component.

[2020-03-23 19:17] ljharb commented on #1951
The tradeoff to me seems to be between "the difficulty of having to click in the field and press backspace/delete" and "the difficulty caused by accidentally clicking Reset when you didn't mean to". The damage of the latter seems far too great to be worth the minor convenience of the former.

[2020-03-24 12:29] M1ck0 opened #1953 "onDatesChange returns null"
This is code that I implemented

[code]

But onDatesChange returns null

[code]

here are my hooks

[code]

Any ideas why?

These are my imports

[code]

[2020-03-24 13:27] mmarkelov commented on #1953
@M1ck0 According to docs https://github.com/airbnb/react-dates#daypickerrangecontroller
`The user will only be able to select a date if focusedInput is provided.`
So your **focus** should be **startDate**

[2020-03-24 13:30] M1ck0 commented on #1953
If you think this
[code]
It is not working.. Already tried that

[2020-03-24 13:32] mmarkelov commented on #1953
@M1ck0 it should be: `focusedInput='startDate'`
You code will be:
[code]

[2020-03-24 13:36] M1ck0 commented on #1953
It works (sort of). It does what it should but now I can't change date.
Any ideas?

[2020-03-24 14:14] M1ck0 commented on #1953
If you want to change date set focus to 'startDate'

[code]

[2020-03-24 14:14] #1953 closed

[2020-03-25 06:16] IIAT-MR-LHL commented on #144
@munkhjin0223 if the startDate is null, typed error occurred

[2020-03-25 22:50] erin-doyle commented on #1065
No, I misread what this was about initially and understand it now.  I ran across this code while working on a fix for Issue #1484 and was wondering why it was there.  I think it would be reasonable to remove this block of code altogether and let the focus remain the same whether you're using the keyboard or mouse click.

[2020-03-27 08:37] BartJanvanAssen opened #1956 "storybook is broken"
the demo storybook http://airbnb.io/react-dates seems to be resolving to a 404 page

![image](https://user-images.githubusercontent.com/4742816/77737612-a0ed9800-700e-11ea-9ee5-a9e9e9075157.png)

[2020-03-27 15:47] ljharb commented on #1956
Thanks; the gh-pages branch was accidentally deleted by a contributor, and altho i restored it, it seems like it hasn’t redeployed.

I believe whichever of @lencioni @majapw @backwardok @nkinser has admin access will have to fix the gh-pages settings to ensure its redeployed properly.

[2020-03-27 19:42] lencioni commented on #1956
Thanks for flagging! It should be working again now.

[2020-03-27 19:42] #1956 closed

[2020-03-30 18:32] erin-doyle commented on #1494
I've been working on this and thinking a lot about this.  My current line of thinking is that the consuming application should handle this.  react-dates sends to the consumer enough information for the consumer to know when the date has changed, when the calendar has been closed and when the focus has changed.  I think that should be enough information for the consumer to then manage moving the fo

[2020-03-31 08:22] bnbturki commented on #1035
Hey @sht5.  Thanks for sharing your solution, I see that you are using the `ISO-8160` week system which is the first day in the week is Monday.
My question here is, how can I use the week system for the US which starts from Sunday?

[2020-03-31 18:31] BeatrizCibele commented on #1343
Can anyone hint me a video? I'm trying to modify a input calander to only one input instead two

[2020-03-31 18:31] jzebgul commented on #1137
<SingleDatePicker
.....
numberOfMonths= {1}
isOutsideRange= {()=> false }
 /> add is OutSideRange

[2020-04-01 06:40] Andrew-Kang-G opened #1958 "css box-sizing: border-box; dosen't seem to work"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
ex 1)
![image](https://user-images.githubusercontent.com/46193964/78106470-6b8de380-742e-11ea-8434-ea94e2156606.png)
ex 2)
![image](https://user-images.githubusercontent.com/46193964/78108209-e1e01500-7431-11ea-99ac-fea7c91c3da0.png)

**Source code (including props configuration)**
Steps to reproduce the behavior:
Same as others. I h

[2020-04-01 07:54] Andrew-Kang-G commented on #1958
enableOutsideDays={true} has solved the issue, but I don't know why.

[2020-04-01 15:47] renaudl commented on #1023
Hi all, huge issue for us. As we don't know if the date is being edited but invalid or just empy. Maybe use null / undefined.

[2020-04-02 05:26] Andrew-Kang-G commented on #78
For the font-family of the input box, I have found _input to be added.
[code]

[2020-04-02 13:39] #1958 closed

[2020-04-02 15:52] MadeleineLeadbetter commented on #1632
Hi, my team would really love to be able to use this feature in our current work.  Is there an estimated time on when it will be included in a release?

[2020-04-02 17:18] erin-doyle commented on #18
Actually I'm going to reopen this as it doesn't seem to be working.

[2020-04-04 15:44] ybakhshi commented on #247
@NickCain did you implement this? are you using react-datepicker?
Because currently react-datepicker is using date-fns not moment.  I tried to use the code from @majapw  but it didn't work for me.

Could you please help me here

[2020-04-04 21:14] #237 closed

[2020-04-05 18:55] adamhenson opened #1964 "DateRangePicker: DateInput right border is invisible"
**react-dates version**
e.g. react-dates@21.8.0

**Describe the bug**
Minor issue in that the right border is not visible. I was able to override this class to fix it, so not an urgent bug for me. I can submit a PR at some point if no one gets to this.

**Source code (including props configuration)**
Steps to reproduce the behavior:
[code]
**Screenshots/Gifs**
<img width="307" alt="Screen Shot 202

[2020-04-05 19:05] adamhenson commented on #1964
This isn't reproducible in Storybook, because of this Storybook specific style:
https://github.com/airbnb/react-dates/blob/480b9902d69e64e62a2ef5c2d3b5fc3adef94444/css/storybook.scss#L13-L15

[2020-04-06 09:16] NickCain commented on #247
Hi @ybakhshi ,

It was a long time ago, but from what I remember this did work at the time, however I'm not sure now as there may of been some updates that have made by the lib owner.

I did import moment separately so I would suggest doing this and then the example should work, moment is just used as a helper here to format the dates needed.

[2020-04-06 09:29] ybakhshi commented on #247
@NickCain  Thanks for your kind reply . i solved it using the excludeDates ={disableFullyBookedDates()} .
![image](https://user-images.githubusercontent.com/57077366/78544069-e3c32300-77f9-11ea-8f17-34e2fb0ae148.png)
in case someone needs it

[2020-04-06 09:48] NickCain commented on #247
@ybakhshi  - Glad you sorted it, I did suspect something may of changed in react-datepicker. itself.

[2020-04-06 13:45] hoxtonhero commented on #1730
Its not moving at all

[2020-04-07 12:42] louisbyrne89 opened #1966 "unable to change DayPickerSingleDateController visibility using focused prop"
**react-dates version**
 react-dates@21.8.0

**Describe the bug**
I'm having trouble controlling the visibility of the DayPicker using the DayPickerSingleDateController component. Setting the focused property to false was having no effect on the display of the DayPicker. I noticed while going through the source code, that the application of the DayPicker__hidden class is controlled by the 'monthTi

[2020-04-07 13:39] louisbyrne89 commented on #1966
Can't seem to link my PR but its here: https://github.com/airbnb/react-dates/pull/1967

[2020-04-07 18:29] AlexKDawson commented on #1320
Is there any updates on the status of this? Are we still looking for a PR to deal with it? If so I can attempt a fix.

[2020-04-08 07:36] mgs95 commented on #1428
Same issue here, in our case we have no access to the mouse event of one of the components used inside renderCalendarInfo.

[2020-04-08 08:35] #1918 closed

[2020-04-08 15:51] jamestrenda opened #1968 "_datepicker.css stylesheet doesn't seem to initialize sometimes, fixes itself on refresh"
Hey everyone,

I know someone on here is smart enough to point me in the right direction!

I can't seem to pinpoint the cause of the issue I'm having, but sometimes the styles aren't being picked up by my application. Surely, I'm just missing something here because I can't find an open issue about this. If anyone could point me in a helpful direction, or direct me to a resolved issue, I would be s

[2020-04-08 21:35] angy29 opened #1970 "Clear endDate when the startDate in grater"
react-dates@21.8.0

I am working with a DateRangePicker, I select the starDate and the endDate... when I edit the startDate y choose a greater date than the initial endDate, I want to see the endDate null, because the range will change. How I can clean the endDate in this escenario?

[2020-04-10 14:37] premji1528 commented on #694
This issue not occurring in the production environment. Also, In development mood when I update any code the view will refreshed in the browser in that only occurring if I refresh the page the issue will be gone...

[2020-04-12 21:20] ljharb commented on #1968
Absolutely it could be due to hot reloading; hot reloading frequently causes problems with stateful things, which includes react-with-styles.

[2020-04-13 13:34] renatoagds commented on #1426
@freshollie workaround didn't work entire for me, since I was using the current `getComputedStyle` implementation of `jsdom`, that return a few stuffs (https://github.com/jsdom/jsdom/blob/master/lib/jsdom/browser/Window.js#L643-L671) and default return for `getComputedStyle` is `CSSStyleDeclaration`. That way I got the principle of his idea and arrived in this solution:

[code]

[2020-04-13 14:36] jamestrenda commented on #1968
Since I moved the import into my entry point (_app.js), I haven't noticed the issue. I will keep an eye on it and if it doesn't do again, then I will report back and close this.

[2020-04-14 16:18] DBjelovuk opened #1973 "Benefit of isBeforeDay(date, date) over Moment.isBefore(date, 'day')?"
Curious of the reason for the utils `isBeforeDay`, `isAfterDay`, etc. Are they different in some way? Or were they just introduced before the API existed in Moment? Thanks.

[2020-04-14 17:23] brandones commented on #662
Not working on desktop either for me.

[2020-04-17 04:56] ljharb commented on #1973
No, isBefore was added in [2013](https://github.com/moment/moment/blob/develop/CHANGELOG.md#200-see-changelog).

As you can see though, https://github.com/moment/moment/blob/40b52a0333f2620f1c3fc3bdad7dc71b5941c13f/src/lib/moment/compare.js#L18-L29 is not the same as https://github.com/airbnb/react-dates/blob/master/src/utils/isBeforeDay.js - the latter is the logic we needed, so we implemented it

[2020-04-17 04:56] #1973 closed

[2020-04-17 19:53] DBjelovuk commented on #1973
Aside from being static and with a different implementation, do they not produce the same result? Looks like they would to me after grocking a bit, but maybe I'm mistaken.

[2020-04-17 20:50] ljharb commented on #1973
I can't speak to the history. If they have the same behavior *now* - for every locale and every possible date/time - then we could conceivable refactor our impl to just call into moment's impl. That seems like a lot of work to prove, though.

[2020-04-17 23:17] DBjelovuk commented on #1973
Fair enough, I'll chalk it up as an in-theory sort of thing, but with potential edge case blind spots. Thanks for the insight.

[2020-04-19 03:51] pompan129 commented on #1845
ny progress on this. I'm having the same problem. `onDatesChange` is called but with null values.

[2020-04-19 15:37] mathishuettl commented on #714
Hello,

I also just want to display specific dates, but it won't work...

[code]

[2020-04-20 18:22] ImadBoumzaoued commented on #1320
if anyone still interested even with a dirty hack 😬, here is one:
https://codesandbox.io/s/frosty-wilbur-1irkh

[2020-04-22 00:12] nakita-strangeways commented on #1864
This error started showing up recently for the first time on our tests too
![Screen Shot 2020-04-21 at 4 49 44 PM](https://user-images.githubusercontent.com/40547453/79926938-102e9000-83f3-11ea-8014-6e51773b4156.png)
Is this still a non-issue?

[2020-04-22 01:47] greenkeeper[bot] opened #1977 "An in-range update of enzyme is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## There have been updates to the *enzyme* monorepo:

 + - The `devDependency` [enzyme](https://github.com/airbnb/enzyme) was updated from `3.10.0` to `3.11.0`.
- The `devDependency` [enzyme

[2020-04-22 19:05] bdrazen commented on #692
@gokulramkul Is the callback provided the next month? I don't see that in the source code.

[2020-04-22 19:19] stahlmanDesign commented on #1137
import isAfterDay from 'react-dates/lib/utils/isAfterDay'

[2020-04-22 19:34] ljharb commented on #1137
Everything reachable is properly exposed by its deep path - the improper way would be to add it to the massive pile of exports in the root.

[2020-04-22 20:21] TerrySlack opened #1978 "Handling Invalid Date Range selection"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
Click on a start date and an end date.
Then go back and click on the start date input and then select a date that is past the end date.  Ie in the future.
This updates the start date input box with the date that is farther in the future, but visually the calendar does not indicate that this is an invalid range and does not update the

[2020-04-22 20:26] TerrySlack commented on #1978
Sorry the above ticket is missing part of the handleCalendarChange that is passed into the picker and used inside the onDatesChange method above
[code]

[2020-04-22 20:26] #1978 closed

[2020-04-22 20:26] TerrySlack commented on #1978
Cannot edit ticket.  Resubmiiting

[2020-04-22 20:30] TerrySlack opened #1979 "Handling Invalid Date Ranges where the selected start Date exceeds the End Date"
react-dates version
react-dates@21.8.0

Describe the bug
Click on a start date and an end date.
Then go back and click on the start date input and then select a date that is past the end date. Ie in the future.
This updates the start date input box with the date that is farther in the future, but visually the calendar does not indicate that this is an invalid range and does not update the Calendar

[2020-04-23 05:49] rikinshah23 opened #1980 "how to create month picker ?"
Hello,

I am looking to get month picker as shown on this link.
https://tombatossals.github.io/react-dates/?selectedKind=MonthPicker&selectedStory=with%20custom%20month%20size&full=0&down=1&left=1&panelRight=0&downPanel=kadirahq%2Fstorybook-addon-actions%2Factions-panel

Could anyone guide on basic example for this pls?
Thanks

[2020-04-24 02:15] rikinshah23 opened #1981 "Styling question to override inline styling"
I want to make styling changes to react-dates, DateRangePicker.

I want to be able to give paddingBottom and on right as highlighted.

If I see in dev tools it shows me style is given inline so I cannot even override this change

![image](https://user-images.githubusercontent.com/26806597/80168057-3002b700-859f-11ea-9858-b179b1b52940.png)

![image](https://user-images.githubusercontent.com/2680659

[2020-04-24 21:08] mmarkelov commented on #1980
@rikinshah23 it will be pretty hard to do this. As start point you can check #241

[2020-04-24 21:35] mmarkelov commented on #1981
@rikinshah23 you can add it with your styles:
[code]

[2020-04-24 23:17] greenkeeper[bot] opened #1982 "An in-range update of coveralls is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [coveralls](https://github.com/nickmerwin/node-coveralls) was updated from `3.0.14` to `3.1.0`.

🚨 [View failing branch](https://github.com/airbnb/react-dates/compare/ma

[2020-04-25 18:18] mathishuettl opened #1983 "Only enable specific dates"
Hello,

I just want to enable specific dates in the SingleDatePicker component, but it wont work...

[code]

[2020-04-25 20:19] #1981 closed

[2020-04-25 20:20] ljharb commented on #1980
react-dates doesn't have a month picker; you're linking to a fork.

[2020-04-25 20:20] #1980 closed

[2020-04-25 20:20] #1951 closed

[2020-04-27 12:23] kapor190 opened #1984 "Unwanted resizing"
Is there any way to not resize DatePicker when change month to with different number of weeks ?

[2020-04-29 12:11] SilencerWeb opened #1985 "DayPickerRangeController does not change months and weekdays on locale update if startDate and endDate were passed"
**react-dates version**
e.g. react-dates@21.8.0

**Describe the bug**
I use [react-i18next@11.0.1](https://github.com/i18next/react-i18next) and [moment@2.24.0](https://github.com/moment/moment/) in the project, it supports 2 languages: Russian and English. When I use `DayPickerRangeController` and it gets `null` in props `startDate` and `endDate`, `DayPickerRangeController` changes months and wee

[2020-04-30 05:08] harishmoghe opened #1986 "Unable to select time."

[2020-04-30 06:02] ljharb commented on #1986
You'll have to elaborate; we don't have a time picker.

[2020-04-30 06:02] #1986 closed

[2020-04-30 06:03] harishmoghe commented on #1986
Ohh ok. Thanks

[2020-04-30 13:00] Kibo007 commented on #466
Thank you @majapw , strange I could not find this in the documentation

[2020-04-30 19:11] lainermeister commented on #1946
@ljharb That makes sense. How would you recommend making the date picker slightly smaller without using negative padding?

[2020-04-30 21:51] lainermeister opened #1987 "componentWillUpdate will be renamed console warning"
**react-dates version**
e.g. react-dates@18.3.1

I am implementing both the `DayPickerSingleDateController` and the `DayPickerRangeController` components, and I get these yellow warnings in my console.
[code]
Is this a warning that I can suppress on my side? Or is this something that is being updated?

[2020-05-01 10:38] PatrickBokhove opened #1988 "Locale error while getting started"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
When following the exact instructions from the Getting Started section, moment will throw an error regarding the locale.

**Source code (including props configuration)**
Steps to reproduce the behavior:

1. Ran the install dependencies command which installs react-dates and moment
2. Added the initialize import in the application roo

[2020-05-01 11:01] #1988 closed

[2020-05-01 11:05] PatrickBokhove commented on #1988
Reverting to moment 2.24.0 solved the issue, closing.

[2020-05-01 16:03] wootencl commented on #1320
Relevant code snippets from @ImadBoumzaoued's codesandbox (updated a bit to check for visibility and TS):
[code]

[2020-05-01 23:45] maugustosemperfi commented on #662
My problem is that any click i make outside **SingleDatePicker's** container is setting `focused` to `false` and emitting onClose, eventually closing the DatePicker. I will make a PR later implementing `onOutsideClick`.

[2020-05-02 20:56] maugustosemperfi commented on #1984
I would like to see this too.

Maybe something like `fixedCalendarHeight` that set max lines for all months.

[2020-05-04 05:25] ljharb commented on #1987
Duplicate of #1850. Duplicate of #1805. Duplicate of #1748.

[2020-05-04 05:25] #1987 closed

[2020-05-04 05:29] ljharb commented on #1946
I don't have a specific solution in mind, but probably an explicit prop to adjust the styling.

[2020-05-04 14:07] idomiralin opened #1990 "showClearDates is not clearing the startdate and enddate"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
When clearing the dates (option which is enabled with showClearDates={true}), the startdate and enddate is not cleared. Could you add a prop which will call a method when clearing the dates in order to set them on null? Or is there any other possibility? because they remain uncleared after trying to clear them.

**Source code (includ

[2020-05-04 16:05] IadityaM commented on #23
Any updates on this? Could really use this functionality.

[2020-05-06 09:05] mmarkelov commented on #1990
@idomiralin i can't see **onDatesChange** prop in your **DateRangePicker** component. It won't clear dates without it.
[code]

[2020-05-07 09:43] AdiBevoor opened #1991 "Block certain hours of a date. Is this possible to do?"
Hi is there functionality to block certain hours of a date in this library?

[2020-05-07 13:07] #1991 closed

[2020-05-07 13:35] alfonmga commented on #1550
I'm not even to make it works using `withPortal={true}` prop.

I tried it also by overriding `DateRangePicker_picker__portal` styles and adding `z-index: 9999;` but it just doesn't work. It loses the focus and closes itself:

![2020-05-07 at 15 21](https://user-images.githubusercontent.com/9363272/81299465-8f1ffb80-9076-11ea-9b57-76d148fac109.gif)

I have been stuck with this issue for a few hours

[2020-05-07 20:06] lainermeister commented on #1946
Thanks @ljharb . Looking into the CSS, it seems like the two props I'd have to adjust in the transition container are `width: 744px` and the `transform: translateX(-248px)`. However, the translateX should only be adjusted during the duration of the transition. This is done via states in the `DayPicker` component, which I don't exactly have access to as an implementer.

Do you have suggestions on h

[2020-05-11 10:13] azad-steadybiz commented on #662
For **SingleDatePicker** you can use **onClose** instead of **onOutsideClick**

[2020-05-12 21:59] smit1625 commented on #1426
Here's a typescript version of @renatoagds awesome contribution, using a jest spy that is properly cleaned up in between tests.

[code]

[2020-05-13 00:54] betCG commented on #1833
Hi! how did you do that? I'm kinda new doing this.

[2020-05-14 11:56] meness opened #1993 "renderMonthText prop makes the calendar invisible"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
I need the Jalali calendar instead of Gregorian, so based on docs and examples, I came up with the following configuration.

The calendar works perfectly without `renderMonthText` prop. `renderMonthText` prop makes the calendar view invisible as you see on the preview below.

**Source code (including props configuration)**
[code]

**

[2020-05-14 16:51] mmarkelov commented on #1993
@meness youp, seems like a bug. And I suppose it came from here:
https://github.com/airbnb/react-dates/blob/480b9902d69e64e62a2ef5c2d3b5fc3adef94444/src/components/DayPicker.jsx#L342-L346
Cause comparing two functions will be always return false, it will break UI, I can take a look and try to fix it

[2020-05-15 06:41] mmarkelov commented on #1993
@meness as workaround it should work with **renderMonthElement**
[code]

[2020-05-15 10:17] martin2day opened #1994 "SingleDatePicker error when date props is set to null"
For **SingleDatePicker** when the date props is set to null, language isn't taken into account anymore and set to default in english.

[code]

[2020-05-15 12:09] mmarkelov commented on #1994
@martin2day could you provide small repro with [codesandbox](https://codesandbox.io/) for example?

[2020-05-15 12:50] martin2day commented on #1994
The codesandbox help me to identifie the problems. 🦆
The error came from me.
Sorry for the inconvenience, i'm closing this issue.

[2020-05-15 12:50] #1994 closed

[2020-05-15 19:48] HaciKale commented on #1561
kinda sad that it hasn't been responded to and it's been over a year since I created this issue :/

[2020-05-15 20:36] ljharb commented on #1561
Sorry for the lack of response.

A PR would help; maintainers are usually the worst candidates to write documentation because they have the curse of knowledge.

[2020-05-16 10:04] davidpatters0n commented on #1238
I'm encountering the exact same issue, and have tried a variety of things such as trying to set:

* dayPickerHorizontalPadding
* daySize

Neither are helping.

[2020-05-18 13:46] fymmot opened #1996 "Option to hide dates in the past and non-selectable dates from screen reader"
Based on usability tests with blind users, we would like to hide date buttons that are
A) in the past, or
B) non-selectable

[2020-05-18 14:42] yournatalita commented on #1641
I played with styles during the project and I know I probably did something wrong, but I came to the same problem.

I realized somehow on some step of my project height started calculating wrong everytime with the same difference from the right way ("one cell height", for me it's 37px)

So i added it as a padding and overrode box-sizing

[code]
Since I have complex customized layout seems it is th

[2020-05-20 12:43] lausellduane commented on #1238
I found a band aid for this a while ago. So I "override" the css file for react dates and aligned everything there with ```width: 33% !important```. Excuse me its been a long time since I looked into this, you need to import the override css file like below If I am not mistaken the order was important.

[code]
### react_dates_overrides.css
[code]

### Component.js
[code]

[2020-05-22 14:13] meness opened #1997 "DayPickerSingleDateController - unknown props found: minDate"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
Defining `minDate` prop for `DayPickerSingleDateController` throws an unknown prop found exception.

**Source code (including props configuration)**
[code]

**Is the issue reproducible in Storybook?**
https://codesandbox.io/s/mystifying-meadow-7buw6?file=/src/App.js

[2020-05-22 15:30] meness opened #1998 "DayPickerSingleDateController: initialVisibleMonth prop doesn't do anything"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
Defining `initialVisibleMonth` prop for `DayPickerSingleDateController` doesn't do anything.

**Source code (including props configuration)**
[code]

**Is the issue reproducible in Storybook?**
https://codesandbox.io/s/romantic-vaughan-yh5ux?file=/src/App.js:267-365

**Additional context**
I found this issue when tried to block some

[2020-05-23 19:56] mmarkelov commented on #1997
@meness hmm... Looks strange. I just can't see https://github.com/airbnb/react-dates/pull/1927 in prod build. Seems like that **react-dates@21.8.0** was published without it

[2020-05-23 20:05] mmarkelov commented on #1998
@meness just noticed that it doesn't work without **focused** prop:
[code]

[2020-05-24 23:36] GMikk opened #1999 "isDayBlocked not working properly"
**react-dates version**
 react-dates@21.8.0

**Describe the bug**
isDayBlocked not working properly, after i click on start date it shows no disabled days, but when i click on end date it start showing.

**Source code (including props configuration)**
Steps to reproduce the behavior:
[code]

**Screenshots/Gifs**
If applicable, add screenshots or gifs to help explain your problem.

**Desktop (pleas

[2020-05-25 09:14] GMikk commented on #1999
Found the problem, i needed to pass dares array through state.

[2020-05-25 09:14] #1999 closed

[2020-05-25 12:33] RichMatthews opened #2000 "Can't seem to apply positioning/z-index to the calendar?"
![Screenshot 2020-05-25 at 13 31 02](https://user-images.githubusercontent.com/15377863/82813013-20230f00-9e8c-11ea-88fb-3e7f15dfa900.png)

as you can see in the screenshot I can't seem to get the calendar to appear over the top of my containing modal. I've tried adding `position: absolute` and `z-index: 100` to all the divs inside and nothing is changing position of it

how do I achieve this?

[2020-05-27 00:33] greenkeeper[bot] opened #2001 "An in-range update of babel7 is breaking the build 🚨"
***
🚨 **Reminder!** Less than one month left to migrate your repositories over to Snyk before Greenkeeper says goodbye on June 3rd! 💜 🚚💨 💚

[Find out how to migrate to Snyk at greenkeeper.io](https://greenkeeper.io)
***
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/cli](https://www.npmjs.com/package/@babel/cli) was updated from `7.8.4` to `7.10.0`.
- The `d

[2020-05-27 15:55] espretto opened #2002 "misleading storybook story rendering <td> inside <td>"
Hello,

[this story](https://github.com/airbnb/react-dates/blob/480b9902d69e64e62a2ef5c2d3b5fc3adef94444/stories/DateRangePicker_day.js#L129)  renders `<td>` elements inside `<td>` elements.
[code]
here goes my quick fix:
[code]
I stumbled upon this because I needed to add a className to _highlighted_ `<td>` elements. I could not work around this using render prop `renderCalendarDay` of `DayPicker

[2020-05-28 12:22] tokarskyibogdan commented on #1610
@daniel-hill I styled 1st day with `td:empty + td` but still can't find solution for last

[2020-05-28 13:29] meness opened #2003 "How to create a customized theme for DayPickerSingleDateController"
I tried the example code on README, but the theme didn't apply. It still has the default theme.

[2020-05-30 10:39] RichMatthews commented on #2000
@ljharb any ideas pal?

[2020-05-30 14:35] mostafa99mshk opened #2004 "inline styling for tags without classes"
hi every one .
i am using react-dates library and I want to customize it for myself .
the main solution to customizing date picker is overwriting the css classes  .
but i want to set a style for one of div tags in the code and it doesn't have any class names , so i cannot write a css code and reference it to that div tag  .
what should i do guys [?[](url)](url
![Capture](https://user-images.github

[2020-05-30 21:16] ljharb commented on #2000
Nope. If you put up a codesandbox tho, i can see what i can do.

[2020-05-30 21:19] ljharb commented on #2004
Can you show a screenshot with which part of which component you want to restyle, and explain in what ways?

[2020-05-30 21:22] #2001 closed

[2020-06-03 13:45] OrganicPanda commented on #1249
Ran in to this and @Marinolinderhof's [comment](https://github.com/airbnb/react-dates/issues/1249#issuecomment-507133632) was spot on. We were rendering the date picker before it was visible which causes react-dates to hide itself for some reason. As soon as we switched to only rendering the date picker when we knew it would be visible it was fixed

[2020-06-04 09:24] Sinnbeck commented on #1791
@Louis-Simon22 You are close but the import of START_DATE is wrong

This works
[code]

[2020-06-04 15:58] afshing commented on #1985
A potential workaround:
`
startDate={dateRange.startDate ? dateRange.startDate.locale(i18next.language) : null}
`

[2020-06-04 23:58] picozzimichele commented on #934
Thanks @HollyJHuber!

I can confirm that this works, just add them as static values and the console error disappears

`startDateId="start"`
`endDateId="end"`

[2020-06-06 16:58] gunturaf commented on #1997
seconding @meness , happened to me too using react-dates@21.8.0

[2020-06-09 06:41] idomiralin opened #2006 "How to display events in react-dates?"
I want to create an airbnb like calendar with all the reservations and to be able to block or open specific dates from the calendar.

But I can't find a way to display events (as for example reservations) in react-dates?

[2020-06-11 10:45] missbruni commented on #1054
I have the same problem, anyone ?

[2020-06-11 10:47] missbruni commented on #1054
@ic3m3n have you found a solution ?

[2020-06-11 15:03] bjornoj opened #2007 "Each day has a fixed width of 159px, causing overflow"
**react-dates version**
[code]

**Describe the bug**
Each day has a width of 159px, which causes the calendar to overflow and be unusable.

**Source code (including props configuration)**
Steps to reproduce the behavior:

Create this exact storybook file:
[code]

**Screenshots/Gifs**
<img width="1051" alt="Skjermbilde 2020-06-11 kl  17 01 25" src="https://user-images.githubusercontent.com/26007343

[2020-06-15 14:35] szklanko opened #2008 "DayPickerRangeController: absence of modifier when focusedInput is null"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
Modifier 'CalendarDay__hovered_offset' doesn't show when prop `focusedInput=null`

**Source code (including props configuration)**
Steps to reproduce the behavior:
 * Use props `startDateOffset` and `endDateOffset`
 * Set focusedInput to null

Expected behavior:
  Days falling into offset have class `.CalendarDay__hovered_offset`

Ac

[2020-06-15 18:47] #1926 closed

[2020-06-15 18:47] missbruni commented on #1926
Don't rmb but it was solved at the time. I think it might have been css.

[2020-06-17 11:55] CrossTheDev opened #2009 "CalendarDay is missing aria-current attribute for today's date"
An accessibility attribute `aria-current="date"` is missing on the `CalendarDay` of today's date. It marks the current date to screen reader users.

https://www.w3.org/TR/wai-aria-1.1/#aria-current

[2020-06-17 12:40] mmarkelov commented on #2008
@szklanko I'm not sure that is wrong behavior, there is https://github.com/airbnb/react-dates/commit/72f3bcdc8fbfcbd92cfbe6b5e634da155efe15d9 so there is condition to check if `focusedInput` is true value.

[2020-06-19 10:06] jackdhamu commented on #24
singleDateRange={true}, Will help us

[2020-06-21 08:27] sijusamson commented on #25
Why the year selection is not documented ? If this issue is already fixed ?

[2020-06-21 11:41] HanliTheron opened #2011 "Styling selected calendarDay"
Hi,
I was wondering if custom styling the selected start and end date like this is possible with this package:
![image](https://user-images.githubusercontent.com/46846877/85223444-8e8fba00-b3c3-11ea-9fac-5dfc2a17d4c8.png)

This is what I tried:

    .CalendarDay__selected_end {
        width: 34px;
        height: 34px;
        background: #bfc849;
        opacity: 0.5;
        border: 0px;

[2020-06-21 15:36] #776 closed

[2020-06-22 06:54] CrossTheDev opened #2012 "Focus lost/misplaced on date change in IE11"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
This is an accessibility problem in IE11. Focus is lost if you select a date by mouse or keyboard from calendar. You should be able to TAB to the next input, but it is not possible in IE11.

**Steps to reproduce**
1. Open calendar
1. Select a date by mouse or keyboard
1. Use TAB to move to next input
1. You are now not in the next in

[2020-06-22 08:26] HanliTheron commented on #2011
With some help I managed to get it working by using the ::before pseudo element.

[2020-06-22 08:26] #2011 closed

[2020-06-22 11:01] HanliTheron commented on #411
Hey @zachfeldman, did you ever find a solution for the missing right border?

[2020-06-22 13:41] zachfeldman commented on #411
@HanliTheron oh wow this was years ago. I believe we ended up building our own calendar library at a certain point and pulling react-dates due to this and other issues, IIRC...

[2020-06-22 15:48] brandondurham commented on #1997
Has this been solved?

[2020-06-22 16:11] ghostropic commented on #1318
I'm trying to get this to work but unable to pass the `onClick` out of `renderCalendarInfo`.

parent component:
`const ChangeDate = ({ subscription, setSubscriptionDate, subscriptionDate }) => {...`

[code]

I have another button working fine in the same parent component:

[code]

Maybe something obvious here I'm messing up?

[2020-06-22 16:14] ljharb commented on #1318
onclick versus onClick?

[2020-06-23 05:06] guiaramos commented on #1604
@yuribett did you get the solution for this issue?

[2020-06-23 07:38] ggunia opened #2013 "Can not select start date before today"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
Days before today are disabled

**Source code (including props configuration)**

[code]

**Desktop (please complete the following information):**
 - OS: MacOS
 - Browser chrome
 - Version

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone6]
 - OS: [e.g. iOS8.1]
 - Browser [e.g. stock browser, safari]

[2020-06-23 07:42] mmarkelov commented on #2013
Duplicate of #1719, #1124, #1519, #1392, #1117, #1073, #985, #801, #718, #714, etc.
[code]

[2020-06-23 17:45] #2013 closed

[2020-06-24 09:58] mgs95 opened #2014 "`tabindex="-1"` does not includes `renderCalendarInfo` content"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
To handle accessibility, `tabindex="-1"` is included in the calendar content container. The problem is that this wrapper does not include the content rendered by `renderCalendarInfo`.

This generates two problems:
- if you focus on `renderCalendarInfo` content, you cannot use shortcuts.
- if you have another container outside the cal

[2020-06-25 00:37] EliRobinson commented on #235
Is there a reason events aren't passed up the chain? In most cases, allowing developers to have access to the event object so they can get data and/or call functions on the event is very helpful and would solve this problem.

[code]

[2020-06-26 19:17] webdevfrancisco commented on #82
this no longer works, I'm on version ^21.8.0

[2020-06-30 21:55] KrisB1022 commented on #1023
RE: https://github.com/airbnb/react-dates/pull/2015

[2020-06-30 23:41] struct78 opened #2016 "Is this project being actively maintained?"
I've noticed only a couple of pull requests have been merged since January 2020 and issues are piling up. I understand Airbnb haver had significant staff changes due to COVID-19, and I fully understand and respect their situation, however, it would be good to know what the long term future of this product is.

[2020-07-01 02:34] ljharb commented on #2016
At the moment, yes, it is. Do you have a specific issue that needs attention?

[2020-07-01 02:34] #2016 closed

[2020-07-04 01:35] dlimx opened #2017 "Status of next release?"
Hello,

Any status on a further release?

My team is waiting on:
https://github.com/airbnb/react-dates/issues/1632

And the associated:
https://github.com/airbnb/react-dates/pull/1927

To be released to NPM

[2020-07-04 01:35] dlimx commented on #2017
Thank you!

[2020-07-06 09:05] seaneking commented on #1294
For anyone following along with this, I've had pretty good success with Webpack aliasing DayJS to Moment using additional DayJS plugins for full API parity (total bundle still ~4kb). See https://www.npmjs.com/package/antd-dayjs-webpack-plugin and https://www.npmjs.com/package/dayjs-webpack-plugin (with the `antd` preset)

[2020-07-06 09:38] Pyot commented on #949
Hello @Mathiasduc,

Any news about it?

[2020-07-06 10:00] Mathiasduc commented on #949
Hi,
At the time i tried to work on it and it too much for me to get fully immersed in the code base, so i did not progress much.
Sorry :s

[2020-07-07 15:31] jufghd commented on #374
how to change dates of different blocked dates color??

[2020-07-08 00:20] Atiqullah-Naemi opened #2018 "custom year/month navigation update dropdown but calendar"
I am using react-dates and specified min and max dates, also created custom year/month navigation, but the problem is that if the month is by default before the month in min date and want to change year, it change month and year in both panels to min date month/year and if you click on prev icon it should be disabled and next icon should be enabeld (for example: if left panel month is Jul, right p

[2020-07-08 06:40] AlbertoTonegari commented on #1845
Hello! 👋
Any progress on this? I am unable to update the calendar date when I type the date from the input in the `SingleDatePicker`. The calendar updates with the date specified in the input, but in doesn't go automatically to that date. Is there a way to get the following behaviour:
- write the date in the input field and the caledar automatically takes you to that date, whithout the need of cli

[2020-07-08 12:30] Muridi010 commented on #934
This seems to be working for me too but dont know why i needed to add it.
startDateId="start"
endDateId="end"

[2020-07-08 17:20] LorenzoHiver opened #2019 "Can select a range with blocked days inside ?"
Hello all,

I try to make a booking website and I want to use your librairie. I've see this issue (https://github.com/airbnb/react-dates/issues/23) to block select range if days blocked is inside, but I don't know if it's ok, and if yes, how do to make it.

Thank's you ! :)

[2020-07-09 09:20] klejejs commented on #1332
Same happening with version 21.8.0.

[2020-07-16 09:41] krcaltomas99 commented on #259
If you want to change locales on the fly, you have to create an instance from moment js and then if you change the language, you have to call the change again. This will probably change the date if you already selected one, but I'm sure you can fix that very easily 😇

Working Example

`
...
const [date, setDate] = useState(moment());

useEffect(() => {
	moment.locale(i18n.language);
	setDate(momen

[2020-07-16 10:13] Vages commented on #208
Slight update: date-fns now support 70 locales: https://github.com/date-fns/date-fns/blob/master/src/locale/index.js

[2020-07-16 13:27] photocherkaoui commented on #1367
Can I set the format this way:
displayFormat={() => ["DD","MM","YYYY"]}

So that I have access to state props by an array

[2020-07-16 20:41] photocherkaoui opened #2025 "convert to functional component"
Hi,

  I would like to convert DateRangePicker to a functional format:

[code]

I am stuck in "focusedInput" conversion

[2020-07-17 13:27] JazminGonzalez-Rivero opened #2026 "verticalBorderSpacing Is missing from DayPickerRangeControllerShape"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
verticalBorderSpacing is fully implemented by DayPickerRangeController BUT it throws an error because it is missing from the shape.

<img width="2094" alt="Screen Shot 2020-07-17 at 9 24 20 AM" src="https://user-images.githubusercontent.com/1447492/87790908-512a1b00-c80f-11ea-9e83-3018b2c5f832.png">

**Source code (including props co

[2020-07-17 16:31] taiphamv opened #2027 "TypeError: moment.default is not a function"
**react-dates version**
react-dates@21.8.0
**react version**
react@16.9.0

**Describe the bug**
I use react to build theme wordpress. When I use `react-dates` component. The error display as attachment image.
![Moment-Error](https://user-images.githubusercontent.com/11961973/87809363-7b1e2480-c885-11ea-8bb3-3bc922f6090d.PNG)

My webpack config is:
[code]
Can you give me advice for webpack config o

[2020-07-20 06:20] #2027 closed

[2020-07-20 06:27] mmarkelov commented on #2026
@JazminGonzalez-Rivero **react-dates** doesn't provide type definition, so this is related to **@types/react-dates**

[2020-07-20 06:31] ljharb commented on #2027
Did you figure out your issue?

Typically this is a babel configuration error.

[2020-07-20 11:29] mmarkelov commented on #2025
@photocherkaoui something like this:
[code]

[2020-07-20 12:27] vijilvpillai commented on #129
I am also facing the same issue with single datepicker portal. I adjusted the z-index of portal. Now calendar is coming out in a bootstrap modal but selection of dates is not working properly. The datepicker is getting closed  when I am selecting the dates.
Anyone can help please. I am stuck with issue for days

[2020-07-20 17:16] vijilvpillai opened #2028 "Unable to select date in React dates singledatepicker with portal option"
**react-dates version**
react-dates@21.8.0

Thank you  for the nice package by react-dates.
I am facing one strange issue in my bootstrap modal where I am rendering the single datepicker using withportal option.
First there was an z-index issue which I fixed by adding css to **SingleDatePicker_picker__portal** class
Now whenever I am selecting a date, the datepicker gets automatically closed and t

[2020-07-20 21:09] ljharb commented on #2025
Since this seems like a general React/JS question and not specific to react-dates, I'm going to close it, but feel free to keep discussing.

[2020-07-20 21:10] #2025 closed

[2020-07-21 02:29] vijilvpillai commented on #1623
Hi @phibsholo ,
Could you please share me the fix.I am also facing the issue with bootstrap modal

[2020-07-21 07:35] taiphamv commented on #2027
Thank you very much @ljharb. This issue related babel configuration. I resolved this issue.

[2020-07-21 08:33] phibsholo commented on #1623
HI @vijilvpillai,
the fix is just explained on the comment before [,](https://github.com/airbnb/react-dates/issues/1623#issuecomment-483999157) in any case, I could solve the problem using Material UI modal and inside use the DayPickerRangeController.
I had to do:
`
import Dialog from '@material-ui/core/Dialog';
<Dialog>
    <DayPickerRangeController
          {...props}
        />
</Dialog>
`
Thi

[2020-07-21 09:56] vijilvpillai commented on #1623
Thank you @phibsholo . I am using a bootstrap modal and SingleDatePicker. My datepicker is already inside  a bootstrap  parent modal only. As a temporary fix I am not using portal option . As an alternative I reduced the calendar day cell size so that it can fit the screen

[2020-07-23 10:02] camille-dev commented on #1966
I seem to have the same issue for the SingleDatePicker: once clicked, DayPicker stays open no matter what (click outside, or select a date). This is despite the focused prop being set to false.
The package is up-to-date (21.8.0)

[2020-07-23 14:56] firestar300 commented on #2007
Same problem.

[2020-07-25 15:31] ucheuzor commented on #1146
Please has anyone seen solution to this? Am stuck here. Calendar picker not popping up

[2020-07-25 15:34] ucheuzor commented on #1146
Thanks so much. This solved it for me. I was literally dying. Couldn't figure out where the problem is. This solved it

[2020-07-31 12:23] WilliamDugdale opened #2029 "Does not seem to use the react-with-styles method 'withStyles' correctly"
'withStyles' is used in the DayPicker component to create the styles object, but the employed 'css' method is the legacy (now deprecated) version from 'react-with-styles'.

This means that developers are obliged to use the 'ThemedStyleSheet' solution. However, if the 'css' method that is injected by withStyles were used instead, then we could pass down a context of the theme, and maintain full sty

[2020-08-03 09:51] fakeheal commented on #1985
I am using i18next as well & `DayPickerSingleDateController`.
I have imported the following locales in this order:

[code]
Also I have this hook:

[code]

Everything works as expected, but if I do not pass the `focused` prop, calendar opens to current month (not selected date's month).

If I pass the `focused` prop, I get the selected date's month, but the calendar is translated in the last import

[2020-08-04 05:18] chris-herring commented on #2028
Hitting the same issue. Did you find a solution?

[2020-08-04 10:24] vijilvpillai commented on #2028
This has to do something with the bootstrap modal click propogations. I am not able to find a working solution for the same.

[2020-08-06 06:34] chris-herring commented on #2028
I'm using material-ui. I forked react-dates to put e.stopPropagation() into the onDayClick event handler in DayPickerSingleDateController.jsx and that worked until I tried it with a material-ui dialog and the same issue reoccurred. Cutting my losses and switching to another date picker.

[2020-08-06 20:39] ThandolwenkosiSibanda commented on #1146
Thank you so much for that solution worked for me too

[2020-08-12 02:34] omerdemirkan commented on #190
Hey all, Through some trial and error with previous responses I think I've found a somewhat elegant solution.

A word of caution: This is an example using Typescript and Next.js

In case it helps, here it is:
[code]

[2020-08-13 07:46] akshayjai1 commented on #1860
For me the maxDate itself didn't worked, but found a way around https://stackoverflow.com/questions/63390068/max-date-does-not-work-for-react-dates-to-prevent-future-dates-from-being-select

[2020-08-13 07:47] akshayjai1 commented on #1514
https://stackoverflow.com/questions/63390068/max-date-does-not-work-for-react-dates-to-prevent-future-dates-from-being-select

[2020-08-14 10:36] Rafa-F commented on #1393
any updates on this issue?

[2020-08-15 00:21] moumnimohamed opened #2031 "There is a way to add title in top of placeholder ?"
I override  default design but i still not finding props to add  title in top of placeholder
![overied](https://user-images.githubusercontent.com/21304554/90301092-a6e8f600-de95-11ea-8a2f-d4221d123852.PNG)
![Uploading double place holder.PNG…]()

[2020-08-15 17:57] Ash000es opened #2032 "how can I resize the calendar card for mobile device ? also I cannot override the height with class name"
I am sure I am doing something wrong as it says that this daterange picker is mobile friendly.

first: when resizing the browser it doesn't shrink at all and it starts to fold one input field on top of the other quite early at 1200px or so

second: you can't override the height with classname I have tried all those classes
DateRangePickerInput__withBorder .DateRangePickerInput__withBorder_2
DateRa

[2020-08-16 12:14] sumeyradavran opened #2033 "How to add dynamic localization?"
I have been trying to add a localization for different languages.

I can add one language not multiple.

Is it possible with react-dates?

`import React, { useState, useEffect } from "react";
import 'react-dates/initialize';
import 'react-dates/lib/css/_datepicker.css';
import { DateRangePicker } from "react-dates";
import moment from "moment";
import { getLanguage } from "./getLanguage";

functio

[2020-08-17 09:12] mmarkelov commented on #2031
@moumnimohamed I suppose there is no way to do it.

[2020-08-17 12:31] mmarkelov commented on #2033
@sumeyradavran hey I just made small example on [codesandbox](https://codesandbox.io/s/ecstatic-snowflake-yz1ln?file=/src/index.js).  The main idea is to run `moment.locale()` with new language. Also you need to import `moment/min/locales.min`

[2020-08-18 06:04] #1861 closed

[2020-08-18 14:42] nicosommi commented on #1296
Also, just to add one more use case. I want to pass down `aria-invalid` to `SingleDatePicker` when this field is required in a form and I can't (if there is a way please tell me as I couldn't find it neither via direct test or in the [source code]()).

BTW, I agree that unknown props may cause issues, but that is one of the reasons why `data-*` attributes exists in the first place, so we don't use

[2020-08-18 17:42] sumeyradavran commented on #2033
@mmarkelov I can add now thank you 👍 . Maybe we can add it on docs.

[2020-08-19 10:54] alexanderwassbjer opened #2034 "Can't navigate more then 3 months ahead"
I have a problem. I use the airbnb react-dates date picker and I want to be able to navigate 12 months from current date. All the demos and also my date picker can only navigate 3 months from current date with the nextMonth button.

Anyone have a clue what's going on?

[2020-08-20 12:58] mmarkelov commented on #2034
@alexanderwassbjer could you provide some code example? Looked through [default example](http://airbnb.io/react-dates/?path=/story/daterangepicker-drp--default) -seems to be ok

[2020-08-20 17:16] mmarkelov commented on #2034
@alexanderwassbjer looks strange. Cause I'm able to do it
<img width="641" alt="Снимок экрана 2020-08-20 в 20 15 15" src="https://user-images.githubusercontent.com/22371328/90803828-02960200-e322-11ea-8350-a69e2e65d4f4.png">

[2020-08-20 19:16] alexanderwassbjer commented on #2034
@mmarkelov
It works perfect in chrome but not in safari both macOS safari and iOS safari.
Do you have a clue why it dosen't work in safari?
I think it should work in safari like it does in chrome.

Thanks!

[2020-08-23 15:02] sumeyradavran opened #2035 "Localization does not work if start date is given"
If I give a start date value, localization does not work. You can see an example in https://codesandbox.io/s/react-dates-class-it4v7?file=/src/index.js

If I set start date as null, everything works.

`import React from "react";
import ReactDOM from "react-dom";
import moment from "moment";
import "moment/min/locales.min";
import "react-dates/initialize";
import "react-dates/lib/css/_datepicker.cs

[2020-08-23 20:11] #2035 closed

[2020-08-25 13:50] mlp73 commented on #1993
+1 same issue here. Using the workaround in the meantime

[2020-08-25 23:42] pramodsum opened #2036 "Moment 2.26.0 breaks the typing of dates in any component"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
Moment 2.26.0 breaks the typing of dates in any component in `react-dates`

**Source code (including props configuration)**
1. Set dependency to "moment": "2.26.0" or higher and pass in a date into the DayPicker
2. Compile code with typescript@3.3.3

**Screenshots/Gifs**
[code]

**Desktop (please complete the following information):*

[2020-08-26 04:42] ljharb commented on #2036
Sounds like this is an issue with the moment.js DefinitelyTyped package?

[2020-08-26 04:42] #2036 closed

[2020-08-26 17:33] stevanpopo opened #2038 "Is it possible to remove arrow icon?"
For DateRangePicker, I have found the prop customArrowIcon to have a custom arrow.

Is there a prop to remove the icon completely, such that the div with class .DateRangePickerInput_arrow is not created?

[2020-08-26 19:21] LuiisFernando commented on #1610
Any solution for last day of month ?

[2020-08-27 08:24] mmarkelov commented on #2038
@stevanpopo no, there is no prop to do it. It renders here, so there is no control to display this div:
https://github.com/airbnb/react-dates/blob/2b8089bc6ae565eea87d69880cee9b9097b04434/src/components/DateRangePickerInput.jsx#L258-L266

[2020-08-27 08:36] mmarkelov commented on #1610
@daniel-hill @LuiisFernando there is no way to detect it with **react-dates**. There is a https://github.com/airbnb/react-dates/pull/1640 with this functionality, but IDK the status of it

[2020-08-28 10:25] NZDanny commented on #1479
Just adding my +1 here.

Having to do some hacky workarounds due to lack of this feature.

[2020-08-28 13:12] x4th opened #2039 "iOS Safari only the visible part of the calendar is rendered (container isn't scrollable)"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
Only the visible part of the calendar renders on iOS.

**Source code (including props configuration)**
Steps to reproduce the behavior:
Visit this [codesandbox](https://codesandbox.io/s/laughing-tdd-yjxie?file=/src/App.js:468-968) using a browser on iOS.

[code]

**Screenshots/Gifs**
![8B94D307-73F4-4A4D-9B9D-26BD86CDFE5B](https://us

[2020-09-01 07:24] sindhuanamal opened #2040 "How to set the end date using onDatesChange prop for DateRangePicker?"
Hi, i am new to using react-dates.

i am trying to set the end date when user clicks on a date on calendar.

currently my code is as below, which sets the start date and end date. end date is 4 weeks from todays date. (schedule now how can i determine the end date when user clicks on calendar.

    function handleDateChange = (dates: { startDate: moment.Moment | null }){
         const { startDate

[2020-09-01 08:00] mmarkelov commented on #2040
@sindhuanamal hello!
**end date** is passed inside **onDatesChange** method as **endDate**:
[code]

[2020-09-01 08:10] sindhuanamal commented on #2040
thanks. how does the daterangepicker component detect start and end dates. just for knowing it in more detail.

[2020-09-01 10:09] mmarkelov commented on #2040
@sindhuanamal you can check this method:
https://github.com/airbnb/react-dates/blob/5b29610dba5a00c0e61ac6c84ea58f0991690d4f/src/components/DayPickerRangeController.jsx#L586-L673

[2020-09-01 10:49] sindhuanamal commented on #2040
thanks a lot.

[2020-09-01 10:49] #2040 closed

[2020-09-01 15:58] sindhuanamal opened #2041 "How to disable dates before currentdate using DayPickerRangeController?"
Hi i am new to using react-dates.

i want to disable the dates before the current date. how can i do it using DayPickerRangeController.

below is the code,

    function Parent() {
        return (
            <DayPickerRangeController
                numberOfMonths={3}
                focusedInput={focusedInput}
                onFocusChange={onFocusChange}
             />
         );
     }

Cou

[2020-09-01 17:57] ranneyd commented on #1748
A year later, still no fix!

[2020-09-01 18:02] ljharb commented on #1748
@ranneyd there's nothing to "fix" because nothing is broken. The warning is that it *will* break in React 17, but this package doesn't support React 17 (which isn't actually released yet). Just ignore the warnings.

[2020-09-01 18:21] ranneyd commented on #1748
[Release candidate is out.](https://reactjs.org/blog/2020/08/10/react-v17-rc.html) Gonna wait until it's released, then take a month to fix this issue that could have been fixed two years ago?

You're going to have to leave the React <16.3 people behind some day. You release this fix and what? They just _don't upgrade to the latest version of this lib_. It's not like the current version vanishes f

[2020-09-01 18:24] ljharb commented on #1748
@ranneyd absolutely we'll wait til it's out, because actually as that blog post implies, it won't be until React *18* that things are broken.

Again, this isn't a "fix" - it's a breaking change. You are correct that folks can choose not to upgrade, but that still leaves those users stranded on a likely unsupported version that won't get bugfixes, security updates, or new features.

At some point i

[2020-09-01 18:56] sindhuanamal opened #2042 "How to disable the selection of dates before start date and 6 weeks after start date ?"
Hi, i am using react-dates to display calendar component.

i want to disable selection of the dates from start date and 6 weeks after start date until user selects end date. once user selects end date then selection of all dates possible.

below is my code, that disables selection of dates after 6 weeks from start date. but this happens only after user selects end date.

    const useRangeDates =

[2020-09-01 20:33] chasekaylee commented on #1724
Any updates on this? The same thing is happening to me.

[2020-09-02 07:56] mmarkelov commented on #2041
@sindhuanamal not sure that I understood you correctly, disabling the dates is default behavior.
http://airbnb.io/react-dates/?path=/story/daypickerrangecontroller--default

[2020-09-02 08:30] #2042 closed

[2020-09-03 21:43] maxwaiyaki commented on #1249
Life saver!!!!!

[2020-09-04 10:28] alexanderwassbjer commented on #2034
Any status on this?

[2020-09-04 10:39] mmarkelov commented on #2034
@alexanderwassbjer still can't reproduce it. Do you try to navigate to next month with your keyboard?

[2020-09-04 19:55] mattaningram commented on #1724
Amazingly this even happens on the www.airbnb.com home page. 🤦 Meaning if I set a long date range and then want to change the end date, I have to tediously click the arrow over and over until I find the end date.

[2020-09-07 08:44] MuhammedMikayilov commented on #694
I have same problem. But I cannot solve this

[2020-09-07 18:30] gggiiia commented on #2035
this was closed, did you firgured out the problem?

[2020-09-09 19:19] mhfaust commented on #376
@zebram , how do you handle the change when a user selects a month from the dropdown?

[2020-09-14 07:00] ic3m3n commented on #1054
No @missbruni. I attached a css class to restyle wrong classnames. Sadly if got no fix for the issue itself. Now I'm dealing with it again.

[2020-09-14 22:39] kiddailey commented on #1845
This may be a separate issue, but it feels related.  It also doesn't seem to update if you pass startDate or initialVisibleMonth as props and later update those props outside of the component.  In other words, through state changes on the parent component.  Seems like something is preventing it from seeing the updated dates.

[2020-09-15 08:19] olso commented on #1294
@ljharb

https://momentjs.com/docs/#/-project-status/

[2020-09-15 13:23] plamenh commented on #195
Experiencing the same issue on iOS 14 with react-dates@21.8.0, except I can get back 2 months and forward 1 month. After going back 2 months one step forward brings it back to the starting month. All in all, very strange behavior.

[2020-09-15 15:24] rektide commented on #208
Recent posting from Moment, describing the state of the proejct:

https://momentjs.com/docs/#/-project-status/

I think a lot of people would really love & enjoy a switch to date-fns or #1947 or proposal-temporal. Moment.js indicating that they are a done project & talking about their large size, agreeing with the recommendation to not use Moment for projects, is something I thought worth mentioni

[2020-09-15 15:50] ljharb commented on #208
Temporal is not yet stage 3, and thus is much too premature to use.

However, the champions’ current plan is to aim for stage 3 in November, and it’s simply not worth migrating to another date library twice.

[2020-09-15 16:28] ljharb commented on #1294
Temporal is not yet stage 3, but hopefully will be within the next 6 months, and it’s not worth the effort to migrate to another date library *twice*.

[2020-09-15 16:54] talaus commented on #2017
My team is also waiting for that, will appreciate if this could be addressed.

@dlimx what did you eventually do? Or are you still waiting for it?

[2020-09-15 18:29] tonyhb commented on #208
Just want to note that adding "driver" support explicitly means that we _dont_ have to migrate date libraries twice.

You migrate once and add driver support.  Extensibility and interfaces, similar to other well designed systems.

[2020-09-15 18:43] ljharb commented on #208
@tonyhb that is only true if every relevant date library ends up having the same props patterns/design. moment only has one "kind" of object - Temporal has like 6 or more, and it's highly likely that components will need breaking changes to be able to accept only the relevant Temporal types.

[2020-09-15 22:22] tonyhb commented on #208
No no.  We design the interface that this date picker uses (actually done), and we build an adapter over the specific implementations so they conform to our interface (also done for moment and luxon).

[2020-09-16 05:22] ljharb commented on #208
@tonyhb that is certainly a good goal to strive for, and certainly i understand the point of an adapter :-) what i'm saying is, unless you're designing the interface for Temporal (which is unknown until stage 3), we can't know in advance what the adapter would need to provide to be able to abstract things away sufficiently to make swapping nonbreaking.

[2020-09-16 06:55] vipul0092 opened #2043 "Remove dependency on MomentJS"
MomentJS has announced that it a legacy project in maintenance mode. Not dead, but it is indeed done.
https://momentjs.com/docs/#/-project-status/

Would it make sense to remove the dependency on moment from this library? Especially now that Moment is a deprecated library, has a huge size and is not tree-shakeable.
The Momentjs team has recommended some libraries which can be used in its place.

[2020-09-16 06:59] mmarkelov commented on #2043
@vipul0092 you can check #208 and #1294

[2020-09-16 14:27] tonyhb commented on #2043
Also https://github.com/airbnb/react-dates/pull/1947.

This has been stonewalled as the maintainer is saying that temporal is close and this is unnecessary.  It's been this reason for over 2 years now.

[2020-09-16 14:34] tonyhb commented on #208
I'll drop this discussion after one more comment:

Yes, we totally can.  I don't understand how you say that.  The datepicker already exists!  We know what APIs we need to provide to make the date picker work.  There are only several functions that we need in a driver - already defined https://github.com/airbnb/react-dates/pull/1947/files#diff-5843b3fcb06308c995f15755473ca448R75-R106.

We are not

[2020-09-16 15:46] thibaudcolas commented on #208
With the [statement from Moment.js](https://momentjs.com/docs/#/-project-status/) in mind, could we get a similar statement somewhere on the react-dates README, documenting the intention to keep using moment as-is for now, and eventually replace it with Temporal / the standard library (+ polyfills)? (or whichever other approach).

Personally I’m a happy Moment user, and also very happy they’ve off

[2020-09-17 06:13] ljharb commented on #2043
Duplicate of #208 and others.

[2020-09-17 06:13] #2043 closed

[2020-09-17 12:26] davea38 opened #2044 "Official support for Moment has (finally) been discontinued"
I'd love to use this library, but moment is too heavy. Finally it's been officially discontinued... could I please request you change to date-fns?!

[Moment repo](https://github.com/moment/moment/)

[2020-09-17 20:16] ljharb commented on #2044
This is a duplicate of #208, in which it's explained that we'll be on moment until Temporal is stage 3, at which point we'll migrate to that.

[2020-09-17 20:16] #2044 closed

[2020-09-17 23:58] davea38 commented on #2044
Thanks for the clarification 👍

[2020-09-18 03:06] drzhbe opened #2045 "Not enough control in `renderMonthElement` method `onMonthSelect`"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
The only way to allow users to change a month and a year separately is through `renderMonthElement`.
This API exposes `onMonthSelect` and `onYearSelect` functions. [It works fine](http://airbnb.io/react-dates/?path=/story/daypickersingledatecontroller--single-month-custom-caption) if you use `<select>` controls for both a month and a

[2020-09-18 03:12] #2045 closed

[2020-09-18 10:54] petercherm commented on #2034
I can confirm the issue, we are having that issue on iOS14, both on iPad and iPhone. It's not possible to navigate beyond December 2020.

[2020-09-18 12:28] JimmyGray commented on #2034
I'm having the same issue on iOS14. I temporarily fixed it by setting transitionDuration={0}. Hope this helps! @alexanderwassbjer

[2020-09-21 23:42] constantin-barbu commented on #2034
Also experiencing this issue. @JimmyGray 's solution works until it gets fixed, thank you!

[2020-09-22 12:38] mahyarfrd70 opened #2046 "react dates doesn't show correct jalali dates"
hello guys,
I used react-dates in my project, I want to have both Jalali and milady date picker in my project. but it seems that react-dates works not much well when I wanna use Jalali. I read issues and I found that this problem was asked but I couldn't find the right answer for it, can anyone help me to solve this problem?

problem :

when I render Jalali dates with renderDayContents method as b

[2020-09-24 06:11] KuroNoDev opened #2048 "Blocked days can still be selected via input box"
A blocked day can't be selected by clicking on the day, but still can be selected by manually typing in the input box

![blocked](https://user-images.githubusercontent.com/11919797/94107283-16300d80-fe78-11ea-9cc7-6a05598de3a5.gif)

[2020-09-27 13:16] plamenh commented on #2034
Not only ahead, but backwards as well. @JimmyGray ‘s temp fix works.

[2020-09-28 07:18] alexanderwassbjer commented on #2034
@mmarkelov
Can you reproduce it now? When 4 more people experience the same bug and also that is only appears on iOS 14 on safari.

[2020-09-28 07:35] mmarkelov commented on #2034
@alexanderwassbjer I can reproduce it only for mobile browsers. It's ok for desktop safari.

[2020-09-28 14:53] TomaIvanovTomov opened #2049 "Not an issue but don't know where to ask"
Excuse me for my question! It might be something simple but didn't find answer around google.
How can I add react package in simple javascript? I wan't to use the react-dates package but don't understand how and can I use it in plain javascript project.
Thank you!

[2020-09-28 15:54] ljharb commented on #2049
To use basically anything these days, you need to npm install it, and use a module bundler to deliver it to the web. There’s a number of tutorials for this floating around. Good luck!

[2020-09-28 15:54] #2049 closed

[2020-09-29 21:47] mcchong commented on #1733
Running into this issue as well.

[2020-10-02 12:44] Zara603 commented on #594
daySize set the width and height -1, is there a way to set width and height to different values?

[2020-10-02 18:54] daniellesuper commented on #1845
if i understand the issue correctly, i had a similar issue. i was passing an array of objects in that contained the dates i needed highlighted. this array changed in length based on filters that were selected. the calendar would only highlight the initial array of dates passed in, it wouldnt change when the filters values changed. heres what i did to resolve, hope it helps

`componentDidUpdate(pre

[2020-10-02 21:13] djejaquino commented on #1762
@mmarkelov  that works, but it keeps the focus on end date. Change that listener to the below, if you want to have a more consistent behavior (resetting it to start date):

[code]

[2020-10-03 11:07] HadeerFawzy opened #2050 "[IOS 14] When I click the arrow to move for he next month, it only move to the next 3 months! and not after that!"
**react-dates version**
e.g. react-dates@18.3.1

**Describe the bug**
A clear and concise description of what the bug is.

**Source code (including props configuration)**
Steps to reproduce the behavior:
[code]

[2020-10-03 15:16] mmarkelov commented on #2050
@HadeerFawzy just made PR that should fix it. You can use `transitionDuration={0}` for a while

[2020-10-05 05:45] prakash1998 commented on #416
I tried `overflow:visible` @lakhansamani, it worked fine, but found problem when items in modal actually overflows, i mean when modal have items more than it's height. Any update on this issue??

[2020-10-05 11:29] maxgfr commented on #25
@yjviB Thanks !!

[2020-10-06 16:22] Keroro2139 commented on #1030
[code]

[2020-10-07 00:40] Zara603 commented on #1462
Thanks so much, saved me

[2020-10-08 08:35] matejstrasek commented on #2050
Thanks,` transitionDuration={0} ` works. Would be great to get the fix merged soon though.

[2020-10-11 10:31] Zara603 commented on #581
I have the same problem, even when I set the `numberOfMonths={2}` I get all the months. any solution?

[2020-10-11 12:58] HadeerFawzy commented on #2050
Yes I need this to get merged ASAP

[2020-10-12 06:32] goongoguma opened #2052 "What props should I use to create a tooltip?"
Thank you for this amazing library. I love it.

I have a question: What callback props should I use to create a tooltip?

I want to show tooltip when user hovers a dates on the calendar. According to this [issue](https://github.com/airbnb/react-dates/issues/94), renderDay props is recommended to create it but looks like this is not available current version.

[2020-10-12 07:49] #2052 closed

[2020-10-12 08:18] Psvensso commented on #2048
What did you expect?
It's a form component, you need to handle validation.

[2020-10-12 08:30] KuroNoDev commented on #2048
It's part of the component and not a custom input so I expected the input will also apply the same validations/options that I passed via props.

[2020-10-12 13:54] mindaugasnakrosis commented on #2035
@sumeyradavran How did you solve this? I have the same problem.

[2020-10-13 23:10] patrickdbakke commented on #1426
Adding this css to the page also solved this:
[code]

[2020-10-15 15:34] pranjaljately commented on #1023
Any updates on this? Hoping to find a solution on this as well...

[2020-10-15 17:50] ranneyd commented on #1724
1. Smart!
2. I'd do `moment(endDate).subtract(1, "month")` instead so it shows the month of the end date
3. Doesn't solve the issue if the picker is already open (if they click on the start date to open the calendar, then click on the end date, I'd like it to switch to that month on the calendar)

[2020-10-16 16:51] edjm1971 commented on #1762
Can you post somewhere an example of this running? I'm fighting with this issue where no matter where I click the calendar closes. Additionally when I click on a drop down option the calendar also closes.

[2020-10-17 07:22] #2009 closed

[2020-10-17 09:37] sumeyradavran commented on #2035
@mindaugasnakrosis can you please take a look at https://codesandbox.io/s/react-dates-9xcsl?file=/src/DateRangeSelector.js the idea is to call moment with locale.

[2020-10-18 02:16] #1993 closed

[2020-10-18 21:55] jerichozil commented on #1997
Having the same issue with same release. Happens when adding custom props.
![image](https://user-images.githubusercontent.com/34137959/96386726-b5a99d00-11a5-11eb-90fe-639c58512d5b.png)

[2020-10-21 04:05] adoratour opened #2053 "SyntaxError: Unexpected token 'export' when using SingleDatePicker"
![issue](https://user-images.githubusercontent.com/65339923/96671937-3b3b7180-138d-11eb-8959-67f5107f3a8f.PNG)
Hi, I got this issue when using SingleDatePicker, but DateRangPicker still Work

[2020-10-21 04:17] ljharb commented on #2053
If you're using the `esm` dir, you need to be using a bundler like webpack or rollup that understands ESM import/export syntax.

Separately, never use `file://`, many things are broken in browsers with that. Only ever use a proper http/https server.

[2020-10-21 06:48] adoratour commented on #2053
Hi, i am using webpack bundle, but can u please guide me about this line " Separately, never use file://, many things are broken in browsers with that. Only ever use a proper http/https server.?" can u please guide me directly, please?

[2020-10-21 07:02] ljharb commented on #2053
I'm saying, don't test things by loading an HTML file using the `file:` protocol. Use a local webserver, and access it in the browser via `http:` or `https:`. Typically, your bundler can provide this with some kind of dev server.

[2020-10-21 07:02] #2053 closed

[2020-10-21 18:58] johncalvinyoung commented on #1748
Well react v17 is out, and I just found out that my team pulled this library in and it's constantly emitting warnings that I cannot silence. I cannot even monkey-patch DateInput to rename the methods. When are we going to address this incompatibility?

https://reactjs.org/blog/2020/10/20/react-v17.html

[2020-10-21 19:01] ljharb commented on #1748
Indeed, react 17 came out yesterday.

Again, React 18 is when it's broken; React 16.9+ (including 17) just has the warnings.

I'd be happy to review a PR that was a breaking change that required React 16.3, but I don't think it'll be landed particularly soon (and if it were, i'd publish it as a prerelease, but that's added maintenance burden).

[2020-10-21 19:05] johncalvinyoung commented on #1748
actually, best I could tell, v17 won't call componentWillReceiveProps, just the UNSAFE_ rename. So I'm pretty sure it won't work at all on v17

[2020-10-21 19:10] ljharb commented on #1748
@johncalvinyoung ah, in that case we do need to make a change ASAP. I think we may be able to provide *both* `componentWillReceiveProps` and `UNSAFE_ componentWillReceiveProps`, which will probably produce a different warning, as a non-breaking change, to at least ensure react-dates works on react 17. A PR that does that would be most appreciated.

[2020-10-21 19:15] ranneyd commented on #1748
Good thing we're running around rushing to do this AFTER the release instead of years ago when we first got the warning 😂😂😂😂😂

[2020-10-21 19:27] ljharb commented on #1748
@ranneyd That's not helpful or productive. There is *no rush* for you or anyone else to upgrade to react 17, so there's also no rush here - it'd just be _nice_ to take care of it sooner than later.

[2020-10-21 19:48] ljharb commented on #1748
@gaearon awesome, thanks for clarifying!

In that case, we're back to: I'd be happy to review a PR that constitutes the breaking change of requiring React 16.3+ that avoids the warnings.

[2020-10-22 10:09] meness commented on #1993
@mmarkelov & @ljharb The issue still exists.

[code]

[2020-10-22 10:13] mmarkelov commented on #1993
@meness it was not published yet

[2020-10-22 13:58] iamRamkumar opened #2054 "renderDayContents passing Years in negative"
we are using both DateRangePicker and SingleDatePicker in our app. In **SingleDatePicker** **renderDayContents** passing year in **negative** (Date Sat Mar 31 -2021 12:00:00 GMT+0553 (India Standard Time)) on Mozilla firefox but in google chrome we are getting expected value (Wed Mar 31 2021 12:00:00 GMT+0530 (India Standard Time)) .

**current behaviour:**
![image](https://user-images.githubuserc

[2020-10-23 15:43] chris-guidry commented on #1294
There is also the option to use something like [date-io](https://github.com/dmtrKovalenko/date-io), which provides a layer of abstraction between common date libraries and the package. That way, this project could use moment, dayjs, date-fns, etc. seamlessly, and avoid future rewrites.

[2020-10-23 20:16] ljharb commented on #1294
@chris-guidry that seems like an interesting alternative to #1947; but as soon as Temporal is stage 3, I'm not sure why it'd be valuable to support anything else.

[2020-10-23 21:54] JohnC-80 opened #2055 "Multiple arrow key presses in calendar causes page/scrollable element to scroll."
**react-dates version**
react-dates@21.8.0

**Describe the bug**
With the calendar days in focus, pressing up/down arrow keys quickly will cause the entire page to scroll.

**Source code (including props configuration)**
Steps to reproduce the behavior:
1. go to:
http://airbnb.io/react-dates/?path=/story/daypickersingledatecontroller--with-custom-input
This page has lengthy content in the example

[2020-10-24 09:44] m-nathani commented on #255
still no support for timepicker ? :laughing:  :hourglass:

[2020-10-25 07:22] Noorullah-Ahmadzai opened #2056 "React-Dates Broken Style"
**react-dates version**
react-dates": "^21.8.0

**Bug Description**
I use React-Dates with Tailwind CSS Component Library in NextJs which is deployed on Vercel.
When I tested things. The Date-Pick looks good locally but not in production, The CSS file in production also loads but the date picker is broken for some reason.

**Source code (including props configuration)**
[code]

**Screenshots/Gifs*

[2020-10-26 06:26] mmarkelov commented on #2054
@iamRamkumar could you provide small representation with [codesandbox](https://codesandbox.io/) for example?

[2020-10-27 16:20] danielgent commented on #1945
Can confirm I'm also seeing this. Shame, I had it all styled and I thought it worked but it looks like this library is now full of bugs.  With 475 outstanding issues I don't see this being fixed soon!

[2020-10-28 10:31] iamRamkumar commented on #2054
@mmarkelov please refer the below: https://codesandbox.io/s/bold-firefly-bn0jb?file=/pages/index.js

[2020-10-28 12:58] iamRamkumar commented on #2054
It seems due to we are passing date in `DD-MMM-YYYY` format to prop `initialVisibleMonth` which led to the issue.

`initialVisibleMonth={() => moment(disableDateBefore)}`

where `disableDateBefore = "15-Feb-2021"`

issue resolved with below code:

`initialVisibleMonth={() => moment(
            moment(disableDateBefore, 'DD-MMM-YYYY')
              .format(),
          )}`

[2020-10-28 12:58] #2054 closed

[2020-10-28 16:33] Noorullah-Ahmadzai commented on #2056
I was using Tailwind CSS with NextJS and I had to include my react-date CSS file in the build at postcss.config.js file to get it compiled and it worked!

[code]

Issue Closed

[2020-10-28 16:33] #2056 closed

[2020-10-30 13:34] jjolmo commented on #228
would love to see that functionality too @slecorvaisier

[2020-10-30 18:32] ranneyd commented on #1748
@ljharb

https://github.com/airbnb/react-dates/pull/2059

[2020-10-31 05:48] #2034 closed

[2020-10-31 05:48] #2050 closed

[2020-10-31 17:51] maxgfr commented on #1030
+1 waiting this feature

[2020-11-02 06:57] goongoguma opened #2060 "Local env and Dev env DateRangePicker shows CalendarDay__blocked_out_of_range style differently."
**next.js version**
 next@^9.5.1

**react-dates version**
 react-dates@^21.8.0

**Describe the bug**
local env and deployed dev env DateRangePicker shows CalendarDay__blocked_out_of_range style differently.

**Source code (including props configuration)**
Steps to reproduce the behavior:
[code]

**Screenshots/Gifs**
[
![local](https://user-images.githubusercontent.com/38463426/97838188-092df600-1d

[2020-11-03 09:34] #2060 closed

[2020-11-04 14:30] Hansen1992 commented on #2039
It seems like you can fix this issue by adding `transitionDuration={0} ` to your react-date component. It's not optimal, but for now I think I'll do. Let me know if it works for you.

[2020-11-04 15:38] insanrizky commented on #1320
Got a similar issue to jump to the current month after clicking to the next/prev months.
Hopefully, someone will make a fix for this! 😉

[2020-11-04 22:08] joaopsrleal opened #2061 "Feature Request: Support unselecting a selected date by clicking on it"
**react-dates version**
react-dates@15.5.3

**Describe the bug**
This is mostly a feature request. When using the single date picker, it is not possible to unselect a currently selected date by clicking on the already-selected date. This FR was initially [filed in AMP's repo](https://github.com/ampproject/amphtml/issues/25609). [AMP uses the `DayPickerSingleDateController`](https://github.com/ampp

[2020-11-04 22:43] joaopsrleal commented on #2061
As I mentioned in the issue's description, I'm happy to tackle this. Let me know what you think :)

[2020-11-04 23:51] ljharb commented on #2061
Thanks, a PR sounds great.

[2020-11-05 15:03] jdiaz-xactly opened #2062 "Question: How do I change the shape of the selected/hovered calendar days from square to round?"
I'm trying to change the selected and hovered calendar days from square to round but it seems that since the date is directly in a `td` element it isn't possible do without the whole calendar day becoming round, which doesn't work for spanned selections (see screen shot). It seems that to make this work correctly the date would need to be in a `div` within the `td`. Any thoughts or suggestions on

[2020-11-05 15:28] joaopsrleal commented on #2061
Perfect. If possible, could you please assign me to the issue then?

[2020-11-05 16:37] reinfi commented on #2039
We have the same issue on iOS tablets.

You can always swipe two times either to the left or right side.

`transitionDuration={0}` fixes the issue for us, but would be great if there could be a general fix for this issue.

It is also easily reproducible by storybook implementation.
http://airbnb.io/react-dates/?path=/story/daterangepicker-drp--default

[2020-11-05 16:58] peacechen opened #2063 "Individually style date pickers"
My application needs to individually style the date pickers (e.g. one with a blue background, another red).  `react-dates` appears to be an all-or-nothing approach, changing all the date picker styles either through CSS class overrides or via themes.  Is there a way to pass styles to date pickers individually?

[2020-11-05 17:44] ljharb commented on #2061
Sure, done, altho that’s not usually needed.

[2020-11-05 17:46] ljharb commented on #2062
CalendarDay takes a `renderDayContents` prop that may be helpful.

[2020-11-05 18:14] joaopsrleal commented on #2061
Ah good to know, thanks for the heads up.

[2020-11-05 21:03] jdiaz-xactly commented on #2062
this is exactly what I need, thanks!

[2020-11-05 21:03] #2062 closed

[2020-11-10 06:59] #1592 closed

[2020-11-10 13:58] XavierLeTohic commented on #1294
In our project we are passing the dates as props using DayJS casting them as Moment's dates type with Typescript in a `d.ts` file:

[code]

So we don't use Moment anymore in our codebase but still have the deep-dependency used by react-dates until we can use dayjs.

[2020-11-11 16:10] levizimmerman commented on #889
@jussiniinikoski You did a great job, but adding the following you could reduce the amount of DOM nodes added by checking if the current day is the first day of the week:

[code]

[2020-11-11 22:49] joaopsrleal commented on #2061
Hey @ljharb I've finally had some time to prepare a PR for this issue (https://github.com/airbnb/react-dates/pull/2066). What should I do to get it reviewed? Would you be the right person to do it?

[2020-11-12 09:39] Aarbel commented on #889
@levizimmerman @mariepw When this will be merged ? Since 2 years :P

[2020-11-12 14:28] dhanraj-khatal commented on #255
when we will get time picker support over here ?

[2020-11-12 22:35] ljharb commented on #889
There's no PR to merge yet; this is an issue.

[2020-11-12 22:38] ljharb commented on #2061
thanks! atm I'm the only person paying much attention; i'll take a look as soon as i have time.

[2020-11-13 11:16] bobbyZ94 opened #2067 "Can't install with react 17.0.1"
**react-dates version**
react-dates@21.08.0

**Describe the bug**
Can't install with react 17:

PS C:\Users\Robert\Projects\WebdevProjects\ReactCourse\exp-app> npm i react-dates
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: exp-app@0.1.0
npm ERR! Found: react@17.0.1
npm ERR! node_modules/react
npm ERR!   react@"^17.0.1" from the root

[2020-11-13 15:16] paulopacitti commented on #1294
I think now would be a good time to migrate to `dayjs`

[2020-11-13 17:45] ljharb commented on #2067
That's because this package isn't compatible with react 17 yet.

[2020-11-13 17:45] #2067 closed

[2020-11-16 08:21] mehrdadg11 commented on #255
Did anything happens last 3 year about timepicker?

[2020-11-17 23:11] azlodaniel commented on #1997
Wanted to see what the status of this was? We are using the DateRangePickerInput and the DayPickerRangeController and they behave differently since we are not able to pass minDate and maxDate into the DayPickerRangeController

[2020-11-18 05:28] mukuljainx commented on #2048
+1, there should be error state for date-picker, maybe with red border-bottom to represent an error, it can also provide error as the second param on date change describing the type of error.

We did something similar with our components, https://innovaccer.github.io/design-system/?path=/story/organisms-datepicker-variants--with-input

[2020-11-18 13:53] bceppi commented on #1064
Hi, thank you for this great library! No plans yet for React Native?

[2020-11-25 07:19] AshwinTayson commented on #1138
Any update on this? We have the same use case as mentioned above by @mmiszy

[2020-11-25 19:07] joshvoll opened #2068 "NaN calendar dates bug"
**react-dates version**
e.g. react-dates@17.7.0

**Describe the bug**
the calendar returns NaN in the input field when closing the calendar

**Source code (including props configuration)**
1.- Open Calendar
2.- Selects dates
3.- open calendar again
4.- close calendar without updating dates

Result = NaN

![RPReplay_Final1606330224](https://user-images.githubusercontent.com/727109/100271127-94fc020

[2020-11-28 06:25] CptThreepwood opened #2069 "DayPickerRangeController Week Header is misaligned with verticalScrolling orientation"
**react-dates version**
e.g. react-dates@18.3.1

**Describe the bug**
Week header appears misaligned in verticalScrolling DayPickerRangeController in Chrome (86.0.4240.198)

**Source code (including props configuration)**
It is present in the Storybook without changes:
http://airbnb.io/react-dates/?path=/story/daypickerrangecontroller--vertical-scrollable

**Screenshots/Gifs**
![Screen Shot 2020-1

[2020-11-29 18:09] ljharb commented on #2069
What exactly appears misaligned in your screenshot?

[2020-11-29 18:51] kinsomicrote commented on #209
Is there a way to disabled specific dates? Say I have a series of dates which can be apart by a few days (20, 24, 30), how do I go about disabling them in the datepicker?

[2020-11-30 02:06] duran91 commented on #2050
This issue is closed and apparently resolved but our team recently experienced the same bug inside a wkwebview. The transitionDuration={0} patched the issue

[2020-11-30 02:32] CptThreepwood commented on #2069
Sorry if I was unclear. The header with the two-letter abbreviation for _day of week_ is not aligned with the table elements containing _day of month_. The misalignment is not too bad, and it's clear that, for instance, the 14th of November is a Saturday, but the label is off to the right of the correct column, and its further right than "Su" is above the 8th of November.

[2020-11-30 03:10] ljharb commented on #2050
@duran91 the PR is merged, but the fix has not yet been released.

[2020-11-30 03:15] ljharb commented on #2069
ah, thanks, i see it. It looks fine in safari, so we’ll need some special handling for chrome.

[2020-12-01 09:32] AlexLievense opened #2070 "DateRangePicker: Clearing dates after selecting only startDate does not work as expected"
**react-dates version**
react-dates@12.6.0

**Describe the bug**
We use an older version of the react-dates project. If we use the option to clear dates when only the startDate has been selected, the dates are cleared, but the focus is still on endDate.

**Reproducibility**
Start from here:
http://airbnb.io/react-dates/?path=/story/drp-input-props--with-clear-dates-button

 - Select startDate
 - C

[2020-12-01 22:24] drzhbe commented on #2045
I've tried fixing the API, but it turned out to be more complicated in the current architecture.
So I went with a dropdown for the month selection on my side :)

[2020-12-02 17:47] mmarkelov commented on #2070
@AlexLievense I'll check it.

[2020-12-02 18:05] mmarkelov commented on #2070
@AlexLievense I just look into **master** branch. Seems to be fine

[2020-12-02 19:02] AlexLievense commented on #2070
@mmarkelov Thanks for the quick response!

So, for my understanding:
 - If I clear dates after only adding a startDate, it is normal behaviour that the focused input stays on endDate, even though we just removed the startDate?

It just feels unnatural, and that's why I created the issue.

[2020-12-03 07:55] mmarkelov commented on #2070
@AlexLievense sorry. I just misunderstand your case first time. I believe you can pass `reopenPickerOnClearDates` prop to set focus to the startDate input

[2020-12-03 11:48] AlexLievense commented on #2070
@mmarkelov Thanks! That is indeed the behaviour I wanted. This issue is resolved then :D

[2020-12-07 17:18] dijodaiju7 commented on #2061
I'm Interested in this issue. Can you please assign it to me? @ljharb

[2020-12-07 17:45] joaopsrleal commented on #2061
Hey @dijodaiju7, there's a PR in review for this. It's linked in a comment above (this is the PR: #2066). Thanks for showing interest :)

[2020-12-10 09:50] mohsensaremi commented on #755
@mmarkelov
https://github.com/mmarkelov/react-dates/tree/Changing_Calendar_Logic

This branch does not exist.
Where can I find your solution?

[2020-12-10 15:57] mohsensaremi commented on #755
I have created a fork to fix this.
`calendarSystem` prop added to`DateRangePicker` and`SingleDatePicker` components for supporting JALALI calendar system.

You can see a working range picker here:

https://mohsensaremi.github.io/react-dates/?path=/story/daterangepicker-drp--non-english-locale-persian

[2020-12-10 15:58] mohsensaremi commented on #2046
I have created a fork to fix this.
`calendarSystem` prop added to`DateRangePicker` and`SingleDatePicker` components for supporting JALALI calendar system.

You can see a working range picker here:

https://mohsensaremi.github.io/react-dates/?path=/story/daterangepicker-drp--non-english-locale-persian

[2020-12-10 15:59] mohsensaremi commented on #1993
I have created a fork to fix this.
`calendarSystem` prop added to`DateRangePicker` and`SingleDatePicker` components for supporting JALALI calendar system.

You can see a working range picker here:

https://mohsensaremi.github.io/react-dates/?path=/story/daterangepicker-drp--non-english-locale-persian

[2020-12-10 15:59] mohsensaremi commented on #975
I have created a fork to fix this.
`calendarSystem` prop added to`DateRangePicker` and`SingleDatePicker` components for supporting JALALI calendar system.

You can see a working range picker here:

https://mohsensaremi.github.io/react-dates/?path=/story/daterangepicker-drp--non-english-locale-persian

[2020-12-10 15:59] mohsensaremi commented on #578
I have created a fork to fix this.
`calendarSystem` prop added to`DateRangePicker` and`SingleDatePicker` components for supporting JALALI calendar system.

You can see a working range picker here:

https://mohsensaremi.github.io/react-dates/?path=/story/daterangepicker-drp--non-english-locale-persian

[2020-12-10 15:59] mohsensaremi commented on #488
I have created a fork to fix this.
`calendarSystem` prop added to`DateRangePicker` and`SingleDatePicker` components for supporting JALALI calendar system.

You can see a working range picker here:

https://mohsensaremi.github.io/react-dates/?path=/story/daterangepicker-drp--non-english-locale-persian

[2020-12-10 16:11] ljharb commented on #488
Please don’t spam issues.

[2020-12-10 16:27] mohsensaremi commented on #488
It was not spam!

I found a solution and I was explaining to my solution.

[2020-12-10 16:56] ljharb commented on #488
I mean pasting the same comment on 5-6 issues at once, even if it’s a helpful one.

[2020-12-13 18:35] mpourismaiel commented on #578
I don't think this is spam, the story is legitimate and working fine.

[2020-12-13 19:40] ljharb commented on #578
@mpourismaiel the linked project seems fine; commenting about it on many issues all at once is spammy behavior.

[2020-12-13 20:13] mpourismaiel commented on #578
I'm only watching this issue, was not aware of that. Sorry.

[2020-12-14 10:59] olive49 commented on #79
Is there a way to type the date in (DD/MM/YYYY) format and be reflected in the calendar?

[2020-12-14 12:24] olive49 opened #2071 "Styling using :after"
I'm attempting the following styling by adding :after to .CalendarDay__selected_start but it doesn't seem to do anything. I've tried also ::after &:after as well - someone was able to do this?
![Screen Shot 2020-12-14 at 14 23 09](https://user-images.githubusercontent.com/60694049/102080877-eb6ea900-3e17-11eb-9a40-4f3e4ad61198.png)

[2020-12-14 12:40] mohsensaremi commented on #578
My solution is related to all of the issues I have commented on.

How should I comment on all of the issues without being spammed?

[2020-12-14 12:40] mohsensaremi commented on #578
@ljharb

My solution is related to all of the issues I have commented on.

How should I comment on all of the issues without being spammed?

[2020-12-14 16:40] ljharb commented on #578
@mohsensaremi it presents a challenge, i admit :-) rapid-fire pasting of the same message isn't going to be it tho.

[2020-12-14 21:24] macqm commented on #2000
Hi @ljharb - I have a sample to reproduce this problem:
https://codesandbox.io/s/gracious-cori-h2kz3?file=/src/styles.css

Why this is problematic? It's hard to use the date control in fixed size containers (e.g. flyouts or modals).

You can also see that when you try to scroll using the scrollbars, once you click on the scrollbar the focus shifts and the date picker closes. I am not sure if that

[2020-12-15 13:34] SimonChris commented on #1138
I would also very much like this to be implemented. I exclusively use UTC time, and feeding utc moments to the datepicker causes issues with the day being off by one.

[2020-12-16 07:48] Xapgkop4uk commented on #255
Unfortunately, react-dates doesn't work with time. I created a wrapper over DateTimePicker to fix it but faced hardcoded hours in sources. https://github.com/airbnb/react-dates/pull/2072/files there required changes. Please take a look. I will appreciate it

[2020-12-16 09:18] janeschindler opened #2073 "Calendar language"
Our calendars are in German. I have a client who says that after interacting with the calendar, it sometimes appears for her in English. It seems to change the language "randomly", or at least not with a pattern that my client can see, and I have never managed to reproduce this behaviour, though I've tried in a number of browsers and os. I'm curious if anyone else has ever seen this? Or does anyon

[2020-12-29 19:54] lamashree opened #2074 "startDatePlaceholderText & endDatePlaceholderText not updating after props get update"
I am using DateRangePicker in Child component. start date and end date getting as a props. After getting the props I can see the placeholder text for start date and end date are perfect. onDatesChange the placeholder update successfully with new dates which I have selected. But if I changed the dates in parent component, we are getting the updated dates as props, but placeholders are not updated.

[2020-12-29 19:57] lamashree opened #2075 "startDatePlaceholderText & endDatePlaceholderText not updating after props update"
I am using DateRangePicker in Child component. start date and end date getting as a props. After getting the props I can see the placeholder text for start date and end date are perfect. onDatesChange the placeholder update successfully with new dates which I have selected. But if I changed the dates in parent component, we are getting the updated dates as props, but placeholders are not updated.

[2020-12-29 19:59] ljharb commented on #2075
Duplicate of #2074.

[2020-12-29 19:59] #2075 closed

[2020-12-31 10:39] mmarkelov commented on #2074
@lamashree could you please provide small bug representation?

[2021-01-03 18:52] OfirD1 commented on #1748
I'm not sure if that's expected behavior, but installing react-dates in a React 17 app downgrades it to 16.1.1. I thought it worth sharing to save time for anyone stumbling this like me.

To reproduce, do the following:
[code]

[2021-01-03 19:00] ljharb commented on #1748
@OfirD1 it is quite expected that it downgrades it to react 16; `^16.1.1` includes the latest 16.x so it's not actually downgrading it that far.

[2021-01-04 10:14] pbspot15 opened #2076 "Future support for react-dates?"
Is there going to be a future support for react-dates? I see that the last release had happened almost a year ago (30 Jan 2020).

Moreover, react-dates still uses MomentJS and therefore it is a tightly coupled dependency. However, according to folks at MomentJS, seems it is now a legacy project with only maintenance and no active development. So are there plans to migrate react-dates to using a di

[2021-01-04 19:12] ljharb commented on #2076
Despite moment.js's announcement, it remains the defacto standard for the ecosystem until Temporal is stage 3, and a viable production-ready polyfill exists (neither of which is the case yet).

At that time, react-dates will switch to Temporal and drop moment.js.

This is a duplicate of #208, and also a duplicate of #2044.

[2021-01-04 19:12] #2076 closed

[2021-01-04 19:18] pbspot15 commented on #2076
@ljharb what about new releases for react-dates? I am sure there are lots of fixes that have gone in since Jan 30 2020. Is there any timeline for that?

[2021-01-04 19:36] ljharb commented on #2076
That's a different question; at the moment, I don't have the ability to push directly to master (required for a clean release) and Airbnb employees have not been maintaining the package for awhile.

I have a workaround available when it becomes urgent - but I'm saving that for "the last release prior to Temporal", and "the first release with Temporal".

[2021-01-05 20:22] Jeniffen commented on #1953
I was running into a similar issue. The previous solution worked for me - just with a _minor_ adjustment

`
const [dateRange, setDateRange] = React.useState({
    startDate: null,
    endDate: null,
  });

  const [focus, setFocus] = React.useState("startDate");
  const { startDate, endDate } = dateRange;

  return (
    <DayPickerRangeController
      startDate={startDate}
      endDate={endDate}

[2021-01-07 10:46] mlp73 opened #2077 "Impossible to manually type more than one character when a date is already chosen (Windows only)"
**react-dates version**
e.g. react-dates@18.3.1

**Describe the bug**
Can be reproduced in the storybook playground:
https://airbnb.io/react-dates/?path=/story/sdp-input-props--default

When manually typing in the input field, the focused is moved away for every character, making it impossible to fully type a date. This does not happen on Chrome on Mac.

**Source code (including props configuratio

[2021-01-07 10:49] FreddyNO commented on #2077
The focus changes to the chosen date in the datematrix:
(Same thing happens here https://airbnb.io/react-dates/?path=/story/sdp-input-props--default)

![dato](https://user-images.githubusercontent.com/6494917/103883938-28a81d00-50de-11eb-8a5a-0d0845c8756c.gif)

[2021-01-07 20:09] therealgilles commented on #1179
This is what React now recommends:

[code]

[2021-01-10 07:49] americool opened #2078 "When using portal and typing date: keyboard loses focus after entering start date and can cannot type end date (Occurs in StoryBook Example)"
**react-dates version**
e.g. react-dates@21.8.0,

**Describe the bug**
Apologies if this is a duplicate, but I cannot find the same issue posted elsewhere. I've attached a gif of a screen recording below, which I took from storybook, but it also occurs in my local development branch. I'm happy to fill out further details if it is needed, but for now I'll include the storybook example.

Basically w

[2021-01-10 15:36] mmarkelov commented on #2078
@americool looks like a bug. But I think that it's better to disable input with keyboard if portal is opened. I can make PR to fix it

[2021-01-10 19:06] americool commented on #2078
@mmarkelov This might be too big of an ask, but is there anyway we could allow keyboard input, by having setting that would only open the portal/calendar when icon button is clicked and would allow users the option of being able to manually type dates as well?

[2021-01-11 00:17] americool commented on #2078
@mmarkelov I don't know if there are any potential pitfalls to doing this but I did fork the repo and found we can basically fix this with one line of code
<img width="1006" alt="Screen Shot 2021-01-10 at 7 14 43 PM" src="https://user-images.githubusercontent.com/16258690/104139250-2c56d080-5378-11eb-8652-6c4d59b6a856.png">
Basically if we just change line 234 on DateRangePicker.jsx so that the in

[2021-01-11 07:47] mmarkelov commented on #2078
@americool I just need to check this out, but I'm OK with this behavior. Cause right now it's really weird UX

[2021-01-11 15:32] americool commented on #2078
@mmarkelov I've got a PR open #2079 that should solve it.

[2021-01-11 17:54] mmarkelov commented on #2078
@americool I can take a look. I just think about this. That there are two cases.
- The first one. With this case input will be disabled and you can change date only through modal.
[code]
- The second case. So in this case you will need to provide `openPortal` prop(IDK what's the best name). And you can control the portal with this one.
[code]

But these is only my thoughts about this and I'm not s

[2021-01-11 18:58] americool commented on #2078
@mmarkelov I ended up going with a different (simpler less disruptive) approach in the linked PR that is I think more logical and gets the behavior I really wanted. Basically it disables use of the input when you don't have keepFocusInput selected and the portal open, or if you do have the keepFocusInput selected, it fixes the problem so the focus stays on the keyboard when you finish typing start

[2021-01-12 12:01] egorkavin commented on #1985
@SilencerWeb Did you solve the problem?

[2021-01-13 07:42] AyabongaQwabi commented on #1519
You guys are very vague, what is this prop?
if you mean this one then I don't understand. Outside which range?
is there a prop to specify the range?

isOutsideRange: () => false

[2021-01-13 15:26] ljharb commented on #1519
Outside the range of dates you consider valid for your date picker. The prop is named “isOutsideRange”, and is a function.

[2021-01-13 16:21] flinhong commented on #934
Already set the `focusedInput`, not working...

[2021-01-15 18:45] Rafael-Ramblas commented on #1945
I'm having this problem too

[2021-01-18 21:00] dodedom opened #2080 "bump lodash to 4.17.20"
this application's usage of lodash:4.1.1 results in the following vulnerability(s):
(CVSS9.8: critical) https://snyk.io/vuln/SNYK-JS-LODASH-590103

suggested upgrade to 4.17.20

[2021-01-18 21:07] ljharb commented on #2080
1. the vulnerability is, like most CVEs, a false positive. Prototype pollution is only an issue when unserializing unsanitized/uintrusted user data, and that's not how we're using lodash. Thus, you can safely ignore this warning.
1. semver ranges mean that you'll already by default use the latest version of lodash, and `npm update` will update it. So, this package's usage of lodash *in no way* imp

[2021-01-18 21:07] #2080 closed

[2021-01-19 14:43] giordifungula commented on #2074
@lamashree  is the startDatePlaceholderText prop rendering at least once ( or the first time ) Beacuse I am using the <DateRangePicker> Component and when I add startDatePlaceholderText and set it its not being set.
I am just seeing the dates that I want to select. Let me know if you have similar issue.

[2021-01-19 21:57] giordifungula commented on #1557
@capaj  did you come right?

[2021-01-20 13:05] denny7 opened #2081 "SassError: This function isn't allowed in plain CSS."
**react-dates version**
react-dates@21.8.0

**Describe the bug**
Get

when trying to import css. I'm using next.js 10.0.0. In previos versions of next.js I didn't have this problem.

[2021-01-20 15:29] ljharb commented on #2081
Fixed by #2058. See also, #1513.

it will be in the next release (no planned date yet)

[2021-01-20 15:29] #2081 closed

[2021-01-21 05:28] #1638 closed

[2021-01-21 11:48] satendraVinove commented on #1268
any update on this?

[2021-01-21 11:50] dev-satendra commented on #1268
any update on this?

[2021-01-21 12:37] Dakkers commented on #1268
@dev-satendra I believe https://github.com/Hacker0x01/react-datepicker supports SSR, that's what my workplace uses. doesn't seem like this issue is going anywhere 🤷

[2021-01-21 15:56] ljharb commented on #1268
The way to make it “go somewhere” is to submit a PR.

[2021-01-21 18:04] #1507 closed

[2021-01-21 18:04] #1537 closed

[2021-01-22 22:20] bsides commented on #208
The lack of decisions here after 2 years makes me afraid of using this library. I'm moving on to a driver based one like react-datepicker too.

[2021-01-22 23:45] ljharb commented on #208
@bsides there is no lack of decisions. The decision remains the same as it has always been: moment.js, only, until Temporal is stage 3, at which point we will move to Temporal, only (as should everything else in the ecosystem). There's no value in migrating to date-fns now only to migrate again to Temporal.

[2021-01-25 09:36] egorkavin commented on #1739
@ZengQingFeng1994 Did you solve the problem?

[2021-01-27 09:00] orangecoding opened #2083 "Is react-dates still actively maintained?"
I can see, lats commits are like 17 months ago, so I wonder is this project still alive?

[2021-01-27 09:01] #2083 closed

[2021-01-27 16:06] ljharb commented on #2083
Yes, it is.

[2021-01-28 08:54] huvber commented on #930
Hello I also see that the `displayFormat` can accept a function so I thought would be a way to have a custom formatter but I saw the code and in the end it has to return a moment format. I actually not understanding the purpose of having a function if we can already send the format as a string. Wouldn't be better to use this function to replace the format of moment?

[2021-01-28 11:30] mgm793 opened #2085 "Accept custom displayFormat instead using moment one."
**react-dates version**
react-dates@21.8.0

**Describe the bug**
You cannot use a custom format using your own function instead using moment on DateRangePicker.
I want to use Intl.format instead using moment.js and with current implementation it is impossible.
**Source code (including props configuration)**
Steps to reproduce the behavior:
[code]

[2021-01-28 11:32] mgm793 commented on #2085
I can create a PR with the solution if you accept it!

[2021-01-28 15:41] ljharb commented on #2085
If moment itself doesn’t support this kind of custom formatting, it wouldn’t make sense for react-dates to do so.

Once Temporal hits stage 3, we’ll migrate fully over to Temporal, which already uses Intl for formatting.

[2021-01-29 07:54] huvber commented on #2085
It doesn't matter if moment support it or not because this very easy modification will allow the consumer of the component to decide which is the formatter he wants to use. Since the interface already support a function as a parameter I don't understand why was implemented in this way in the first place.
In our specific case, for example, we need to use the component in a very long list of languag

[2021-01-29 08:43] giordifungula commented on #2063
Currently having the same issue, let me know if you managed to resolved the issue. @peacechen Thanks

[2021-01-29 08:53] woldtwerk opened #2087 "Show single night"
Hi this might be a stupid question.
I'm used to calendars showing checkin and checkout as half days.
How does this work here?

E.g.:
existing Booking:  wed - thu -> 1 night
I can't disable any day, because wed needs to be selectable as checkout date for other people.
Also thu needs to be selectable as checkin for other people.
Seems to me that 1 night stay cannot visualized?!
thx

[2021-01-29 16:13] peacechen commented on #2063
I switched to [Material-UI datepicker](https://material-ui.com/components/pickers/) which allows individually styling instances. The API is different and takes some learning, but it's very powerful and looks great.

[2021-02-01 10:45] caub commented on #255
It's pretty useful to be able to select a date and a time/timeslot from one modal interaction

[2021-02-01 21:59] nnuzaba opened #2088 "Keyboard shortcuts button not showing on windows machines."
**react-dates version**
react-dates@21.8.0

**Describe the bug**
On windows machine, no browsers are showing the keyboard shortcuts panel button.

**Source code (including props configuration)**
All examples in stories.

**Screenshots/Gifs**
![image (1)](https://user-images.githubusercontent.com/35546830/106522845-48005300-64ae-11eb-9acd-74eab53a4fdd.png)

**Desktop (please complete the following

[2021-02-03 12:29] PeaGo opened #2089 "Can I set width 100% for month table. Example, I set numberOfMonths= 2, 2 tables of month will full width in container outside. I set numberOfMonths= 3, 3 tables of month will full width in container outside."
Can I set width 100% for month table.
Example, I set numberOfMonths= 2, 2 tables of month will full width in container outside.  I set numberOfMonths= 3, 3 tables of month will full width in container outside.

[2021-02-08 13:38] mlp73 commented on #2088
+1 out team noticed the same issue here

[2021-02-09 14:04] Yair-Ohana commented on #2052
Any update?
same issue here ..

[2021-02-12 08:19] #1755 closed

[2021-02-13 00:02] multiwebinc opened #2090 "Focused element is off by one when selecting start date"
**react-dates version** 21.8.0

**Describe the bug**
When selecting a start date, the end date that gets focused for keyboard navigation is off by one day.

**Source code (including props configuration)**
https://codesandbox.io/s/react-dates-date-range-picker-forked-oyxpn?file=/src/date-picker.jsx
Select a start date and then move your mouse over any of the dates after the one selected (at least 2

[2021-02-13 00:20] #2090 closed

[2021-02-13 00:31] multiwebinc commented on #2090
It appears react-dates expects the dates to be at noon for some reason, so setting the dates like this solved the issue:

[code]

[2021-02-13 01:36] ljharb commented on #2090
We had to pick some time, and midnight doesn’t exist in every timezone ¯\_(ツ)_/¯

[2021-02-13 06:13] multiwebinc commented on #2090
@ljharb That's interesting. Thanks for the comment.

[2021-02-16 04:25] athenawisdoms opened #2091 "Simple Typescript Example?"
I am new to Typescript and couldn't find an example using `react-dates` with typescripts. I have installed `react-dates` v21.8.0 and `@types/react-dates` v21.8.1.

Can a kind typescripter provide a Typescript version of the below example? I am unsure which types to use, such as for the 3 `useState`. Thank you!

[code]

[2021-02-16 07:35] jsphkhan commented on #208
This is what moment team is saying - "The Moment team has discussed these issues at length. We recognize that many existing projects may continue to use Moment, but we would like to discourage Moment from being used in new projects going forward. Instead, we would like to recommend alternatives that are excellent choices for use in modern applications today. "

Furthermore it is important now to h

[2021-02-16 16:43] ljharb commented on #208
This isn’t a new project.

i don’t agree it’s important - until Temporal, moment is the de facto standard, no matter what the moment team says; once Temporal arrives, everything else, including moment, date-fns, and Date itself, will be obsolete and should be aggressively migrated away from.

[2021-02-17 11:02] Riyaz-01 opened #2092 "Doesn't let me select dates before today"
How do you select dates before today?

[2021-02-18 09:11] luciana-mendonca commented on #2092
To allow past days selection, you can use: `isOutsideRange={() => false}`

[2021-02-18 10:05] markcnunes commented on #2091
This is my first time using `react-dates` so I am happy if anyone wants to make a suggestion to improve it.

Here is how I got the basic example to work with TS.

[code]

[2021-02-19 12:15] PatrickWhitehouse opened #2094 "Possibility to have a AM/PM option"
Hey,

I'm wondering if there's a way to include this AM/PM option after clicking a day:

![image](https://user-images.githubusercontent.com/15248507/108503316-10feaf80-72ac-11eb-9b13-9da9e2b32bba.png)

Thanks,
Patrick

[2021-02-19 19:55] haocow commented on #1394
I am also running into this issue currently on v21.8.0

[2021-02-19 20:54] LMulvey commented on #1394
@haocow I put in a PR three years ago that fixed the problem but unfortunately the reviewer wanted me to fix their entire test suite in addition to the problem I identified. I never had time to do that, nor do I agree that I should have had to do that. We ended up going in a different direction because of it as it was a blocker for us.

Feel free to review #1395 and see if that would still apply t

[2021-02-19 21:19] ljharb commented on #1394
@LMulvey the repo is still maintained; the latest commit was *authored* in 2019, but it was merged 29 days ago (if you click on the commit, and to the linked PR, you'll see that).

As for #1395, I don't think that's a fair characterization of what I asked you, and there were no updates after https://github.com/airbnb/react-dates/pull/1415#issuecomment-430089543 to respond to.

[2021-02-19 21:27] LMulvey commented on #1394
@ljharb You're right on the commit part for sure, apologies for that. As for #1395, perhaps I misunderstood your comment but my PR involved adding updated tests to reflect the fix I had made. This, however, revealed that an entire test block had been skipped for some time and was not functional. Your comment sounded like you were asking me to fix that test suite before my PR could be merged–someth

[2021-02-19 21:31] ljharb commented on #1394
All I wanted to ensure is that your new test passes, even if the other tests next to it don't. You implied that you'd be able to get them all passing, so I asked if you'd mind doing that in a separate PR, but #1415 deletes existing tests and it wasn't clear to me that it was the proper approach. After that it seems like neither of us revisited #1395. If you're willing to rebase it, I can get it la

[2021-02-20 15:28] Lois-Varghese commented on #2091
@markcnunes does this example work for you? For me the DateRangePicker doesn't display if the focusedInput is null initially, so I have to set the focusedInput to either startDate or EndDate at the beginning. This is my code:

import React, { useState } from 'react'
import 'react-dates/initialize';
import { DateRangePicker, FocusedInputShape  } from 'react-dates';
import 'react-dates/lib/css/_date

[2021-02-22 16:05] markcnunes commented on #2091
@Lois-Varghese The previous code worked fine fo me. I  am sorry but I don't have that environment to test this anymore.

I am not sure why you couldn't use `null` if on their code `focusedInput` accepts `null`. [focusedInput: FocusedInputShape | null](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/7ebf0c1ce9758cb570450c5b122f8c77842a3a07/types/react-dates/index.d.ts#L51).

[2021-02-22 16:28] LMulvey commented on #1394
Sounds like this was a misunderstanding on my part and for that, I apologize. Thanks for stepping in and clearing it up. Looks like #2095 was created by someone following this thread and has been rebased!

[2021-02-23 08:08] FreddyNO opened #2096 "Calender icon problem with keyboard"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
When using tab to reach the date icon/button, then pressing enter, I am unable to move around or choose any of the different days by arrow keys. Seems the focus isn't there. And tabbing further doesn't bring me there, instead if sends me to another component or off the page.

**Screenshots/Gifs**
![image](https://user-images.githubus

[2021-02-24 03:26] #1394 closed

[2021-02-24 03:49] #2061 closed

[2021-02-25 10:07] GaneshSinghPapola commented on #327
@ian-rudge You are awesome
Thanks :)

[2021-02-26 08:52] KaroMourad commented on #1294
hi , how can i use react-dates without using badMutable plugin ?

[2021-03-01 14:32] ferrun opened #2097 "Does not update maxDate or minDate"
**react-dates version**
e.g. react-dates@18.3.1

**Describe the bug**
Changing a minDate or maxDate from one component does not update the other component

**Source code (including props configuration)**
Steps to reproduce the behavior:
[code]
**Desktop**
 - OS: Windows 10
 - Browser: Chrome
 - Version 87.0.4280.141

[2021-03-03 06:00] rotimi-best commented on #1514
Link is broken

[2021-03-03 15:49] evemontalvao commented on #1137
is there a way to do this without moment? as it's deprecated now

[2021-03-03 18:59] ljharb commented on #1137
no, this library requires moment.

Separately, moment is *not* deprecated at all - the maintainers simply consider it “legacy”. moment can be safely used forever.

Once Temporal (the language proposal) reaches stage 3, this library will drop moment and use Temporal instead.

[2021-03-04 09:08] fatihsari commented on #1278
@Stathismi Thank you
I've fixed this problem with inline SVG imports.

[2021-03-04 12:49] rizzotto opened #2099 "Change borderRadius only for first/last day of week ignoring enableOutsideDays, for RangeDatePicker"
Hello, is it possible to change the borderRadius only for the first and last day of the week and ignore enableOutsideDays?

`
    '.CalendarDay__selected_span.CalendarDay__firstDayOfWeek': {
      borderRadius: `3px 0px 0px 3px`,
    },`

`    '.CalendarDay__selected_span.CalendarDay__lastDayOfWeek': {
      borderRadius: `0px 3px 3px 0px`,
    },
`

Im trying to do this, but it considers the `ena

[2021-03-04 14:36] #1278 closed

[2021-03-04 19:50] jorgegir commented on #2091
I've followed @markcnunes's  example to implement `DayPickerRangeController` but without success. The only difference is one required prop that was added [based on the docs](https://github.com/airbnb/react-dates#daypickerrangecontroller).

Not sure why focusedInput doesn't change at all. Could any typescript pro point me to the issue here?

[code]

[2021-03-05 09:11] markcnunes commented on #2091
@jorgegir Your issue isn't related to TS but how the focus is handled by `DayPickerRangeController`. Check out this use #1953

[2021-03-09 16:16] RemyMachado commented on #1062
Isn't this component fulfilling the need ?
http://airbnb.io/react-dates/?path=/story/daypickerrangecontroller--with-current-week-range-selection

[2021-03-11 02:57] ConAntonakos commented on #208
`Temporal` is finally `Stage 3`! https://github.com/tc39/proposal-temporal/pull/1440/files

[2021-03-11 03:17] ljharb commented on #208
Indeed it is, as of today.

However, a) there’s still some format questions to work out, so browsers are going to ship it behind a flag, and b) a production-ready polyfill doesn’t yet exist.

I’ll be publishing one in the next month or so, at which point we’ll begin migrating.

[2021-03-11 22:27] vemv commented on #632
This one was fixed by https://github.com/airbnb/react-dates/pull/773

[2021-03-11 22:27] #632 closed

[2021-03-15 10:56] thomasbrus commented on #2092
@Riyaz-01 try this: `isOutsideRange={() => false}`

[2021-03-17 07:01] tinshade commented on #143
Adding something like
`customArrowIcon={<i className="fas fa-arrow-right"/>}`
in your DatePicker component works.

[2021-03-18 16:15] SumanDontha16 commented on #209
Is there a way to disable the current date like(today)? Does it exist some built in method to disable

[2021-03-19 18:33] siilike commented on #1628
With appendToBody=true the .SingleDatePicker_picker should have position=fixed instead of position=absolute.

`body > div > .SingleDatePicker_picker { position: fixed; }`

[2021-03-19 21:28] siilike commented on #1628
The fix is to add window.scrollY to offsetY in getDetachedContainerStyles.

[2021-03-22 13:05] experts-web2 commented on #914
bundle of thanks @majapw,

[2021-03-24 10:25] dimkaufo commented on #1997
@nkinser @ljharb could you please publish new version as it seems the changes are in master but npm package with 21.8.0 version doesn't not contain it. Thanks in advance!

[2021-03-24 12:23] espretto commented on #259
Hello, just for anyone looking for a quick solution to trick react-dates into adopting a given locale on every (server-side-)render, use this hack: https://github.com/airbnb/react-dates/issues/327#issuecomment-414840540

[2021-03-26 09:56] navemos commented on #1294
Hi all,

first of all, thanks to all of you who contributed here and pushed me into the (what I hope is) the right direction for our project. Like a few others here, we are using react-dates (namely the DateRangePicker) but are trying to get rid of moment.js due to package size. By adding an alias pointing from moment to dayjs and adding all necessary extends to dayjs, I managed to compile and run

[2021-03-28 20:51] ranneyd commented on #1748
You can do what I did which is fork the repo, fix the issue, and publish on npm. I think mine is called `react-dates-temp`.

[2021-03-29 02:29] ljharb commented on #1748
Indeed; we don’t explicitly support react 17 yet, but it should work just fine.

[2021-03-30 07:27] ChandanAhluwalia opened #2101 "How can we prevent the opening of DateRangePicker on focus from the keyboard?"
Hi Team, please note we are using airbnb daterangepicker and we are making our site accessible.

As per one accessibility improvement third party suggested we should not open calendar on focus. When a user tries to navigate through the keyboard user might not be interested in working on the default date (though if needed can press enter key or down array key for same). We checked the documentation

[2021-04-06 10:19] yokomizor commented on #612
Apparently this proposal was not very popular, so I am closing it. I no longer use react-dates and now I feel out of context.

[2021-04-06 10:19] #612 closed

[2021-04-08 00:16] churchill1973 commented on #1632
I'am not sure for this componenet, but for DateRangePickerWrapper  this worked `isOutsideRange= {() => false}`

[2021-04-12 09:34] brightsider commented on #1294
any news about migration to dayjs?

[2021-04-12 14:35] ljharb commented on #1294
Temporal is now stage 3 (altho browsers won’t be shipping it unflagged just yet), so as soon as there’s a viable production-level polyfill (at this writing, none exist) react-dates, as well as the rest of the JS ecosystem, should immediately migrate to it instead of moment or dayjs or date-fns etc. Thus, there’d be no value in migrating react-dates to dayjs or anything else that’s not Temporal.

[2021-04-14 20:00] JB185572 commented on #824
My test cases for blocking days failing after set initialVisibleMonth prop. can any one have any idea?

[2021-04-16 18:42] murilopulley commented on #48
I'm getting flickering issues when using this solution. Does anybody have that too?

[2021-04-18 21:54] caub opened #2102 "Allow styling the input background and its wrappers independently of the calendar dialog"
All component use the same theme `color.background` property https://github.com/airbnb/react-dates/blob/master/src/theme/DefaultTheme.js#L57

- input: https://github.com/airbnb/react-dates/blob/master/src/components/DateInput.jsx#L290
- picker: https://github.com/airbnb/react-dates/blob/master/src/components/DateRangePicker.jsx#L710

So if I'd like to have the background transparent in input, and

[2021-04-19 08:49] caub commented on #2102
hmm nvm, ended up styling things different using other theme variables (color.border: "transparent", ..)

[2021-04-19 08:49] #2102 closed

[2021-04-20 08:02] caub commented on #457
[code]

[2021-04-20 18:54] iamricky opened #2103 "Setting initialVisibleMonth with DateRangePicker"
I'm running into an issue with **DateRangePicker** where the value of `startDate` is being used instead of `initialVisibleMonth` Meanwhile, the actual `initialVisibleMonth` prop is disregarded entirely. Has anyone else had this problem? Here is what my the props look like:

[code]

[2021-04-21 10:07] FranciscoMCG opened #2104 "Focus moves to end date when I manually type just one digit in the start date"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
When we have a date selected, sometimes  we change the start date manually (eg: the month) and the cursor focus moves to the end date after we just pressed one key.

We can't for example type "01-022" for DD and MM. We start typing "01" for DD and it moves straight away to the end date.

I was wondering if this is expected or if ther

[2021-04-23 00:19] pierceglennie opened #2105 "React 17 Support"
It would be good if react-dates was updated to support React 17. Are there any plans to do this?

[2021-04-23 01:25] ljharb commented on #2105
Yes; it's blocked on a few thins: enzyme, airbnb-prop-types, and a few others updating to react 17 being the primary ones.

[2021-04-23 09:25] jafaryfarzaneh commented on #25
Could you create a js-fiddle to see how it works?

[2021-04-23 11:10] mauricesnip opened #2106 "DPRC: Wrong (internal) dates after dynamically changing numberOfMonths"
**react-dates version**
react-dates@21.8.1 _(also tried react-dates@20 and react-dates@19)_

**Describe the bug**
Initializing a `DayPickerRangeController` with `numberOfMonths={2}`, pressing the next or prev month button results in a `date` somewhere in the left  of the 2 months displayed. This is still correct. Now, if you dynamically change `numberOfMonths` to, let's say `1`, things start to go

[2021-04-27 18:30] naveenneog commented on #2041
@mmarkelov Is there a way to enable the dates before current date, and disable the dates from current date. I have a requirement for historical data

[2021-04-27 18:41] naveenneog opened #2107 "What is the prop to enable dates before current date ?"
I am trying to use the  DateRangePicker for historical data filter so its essential to choose past dates.
Would be of great help if you can point to proper prop to enable the previous date .

[2021-04-27 18:46] naveenneog commented on #2107
I tried setting enableOutsideDays prop its not helping

[2021-04-27 19:26] naveenneog commented on #2107
Found this so closing it
https://github.com/airbnb/react-dates/issues/1137

[2021-04-27 19:26] #2107 closed

[2021-04-28 12:54] mauricesnip commented on #2106
Also built and tried the `master` branch, where https://github.com/airbnb/react-dates/pull/2095 was merged into. This didn't fix the issue (wrong dates are still present). To me it feels like the issues encountered with changing `numberOfMonths` is part of something larger.

[2021-04-28 20:01] Verthon commented on #1441
Hey, any updates on that or possible workarounds ? Thanks

[2021-04-28 20:13] caub opened #2108 "Add option to show full last week, overlapping next month, for UX"
It's much easier to pick days on a week base
If the week ends Friday 30th, currently you have to go look far away to find next day

I propose we add an option to display the full weeks (first and last of each month)
![2021-04-28-220633_595x317_scrot](https://user-images.githubusercontent.com/3134574/116466238-88cdf500-a86e-11eb-82a8-59a5b2f0245d.png)

[2021-04-28 20:57] nkinser commented on #2108
There's already a prop [enableOutsideDays](https://github.com/airbnb/react-dates/blob/master/src/components/DayPickerRangeController.jsx#L73) that handles this.
https://airbnb.io/react-dates/?path=/story/drp-calendar-props--with-outside-days-enabled

[2021-04-29 07:04] caub commented on #2108
Oh thanks! didn't find it yesterday

[2021-04-29 07:04] #2108 closed

[2021-04-29 11:00] moosefaceee commented on #247
@ybakhshi I'm confused, is this thread not on react-dates?

[2021-04-30 14:00] cacpmw opened #2109 "Navigation arrows not showing up"
**react-dates version**
"react-dates": "^21.8.0",

**Describe the bug**
Navigation arrows are not showing up on calendar

**Source code (including props configuration)**
Steps to reproduce the behavior:
[code]
[code]
[code]

[code]

**Screenshots/Gifs**
![image](https://user-images.githubusercontent.com/7819913/116705326-c895f900-a9a2-11eb-87de-1e6b3d37b565.png)
**Desktop (please complete the foll

[2021-05-02 21:47] caub opened #2110 "Pass props like required, name, placeholder, pattern to the input element"
I think we should be able to pass those props down to the input element with

[code]

else it's necessary to use a ref and a useEffect, and set attributes manually. It's really not practical

Can I open a PR for that?

[2021-05-02 21:52] ljharb commented on #2110
Naive passthrough would be a very brittle API. If there's a specific prop you want supported, let's discuss explicitly adding that.

[2021-05-02 22:43] caub commented on #2110
So,

- `required`
- `name`
- `placeholder`
- `pattern`

The 2 first most importantly, since this kind of date picker is often part of a `<form>`

[2021-05-02 23:52] ljharb commented on #2110
Have you checked?
 - https://github.com/airbnb/react-dates/blob/6c2cb61c5e876fbdac72e6efed49c0bd64f06d6b/src/components/SingleDatePicker.jsx#L58
 -
 - https://github.com/airbnb/react-dates/blob/6c2cb61c5e876fbdac72e6efed49c0bd64f06d6b/src/shapes/SingleDatePickerShape.js#L26

‘Also, see SingleDatePickerInput.

[2021-05-03 00:29] caub commented on #2110
Ah correct, they work except `pattern` but that's ok. Sorry, I don't see why I had an issue before

[2021-05-03 00:34] caub opened #2111 "TypeError Cannot read property 'createLTR' of undefined when upgrading react-with-styles to v5"
**react-dates version** 21.8.0

**Describe the bug**

I get the error: "TypeError Cannot read property 'createLTR' of undefined" when upgrading react-with-styles to 5.0.0

It works fine with react-with-styles 4.2.0 (try by changing the version in the left sidebar)

**Source code (including props configuration)**

https://codesandbox.io/s/react-datepickers-o9fbh?file=/src/Datepicker.js

![2021-05-0

[2021-05-03 00:35] ljharb commented on #2110
II think we chose not to include `pattern` because the native browser UX around html5 form validation is both wildly inconsistent and also terrible.

[2021-05-03 00:36] ljharb commented on #2111
See https://github.com/airbnb/react-dates/issues/1726#issuecomment-510662884

[2021-05-03 07:15] caub commented on #2111
@ljharb Thanks, but I don't think I need initialize (https://github.com/airbnb/react-dates/blob/master/src/utils/registerInterfaceWithDefaultTheme.js) as I'm already registering an interface and a theme, see https://codesandbox.io/s/react-datepickers-o9fbh?file=/src/Datepicker.js:287-324

[code]

[2021-05-03 20:05] caub commented on #2111
I mean

[code]
will work, as described.

But the point of my codesandbox is to use @emotion/styled and the registerInterface function instead of the default css, similarly to https://github.com/airbnb/react-dates#interfaces

Am I missing something? Again it worked with react-with-styled@4.2.0 so I suspect it's some simple fix to find

[2021-05-04 09:58] caub commented on #2111
any idea, maybe @majapw might know

[2021-05-04 11:56] caub commented on #2110
Hmm, I'd like to add `name` at least, seems as relevant as `required` or `placeholder` right, will make a PR

[2021-05-05 11:47] marianna-exelate commented on #2068
Going to try to help with this

[2021-05-05 12:35] marianna-exelate commented on #2068
Not reproducible on latest react-dates@21.8.0

[2021-05-05 13:36] ljharb commented on #2068
@marianna-exelate can we add a test case to close this issue?

[2021-05-05 15:59] caub commented on #2111
Interestingly, as ljharb pointed out to me, the diff is just https://github.com/airbnb/react-with-styles/compare/v4.2.0...v5.0.0, so there must be something there causing the issue

[2021-05-06 14:40] christianbonzi opened #2113 "Problem with CalendarDay__hovered_span"
**react-dates version 21.8.0**
**DayPickerRangeController -> single month, custom caption**

**Describe the bug and steps to reproduce**
Select a dateFrom (ie 20th September), then select a previous month from select option (ie June). When the select is closed, if the mouse is over a day, that day becomes colored: the class CalendarDay__hovered_span is assigned to the day.
That day shouldn't have

[2021-05-07 03:07] datpt11 opened #2114 "How can i build React Dates with Vitejs"
----------- when dev -----------
when dev everything is fine
![image](https://user-images.githubusercontent.com/48908789/117392195-c6d8b200-af1b-11eb-93bc-43f19423f544.png)
----------- when build -----------
![image](https://user-images.githubusercontent.com/48908789/117392112-9a249a80-af1b-11eb-94c5-574ae64a12d4.png)

-----------dependencies-----------
"react": "^17.0.0",
"react-dates": "^21.8.0"

[2021-05-07 04:46] ljharb commented on #2114
react-dates is a CJS module, so you’d have to bundle it (not script type=“module”). If it’s not working with Vite, please file a bug there.

[2021-05-07 04:46] #2114 closed

[2021-05-07 08:34] WPaczula commented on #235
Are there any plans to implement it?

[2021-05-10 10:45] stupendusmagneficus opened #2115 "Still hovered last day in range. "Saturdays - mode""
Hi guys, please get a look on it.
When selecting a range of dates (with a click), and then when selecting the last (previous) date as a first date, it creates the one day before the chosen one which is highlighted and If I try to clear the dates, it stays highlighted.
Thanks

![Screenshot_40](https://user-images.githubusercontent.com/76649500/117647085-d01c8580-b18c-11eb-9b54-c39cdbad6eae.png)

![

[2021-05-16 09:03] WPaczula opened #2116 "Unable to clear manually provided date string"
**react-dates version**
e.g. react-dates@18.3.1

**Describe the bug**
If the user provides a date by typing it to the input and it's invalid (for instance 31/02/2021) there is no way to clear the input. I've tries to set startDate and endDate to null, but without any luck.

Also tried a "hacky" way to clear the input via `value` property of the input chosen by the id (added to the codesandbox). Bu

[2021-05-16 11:04] WPaczula commented on #2116
I found a workaround:

Whenever the calendar is closed I check the input value and date state. If the date is not defined, but there is something in the input I need to clear it. To do it I assigned a key to the component and update it to force remount. Here's my workaround hook:

[code]

[2021-05-17 06:16] jagtarsinghwork commented on #750
Nothing need just import thiese 2 lines where you date import above this import these
or Another way
in main.js or index js  paste these line

 import "react-dates/initialize";
import "react-dates/lib/css/_datepicker.css";
import { SingleDatePicker } from "react-dates";

[2021-05-19 00:16] sharmapuneet opened #2117 "Getting TypeError : `month` must be a valid moment object in mobile"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
I am using react-dates DayPickerRangeController for desktop and mobile but in mobile I am getting this error - TypeError : month must be a valid moment object

**Source code (including props configuration)**
Steps to reproduce the behavior:
[code]

**Smartphone (please complete the following information):**
 - Device: iphoneXR/any mo

[2021-05-19 08:46] mauricesnip commented on #2106
@ljharb Had any chance to look into and confirm the above?

[2021-05-20 06:58] ratnabh commented on #190
@archansel  have u figured out the solution to the issue that you mentioned above ? I am facing the same :(

[2021-05-20 07:12] ratnabh commented on #190
@Nitemaeric  is there any way i could limit the total number of selected dates upto a specific value? like i want only 3 dates to be selected not more than that. Thanks !

[2021-05-20 11:23] ratnabh opened #2118 "Efficient way to add custom details via renderDayContents in react-dates"
**react-dates version**.     21.8.0

**Describe the bug**
I am trying to add custom details on specific days whenever required in the calendar. Below is the snippet for that.

**Source code (including props configuration)**
Steps to reproduce the behavior:
[code]

I want to make sure is this an efficient way to add custom events or i am going through wrong approach, cause as of now in my state i h

[2021-05-20 13:46] jablonskipj commented on #1945
I would also like to highlight that I am having the same issue

[2021-05-21 04:30] ratnabh commented on #2116
@WPaczula have you found the workaround when the user enter invalid date in input box or a date which is disabled?

[2021-05-21 04:32] ljharb commented on #2118
This seems fine to me. Are you having any trouble with it?

[2021-05-21 04:44] ratnabh opened #2119 "Custom buttton to move to next date and previous date in react-dates"
**react-dates version react-dates@21.8.0

**Describe the bug**
I was wondering that as we have right and left arrows to switch to next month and previous month in the calendar, is there any custom way to go to next date and previous date after any date is selected ?

For reference i am adding a screenshot below, so technically i want to click on those arrows at the end of input box to change the d

[2021-05-21 04:48] ljharb commented on #2106
I haven't, but I'd be happy to review a PR.

[2021-05-21 04:52] ratnabh commented on #2118
@ljharb  no not any issues but i feel like it takes a little time to render, in future if have a huge array of objects stored in my state, it might take a few more time to load, but thats how it goes i think  :)

[2021-05-21 05:10] ljharb commented on #2118
The part that's weird is `let key = Object.keys(item)[0];` - object key ordering shouldn't be relied upon.

Also, `moment(formattedKey)` seems strange when you've already done `moment(key)` (iow, save `moment(key)`, and use that in the conditional)

[2021-05-21 05:19] ratnabh commented on #2118
@ljharb ahh i see, my bad , also thanks for your time, cheers !

[2021-05-21 05:19] #2118 closed

[2021-05-23 09:30] WPaczula commented on #2116
@ratnabh I'd try to set your date state to null and force rerender using key update. It might work

[2021-05-24 20:27] ljrodriguez1 commented on #2105
Do we have an update on this, would be really helpfull to be able to use this on react 17

[2021-05-25 09:26] kkangil opened #2120 "class name `CalendarDay__hovered_span` bug when control focusedInput"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
Control focusedInput on change event and when the endDate selected, change focusedInput to `startDate`.
After select startDate and endDate, when I select startDate selected endDate the class name `CalendarDay__hovered_span` has problem.
But sometimes It work well. I wonder how it happens.

**Source code (including props configuration

[2021-05-27 21:15] TC-mSundaram commented on #2036
To me it seems like the opposite - that the typings for react-dates is out of date with Moment

[2021-05-27 21:22] ljharb commented on #2036
@TC-mSundaram react-dates has no types, so either way it's an issue with DefinitelyTyped.

[2021-05-27 21:23] TC-mSundaram commented on #2036
@ljharb Ah ok, sorry. And thank you!

[2021-05-28 06:46] zopper-savez commented on #129
ME TOO!

[2021-05-31 07:58] mauricesnip commented on #2106
I'd be happy to help, but that won't be anytime soon I'm afraid. If someone would like to help, feel free to do so! 🙂

[2021-05-31 13:03] simkall opened #2121 "Day component classnames disappear after toggling calendar"
**react-dates version**
react-dates@21.8.0

**Describe the bug**
The CalendarDay components initially have the  `CalendarDay__blocked_out_of_range` and `CalendarDay__selected` classnames set. After changing the selected value to a value a couple of months in the future and toggling the calendar component the classnames disappear.

**Source code (including props configuration)**
https://github.com/

[2021-06-01 11:07] ratnabh opened #2122 "Highlight the selected date automatically when user goes to next month which isn't displayed"
**react-dates version**
e.g. react-dates@21.8.0
``
**Describe the bug**

I am trying to implement the singledatepicker component via custom button such that when u click on +1, it shifts to next date and if you click on -1 if shifts to previous date. and those dates are highlighted whichever is set in state, issue comes when u r at last day of month and press +1 , the state gets set to next month'

[2021-06-02 14:44] emhagman commented on #2111
I'm also getting this issue. I have `import 'react-dates/initialize';` and can confirm it's being called via debugger but the theme is still undefined. I am using webpack v5 with `swc-loader`. Bumping this as I don't think it's the same issue as just missing the import.

[2021-06-02 22:32] cgarrovillo commented on #255
Any more support on this?

[2021-06-03 09:42] ratnabh commented on #48
@tpmarc did u find any workaround for this ?

[2021-06-03 09:43] ratnabh commented on #2122
@ljharb have we got any solution for this ?

[2021-06-07 16:07] explodingdoggos commented on #1023
really late i guess but i need this too

[2021-06-07 16:13] Flui commented on #1023
Hi I checked the actual value of the input. I am not quite sure if I used document.getElementById or a ref to get the input

[2021-06-09 11:26] #2122 closed

[2021-06-09 11:27] #2119 closed

[2021-06-09 14:13] xela92 opened #2124 "Error in docs - isOutsideRange"
Hi guys,

I found a little error in the official documentation ( https://airbnb.io/projects/react-dates ).

`isOutsideRange indicates which days are out of selectable range. Past dates out of range by default. If you would like to allow the user to select days in the past, you may set isOutsideRange to () => true.`

It should say

`you may set isOutsideRange to () => false`

Thanks

[2021-06-10 09:13] LucyMac opened #2125 "MomentJS is now deprecated: Any plans to migrate?"
Hello, as you likely know [MomentJS have announced](https://momentjs.com/docs/#/-project-status/) they will no longer be developing the library, and are encouraging the use of alternatives such as Day.JS, date-fns etc.

Any plans to migrate `react-dates` away from Moment?

[2021-06-10 13:57] ljharb commented on #2125
It is not deprecated, in fact; the announcement doesn’t use that term.

Temporal recently got stage 3. Once there’s a production-ready polyfill (none exists yet) then every date library you mentioned, including moment, is immediately obsolete, and react-dates will migrate to it.

In the meantime, it would be wasted effort to migrate off of moment - which remains the de facto standard regardless of

[2021-06-10 13:57] #2125 closed

[2021-06-10 14:25] LucyMac commented on #2125
Thanks, I didn't know about Temporal

An overview for those interested: [javascript-temporal-api-introduction](https://www.sitepoint.com/javascript-temporal-api-introduction/)

[2021-06-11 11:29] drico commented on #1150
In my use case, I need to have both a left pannel, and a bottom pannel.
The problem is there is only one prop `renderCalendarInfo` for rendering, and another prop `calendarInfoPosition` to choose where to display the compent.