[2018-07-26 11:10] mrseanbaines commented on #898
Any way to prevent that warning being thrown? I'm using `VERTICAL_SCROLLABLE ` and seems to work fine but would be nice to have a clean console.

[2018-07-26 12:35] chandan7193 opened #1288 "the library is not showing days of the week?"
[code]

Do I need to add any props over here?

[2018-07-26 14:24] nsmahajan commented on #1197
Hi,

Even the project I am working on requires me to show a custom message when a user hovers over a day in datepicker. Do the team plan to provide a support for such functionality in future?

[2018-07-27 03:16] awongh commented on #79
@majapw I am still seeing this issue.

Specifically in the storybook, the single date picker with the default date set doesn't have the correct behavior when trying to type in the input.

When you enter anything into the input, the cursor moves to the end of the text.

There are other problems with the input, like when you finally enter a valid date, the input loses focus and the picker window clo

[2018-07-27 07:54] Karine91 commented on #1282
Hi, can you please fix dependencies for react-dates and set it to last version of react-outside-click-handler? Modules are reinstalled and tests failed again...

[2018-07-27 08:00] ljharb commented on #1282
@Karine91 the fixed version is included in the semver range, so no new publish is needed.

[2018-07-27 09:00] Karine91 commented on #1282
I used the yarn, now reinstalled with npm and it's worked

[2018-07-27 11:45] #1288 closed

[2018-07-28 01:39] yshua5631 opened #1289 "is it possible to support 'next year' or 'previous year' with customized style?"
Hell all,
I want to implement a function to support next year and previous year like below:

![1532741339 1](https://user-images.githubusercontent.com/8278853/43351741-4053a60a-9249-11e8-95a6-c8e09fc0966f.png)

My original idea is using  renderCalendarInfo
`<DateRangePicker
   renderCalendarInfo={this.renderTop}
/> `
However, how do i get onYearSelect method ?

[2018-07-29 09:35] FareheSoheil commented on #755
Could you solve this issue ?

[2018-07-29 20:20] ljharb commented on #755
@FareheSoheil a PR is welcome.

[2018-07-30 05:44] marshallharry commented on #950
hi, I'm not using `react-hot-loader` but I encountered this issue. can someone help me?

[2018-07-30 15:19] ljharb commented on #950
@marshallharry please file a new issue with as much repro info as you can :-)

[2018-07-31 03:12] vsc-github opened #1290 "List of unsupported browsers?"
Using this amazing date-picker in a lot of my projects. I was wondering what is the browser support.
Is there a list of browsers where this component wouldn't work? Or minimum versions that we actually support?

Apologies if this is a repeat question, but couldn't find it in the documentation. Thanks in advance.

[2018-07-31 03:55] marshallharry commented on #950
sorry

[2018-07-31 04:02] ljharb commented on #1290
It should work in any browser supported by React itself.

[2018-07-31 04:40] AaronFixer commented on #950
@ljharb Is this still an issue with React-Hor-Loader specifically? If so, can you advise / link where the new outstanding issue is in the other library? As previously linked topics are closed.

[2018-07-31 05:24] ljharb commented on #950
@AaronFixer i don't use react-hot-loader, so I'd assume that someone experiencing the issue has filed it. https://github.com/gaearon/react-hot-loader/issues/304 however is not closed, and is linked here:
https://github.com/airbnb/react-dates/issues/950#issuecomment-381622917

[2018-07-31 21:25] abradley2 commented on #897
Had the same exact issue where my confusion stemmed from the documentation reading like the theme interface wasn't required if I wasn't using aphrodite. I still cannot tell if we're able to use JSS and not import `react-with-styles-interface-aphrodite` at all

[2018-07-31 22:30] ljharb commented on #897
You can use your own react-with-styles interface - one made for JSS, for example.

The interface controls specific implementation details, like "do you want inline styles at all", and "how are styles updated as changes are made".

[2018-08-01 10:12] robert-rapiteanu opened #1291 "Poor perfomance when using withPortal and keepOpenOnDateSelect"
I get >50% CPU usage on an i5 @ 3.0Ghz when using `withPortal` and `keepOpenOnDateSelect` at the same time. At the first interaction it works good, but it gets worse after each click/hover.

[code]

[2018-08-01 14:21] abradley2 commented on #897
Is `ThemedStyleSheet.registerInterface(aphroditeInterface);` necessary for the component to use it's own styles? That's my source of confusion. I'm finding I can load in whatever interface to use whatever style I want, but I can't get the calendar to display with it's default styles without registering that aphroditeInterface.

[2018-08-01 21:35] greenkeeper[bot] opened #1292 "An in-range update of react is breaking the build 🚨"
## Version **16.4.2** of the **react** packages was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/airbnb/react-dates/compare/master...airbnb:greenkeeper%2Fmonorepo.react-16.4.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Monorepo release group
    </th>
    <td>
      <a target=_blank href=https://g

[2018-08-02 08:53] heshamelmasry77 commented on #262
The issue is not addressed correctly.
What you need to do @BrunoQuaresma is :
first this orientation props take : horizontal, vertical and also verticalScrollable
maybe you create a constants file look like that:
[code]

[2018-08-02 11:16] vsc-github commented on #1290
Couldn't have asked for a better answer. Thanks.

[2018-08-02 11:16] #1290 closed

[2018-08-02 12:57] nkint opened #1294 "Use dayjs instead of moment.js"
Hi, it's a while that I'm using dayjs as it is immuable and the bundle is way smaller (just 4 kb):

https://github.com/iamkun/dayjs

The dayjs API are the same, is there a way to use this library instead of moment.js? Any specific advice or drawback?

[2018-08-02 13:02] greenkeeper[bot] opened #1295 "An in-range update of clean-css is breaking the build 🚨"
## Version **4.2.0** of **clean-css** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/airbnb/react-dates/compare/master...airbnb:greenkeeper%2Fclean-css-4.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/jakubpawlowicz/cle

[2018-08-02 14:17] arturmiglio commented on #950
Same issue here:

- react-dates: 17.1.1
- react-hot-loader: 4.2.0

[2018-08-02 18:25] ljharb commented on #1294
moment is the defacto standard for the ecosystem. I don’t know what locales dayjs supports, but if ts any less than moment than it’s not an option.

[2018-08-03 10:46] isnifer opened #1296 "Why CalendarDay doesn't accept any extra props?"
I would like to pass a test id to every day as `data-attribute`. But I can't.

[2018-08-03 13:49] ignaciosantise commented on #616
Any news about this?

[2018-08-03 16:29] HollyJHuber commented on #934
Setting two additional props on the DatePicker worked for me:
`startDateId="start" `
`endDateId="end"`

[2018-08-03 17:54] AntiFish03 opened #1297 "Performance Issues"
I am debugging the app I am working on for performance issues and have identified that react-dates might potentially be the biggest culprit of my slow down. Has anyone else run [why-did-you-update](https://github.com/maicki/why-did-you-update) on react dates and noticed the tons of potentially avoidable re-renders? On hovers, key press events all cause massive amounts of re-renders and none of the

[2018-08-03 18:52] ljharb commented on #1296
Test IDs are an archaic and subpar way to test things imo; either way, using exact props checking catches tons of bugs, and there’s no generic way to allow data properties.

[2018-08-06 01:33] colemerrick commented on #895
@Notlistedanywhere You can use calendarInfoPosition="top", and renderCalendarInfo={() => this.renderCalendarInfo()} to render any close icon you like.  Use your TestCustomCloseIcon within renderCalendarInfo, and trigger this.setState({focusedInput: null}) on click to close the actual calendar.

[2018-08-06 02:02] majapw commented on #895
@colemerrick's suggestion is probably the best one we have on offer right now. And we really should rename the icon (the issue is that we do use it for both the close button on the withFullScreenPortal and for the clear button otherwise---I think that could use some restructuring in the next major release).

[2018-08-06 08:19] isnifer commented on #1296
@ljharb what's the modern, absolutely effective way to test things in E2E tests?

[2018-08-06 11:28] ssulivan11 commented on #1294
Adding this to Webpack saved just over _1 mb_ of unminified code.
`new webpack.IgnorePlugin(/^\.\/locale$/, /moment$/),`

Was looking into aliasing dayjs for momentjs but ran into errors in some of the default functions like`_moment2.default.localeData`. Would love a prop of react-dates that suppresses local since sometimes we don't need it and it makes this great package much lighter.

[2018-08-06 12:09] alwsBgood commented on #330
More comments, more chances to find a solution?) Have the same problem, help wanted.

[2018-08-06 13:34] fullhdpixel commented on #18
How can we close the SingleDateSelector programmatically?

[2018-08-06 18:09] majapw commented on #1297
🤔I'm going to look into this today! I have some progress that I can put into a PR --- it looks like there's some basic stuff we could do by conditionally using pure components and making some changes to CalendarWeek itself. @lencioni has given me a bit of advice there.

[2018-08-06 22:53] ljharb commented on #1294
I think everyone needs it; the likelihood that any website is only ever accessed by viewers from one locale is pretty close to zero.

[2018-08-06 22:56] ljharb commented on #1296
To be fair, I don't think there's a single answer to that question.

However, you don't want your E2E tests to be coupled to your specific library choice; i'd probably try to write them so that they use implementation-agnostic means to select elements (including not relying on "the structure of the HTML"), like "find me a clickable thing that has the text 'Foo'" or something.

[2018-08-07 00:45] greenkeeper[bot] opened #1299 "An in-range update of safe-publish-latest is breaking the build 🚨"
## Version **1.1.2** of **safe-publish-latest** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/airbnb/react-dates/compare/master...airbnb:greenkeeper%2Fsafe-publish-latest-1.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.co

[2018-08-07 05:58] ljharb commented on #1299
Fluke/timeout.

[2018-08-07 05:58] #1299 closed

[2018-08-07 16:08] mrseanbaines opened #1300 "Error when running tests with imported react-dates"
I'm getting an error saying
`(function (exports, require, module, __filename, __dirname) { export const DISPLAY_FORMAT = 'L';` `SyntaxError: Unexpected token export` when I run my tests with this command: `NODE_ENV=test mocha --compilers js:babel-core/register --require ./react_redux/test/test_helper.js './react_redux/*/*/test*/*.@(js|jsx)'`.

This seems to be a problem with the react-dates packag

[2018-08-07 20:11] majapw commented on #1300
@ljharb are the `"es2015"` and `"react"` babel presets sufficient here? Do you also need to include some sort of JS shims when running tests?

[2018-08-07 21:34] isnifer commented on #1296
@ljharb persistent test ids look better than `find me something with a text 'Foo'`, imo. Also, test ids implementation-agnostic, aren't they?
Also, test ids help us to maintain a single approach for Appium/Detox tests for RN, Enzyme tests, Selenium tests for the web.
We've just created a little helper:
[code]
Isn't it cool?

[2018-08-08 00:08] ljharb commented on #1300
No presets should be required, since babel shouldn't be touching node_modules code, and all our code should be transpiled prepublish.

You can see that that path is https://unpkg.com/react-dates@16.2.0/constants.js, which requires https://unpkg.com/react-dates@16.2.0/lib/constants.js, which does not use `export` syntax.

What's in `test_helper.js`?

[2018-08-08 00:42] jessmitch42 opened #1301 "Button to move forward multiple months (jump forward to current month)"
I'm trying to implement a "Current Month" button on the DateRangePicker component that allows a user to jump/scroll forward multiple months to the current month (assuming they're multiple months behind the current month). Essentially the next button but going to the current month instead of one month forward. This is to avoid the user having to click back a bunch of months, select a start date, an

[2018-08-08 03:08] wufeicris commented on #802
use prop isOutsideRange , when return true means day cannot be selected

[2018-08-08 10:53] mrseanbaines commented on #1300
Finally found the issue - In another file I was importing `react-dates/src/constants` _(note the `src`)_ which was importing https://unpkg.com/react-dates@16.2.0/src/constants.js which is using the `export` syntax. Didn't realise until your comment @ljharb. Thanks!

[2018-08-08 10:53] #1300 closed

[2018-08-09 13:33] greenkeeper[bot] opened #1302 "An in-range update of node-sass is breaking the build 🚨"
## Version **4.9.3** of **node-sass** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/airbnb/react-dates/compare/master...airbnb:greenkeeper%2Fnode-sass-4.9.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/sass/node-sass>nod

[2018-08-10 10:02] hemant3370 commented on #1108
@eddieduro @aray12 Did you find any solution?

[2018-08-10 16:28] majapw commented on #1108
Is this reproducible with `readOnly` set to true?

[2018-08-10 16:31] #1013 closed

[2018-08-10 16:41] aray12 commented on #1108
@hemant3370 I haven't yet.

@majapw I am not sure. I'll try it later today

[2018-08-11 01:05] ha1ogen opened #1303 "Arrow buttons broken on Firefox"
On Firefox I can't change calendar month, clicking on the arrows does nothing. Anyone else seeing this bug?

I'm on ^17.1.1

[2018-08-13 08:01] NKBelousov commented on #676
Any update on this issue? Entering new value doesn't update in caldendar, at least for SingleDatePicker, I'm using v17.1.1.

[2018-08-13 16:56] majapw commented on #1303
Eek, I think I can reproduce this. I will investigate today.

[2018-08-13 17:04] majapw commented on #1303
@ha1ogen can you share your Firefox version and which picker you are using? I can't seem to reproduce in FF61.

[2018-08-13 20:48] majapw commented on #676
@NKBelousov I don't think that this issue has been addressed, and I don't know when I will be able to do it myself. However, I do think all the infrastructure is in place to make the change, so I'd def accept a PR that changed this behavior.

https://github.com/airbnb/react-dates/pull/1106 may have some hints as to how to approach the problem as it does month/year updating. It may involve, more ge

[2018-08-13 23:29] majapw opened #1304 "No focus ring for custom month navigation"
Currently if you make use of the `navNext` and `navPrev` props, your custom month navigation buttons will not have a focus ring in any browser (and I do not know of a way to overcome this on the consumer side.

@erin-doyle @backwardok

[2018-08-13 23:56] greenkeeper[bot] opened #1306 "An in-range update of eslint-config-airbnb is fine"
## Version **17.1.0** of **eslint-config-airbnb** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/airbnb/react-dates/compare/master...airbnb:greenkeeper%2Feslint-config-airbnb-17.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://githu

[2018-08-13 23:57] ljharb commented on #1306
fluke

[2018-08-13 23:57] #1306 closed

[2018-08-14 01:46] Ninos opened #1307 "Calendar not showing"
Hey there,
I'm doing following and calendar is not showing on click. Can you may help? Documentation is little too less :/
[code]

[2018-08-14 09:01] #1084 closed

[2018-08-14 09:18] aminsmartsense opened #1308 "Width apply only 19px instead of 619px in singleDatePicker"

[2018-08-14 10:01] ivnkld commented on #1067
@philippefutureboy thanks a lot for your solution it works fine for UNIX. If someone is using Windows you should change this line
`test: /node_modules\/.*\.css$/,`
on this one
`test: /node_modules[\\\/].*\.css$/,`

[2018-08-14 10:15] charliedavison commented on #1023
+1

[2018-08-14 16:47] majapw commented on #1308
Can you show a screenshot? What version are you on? What browser are you using?

[2018-08-14 19:43] #1303 closed

[2018-08-14 19:56] #705 closed

[2018-08-14 20:14] greenkeeper[bot] opened #1309 "An in-range update of eslint-plugin-react-with-styles is breaking the build 🚨"
## Version **2.1.0** of **eslint-plugin-react-with-styles** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/airbnb/react-dates/compare/master...airbnb:greenkeeper%2Feslint-plugin-react-with-styles-2.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blan

[2018-08-14 21:08] greenkeeper[bot] opened #1310 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## Version **7.11.1** of **eslint-plugin-react** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/airbnb/react-dates/compare/master...airbnb:greenkeeper%2Feslint-plugin-react-7.11.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.

[2018-08-15 09:11] gdi-user02 commented on #1067
@philippefutureboy thank you very much it is working but if I do it my global styles are not being imported. Any ideas?

[code]
[code]

[2018-08-15 11:59] philippefutureboy commented on #1067
@gdi-user02 The file you are importing in App.js is a `.css` file. You seem to have forgotten to add a config block for `.css` files in your config.

[2018-08-15 15:00] greenkeeper[bot] opened #1314 "An in-range update of storybook is breaking the build 🚨"
## Version **3.4.10** of the **storybook** packages was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/airbnb/react-dates/compare/master...airbnb:greenkeeper%2Fmonorepo.storybook-3.4.10">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Monorepo release group
    </th>
    <td>
      <a target=_blank href=h

[2018-08-15 15:02] greenkeeper[bot] opened #1315 "An in-range update of enzyme is breaking the build 🚨"
## Version **3.4.1** of the **enzyme** packages was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/airbnb/react-dates/compare/master...airbnb:greenkeeper%2Fmonorepo.enzyme-3.4.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Monorepo release group
    </th>
    <td>
      <a target=_blank href=https://g

[2018-08-15 15:33] gdi-user02 commented on #1067
@philippefutureboy  thank you for quick response, any idea how can achieve that? Not much experience with Webpack.

[2018-08-15 16:51] greenkeeper[bot] opened #1316 "An in-range update of react-with-styles-interface-aphrodite is breaking the build 🚨"
## Version **5.0.1** of **react-with-styles-interface-aphrodite** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/airbnb/react-dates/compare/master...airbnb:greenkeeper%2Freact-with-styles-interface-aphrodite-5.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a

[2018-08-15 20:51] ljharb commented on #1314
Fluke.

[2018-08-15 20:51] #1314 closed

[2018-08-15 20:51] ljharb commented on #1315
Fluke.

[2018-08-15 20:51] #1315 closed

[2018-08-15 20:51] ljharb commented on #1316
Fluke.

[2018-08-15 20:51] #1316 closed

[2018-08-16 02:06] Jokinen commented on #1067
@gdi-user02 You could try

[code]

In which case this config will match `.scss` files as well as `.css` files. `style-loader` and `css-loader`, defined in the `use` array, should be enough to handle css files.

[2018-08-16 06:15] greenkeeper[bot] opened #1317 "An in-range update of enzyme is breaking the build 🚨"
## Version **3.4.2** of the **enzyme** packages was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/airbnb/react-dates/compare/master...airbnb:greenkeeper%2Fmonorepo.enzyme-3.4.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Monorepo release group
    </th>
    <td>
      <a target=_blank href=https://g

[2018-08-16 13:52] philippefutureboy commented on #1067
@Jokinen that wouldn't work given that @gdi-user02 intends to use CSS as global CSS. Instead, I'd suggest something like this:

[code]

[2018-08-16 18:48] abradley2 commented on #950
Encountering the issue ourselves- but appears to possibly be related due to the existence of another theme provider wrapping the component. Anyone else have a similar experience? I will work on putting together an SCCEE

[2018-08-16 21:33] SethGoodLuckMartin commented on #1013
Was this actually fixed?

[2018-08-16 22:27] nbakken8 commented on #1013
Yes, in 17.2.0

[2018-08-16 22:50] SethGoodLuckMartin commented on #1013
Ah, perfect! Glad this is fixed

On Thu, Aug 16, 2018, 15:28 nbakken8 <notifications@github.com> wrote:

[2018-08-18 18:03] sibelius commented on #1030
Check how material-UI provides this interoperability

[2018-08-20 18:34] SoccerGee opened #1318 "Render prop for confirm or cancel buttons on the bottom of the calendar"
I would like to open a pull request for adding a conditionally rendering render prop.  The render prop would add confirm or cancel buttons similar to the info block on bottom (http://airbnb.io/react-dates/?selectedKind=DRP%20-%20Calendar%20Props&selectedStory=with%20info%20panel%20default&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel).

I want to get some fe

[2018-08-20 18:35] majapw commented on #1318
Hi @SoccerGee, I think that this is currently possible with the `renderCalendarInfo` prop (because you can render whatever you want in that area). Can you clarify a bit more what you are proposing?

[2018-08-20 18:36] SoccerGee commented on #1318
I'm assuming that this is might both require a "question" and "feature request" label.

[2018-08-20 18:37] SoccerGee commented on #1318
Okay, did you see the mockup?

That is a custom mock up that we have made.  For clarity, Can we pass our own components to the `renderCalendarInfo` prop?

[2018-08-20 18:41] SoccerGee commented on #1318
@majapw Essentially, we want to pass a component that renders two buttons with some event handlers.

[2018-08-20 18:43] majapw commented on #1318
@SoccerGee `renderCalendarInfo` is a functional prop that you can return any node from! :) You can style it however you normally style things and add whatever content you want (see https://github.com/airbnb/react-dates/blob/master/stories/DateRangePicker_calendar.js#L152-L159 for a code example). It's in fact what powers airbnb's apply feature that's very similar to what you're describing:
<img wi

[2018-08-20 18:43] SoccerGee commented on #1318
BOOM!  Thank you!

[2018-08-20 18:43] #1318 closed

[2018-08-21 09:02] SergeyShablenko opened #1319 "Focus on a date when calendar is opened"
I\`m using DayPickerSingleDateController and custom input implementation, on input focus I\`m showing DayPickerSingleDateController and on input change I`m looking for the closest date and then set this date to DayPickerSingleDateController as date prop.

Date is selected, but calendar does not 'scroll' to that date

[2018-08-21 09:53] amaurym opened #1320 "DayPickerSingleDateController Jump to current month on `date` prop change"
Here's my simple component
[code]

My URLs are in the format `/date/${yyyy}/${mm}/${dd}`, and the `getDateFromUrl()` function just transforms the URL into a momentObject.

**Repro**:
- Load page /date/2017/01/01, the DayPickerSingleDateController will highlight Jan 1st 2017.
- Navigate client side (i.e. no page refresh) to /date/2018/01/01

**Expected result:**
- DayPickerSingleDateController chan

[2018-08-21 14:03] kmai00 commented on #1257
I think I know what my problem is...

So in my code I'm using DayPickerSingleDateController and I am passing new dates to it but because it is always displayed...the state updates but the calendar doesn't rerender..meaning it doesn't just to the month after it receive this new props...

Is there a way to force it go to the new selected month?

[2018-08-21 14:39] Aarbel opened #1321 "Put auto-prefixer on all CSS classes"
React Dates creates a lot of css conflicts with other apps' css and other libraries css.

Did you planned to allow people to prefix them (or not if they want) ?

Thanks a lot

[2018-08-21 15:00] ljharb commented on #1321
Autoprefixer is usually for vendor prefixes, I’m not sure what you’re asking for. Can you elaborate on “css conflicts”?

[2018-08-21 15:33] majapw commented on #1321
@Aarbel all our class names our pretty specific with the intention of not colliding with any other CSS classnames. If you mean that our classnames are overriding generic styling on divs and other elements, then we generally encourage folks to override the style definitions to better suit their apps.

[2018-08-21 15:36] majapw commented on #1257
Ahh, this is a known issue, and it's on my to-do list but hasn't yet been tackled. I think most of the legwork has been done to allow for this behavior, it just hasn't quite happened yet. :)

[2018-08-21 15:39] majapw commented on #1320
It sounds like this is a dupe of https://github.com/airbnb/react-dates/issues/1257! This is on my to-do but I haven't gotten around to it. We'd definitely be open to a PR though.

I think for this particular case, in the componentWillReceiveProps method of the DayPicker*Controller components, you could check if the selected date has changed and if the new date is visible or not (there's a helper f

[2018-08-21 15:41] majapw commented on #1319
Weird! Several people opening the same issue at the same time!

This is a duplicate of https://github.com/airbnb/react-dates/issues/1320 and https://github.com/airbnb/react-dates/issues/1257. Let's track on #1320 actually since it has the most succinct summary of this issue.

[2018-08-21 15:41] #1319 closed

[2018-08-21 15:42] majapw commented on #1320
I'm keeping this as the canonical issue since the description is so nice and succinct!

[2018-08-21 15:43] majapw commented on #1257
I'm going to close this in favor of #1320 given that it has a very succinct description of the issue. :)

[2018-08-21 15:43] #1257 closed

[2018-08-21 21:10] AntiFish03 commented on #1297
@majapw, Is there any movement on this?

[2018-08-23 04:07] #982 closed

[2018-08-23 04:29] WatsonFungHK opened #1323 "renderCalendarInfo cause memory leak"
I am trying to insert a text link in calendar.
`<DateRangePicker renderCalendarInfo={() => <CustomText />} ...moreProps />`

But after user select the date, and the calendar is hided, a warning is thrown

I confirmed it is not caused by my custom react component because event if I render `() => <b>HELLO WORLD</b>`, the warning is still here

Is it a hidden issue of react-dates?

[2018-08-23 05:18] majapw commented on #1323
Um, can you share all of the props you are using give a demo app? Do you no longer see the issue if you remove `renderCalendarInfo`? What version of react-dates/react are you using?

[2018-08-23 15:08] HartiganHM commented on #1138
@majapw I'll chime in and say that we have a use case for timezone support as well. We'll be using the `DatePickerSingleDateController` and `DayPickerRangeController` for different stores that have a set location in a specific timezone. If someone is looking at a store in Denver from NY, we want the dates to match the timezone in Denver.

Right now it works up until NY crosses into the next day, w

[2018-08-24 09:17] dumblole commented on #1209
I get the same sort of problem

[2018-08-28 06:52] hemanth-sp opened #1326 "does this support Angular 4,5 or 6?"
does this support Angular 4,5 or 6?

[2018-08-28 07:09] ljharb commented on #1326
no, it's react-dates - it only supports react.

[2018-08-28 07:09] #1326 closed

[2018-08-28 09:43] imprashast commented on #973
@majapw Can anyone check this?

[2018-08-28 13:47] stjanis commented on #1092
having the same issue as @Sebruck and @tuantr10. has anyone found solution / reason why this happens?

[2018-08-28 14:27] hopewise commented on #394
A bare-bone simple example can be found here: https://github.com/majapw/react-dates-demo/blob/master/src/App.js

[2018-08-29 05:12] bonusbb opened #1330 "i want to set isDayblock more 1 day"
Hey i use this code for block tuesday :
isDayBlocked={day => (day.weekday() === 2) }

Now i wanna block tuesday and friday can someone explain me how to do it

[2018-08-29 05:44] ljharb commented on #1330
`isDayBlocked={day => day.weekday() === 2 || day.weekday() === 5}`?

[2018-08-29 09:39] ff05 opened #1331 "Next and previous month button styling incorrect"
The buttons to navigate through the months "disappeared".

[2018-08-29 11:56] #1331 closed

[2018-08-29 15:29] bonusbb commented on #1330
thankyou for answer

[2018-08-29 15:37] edguerrade opened #1332 "Don't render DayPickerSingleDateController when collapsible panels"
When I have 'N' calendars, each one on a collapsible accordion bootstrap panel (react-bootstrap), if it's hidden first time when it renders, it doesn't appear again. Here is the example code https://codesandbox.io/s/6j10z2m8vn

[2018-08-29 20:52] AntiFish03 commented on #1297
@majapw In playing around I have managed to figure out a way to eliminate a lot of the re-rendering warnings (and lag) by using the withStyles option `{ pureComponent: true }`, and using `React.PureComponent` over `React.Component` with `shouldComponentUpdate` lifecycle.

I don't know if this is the direction the library wants to go as it would remove backwards compatibility with React `< 15.3.0`.

[2018-08-29 22:56] majapw commented on #1297
@AntiFish03 you are a hero!

I think that is exactly the direction we want to move in. We can def use `{ pureComponent: true }` in `withStyles` and can use `React.PureComponent` as long as we follow a pattern like this (https://github.com/airbnb/react-with-styles/blob/master/src/withStyles.jsx#L23-L33) with fall-backs (we'll be able to just go all in once React 17 comes out).

I'd love to accept a

[2018-08-30 00:12] ljharb commented on #1297
I'm not sure we should be using PureComponent just yet; we should be able to obtain the same speed improvements with a shouldComponentUpdate. Even when React 17 comes out, v15.0 - v15.2 won't have PureComponent, so it's not truly safe to use until v18 is released (given our "last 2 versions" policy).

The specific changes sound good, of course.

[2018-08-30 00:38] majapw commented on #1297
@lencioni can weigh in, but I don't... think so? but if we do lose the sCU optimization on older Reacts, I think that's a fine compromise for how huge the gains are for using PureComponent.

[2018-08-30 01:09] ljharb commented on #1297
That seems to be punishing older React users, for speed ups that we should be able to obtain without PureComponent (with our own cDU).

[2018-08-30 02:12] lencioni commented on #1297
That's right, people on older versions of React will have worse performance with this approach. I think that's probably alright though. PureComponent has been part of React for 2 years now, and things will still work for folks who are on older versions--or they can keep using an older version of react-dates.

If we want to avoid this, we could implement our own shouldComponentUpdate, or our own Pu

[2018-08-30 03:09] xiaotian-tan commented on #1097
I tried with react-dates demo site on IE 11, and it definitely has a bug.

[2018-08-30 04:19] kaushik1094 opened #1333 "Couldn't Edit dates Manually on DateRangePicker"
I am on react-dates version:  17.2.0

I am unable to edit dates manually in DateRangePicker.

My DateRangePicker looks like this:
<DateRangePicker
                                    startDate={this.state.dateRange[0]} // momentPropTypes.momentObj or null,
                                    startDateId="your_unique_start_date_id" // PropTypes.string.isRequired,

[2018-08-30 04:41] ljharb commented on #1297
I'd be fine with using the pureComponent option conditionally as well as extending PureComponent internally, only when it's present, as long as we can conditionally include a `shouldComponentUpdate` method as well for older react users.

See #851/#313/#565, and https://github.com/airbnb/react-dates/pull/565#issuecomment-330578117 in particular.

[2018-08-30 04:47] bonusbb opened #1334 "how can i add style into isDayBlocked"
i need to change style (colour gray) in  isDayBlocked
![image](https://user-images.githubusercontent.com/40967949/44830133-6bbe6f80-ac4a-11e8-960f-63ba5b234b60.png)

to

[2018-08-30 04:59] majapw commented on #1297
Again, as has been said many times over in this thread, I think that we can get the performance gains from `PureComponent` without dropping support for older versions of react in the same way that we do in `react-with-styles` (which conditionally checks for its presence).

As for

I don't *personally* think that this is necessary, but I'm happy to leave the `shouldComponentUpdate` as is in the cla

[2018-08-30 05:03] majapw commented on #1334
Hi @bonusbb, you seem to already be overriding the styles for the selected days. You would override the blocked day styles in much the same way.

If you want the crossed through date, you can change the contents of the `CalendarDay` component by using the `renderDayContents` prop. You can see that in action here - https://github.com/airbnb/react-dates/blob/master/stories/DayPickerSingleDateControl

[2018-08-30 05:05] majapw commented on #1333
@kaushik1094 can you share a gif of the behavior you are seeing? Are you able to select a date by clicking on the calendar?

Can you also share what browser you are using?

[2018-08-30 07:46] #1332 closed

[2018-08-30 07:49] edguerrade commented on #1332
This issue related with #46

[2018-08-30 16:05] kaushik1094 commented on #1333
@majapw Yes I am able to select the date in the Calendar. But couldn't edit the input fields of the start date and end date manually. I am using Google Chrome .

[2018-08-30 16:59] AntiFish03 commented on #1297
@majapw Would you like me to leave the change to storybook config to include `why-did-you-update` in? It really helps to find potential performance issues.

[2018-08-30 17:01] majapw commented on #1297
That sounds awesome! :)

[2018-08-30 17:27] majapw commented on #1097
Huh, I wonder if this is due to the restructuring of the navigation. I think a simple patch would be to check for the blur element. Let me put up a PR.

[2018-08-31 10:17] tuanluu-agilityio commented on #801
Thank you for saving my time @Parthchokshi
[code]
To enable every date

[2018-08-31 14:33] sparrowDom commented on #1249
@toddpeak I am experiencing the same problem. Did you manage to resolve the issue?

[2018-09-02 12:12] dumblole opened #1337 "Updating README?"
I came across this issue when trying to figure out styling without going in too deep.

https://github.com/airbnb/react-dates/issues/758#issuecomment-336670523

I suggest updating the README to match the current CSS variables, since it is outdated and the ones referenced here don't work anymore:

https://github.com/airbnb/react-dates#overriding-styles

I could make a pr if necessary.

[2018-09-03 11:39] LucasAndrad commented on #836
Hi @Drecula, could you please explain how did you solve? I think I have the same problem here. Thank you

[2018-09-03 22:42] majapw commented on #1337
Sounds great! We'd be happy to accept a PR in this vein. :)

[2018-09-04 07:13] hemanth-sp opened #1338 "don't allow to select date range in between blocked dates ? so is this possible.any suggestions please????????????????"
See still i can able to select range, so which file is causing this issues?

![screenshot from 2018-09-04 13-17-40](https://user-images.githubusercontent.com/24698571/45017388-1ec10b80-b045-11e8-9927-93c36d3c51a4.png)

[2018-09-04 08:47] SevenInterval commented on #845
@firaskrichi maybe you didn't create sql side in your project.

[2018-09-04 16:14] barrylachapelle commented on #912
Wow. Maybe dropping the css in as an answer would have helped.

[2018-09-04 16:26] AntiFish03 commented on #1297
@majapw Can you see if you can figure out why `DayPickerNavigation` is still giving a ton of re-render warnings?  I can't get a handle on the issue with that one and it probably something stupidly simple that I am not seeing.

[2018-09-04 18:00] majapw commented on #1297
I will take a look at that this week. :)

[2018-09-05 00:07] majapw commented on #1274
I'll post this here as well

In your case, `escape` does have specific behavior inside of the DayPicker component itself (related to the keyboard shortcuts panel). Maybe we could conditionally stop propagation for the cases that I listed?

[2018-09-05 05:56] hemanth-sp commented on #478
is it sloved??????/

[2018-09-05 06:03] hemanth-sp commented on #23
how add this your code in angular 2 ???????????

[2018-09-05 06:07] ljharb commented on #23
@hemanth-sp as you asked in #1326, this is REACT dates. It only ever works in react, and will not work in any past, present, or future version of angular.

[2018-09-05 06:26] greenkeeper[bot] opened #1340 "An in-range update of airbnb-prop-types is breaking the build 🚨"
## Version **2.11.0** of **airbnb-prop-types** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/airbnb/react-dates/compare/master...airbnb:greenkeeper%2Fairbnb-prop-types-2.11.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/

[2018-09-05 09:02] dumblole commented on #1338
I understand you may be frustrated, but next time please don't spam so many question marks.

I don't fully understand your question but could this help you? https://github.com/airbnb/react-dates/issues/971

[2018-09-05 10:49] hemanth-sp commented on #1338
yea, actually i am using this reac dates (wrapper) library in angular, this wrapper complied in node models (js and jsx files) it is very very difficult to override(even no support in web to override node modules)

[2018-09-05 15:11] venondev commented on #1274
Yes, I think this would be a good approach. I will update the PR accordingly.

[2018-09-05 15:24] S1rFrancis opened #1342 "isOutsideRange: (day) => false prop throws: TypeError: Cannot read property '<date>' of undefinedTypeError"
I am using react-dates `v17.2.0`, I want to allow past dates to be selectable in a `SingleDatePicker`. While I am able to select past dates, if I go back a month or two from todays date and hover over a value, the following error is thrown: `TypeError: Cannot read property '<date>' of undefinedTypeError`.

I have found a previous related issue that has been closed: https://github.com/airbnb/react-

[2018-09-05 15:49] giacomo-m opened #1343 "Using DateRangePicker on single input field"
Hi, is there a way for using the dateRangePicker on a single input field?
like airbnb site:
![image](https://user-images.githubusercontent.com/15344086/45105206-07ad1700-b134-11e8-9d8a-f16d5b0187c5.png)
Thanks.
Giacomo

[2018-09-05 17:14] matheusalxds commented on #912
Of course!! I've created a file to control my css and added this class there:

`.DateRangePickerInput {
  border-radius: 5px;
  border: 0px;
  overflow: hidden;
  ...
}`

[2018-09-05 22:32] majapw commented on #1343
I think that @giacomo-m means the combined start date/end date button that exists on our search page. That answer is that there is no out-of-the-box solution currently @giacomo-m, but if you take a look at the https://github.com/airbnb/react-dates/blob/master/src/components/DateRangePicker.jsx source, you can essentially mimic that with your own input instead. That's actually what we do on our sea

[2018-09-05 22:33] majapw commented on #1343
I think it would maybe make sense to restructure the library to take be able to swap in inputs and pickers readily but I think that's a longer term project.

[2018-09-05 22:37] majapw commented on #1097
Yup, okay sorry for the delay! I am working on a fix now. :)

[2018-09-05 22:55] majapw commented on #1342
🤔 Can you share a gif of this behavior? Also, browser version and React version would be helpful.

The linked behavior did not seem to error out; it was just about styles not being cleared. Are you seeing the same visual effect?

[2018-09-05 23:29] #1097 closed

[2018-09-06 00:40] majapw commented on #1097
Fixed in v18! :)

[2018-09-06 09:29] giacomo-m commented on #1343
@majapw my idea was to hide react-dates input fields and then when selected, copy the dates values on my input field using javascript. But in this way i can't open the calendar.

[2018-09-06 10:42] S1rFrancis commented on #1342
I am using `react@16.4.2` and `react-dates@17.2.0`,  google chrome `68.0.3440.106`

![react-dates-past-dates-smaller](https://user-images.githubusercontent.com/19687159/45152785-ebf45000-b1c9-11e8-94ac-bcbece555885.gif)

[2018-09-06 15:35] ljharb commented on #208
date-fns being just functions and strings means you can’t do much validation - ie, i can ensure you’ve given me a moment object, but not a “date function”.

I think it’d be better to wait for the Temporal proposal at this point, and then use a polyfill for it outside of libs like react-dates - that way the bundle size impact would eventually be zero, we’d get first-class primitives with which we c

[2018-09-06 16:18] icd2k3 commented on #1198
Hey all,

We ran into this one as well and it boiled down to a `deepmerge` dependency ([repo](https://github.com/KyleAMathews/deepmerge)).

In our app we're using `deepmerge@2.1.1` (latest). `react-dates` -> `react-with-styles` -> `react-with-direction` depends on `deepmerge@1.5.2`

This causes some conflict which results in the `.has()` error outlined above. Downgrading to 1.5.2 on our end resolv

[2018-09-06 23:12] xiaotian-tan commented on #1097
Yeah! Thanks a lot 👍

[2018-09-07 09:21] joanjoantan opened #1348 "warning "react-dates > react-with-styles@3.2.1" has unmet peer dependency "react-with-direction@^1.1.0"."
With react (^16.2.0):

package.json
[code]

[2018-09-07 15:58] ljharb commented on #1348
Since we updated from react-with-styles v2 to v3 in v16.4 / #1041, and that brought along a new peer dep requirement, that was a breaking change (cc @lencioni @majapw). I'll add it as a dep + peerDep in both master and in a v16 backport, to fix.

[2018-09-07 16:07] #1348 closed

[2018-09-07 16:19] ljharb commented on #1348
Published v16.7.1.

[2018-09-07 16:46] majapw commented on #1348
Whoops! Thank you @ljharb

[2018-09-07 21:41] mlg87 commented on #692
i feel like this should be reopened bc not rendering or rendering a completely different component when the desired outcome is a disabled button feels like a hacky workaround. it would be great to be able to pass down the click handler or prevent propagation when desired

[2018-09-08 00:36] elinskytap commented on #692
@mlg87 Is it something you are looking for?
https://github.com/airbnb/react-dates/pull/1311

[2018-09-08 14:27] mlg87 commented on #692
@elinskytap that is exactly what im looking for. now for it to get merged/released

[2018-09-10 11:01] imprashast commented on #1092
Oh I have this issue too. Some screenshots:

<img width="354" alt="screen shot 2018-09-10 at 12 56 07" src="https://user-images.githubusercontent.com/21952706/45293750-57eff480-b4f9-11e8-93a2-95e8a1609cb5.png">

<img width="353" alt="screen shot 2018-09-10 at 12 55 33" src="https://user-images.githubusercontent.com/21952706/45293758-5cb4a880-b4f9-11e8-8bd1-cce68020b51e.png">

Can anyone explain ho

[2018-09-10 15:35] #1092 closed

[2018-09-10 16:19] codylawson opened #1352 "Date Picker width not being calculated"
I'm getting the following error: ```Warning: `NaN` is an invalid value for the `width` css style property.```

Which results in the date picker displaying like this:
<img width="661" alt="screen shot 2018-09-10 at 9 31 05 am" src="https://user-images.githubusercontent.com/5149922/45309949-346d7f80-b4e2-11e8-96c6-2e77c29eb5b1.png">

Seems to happen in all browsers, and we're currently using the lat

[2018-09-10 16:26] majapw commented on #1352
Hmm, that seems unusual (and does not seem to be happening in the storybook environment). Can you share the props you are passing in and any display/visibility related CSS overrides you may be applying?

[2018-09-10 17:51] codylawson commented on #1352
@majapw Thanks for the quick reply. Here's a code sandbox with my implementation. https://codesandbox.io/s/53yvnmm2k

[2018-09-10 20:41] #1337 closed

[2018-09-10 21:06] ljharb commented on #1337
Closed in #1341/#1344.

[2018-09-11 09:43] onigoetz commented on #208
@ljharb I don't understand "you can’t do much validation" date-fns returns `Date` objects so `instanceof Date` should be enough to validate that we have a date. am I missing something ?

As for the Temporal proposal, it seems that we'll need for a few years before we reach anything on that.

[2018-09-11 13:33] venondev commented on #1274
Updated the PR to only stop ArrowKey/PageKey events.
https://github.com/airbnb/react-dates/pull/1275

[2018-09-11 14:45] ljharb commented on #208
@onigoetz yes, you’re missing that you can’t validate a function (using propTypes) without calling it, which doesn’t necesssrily happen in the render path.

[2018-09-11 17:39] onigoetz commented on #208
Oh sorry, I misunderstood the previous comment, that you should be able to pass functions to override the way dates are handled.

Though I agree with you, I don't think the move to date-fns would be a huge improvement in size, what about using the Date class, and relying on Intl, with a polyfill for older browsers ?

[2018-09-11 20:27] colemerrick commented on #23
My $.02 - think there should be a clear difference between blocked functionally and blocked visually.  Perhaps 2 props - isDayBlocked vs isDayDisabled?  With isDayDisabled not preventing a range selection with a disabled day in the middle.

Use case: bookings at businesses/schools where one needs to disable weekends/holidays but still need to select date-ranges over them.

[2018-09-11 21:53] ljharb commented on #208
That's a lot of extra plumbing, and Intl is a large polyfill, but it'd be an option. I still think that there's no value in making a change right now, until Temporal is available.

[2018-09-12 00:48] colemerrick commented on #1342
@majapw We're experiencing the same error hovering over days more than two months in the future.

[2018-09-12 08:35] tienlx93 commented on #525
Any update on this issue?

[2018-09-12 15:03] hemanth-sp commented on #23
i understand , consider hotel booking system, on boy wants select sat,sun
and monday but sunday hotel is closed so how to do that in this situation?

On Wed, 12 Sep 2018 at 01:57 colemerrick <notifications@github.com> wrote:

[2018-09-12 17:20] majapw commented on #1352
Huh, so it is! I will take a look at what may be going on.

[2018-09-12 17:27] majapw opened #1354 "[IE10] `Cannot call a class as a function` console error"
I've made a simple demo app here: https://github.com/majapw/react-dates-demo/pull/3

It appears that our `baseClass` (https://github.com/airbnb/react-dates/blob/master/src/utils/baseClass.js) errors out in IE10 when an HOC-wrapped component extends it. It does not cause any problems when a non-wrapped component extends it.

to: @ljharb @noratarano @lencioni @AntiFish03

[2018-09-12 17:35] majapw commented on #1354
The second commit (which inlines the check instead of double-extending) does not error out:
https://github.com/majapw/react-dates-demo/pull/3/commits/d79813cdf3a8576e954a9f0dee4ad8312bea9305

[2018-09-12 18:03] ljharb commented on #1354
I believe this is because react-with-styles (along with almost every HOC) hoists statics, but does not preserve inheritance (https://github.com/airbnb/react-with-styles/blob/master/src/withStyles.jsx#L23-L33) - I don't think that's something that an HOC could or should reliably solve.

I think the solution is to find an ergonomic way to use the inlined implementation, rather than creating an inher

[2018-09-12 19:57] majapw commented on #1354
Is the only real answer to this a babel plugin? I've gone my whole life without writing a babel plugin and I was really hoping to maintain that streak.

I guess this could be a `PureComponent` polyfill of sorts? Does that make sense?

[2018-09-12 20:02] ljharb commented on #1354
There's really these options:
 1. revert the change, and keep the manual sCU until we're ready to drop support for React < 15.3.
 1. drop support for React <15.3, and use PureComponent, and direct people to use a PureComponent polyfill (which would require us to locate/vet or create one)
 1. manually inline the gross code everywhere
 1. write a babel transform that converts PureComponents to the g

[2018-09-12 20:12] vikas26294 commented on #1307
You have missed this line
[code]
onFocusChange should contain one of these values(START_DATE, END_DATE).

You also need to modify your `onFocusChange` as this property is responsible for updating focusedInput state.

[2018-09-12 20:16] codylawson commented on #1352
@majapw are there any documented breaking changes between `v17.1.1` and `v18.0.2`? It's a major version so it would make sense. It's also completely possible another dependency we have is conflicting, I just thought I'd check to see if you've seen this error in the past.

[2018-09-12 23:28] majapw commented on #1354
ugggghhhh. okay i'm going to revert the change and publish an 18.0.3 and then republish in 18.0.4 so that I can update our internals and we can WRITE A BABEL TRANSFORM I GUESS. :|

[2018-09-13 00:04] majapw commented on #1352
@codylawson welp! it's probably this change - https://github.com/airbnb/react-dates/pull/1298

Ohhhh okay I understand. You need to add `dayPickerHorizontalPadding: 9` to your spacing theme key. Otherwise, it's undefined so when the calendarmonthwidth is calculated... it is also undefined. I would recommend spreading on the datepicker theme BUT with the hierarchy that's difficult. Maybe we should

[2018-09-13 00:06] majapw commented on #1352
To follow up, https://github.com/airbnb/react-dates/blob/master/src/theme/DefaultTheme.js#L156 got added and is now turning your width into NaN. I could also probably do a quick patch that would not cause this bad of a breakage when that's undefined. I will do that!

[2018-09-13 00:44] majapw commented on #1352
Okay I created a PR https://github.com/airbnb/react-dates/pull/1355

[2018-09-13 01:07] codylawson commented on #1352
@majapw This is great news! Thanks so much for diving into this issue. Is that a new prop on the theme in a recent build? I should have checked the theme sooner...

[2018-09-13 02:31] majapw commented on #1352
@codylawson it is! It was introduced in v17.2.0. It didn't seem like a breaking change, but due to the way the width was calculated, it certainly had that effect. My PR should mitigate that issue (although the padding will default to 0 in that case)

[2018-09-13 04:01] jakeleventhal commented on #931
+1 on this. There doesn't seem to be a good way to put the end date always on the right side of the DateRangePicker.

[2018-09-13 10:05] timhecker opened #1356 "You may need an appropriate loader to handle this file type (.css)"
Hi everybody, I have this error
[code]

but my webpack config is very similar to yours, except for `.pcss` extension (I don't use Sass, but directly postcss). Here my config:

[code]

Could anyone help me, please?

[2018-09-13 15:04] tamiram opened #1357 "appendToBody and page scrolling"
when setting appendToBody,
it sets ` overflow-y: hidden;` inline-style to both html, and body tags
it prevents scrolling of the page when the date picker is open,
removing both inline-styles keeps the modal in the right position and now you can scroll the page,
can you change the inline-style of  ` overflow-y: hidden;` to a class? so we can override it,
(I'm not sure what the purpose of it)

[2018-09-13 16:12] fmauNeko opened #1358 "isOutsideRange / isDayBlocked styling has a 1 day gap on refresh while the picker is open"
Hello there,

I am refreshing my blocked days (using `isOutsideRange`, but `isDayBlocked` has the same issue) on `focusedInput` change (because I'm using daily availabilities and changeover days), and on refresh, the click handlers are correctly set, but the styles have a 1-day offset.
Closing the picker and reopening it focusing immediately the end date input makes it show up correctly.

![react-

[2018-09-13 17:05] majapw commented on #1358
Gut feeling: this seems like a timezone error! I will take a look at the code today. :O

[2018-09-13 17:52] mlg87 commented on #1356
do you have `autoprefixer` in your `options.plugins` for the `postcss-loader`?

[2018-09-13 19:37] ernestopye opened #1359 "[Firefox/Edge] Performance issue while in development mode"
We've been working on implementing react-dates for an internal project (love the components btw!), and we ran into a really weird performance quirk today. It appears after some use, react-dates slows down incrementally to the point where it's unusable. What's even weirder, is that it will degrade performance of the entire page. So far we know the following:

1. Chrome 69 isn't affected.
2. Firefox

[2018-09-13 21:10] #1352 closed

[2018-09-13 21:57] majapw commented on #1359
Huh, this is really interesting. Do you see this happening in airbnb.io/react-dates or just in your local repro? It feels like a memory leak given the behavior.

This is an interesting hint.

As are the fact that not all browsers are affected.

If you change all the functional props (`isOutsideRange`, `onFocusChange`, and `onDatesChange`) to be constants or class methods, does that change anything

[2018-09-14 02:38] ernestopye commented on #1359
Just pulled down this repo and ran the storybook at home. I can't really seem to notice it. It's maybe slightly there, but not nearly as clear as in my repo.

I changed the code in my repo per your suggestion. This is what you meant, right?

[code]

[code]

Not noticing much of a difference, it still gets really, really laggy, at least in Firefox. I also took out `isOutsideRange` as it's optional,

[2018-09-14 06:48] tronjs commented on #235
currently I am using the `id` and get the value of the input by that  `id`
[code]

[2018-09-14 07:36] timhecker commented on #1356
Here my postcss plugins:
[code]
I removed `autoprefixer` plugin some weeks ago and instead I added `postcss-preset-env`with this configuration and with an internal autoprefixer management:
[code]

Do you think autoprefixer breaks this stuff?

[2018-09-14 14:38] mlg87 commented on #1356
i cant say for certain bc im using `postcss-loader` pretty much out of the box with `autoprefixer` (the project uses `sass`), but you should try putting it back in. sorry i cant be more helpful

[2018-09-14 22:05] elinskytap commented on #692
yes, I am looking forward to the PR #1311 being merged & released!

[2018-09-17 13:47] mastilver opened #1361 "endDate hour is not set to noon when using BST timezone"
I have this `DateRangePicker` (same as the one on readme plus some logging):
[code]

Depending on my computer timezone, it will log different things

Steps:
- select 24th of September as start day
- select 30th of October as end day

-----

Output with my computer setup to use CDT (-0500):

[code]

Both dates are on the same hours (12 PM CDT)

-----

Output with my computer setup to use BST (+0100

[2018-09-17 14:27] mastilver commented on #1361
Sorry ignore this issue, UK is changing time on the 28th of October, so the above is correct -_-

[2018-09-17 14:27] #1361 closed

[2018-09-18 08:53] greenkeeper[bot] opened #1362 "An in-range update of storybook is breaking the build 🚨"
## There have been updates to the *storybook* monorepoundefined

🚨 [View failing branch](https://github.com/airbnb/react-dates/compare/master...airbnb:greenkeeper%2Fmonorepo.storybook-3.4.11).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

This monorepo update includes releases of one or more dependencies which all belong

[2018-09-18 10:04] gloaec commented on #108
I dont know if this can help someone, but you can make the calendar's width fluid using a bit of css :

    .DayPicker,
    .DayPicker > div,
    .DayPicker > div > div,
    .DayPicker_transitionContainer,
    .CalendarMonth_table {
      width: 100% !important;
    }

    .CalendarMonthGrid {
      width: 1000% !important;
    }

    .CalendarMonthGrid_month__horizontal {
      width: calc(10% -

[2018-09-18 19:09] majapw commented on #1359
Taking a look at the `renderWeekHeader` method does seem to flag some possible unnecessary rerenders. I can take a look at that, but I don't know that that would cause anything as dramatic as is described here.

FYI @lencioni can you think of something that might be leaking in `react-with-styles` resolve method? Especially only in dev mode?

[2018-09-19 18:07] ConAntonakos commented on #1271
Right, but I think this poses an unnecessary restriction. Would it be possible to expose a formatter API or perhaps allow the `startDate` and `endDate` props to accept something a bit more neutral like an ISO string as @LewisYearsley suggested, and then internally, `react-dates` would make the conversion to a `moment` Object?

[2018-09-19 18:26] matheusmonte commented on #1320
Are you needing help on this ? @majapw

[2018-09-19 19:57] ljharb commented on #1271
We depend on moment for locale information as well; react-dates can't be used without moment.

When the Temporal proposal lands in the language, we'll switch to use that.

[2018-09-19 20:32] majapw commented on #1297
Okay! The `DayPickerNavigation` rerender is fixed in v18.1.0.

There are still some issues with unnecessary CalendarDay rerenders which I will look into! I'll close this issue in the meantime since the original point is addressed.

[2018-09-19 20:32] #1297 closed

[2018-09-20 02:05] ConAntonakos commented on #1271
Thanks for responding! I completely understand the dependency for `moment`. I wasn't suggesting removing it entirely. @LewisYearsley and I are referring to the required prop type `momentPropTypes.momentObj` for certain props as mentioned here: https://github.com/airbnb/react-dates#daterangepicker
![image](https://user-images.githubusercontent.com/1504302/45791393-7e2f3600-bc57-11e8-865b-a7446a4e1d

[2018-09-20 03:06] cgriego commented on #1297
Awesome!

Is there an issue to track the `CalendarDay ` rerender?

[2018-09-20 10:09] nicolasrouanne opened #1366 "How to make snapshot tests work"
I'm using _Jest_ for testing and I try to make **_snapshot_ tests** of components rendering a `DayPickerRangeController` (although I guess this issue would be the same for other date pickers).

Say I **want to make a snapshot test of a simple component wrapping `DayPickerRangeController`**; used for setting nice defaults for instance, in my example `numberOfMonths`, `startDateOffset` and `endDateO

[2018-09-20 10:18] hemanth-sp opened #1367 "dispaly format issues"
this displayFormat:() =>moment.localeData().longDateFormat('L') ==> "MM/DD/YYYY"

  but i need  this format "DD/MM/YYYY" ??? so what is the code

[2018-09-20 14:34] ljharb commented on #1366
Altho i don’t recommend snapshot testing., I’d use ensyme’s .debug() method.

[2018-09-20 14:44] nicolasrouanne commented on #1366
@ljharb Can you explain why?
Because _snapshot testing_ allows to quickly see changes on output of components **and have a diff commited to source control**, which I don't see in _enzyme_'s `.debug()`.

[2018-09-20 14:55] ljharb commented on #1366
You could compare two debug calls - the reason tho is because snapshot testing is inherently brittle. All it really tells you is “something changed”, which is only useful when attempting to do a no-change refactor, which is uncommon. When the snapshots differ, in practice it’s very hard to know what changed, why, and whether it’s important - so in practice, people just rubber stamp the diffs and t

[2018-09-20 16:54] majapw commented on #1367
You should pass in:
[code]

Although your statement isn't terribly clear. What do you mean by:

If you pass in a `DD-MM-YYYY` format date, that will be invalid unless you use that format.

[2018-09-20 17:09] hemanth-sp commented on #1367
is there any inputFormat attribute in this lib?

[2018-09-20 17:13] majapw commented on #1367
It's the `displayFormat`? That's what controls the allowed input format as well as what's actually displayed.

[2018-09-21 06:34] swaritkohli opened #1368 "New to react and need help implementing the Month selector and year selector functionality"
I'm relatively new to react as well as GitHub, and need some assistance using the year selection functionality on react-dates.
I have used react-dates on a dummy project I made following a course on Udemy, and dd not need that functionality. I've followed up on #25 and #1106 but I wasn't really able to grasp the implementation part.
I'm an intern and the current project I'm a part of, requires tha

[2018-09-21 13:19] Paarmita commented on #924
@majapw Can I add this in Readme?

[2018-09-21 13:38] giacomo-m opened #1369 "Select single date on dateRangePicker"
Hi, is there a way for selecting a single day in dateRangePicker component? I see on Airbnb website that it is possible by clicking two times on the same day.

![airbnb_-_2018-09-21_15 37 49](https://user-images.githubusercontent.com/15344086/45884478-54d7ec80-bdb4-11e8-9f38-33582b73fce9.png)

Thanks.
Giacomo

[2018-09-21 13:57] stjanis commented on #1369
you should use SingleDatePicker (SDP)

http://airbnb.io/react-dates/?selectedKind=SingleDatePicker%20%28SDP%29&selectedStory=default&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2018-09-21 13:58] giacomo-m commented on #1369
Thanks for your reply @stjanis, but i need both daterange and singledate functions at the same time.
Is that possible?

[2018-09-21 15:33] ljharb commented on #924
Yes, please do :-)

[2018-09-23 04:58] majapw commented on #1369
Hi @giacomo-m, you can pass in `minimumNights={0}`. It's set to 1 by default but is customizable.

[2018-09-23 04:58] #1369 closed

[2018-09-23 05:27] majapw commented on #1297
I will make one!

[2018-09-23 05:29] majapw opened #1371 "Unnecessary CalendarDay rerenders"
When using the `why-did-you-update` plugin, there are some unnecessary `CalendarDay` rerenders when hovering on the calendar.

This issue is a follow up to https://github.com/airbnb/react-dates/issues/1297

[2018-09-23 05:31] majapw commented on #1320
@matheusmonte would love a PR for this, as this is not a top priority for us right now!

[2018-09-23 07:10] Paarmita commented on #924
@ljharb Can u please specify where to add inputIconPosition props usage n readme, and what would be the best way to specify this?

[2018-09-23 20:28] matheusmonte commented on #1320
@majapw I get this, but if you want help on something more priority,  May I help?

[2018-09-24 08:00] giacomo-m commented on #1369
Thanks @majapw. It works fine!

[2018-09-24 08:19] stjanis opened #1373 "DayPickerSingleDateController error: Cannot read property '<date>' of undefined"
Might be related to other issue e.g. [#1342](https://github.com/airbnb/react-dates/issues/1342)

When `DayPickerSingleDateController` is used with `orientation="verticalScrollable"`, then clicking on next months button, scrolling to second next month and selecting any day results in above error (e.g. if last month before next months' button is December, then error occurs on February). Error occurs

[2018-09-24 08:51] omeraplak commented on #1258
+1

[2018-09-24 08:51] omeraplak commented on #949
+1

[2018-09-24 15:13] markhaasjes commented on #1097
I've updated the react-dates library to version `18.1.0` and I still see this issue when clicking on the month navigation "arrow" itself, when clicking on the button it works fine. I've reproduced this issue in IE11 while using BrowserStack.

[2018-09-24 16:43] majapw commented on #1373
This likely means that the `DayPickerSingleDateController` isn't properly adding those months to its `state.visibleDays` object (the mapping of month => day => modifiers). Taking a look, you can see that the `DayPickerRangeController` has an `onMultiplyScrollableMonths` method that was lost on the `DayPickerSingleController`. Adding that class method and passing it to the `DayPicker` as a prop wou

[2018-09-24 18:42] adlenafane commented on #232
Related to this, when an `endDate` is before a `startDate` ([see here in the repository](https://github.com/airbnb/react-dates/blob/4f8eb01168ef6c4ae7d74e95ad14acb28960e43e/src/components/DateRangePickerInputController.jsx#L181)) the returned value is null (same for a `startDate` after an `endDate`).

In my use case, I'd rather update the `startDate` to match the new `endDate` but I can't do it wi

[2018-09-24 19:45] majapw commented on #1320
@matheusmonte please! :) I think if you look into the way the `onMonthChange`/`onYearChange` methods work, that is a good starting point for how to satisfy this requirement. I imagine you'd make the change in the `componentWillReceiveProps` of the `DayPicker` as well as the `DayPickerSingleDateController`/`DayPickerRangeController`. :) Happy to accept a PR! @GoGoCarl might be a good reviewer as we

[2018-09-24 21:18] matheusmonte commented on #1320
@majapw OK, I will working on this weekend, I think, next week will be good to review. If I can help in something more, please, let me know.

[2018-09-25 03:08] timweightman commented on #345
Would love it if this could get through to a release.

Currently our best option is to implement the <input /> ourselves, parse and format things with moment, handle all the focus, blur and several keyboard interactions ourself and use <DayPickerSingleDateController /> to show the calendar...

[2018-09-25 20:49] pedroabreu commented on #1356
I was running into the same issue today and the way I've fixed it was including the `node_modules`

[code]

Not 100% sure but I think it fixed it because I'm importing the `.css` file from node_modules that needs to be parsed (wild guess after debugging for a couple of hours, might be wrong and just got lucky)

[2018-09-26 11:55] #1338 closed

[2018-09-26 14:35] kumarharsh commented on #1294
I guess they have locale support: https://github.com/iamkun/dayjs/tree/88548e9738fc3f9334da934a96a3d1af1acb9957/src/locale

[2018-09-26 14:39] GoGoCarl commented on #1320
@majapw / @matheusmonte Happy to add a review when it's ready!

[2018-09-26 15:18] vanessa-rene opened #1375 "showCaret is always set to true"
For the `DateRangePicker` and `SingleDatePicker`, the showCaret option always defaults to true, even when set in the props as false. Doesn't seem to be an issue on the DayPickerRangeController.
[code]

[2018-09-26 15:27] ljharb commented on #1294
See https://github.com/airbnb/react-dates/issues/208#issuecomment-419140310:

[2018-09-26 17:38] kaushik1094 commented on #1333
Is there any solution for this issue yet? I am kind of wondering to add logic in the component I am using it work dynamically instead if there is any update I need to make that would be great as well :)

[2018-09-27 09:50] guojiaqi1027 opened #1376 "Click outside the area on mobile browser will not close the selector"
On DateRangePicker, everything works fine on desktop, even I toggle the mobile device.

When I test on real mobile device, click outside the picker will not trigger the close up event. The only way to close the popover is select a end date.

Is it a known issue and is there a plan to fix it?

My test device is iOS 11 with same issue on Chrome and Safari

[2018-09-27 13:36] meghnaraju commented on #692
Hey i had an urgent question. I am trying to click a button when using date picker.. but instead of the on click of the button, the focus out of the input text box gets triggered and my click is not getting triggered.  Any help would be very much appreciated.

[2018-09-27 17:06] austenpayan commented on #1023
This is also tripping me up a little. My scenario is that I want to send a request to the server if the user "clears" the input, but I have no way of knowing if the `null` date arg was because of an actual clearing of the input or a temporary edit that put the input into an invalid state.

Perhaps additional arguments could be passed to the change handler, in addition to the date value? Something

[2018-09-28 07:31] #1368 closed

[2018-09-28 09:06] Henriklimseth commented on #1368
Did you solve this? I'm having the same issue.

[2018-09-28 09:27] swaritkohli opened #1380 "How to enable whole week highlight on a day selection?"
I'm trying to get the whole week highlighted as I click on a particular date. Is this possible to do using the isDayHighlighted prop? I'm not able to think about the logic that can be used to implement this.

I wrote an isSameWeek.js file taking reference from the isSameDay and isSameMonth files already present, but I'm not sure how to allow it to be exported and used in my app.

Here is the code

[2018-09-29 08:50] siva06565 commented on #706
I'm also facing the same issue with IE. Please help me if you have the fix for this.

[2018-09-29 19:11] thanikkal opened #1381 "Setting the default startDate and endDate properties for DRP"
Setting default values for startDate and endDate for the react-dates DRP  component breaks the component with the error below:

My react version:
"react": "^16.5.2"
"react-dates": "^18.1.0"

Component code:

    import React from 'react'

    import 'react-dates/initialize';
    import { DateRangePicker } from 'react-dates';
    import 'react-dates/lib/css/_datepicker.css';

    class DateRangeSel

[2018-10-01 08:35] Henriklimseth commented on #1368
@swaritkohli Thank you so much, this solved it for me as well!

[2018-10-01 10:55] Henriklimseth opened #1383 "Selecting past dates from the input field is not working"
I'm using react-dates with the prop `isOutsideRange={() => false}`. This enables me to select days in the past from the calendar by clicking on them, but not by typing in the input field.
I.e. typing "09/01/2018" does not update the calendars state.

The issue can be observed in your [Storybook](http://airbnb.io/react-dates/?selectedKind=SDP%20-%20Day%20Props&selectedStory=allows%20all%20days%2C%2

[2018-10-01 12:03] fmauNeko commented on #1358
Hi there !
I found the issue, that's because https://github.com/airbnb/react-dates/blob/master/src/components/DayPickerRangeController.jsx#L380, making moments at midnight and not noon, unlike all other times !
Adding  `.hour(12)` solves it for me.
I'll run the tests and send you a PR if everything looks good !

[2018-10-01 13:03] Henriklimseth commented on #1383
I see now that the latest commit is addressing this exact issue, so I'm guessing this will be closed by your next release!

[2018-10-01 18:38] majapw commented on #1380
@swaritkohli have you taken a look at [this example](http://airbnb.io/react-dates/?selectedKind=DayPickerRangeController&selectedStory=with%20current%20week%20range%20selection&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) in the `DayPickerRangeController` stories. You can find the source code here: https://github.com/airbnb/react-dates/blob/master/stories/

[2018-10-01 18:51] majapw commented on #1383
Oh sweet. I'm so glad when we've already fixed a problem. :P I'll do a quick patch release.

[2018-10-01 18:52] swaritkohli commented on #1380
@majapw Hi! First of all, thank you so much for the answer!
So, I've been trying to work it out and I already tried this approach by adding a "week" variable to my state, initializing it as moment().week(), and updating it each time with my 'onDateChange' function.

onDateChange = (createdAt) => {
    if (createdAt) {
        this.setState(() => ({ createdAt, week: createdAt.week()}));
    }
};

I

[2018-10-02 14:39] danLivingstone commented on #1209
I have the exact same issue as well.

This seems to fixed it.

[2018-10-02 16:59] danvn commented on #433
How can you override the styles of the individual inputs to make them look separate in the DRP?

[2018-10-02 22:29] merrifieldbrian opened #1385 "readOnly demo does not work"
the demo for readOnly still allows users to edit the date range.

[2018-10-02 22:33] majapw commented on #1385
I am unable to edit the range by typing in the input. What browser are you using?

[2018-10-02 22:38] merrifieldbrian commented on #1385
Chrome
Version 69.0.3497.100 (Official Build) (64-bit)

[2018-10-02 22:43] majapw commented on #1385
Can you provide a gif? I'm on the same version and am unable to reproduce.

[2018-10-02 22:56] merrifieldbrian commented on #1385
![react-dates-ro](https://user-images.githubusercontent.com/3357891/46381544-9477c180-c65b-11e8-8f46-f0f98722b5c8.gif)

[2018-10-03 07:32] swaritkohli commented on #616
@jabsatz Could you elaborate more on how you achieved that by changing the key please?

[2018-10-03 14:52] jabsatz commented on #616
It was a while ago, but if you update `initialVisibleMonth` and change the `key` at the same time, you force the component to re-mount with the "initial" month as the "current" month. What you use as a key is up to you, I think I used an additive (0,1,2...), but you could really use anything as long as it's different from your previous key.

[2018-10-04 05:15] swaritkohli commented on #616
@jabsatz I'm sorry I'm not exactly able to follow your solution. I don't know how I'll update my key in response to my date getting selected along with updating the initial visible month. Also, I did not get why it will re-mount if I change the `initialVisibleMonth` and the `key` at the same time. Could you show an example of how you implemented it? A snippet, perhaps? Also, thanks for the answer!

[2018-10-04 14:17] celso-slalom commented on #1249
Had to force visibility: visible with
[code]

[2018-10-04 14:57] Daniellt1 commented on #705
Is it fixed for `DayPickerSingleDateController` as well? I am still getting the same issue on `react-dates@18.1.0`.

[2018-10-05 20:17] AntiFish03 opened #1387 "Performance Issues on iOS"
@majapw & @ljharb, I am continuing to see a huge performance issue with react-date picker in iOS I can even replicate it on airbnb.com in the simulator with an iPhone X. in the screen shot I am attaching the first purple bar in the highlighted area is the tap on the start date, the second LARGE purple bar(starting at 17s continuing to nearly 25s ~8 seconds lag) is when selecting a startDate in the

[2018-10-05 20:20] majapw commented on #1387
Is this only in iOS? We don't render any of the DayPickerRangeController tree until the first tap so that's likely causing the issue. I think we're going to set some time aside this quarter to do a bit of an audit and try to cut down the render time.

[2018-10-05 20:32] AntiFish03 commented on #1387
Thank you @majapw

[2018-10-08 12:14] orouz commented on #48
@stahor did you manage to change months programmatically?

[2018-10-09 15:34] juanpujol commented on #374
@kdichev did you managed to make this work?

[2018-10-09 17:22] kdichev commented on #374
@juanpujol yes, I did manage to do what I have shown on the screenshot but unfortunately I cannot find the project I was working on. Ill try and find it and post it here as soon as possible.

[2018-10-09 17:29] nelsoneldoro commented on #374
@juanpujol  you can manage days by `renderDayContents` prop

`renderDayContents?: (day: momentPropTypes.momentObj) => (string | JSX.Element)`

[code]

![image](https://user-images.githubusercontent.com/137902/46686598-212bfd80-cbcf-11e8-8b15-792128332c61.png)

[2018-10-09 17:56] juanpujol commented on #374
Thanks @kdichev and @nelsoneldoro

[2018-10-09 20:29] AntiFish03 commented on #1387
@majapw, Any ideas?

[2018-10-10 01:12] ljharb commented on #1317
Fluke.

[2018-10-10 01:12] #1317 closed

[2018-10-10 01:12] ljharb commented on #1292
Fluke.

[2018-10-10 01:12] #1292 closed

[2018-10-10 01:12] ljharb commented on #1362
Fluke.

[2018-10-10 01:12] #1362 closed

[2018-10-10 01:12] ljharb commented on #1340
Fluke.

[2018-10-10 01:12] #1340 closed

[2018-10-10 09:16] miodragdz commented on #930
Hello,

Does this above worked? My component is:
<DateRangePicker
              startDate={this.props.filters.startDate}
              endDate={this.props.filters.endDate}
              onDatesChange={this.onDatesChange}
              focusedInput={this.state.calendarFocused}
              onFocusChange={this.onFocusChange}
              showClearDates={true}
              numberOfMonths={1}

[2018-10-10 09:28] HaciKale opened #1391 "How to trigger "next month" arrow manually?"
When the customer chooses the start date, and it's the last day of the month,
I want the calendar to automatically show next month, cause there's a minimum stay of 2 days,

any suggestions to how to trigger this?

[2018-10-10 09:46] davidmartin commented on #374
Thanks !! :+1:

[2018-10-10 10:25] artur-gajewski opened #1392 "SingleDatePicker can't select past dates"
In SingleDatePicker component, enableOutsideDays prop doesn't enable selecting past dates. It even isn't working in the playbook:

http://airbnb.io/react-dates/?selectedKind=SDP%20-%20Calendar%20Props&selectedStory=with%20outside%20days%20enabled&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

Version used: 17.2.0

[2018-10-11 00:59] mparker11 commented on #949
Anything?

[2018-10-11 11:31] kdichev commented on #374
@davidmartin I think we should close this one :)

[2018-10-11 16:40] rafaalvfe commented on #1385
Same issue in my project, readOnly is not working properly in SingleDatePicker.
I tried in two different browsers:
- Chrome Version 69.0.3497.100 (Official Build) (64-bit)
- Safari Version 12.0 (14606.1.36.1.9)

[2018-10-11 18:14] majapw commented on #1385
I think there may be confusion about what `readOnly` means. We're treating it as you cannot type in a date, but not that you cannot change it via the calendar. If you want to prevent the user from changing the value, I would use the `disabled` prop. You could also simply not update the `focusedInput` prop to accomplish the same thing.

[2018-10-11 18:14] #1385 closed

[2018-10-11 18:15] majapw commented on #374
Thanks for helping out, y'all! :)

[2018-10-11 18:15] #374 closed

[2018-10-11 18:19] rafaalvfe commented on #1385
@majapw Yes, I was confused, that's why I deleted mi comment, would be a nice idea to add more documentation about it, I couldn't find any, I inferred it later.

[2018-10-11 18:22] majapw commented on #1385
Not a bad idea! :)

[2018-10-11 18:39] rafaalvfe opened #1393 "Icon/date misplacement when block is true"
Tested in SingleDatePicker
browser: Chrome 69, Safari 12

[code]
<img width="624" alt="screen shot 2018-10-11 at 13 30 14" src="https://user-images.githubusercontent.com/15661699/46825776-05089780-cd5a-11e8-9f0f-930b56069d7b.png">

[code]
<img width="615" alt="screen shot 2018-10-11 at 13 37 26" src="https://user-images.githubusercontent.com/15661699/46826236-169e6f00-cd5b-11e8-937f-56f07647f6b4.p

[2018-10-11 18:41] majapw commented on #1392
@artur-gajewski `enableOutsideDays` is for displaying those days in the month that belong to the previous or next month. If you want to select past days, pass in `isOutsideRange={() => false}`. There's a story for selecting past dates:

http://airbnb.io/react-dates/?selectedKind=SDP%20-%20Day%20Props&selectedStory=allows%20all%20days%2C%20including%20past%20days&full=0&addons=1&stories=1&panelRigh

[2018-10-11 18:41] #1392 closed

[2018-10-11 22:15] LMulvey opened #1394 "adjustDayPickerHeight not calculating predictably when setting numberOfMonths prop dynamically"
On our project, we're using a grid system that optionally passes us a `screenClass` prop to tell us what breakpoint we're currently in. We're using that breakpoint to pass a `numberOfMonths` prop to the `DayPickerRangeController` to render either two months for desktop or one month for mobile.

When we're doing this, our function initializes as `sm`, which initially passes `numberOfMonths={1}`. It

[2018-10-12 14:28] wijdench opened #1396 "react-dates as a button"
Hi,

I'm using your react dates compo and it's perfect fo my web application. I want to modify the style of the compo like it is used un your app: a clickable button, once we click, it will open the calendar.

Thanks.

[2018-10-12 17:09] austenpayan commented on #1383
+1 would love to get this patch!

[2018-10-12 17:58] majapw commented on #1383
v18.1.1 is out! I must have gotten distracted 😬Thank you for your patience!

[2018-10-12 17:58] #1383 closed

[2018-10-12 18:07] austenpayan commented on #1383
@majapw Thanks!

[2018-10-12 20:00] LMulvey opened #1414 "Enable skipped lifecycle tests in DayPicker_spec.jsx"
_Originally posted by @ljharb in https://github.com/airbnb/react-dates/pull/1395_

These tests are currently marked as skipped. Un-skipping them results in a multitude of errors.

[2018-10-15 05:12] bradwoods commented on #1356
I attemped this approach with webpack 4, wasn't able to remove the error.

[2018-10-16 01:59] ntsadu opened #1419 "Datepicker Table not Accessible via VoiceOver (Safari)"
Browser: Safari v11.1
Library: react-dates v18.1

When testing the datepicker, VoiceOver doesn't navigate the table using VO + up/down. Only VO + left/right works.. To be considered a **fully-accessible** datepicker I think both should work.

Please reference: https://www.w3.org/TR/wai-aria-1.1/#grid

I have the code changes to make this work as a grid for VoiceOver users, however the role="button

[2018-10-16 02:46] backwardok commented on #1419
That seems like a good change! Thanks for the suggestion. Assigning it back to you since you said you have code changes ready for it.

[2018-10-16 11:35] supra28 commented on #1166
@Andrevoks I'm having the same issue, where you able to solve this?

[2018-10-16 14:30] Andrevoks commented on #1166
@supra28 we wrote own datepicker))

[2018-10-16 21:44] LMulvey commented on #1396
This is definitely something that you can do in your own implementation. It really depends which component you intend on using. If you were wanting to use the DateRangePicker with the inputs and DayRangePickerController, this example shows you how to achieve what you want:

**Storybook:** http://airbnb.io/react-dates/?selectedKind=DateRangePicker%20%28DRP%29&selectedStory=hidden%20with%20display%3

[2018-10-16 22:00] LMulvey commented on #1381
Are you missing part of your code here? I copy and pasted this into a new project and it worked just fine. You were missing an `import` for `moment` but that's it.

[2018-10-16 23:55] Sumeet-Jain opened #1420 "Clicking on buttons inside of the DayPickerRangeController does not handle focus correctly"
I can't reproduce this on storybook since it uses iframes but can reproduce on airbnb.com. See attached gif

Whenever I click on the next month arrow, the focus of the page shifts to the body. However, when I use my keyboard to press the next button, focus is correctly to the next button within the calendar. I have been able to reproduce this for every date picker on airbnb, even the ones that dir

[2018-10-17 10:34] #1307 closed

[2018-10-17 17:26] ghost opened #1422 "Manually enter date: focus lost after first key press"
Issue occurs on SingleDatePicker and DateRangePicker.
When manually entering the date, focus is lost after first key press. User then has to re-select the text box to continue manually entering date.

In the gif below, I select the the text box for the date and continuously press the number 2. After the first key stroke, the text box loses focus and does not take my input. I re-select the text box

[2018-10-17 21:20] michaelolo24 commented on #697
Same here, version 18.1.1

[2018-10-18 04:38] majapw commented on #1396
Hi @wijdench! You can use the `renderCalendarInfo` prop to render arbitrary content below the calendar. See https://github.com/airbnb/react-dates/blob/master/stories/DateRangePicker_calendar.js#L152-L159 for more info (and the corresponding story in the storybook).

(Thanks for the help @LMulvey!)

[2018-10-18 08:06] phuochau commented on #18
Same question with @fullhdpixel

[2018-10-18 14:51] willisplummer opened #1423 "Support Custom Styling For Today's Date"
I've been looking for a way to implement a custom style on today's date (e.g. a different background color) in the date picker but there doesn't seem to be one.

It would be great if there were an easy way to apply a class to a specific date so that it could be styled differently. Or maybe there are already is a solution and I'm just not seeing it?

Thanks!

[2018-10-18 18:33] wijdench commented on #1396
Hi @majapw,

Thanks for your feedback, this is really helpful.

[2018-10-18 18:34] #1396 closed

[2018-10-18 23:49] majapw commented on #1423
Hi @willisplummer, if you're using css stylesheets, you should be able to override style's for today's date by overriding styles for the classname `.CalendarDay__today`.

There are no default styles, but the class does still get applied: https://github.com/airbnb/react-dates/blob/master/src/components/CalendarDay.jsx#L340

[2018-10-19 10:08] davebream opened #1424 "DayPickerRangeController not rendering when changing date using Cypress/lolex clock"
Hi there,

I have a problem with testing my app with Cypress/lolex clock.
For my e2e tests I want to set a specific date as today date with `clock`, so I can easily assume the output of my react-dates calendar.

However if I do that - the calendar doesn't render at all and there is no error in the console.
I've spent hours on debugging and looking for the problem, but haven't found any.

Could any

[2018-10-19 11:48] kunokdev commented on #638
I didn't want to add `react-with-styles` dependency and kept using the default CSS and I had case where I needed this component to look different depending on the given props. Since react-dates doesn't support adding className to the element, I wrapped it within div and added class to the wrapper element. Then within CSS file I could use different styles via selectors like this:

[code]

[2018-10-19 16:10] ljharb commented on #1424
That sounds like a bug with clock then - moment is dependent on the only two date apis that provide the current time, Date.now and new Date, and any proper clock mocking should be working with it.

[2018-10-21 15:06] vigneshprasad opened #1425 "How can I change the dimensions of a aspect ratio of a single Day?"
Right now the the height and date have to be the same for each day. Is there a way for me to reduce the height without changing the width?

[2018-10-22 17:18] isi-gach opened #1426 "Warning: `NaN` is an invalid value for the `height` css style property."
I'm getting the following warnings in a Jest test:
[code]
I solved that adding the following line to `setupTests.js`:
jest.spyOn(CalendarMonth.WrappedComponent.prototype, 'setMonthTitleHeight').mockImplementation();

I also get the following:
[code]
Solved by:
[code]
I think that both `NaN` are generated in `calculateDimension`
https://github.com/airbnb/react-dates/blob/83ec316167b499ce939058973da

[2018-10-24 03:19] abidvf commented on #1023
+1

[2018-10-24 07:04] stuart-williams commented on #1424
@davebream cypress allows you to pass a list of time related functions that clock should override - https://docs.cypress.io/api/commands/clock.html#Function-Names. React dates is attempting to animate into view but the animation is prevented by clock overriding timing functions.

`cy.clock(2527372800000, [ 'Date' ])` fixed the issue for me

[2018-10-24 07:20] kirankumar0831 opened #1428 "Click on "renderCalendarInfo" with "withPortal = true" results in dismissing the dayPicker"
Click on the "calendar info", let it be the text or on the rendered div (which contains the info), results in dismissal of the whole calendar if "withPortal" prop is set to true.

[2018-10-24 10:07] davebream commented on #1424
@stuart-williams Wow, you are right, everything works now! thanks!

[2018-10-24 10:07] #1424 closed

[2018-10-24 16:44] AntiFish03 commented on #1387
@majapw Not trying to be a squeaky wheel here, but any chance to look at this?

[2018-10-24 19:29] majapw commented on #1387
I'm really sorry! It has been a particularly slammed month, to be honest, in work and elsewhere. I was mulling it over and was particularly interested in the start date => end date focus change. My main guess is that we do a lot of computation in `componenWillReceiveProps` in the `DayPickerRangeController` (https://github.com/airbnb/react-dates/blob/master/src/components/DayPickerRangeController.j

[2018-10-24 19:29] majapw commented on #1428
If you stop propagation on the click event, does that continue happening?

[2018-10-25 04:50] kirankumar0831 commented on #1428
@majapw  Thanks a ton! That solved it!

[2018-10-25 21:38] pedroabreu opened #1429 "Storybook broken after babel 7 update"
After update to babel 7 (#1417), storybook is now broken locally

Issue is that `babel-core` doesn't exist anymore. Since it seems a bit redundant to add it just because of storybook, perhaps the simplest solution would be to revert this merge

[2018-10-25 21:40] ljharb commented on #1429
Thanks, will fix.

[2018-10-26 08:41] andrewsteadcc opened #1431 "isOutsideRange does not let you select the end date"
react-dates v18.1.1
I have found an issue when specifying a selectable date range to the user.
When I specify the exact same start and end dates as the dates for the selectable range the end date in the calendar does not highlight, it is disabled (example below 11/10/2018).

Scenario
Start/End dates are already pre-filled in the boxes. Click the start date to change these values, the coloured rang

[2018-10-26 21:09] cesarediaz commented on #750
Maybe I a going back to an old issue with different packages versions but those posted answers helped me to solve the issue. Maybe my comment can help to others.

The issue: The calendar was not been shown on the page and there was an error in Chrome console like this

The packages that I am using are in those versions
react: 16.5.2
react-dates: 18.1.1
moment: 2.22.2

The solution:
I added at the

[2018-10-27 18:52] revant9c opened #1432 "Past dates are not highlighted in the calendar when entered via input field."
I am using SingleDatePicker with the following configuration:

<img width="525" alt="screen shot 2018-10-27 at 11 50 58 am" src="https://user-images.githubusercontent.com/37884853/47608184-a2143300-d9de-11e8-9d2b-9b6a0f97a980.png">

As you can see the readOnly prop is set to false so I am allowing manual entry of the dates via input field. When I type today's date in the input, it shows the date a

[2018-10-28 08:04] wufeicris opened #1433 "when support week calendar ?"

[2018-10-29 10:38] spiewak commented on #615
@MaxiSantos
Simple example:

    @autobind
    onClickTodayButton() {
        this.onDateChange(moment());
        this.onFocusChange({focused: false});
    }

    @autobind
    renderCalendarFooter() {
        return (
            <div className="date-picker-footer">
                <button className="today-button" type="button" onClick={this.onClickTodayButton}>TODAY</button>
            </div>

[2018-10-29 15:29] #1423 closed

[2018-10-29 17:33] AntiFish03 commented on #1387
@majapw could that `componenWillReceiveProps` be refactored to use `componentDidUpdate` its generally more performant and has less issues with causing multiple renders. And is more compatible with the direction of future versions of React.

[2018-10-30 01:23] israelluciano opened #1435 "Is there any documentation on using Radium inline styles for styling our react components?"
We inline style prop in react in our application. How would I go about creating an interface to react-with-styles so I can keep building my app with inline style and incorporate react-dates?

[2018-10-30 03:06] ljharb commented on #1435
The best approach would indeed be to find or create an interface - either for radium specifically, or for inline styles generically. You can look at https://github.com/airbnb/react-with-styles which lists a few that should help with creating one.

Once you do, we’d love to add it to the react-with-styles readme!

I’m going to close this for now; we’d be happy to answer any questions you have durin

[2018-10-30 03:06] #1435 closed

[2018-10-30 14:45] giacomo-m opened #1436 "How to make react-dates responsive?"
Hi, is there a way to make the DatePickerRange plugin adaptive to every screen width?

Thanks.
Giacomo

[2018-10-30 14:50] srilakshmiG opened #1437 "Best Way to add time picker in the react dates"
When the user is selecting the start date and end date I want him to select the time so that user can select date and time at once. is there any way i can do that

[2018-10-30 14:56] ljharb commented on #1437
Duplicate of #255

[2018-10-30 14:56] #1437 closed

[2018-10-30 20:41] #1429 closed

[2018-10-31 08:11] greenkeeper[bot] opened #1438 "An in-range update of storybook is breaking the build 🚨"
## There have been updates to the *storybook* monorepo:

 + - The `devDependency` [@storybook/addon-actions](https://github.com/storybooks/storybook) was updated from `4.0.0` to `4.0.1`.
- The `devDependency` [@storybook/addon-info](https://github.com/storybooks/storybook) was updated from `4.0.0` to `4.0.1`.
- The `devDependency` [@storybook/addon-links](https://github.com/storybooks/storybook) w

[2018-11-01 10:21] nicotroia commented on #1150
If you want to add buttons below the calendars, try passing them via `renderCalendarInfo`
[code]
And style it to look something like
<img width="686" alt="44359958-3194e700-a46e-11e8-8cf4-24f1c5847212" src="https://user-images.githubusercontent.com/1019948/47846475-58409980-dd9e-11e8-9cfc-1a315363a1a4.png">

[2018-11-01 14:44] thinkian opened #1439 "npm install error for v12.7.0"
Am not able to install a `12.x` version of `react-dates` later than `12.2.4`. There are some important [fixes](https://github.com/airbnb/react-dates/blob/master/CHANGELOG.md#1260) that were pushed in `12.6.0` related to visible months based on dates changing that I need to use in my application and I am not ready for the major [breaking](https://github.com/airbnb/react-dates/blob/master/CHANGELOG.

[2018-11-01 15:05] ljharb commented on #1439
That it only lists those two versions as valid suggests you’re using a private registry that’s not up to date.

[2018-11-01 15:55] thinkian commented on #1439
@ljharb You are very correct. My bad. Thank you!

[2018-11-01 15:55] #1439 closed

[2018-11-01 20:37] nfabredev commented on #1249
+1 on this, i created a small sandbox repo to look into it, only the DayPickerRangeController is affected:
https://codesandbox.io/s/github/nfabredev/ReactDateDemo_DayPickerRangeController

Would appreciate any input to correct this

[2018-11-01 22:50] MrAnas opened #1441 "Hijri Calendar Support"
Hi,

Is it possible to support the Arabic calendar to be with Arabic names (Lunar System)
As it is using (moment-hijri) to convert the dates from Gregorian calendar to Hijri calendar

[2018-11-02 02:30] Haintst opened #1442 "Very slow when hover multi times on Datepicker"
Hello
I added a simple code to show DatePicker by react but it is a problem:
When i hover multi-times on the Datepicker, it slows down. Please se my video
[https://www.dropbox.com/s/7v4sp0d2u83135q/Video_2018-11-02_092607.wmv?dl=0](url)

`import React, {Component} from 'react';
import 'react-dates/initialize';
import 'react-dates/lib/css/_datepicker.css';
import {DateRangePicker} from 'react-dates

[2018-11-02 12:37] toniii85 opened #1448 "onDateChange is triggered when manually date is entered and DayBlocked"
Hello,

I have a SingleDatePicker in my project. I have a lot of days blocked to the user, I only let to select only specific days. This is not a problem when the user uses the mouse. Everything works fine.

The problem comes when the user puts a date in the input, the day is blocked but the onDateChange event is triggered.

To solve that in my code, when onDateChange is triggered, I have to check

[2018-11-05 03:20] 0xELJ opened #1449 ""this is undefined" on SingleDatePickerInput"
Hi! I'm facing a problem with SingleDatePicker. My implementation for SingleDatePicker was working fine but now when I try to render the component I'm getting an error:

<img width="1010" alt="screen shot 2018-11-04 at 23 20 29" src="https://user-images.githubusercontent.com/37882104/47979336-44d84b80-e088-11e8-8ab6-f156f201ebe8.png">

The error is occurring in the SingleDatePickerInput.js file fr

[2018-11-05 10:54] moecantplay opened #1450 "How do we make the year selectable on SingleDatePicker"
So I've been going through the issues, and i can't seem to find a good summarised version of how to make the SingleDatePicker able to select past dates and a selectable year (perhaps a dropdown or something). If someone is kind and patient enough to show me how it'd be so helpful, thanks..

[2018-11-05 16:13] ljharb commented on #1450
#25 is the request for picking a year; #1106 implements it. Hopefully that helps.

[2018-11-06 03:53] #1450 closed

[2018-11-07 04:08] tuanluu-agilityio opened #1454 "Warning: Failed prop type on SingleDatePicker"
Hello,

I got issue `Warning: Failed prop type on SingleDatePicker` when using `SingleDatePicker` on `react-dates`:
<img width="772" alt="screen shot 2018-11-07 at 11 00 47 am" src="https://user-images.githubusercontent.com/24542782/48110021-7a458a80-e27c-11e8-932e-81654f7aafda.png">

Here my code:

[code]
These errors happen on both `react-dates` `v16.7.0` and `v18.2.1`.
I have research on issues

[2018-11-07 04:10] ljharb commented on #1454
Do you perhaps have a build process that’s inserting “self” and “source” props, perhaps something related to hot reloading?

[2018-11-07 04:15] lferreira457 commented on #330
Had a similar issue with not being able to clear invalid dates/gibberish entered manually by a user.
Managed to check/clear this manually via a promise after date pickers are unfocused:

[code]
it would still be better if we were able to programmatically clear all input values (not just valid dates)

[2018-11-07 06:41] tuanluu-agilityio commented on #1454
@ljharb I don't have any special config on it. Currently I'm using `react-dates` with `preact`. Do you have any another suggestion to fix these warnings?

[2018-11-07 06:52] ljharb commented on #1454
It’s possible that preact is doing it - this is react-dates, not preact-dates. You may want to file it on preact.

[2018-11-07 07:05] tuanluu-agilityio commented on #1454
got it @ljharb . Thanks for the advice 👌

[2018-11-07 07:13] ljharb commented on #1454
Closing, in favor of https://github.com/developit/preact/issues/762

[2018-11-07 07:13] #1454 closed

[2018-11-07 14:59] timhecker opened #1455 "New Warning with last version 18.2.1"
When I use your last DateRangePicker, I see in console this:
`DateRangePicker has a method called shouldComponentUpdate(). shouldComponentUpdate should not be used when extending React.PureComponent. Please extend React.Component if shouldComponentUpdate is used.` - `react-dom.development.js:506`

on every kind of interaction. I'm using last version of React and React-dom (16.6.1)

[2018-11-07 16:34] majapw commented on #1455
Ah I'm pretty sure this is due to the change I shipped yesterday. I will amend the babel transform to conditionally insert the `shouldComponentUpdate`. Thanks for letting me know! v18.2.0 should be fine.

[2018-11-07 16:40] danjumamilhaus opened #1456 "Uncaught TypeError: Super expression must either be null or a function, not undefined"
Getting error this in a production environment, while local dev works without issues.

`
Uncaught TypeError: Super expression must either be null or a function, not undefined
    at withStyles.js:44
    at withStyles.js:44
    at withStyles.js:158
    at Object.<anonymous> (CalendarDay.js:276)
    at o (bootstrap:78)
    at Object.<anonymous> (index.js:207)
    at o (bootstrap:78)
    at Object.<a

[2018-11-07 16:48] ljharb commented on #1456
In what browser? There’s a known issue in 18.2.0 in IE 9-11, due to a bug in babel around inheritance hierarchies. 18.2.1 fixes it, and 18.2.2 will fix #1455.

[2018-11-07 16:51] wallacyyy commented on #950
Someone got a solution for this or is looking into it ? Got the same problem 😢

[2018-11-07 16:52] danjumamilhaus commented on #1456
Chrome v70. Also an issue in v69. Happening for other users in Chrome, not sure their versions.

[2018-11-07 16:56] ljharb commented on #1456
And to confirm, you’re not running node_modules through babel?

[2018-11-07 17:33] danjumamilhaus commented on #1456
It's excluded from babel.

[2018-11-07 18:11] danjumamilhaus commented on #1456
So, I seem to have solved this in our case at least.

In our production webpack task, we are using the uglify-webpackjs-plugin.

Adding the lines:
[code]
keep this error from happening in that environment.

[2018-11-07 18:14] ljharb commented on #1456
Definitely that’s a good change to make; but it shouldn’t be affecting this. It might be a bug in uglify.

[2018-11-07 18:43] danjumamilhaus commented on #1456
Unfortunately it's not a viable change since we would like to not turn this on across the site. It seems to only be an issue within this library, specifically within `CalendarDay.js`.

[2018-11-07 18:50] ljharb commented on #1456
Can you try 18.2.1?

[2018-11-07 19:11] danjumamilhaus commented on #1456
Still an issue in 18.2.1.

[2018-11-07 19:38] danjumamilhaus commented on #1456
In this case, the superClass `React.PureComponent` is undefined.
![image](https://user-images.githubusercontent.com/17517352/48156195-77559480-e292-11e8-9d05-886f5ee91402.png)

[2018-11-07 20:21] LeHaine commented on #1455
This is also happening with SingleDatePicker as well.

[2018-11-07 20:56] Dodie324 commented on #1456
We're also experiencing this error in our application code base.

[2018-11-07 21:14] Dodie324 commented on #1455
Any updates on this?

[2018-11-07 22:15] ljharb commented on #1456
@danjumamilhaus what version of React are you using?

[2018-11-07 23:15] majapw commented on #1455
Just put a fix up! :) I'll merge and republish once I verify it and tests pass.

[2018-11-08 00:47] #1455 closed

[2018-11-08 00:53] majapw commented on #1455
Doing a release now!

[2018-11-08 01:45] majapw commented on #1455
18.2.2 is out!

[2018-11-08 07:39] timhecker commented on #1455
Thanks!

[2018-11-08 11:16] pete80 opened #1458 "Setting isOutsideRange directly on DateRangePicker breaks input field selection on mobile"
If I set isOutsideRange as a prop on a wrapping component and spread it into DateRangePicker everything works as expected, on mobile a single press of the date input field selects it and a second press brings up the keyboard. If I remove the comment bellow and set the prop directly on the DateRangePicker component the second click on mobile does not bring up the keyboard.

`const defaultProps = {

[2018-11-08 13:33] MohammadElbanna commented on #950
Isn't there any temporary workaround regarding this?

[2018-11-08 23:15] danjumamilhaus opened #1459 "Set initialVisibleMonth based on available dates"
If the default initial calendar month has no available dates, is there a way to show the user the next available month on render?

[2018-11-09 07:38] stahor commented on #48
@orouz yes but only by using my own fork

[2018-11-09 09:20] joan17cast opened #1460 "zIndex dosen't work properly on DateRangePicker_picker"
I want to show the daterangepicker panel above the modal, but the zindex is not correct.

![image](https://user-images.githubusercontent.com/29452333/48253526-c113bb80-e407-11e8-85a9-96325915dee1.png)

In this photo you can see the zIndex of the modal is 1300

![image](https://user-images.githubusercontent.com/29452333/48253361-64180580-e407-11e8-845f-8e7e19725286.png)

Now you can see zIndex from

[2018-11-09 12:32] code-wok commented on #1249
+1, having the same issue.

[2018-11-09 15:56] sparrowDom commented on #1249
My ugly workaround approach that solves the problem in the meantime:
[code]

[2018-11-09 17:45] majapw commented on #1460
Hmm, the pattern you're using is a bit of an unexpected one I think---namely that you're launching a modal (the `withPortal` version of the `DateRangePicker`) inside of a modal, which can be complicated.

I wouldn't update the `zIndex` on the `DateRangePicker_picker` class because that's the style used for all pickers, inline and with portals, but perhaps overriding the `zIndex` to `9999` or somet

[2018-11-10 09:01] hemanth-sp commented on #1119
any updates tilll now

[2018-11-10 09:07] hemanth-sp opened #1461 "which property need to set to enable swipe in mobile or one arrow button top and another arrow button below the calendar??"
http://airbnb.io/react-dates/?selectedKind=SDP%20-%20Calendar%20Props&selectedStory=vertical%20with%20full%20screen%20portal&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel for this one

[2018-11-12 06:19] revant9c opened #1462 "position absolute on Week headers places them on top of everything."
I am using custom month and and year drop downs  or DayPickerSingleDateController. Week headers are inside one wrapper(div) and rest of the calendar inside another wrapper(div). Week headers are absolute positioned and they are always on top of everything. So when the drop down is open, the week headers are on top of them. Here's an image:

![screen shot 2018-11-11 at 10 17 15 pm](https://user-ima

[2018-11-12 09:30] joan17cast commented on #1460
@majapw thanks for your rensponse.
You can explain me, how i overriding the `zIndex `on `.DateRangePicker_picker__portal`?
because i try with that code, but isn`t work.
![image](https://user-images.githubusercontent.com/29452333/48338375-c53d1480-e665-11e8-864d-cd25301b455f.png)

![image](https://user-images.githubusercontent.com/29452333/48338392-d84fe480-e665-11e8-81a3-afb515a72a0a.png)

[2018-11-13 03:05] greenkeeper[bot] opened #1465 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `devDependency` [react](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.
- The `devDependency` [react-dom](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.

🚨 [View failing branch](https://github.com/airbnb/react-dates/compare/master...airbnb:greenkeeper%2Fmonorepo.react-16.6.2).

This v

[2018-11-13 07:30] ljharb commented on #1465
Fluke.

[2018-11-13 07:30] #1465 closed

[2018-11-13 07:30] ljharb commented on #1438
Fluke.

[2018-11-13 07:30] #1438 closed

[2018-11-13 07:30] ljharb commented on #1302
Fluke.

[2018-11-13 07:30] #1302 closed

[2018-11-13 14:41] deep-coder commented on #1462
This is because z-index of Week div is greater than the calendar div to make week headers visible as week div is absolute positioned . There is way to solve it not sure this is the right way but it will work. You need to increase the z-index of calendar wrapper but this will change the stacking context and week div will get hide behind calendar wrapper. So to make week header visible, you need to

[2018-11-13 19:24] israelluciano opened #1466 "Storybook is displaying component names as 't' when clicking show info button"
DateRangePicker (DRP)
Story Source
<t/>

"t" Component

[2018-11-13 20:04] ljharb commented on #1466
This likely means we’re doing the storybook build in production mode instead of dev mode. It probably broke during the Babel 7/storybook 4 upgrade.

[2018-11-14 23:19] reicolee opened #1467 "Tabbing away from within the datepicker doesn't close the calendar"
Is there any props where I can close/hide the calendar when I tab the focus away from within the calendar?

Currently, I have to put an event listener on 'keydown' on the buttons inside the calendar, and trigger a setState to set the `focused` props to false when the key is `Tab`

[2018-11-15 04:32] majapw commented on #1467
@sumeet-jain recently added some functionality that would help with this I think! How are you rendering the calendar currently, @reicolee ?

[2018-11-15 22:34] #1462 closed

[2018-11-16 01:47] liplylie commented on #782
Since I couldn't add padding, I adjusted the size of the days using `daySize`

[2018-11-16 01:48] liplylie commented on #1459
This is what I used:
[code]

[2018-11-16 10:09] oskarom commented on #1449
I'm running into this same bug, it appears to be introduced in version version 16.7.1 of the library.

[2018-11-16 11:39] aiwatko commented on #662
Any change to get this implemented? 🙏
No open PR related to `SingleDatePicker` is related to `onOutsideClick` :(

[2018-11-16 16:13] ljharb commented on #1449
What version of react?

[2018-11-19 05:50] hemanth-sp opened #1469 "set dates(start and end date) in input box and don't show the range the calendar (like new calendar) so how to do this , any help?"

[2018-11-19 21:28] yzimet opened #1470 "Incompatibility with RTL in react-with-styles-interface-aphrodite"
The `react-with-styles-interface-aphrodite` interface has its own RTL layout support (docs: https://github.com/airbnb/react-with-styles-interface-aphrodite#built-in-rtl-support)

We'd like react-dates' RTL implementation to work harmoniously with this interface. To do this, we could:
1. add `/* noflip */` to the relevant directional styles in react-dates, and
2. use the contextual `css` method fro

[2018-11-19 21:35] janeschindler commented on #23
This is also a featured I'd love to see.

[2018-11-20 08:59] Serhieieva commented on #1432
@revant9c Seems as if you are using 18.1.0 version of a lib. Fix was done in 18.1.1

[2018-11-21 06:52] Uneetpatel7 commented on #971
@majapw have you posted any detailed code for the same problem? Please post it as it would be of great help to the community if you haven't posted it already.

[2018-11-21 11:57] sag1v opened #1471 "stand alone version (umd / cdn)"
There were couple of issues (#375 #426) opened regarding exposing a UMD or a cdn version for `react-dates`.
@ljharb referenced this link https://wzrd.in/standalone/react-dates@latest but it seems that its timed out and not accessible anymore.

Is there any other source for this or plans to expose a build version as a cdn?

[2018-11-21 14:31] ljharb commented on #1471
While it’s unfortunate that wzrd.in isn’t reliable atm, that doesn’t change that amd and globals are obsolete, and that current best practices are to bundle up libs yourself.

We could add a “dist” build process but i don’t think it would add much value - it’d just be enabling people to stay on antiquated build pipelines for longer.

[2018-11-21 14:36] sag1v commented on #1471
Actually my use case was using it in stack snippets when writing answers with running code examples on stackoverflow

[2018-11-21 15:03] ljharb commented on #1471
That’s a good reason :-) i think #375 covers that use case?

[2018-11-21 15:06] sag1v commented on #1471
That's the same issue and outdated link i posted above though

[2018-11-21 15:08] ljharb commented on #1471
Yes, but since it remains open, i think this should probably be closed in favor of that one

[2018-11-21 15:09] ljharb commented on #1471
Ah, it’s closed. In that case, yes, a working codepen or jsfiddle would be useful.

[2018-11-21 20:02] majapw commented on #1471
Do any of the codepen examples in https://github.com/airbnb/react-dates/issues/426 still work? I guess it would be nice to have an official, react-dates codepen from which to work off of. :)

[2018-11-21 20:47] ezequiel9 commented on #60
Use date.startOf('isoWeek'); instead of date.startOf('week');

[2018-11-21 20:50] ianduvall commented on #1061
@majapw bubbling this up. Any thoughts?

[2018-11-21 23:03] timpeti commented on #1258
+1

[2018-11-22 09:20] tfrommen commented on #1359
Hm, interesting. I can confirm the same for Firefox Developer Edition 64.0b11 (64-Bit). I first thought that it's something in my app, but given that I literally _switched_ the old date picker with Airbnb's `DateRangerPicker`, I didn't really believe in that anyway.

This is the (stripped-down version of the) component using the date range picker:

[code]

Opening the calendar is somewhat slow, bu

[2018-11-22 13:54] sag1v commented on #1471
@majapw None is working as  https://wzrd.in/standalone/react-dates@latest  is outdated.
I think the options are either host the a umd / cdn version (paid or free) in some web hosting or just expose a bundled file for unpkg or similar websites.

[2018-11-22 17:55] misidoro opened #1472 "SingleDatePicker using negative verticalSpacing"
Hi,

I am using SingleDatePicker and need to position the calendar popup on top of the input field.

I can achieve this by doing
[code]

but I can see an error on the console saying:

Is there a better way of doing it?

[2018-11-23 03:55] MingPaint commented on #25
hi guys, i just want to select the year, or select months past a selectbox only five. or month. thanks to everyone

[2018-11-23 09:41] hemanth-sp opened #1473 "which Boolean value need to set for allows next 1 year only????"

[2018-11-23 10:07] hemanth-sp commented on #1473
`      isOutsideRange : (day) =>   !this.isInclusivelyAfterDay(day, moment()) || this.isInclusivelyAfterDay(day, moment().add(1, 'year'))
`

[2018-11-23 10:07] #1473 closed

[2018-11-23 14:58] carllang commented on #1320
Any updates on this issue?

[2018-11-23 22:01] goshdarnheck commented on #1425
Right now there isn't a way to change the day aspect ratio, it will always be a square (actually the height will be one px less than the width).

[2018-11-26 02:18] Neaox commented on #1236
I am also having this issue. When setting custom navigation components the elements lose the class names which correctly position/align them.

[2018-11-26 15:52] arthurgeron commented on #950
react-hot-loader@3.1.3 doesn't replicate that issue for me.

[2018-11-26 16:57] ssspe opened #1476 "Virtual keyboard showing on device even though SimpleDatePicker set to readOnly"
I am having trouble trying to get this to work. I have been scouring the internet to see if any one else is getting this problem but I am coming up short. When setting the readOnly prop to true I still get the virtual keyboard on a device show up.

If there is any more information I can add please let me know.

[2018-11-26 17:02] ljharb commented on #1476
If this is how your device handles readOnly inputs, then there’s probably nothing to be done - have you tested on plain html to confirm?

[2018-11-27 08:58] j33n opened #1478 "Hovering/onMouseEnter on days throws a TypeError warning"
I have a behaviour where some of the months when hovered on throws the following warning:

```Uncaught TypeError: Cannot read property '1990-11-07' of undefined```

![image](https://user-images.githubusercontent.com/19430799/49069955-99ac5380-f23b-11e8-89f5-6f2d8dd9303a.png)

My code looks like this and everything works fine except for the hover warning:

[code]

[2018-11-27 09:00] Rafi993 opened #1479 "Auto position when reached when reached end of parent"
It would be nice to have option to auto position the date selector when you react the end of the parent or the browser window.

[2018-11-27 12:07] hemanth-sp commented on #1469
invalid

[2018-11-27 12:07] #1469 closed

[2018-11-27 12:19] hemanth-sp opened #1480 "allow to force to select 2 days on blocked date when minimum night is 1?"
![screenshot from 2018-11-27 17-46-25](https://user-images.githubusercontent.com/24698571/49081360-9e3d3000-f26c-11e8-8ee9-513b0136fba0.png)

i need to select date 10, because minimum night is 1 and i also i need to show 10th is blocked. any help

[2018-11-27 15:11] ljharb commented on #208
I think you’re severely underestimating how much goes into “formatting”, including locale, language, first day of week, daylight savings time, month boundaries, leap year math, etc.

[2018-11-27 15:41] farnoy commented on #208
Fair enough, I assumed `Intl` was in a state where it could handle these things, but it is not.

[2018-11-28 09:31] jack-sf commented on #1084
Can you reopen it? It's still a needed feature for me. Or did you manage to do it in some other way?

[2018-11-28 19:23] ianduvall commented on #934
@majapw did you every get around to documenting the preferred way to do this?

[2018-11-29 10:29] trivopr commented on #950
I still get the Issue warning as above. Someone got a solution for this or is looking into it ?
{
   "react": "^16.3.2",
   "react-dates": "^16.6.1",
}

FYI @majapw

[2018-11-29 10:42] arthurgeron commented on #950
@Alek-S see my previous comment

[2018-11-29 20:04] klujanrosas commented on #1198
Like @philippefutureboy I also see that at some point `CalendarDay` gets passed an `object` as `modifiers` which leads to the crash.

![image](https://user-images.githubusercontent.com/4474353/49247879-66f28e80-f3e6-11e8-8b84-e290558be9c6.png)

I temporarily fixed it by using this:
[code]

[code]

I hope this maybe helps someone else running into the same issue.
Since the `deepmerge` topic describ

[2018-11-30 11:59] hemanth-sp commented on #369
how modify this angular code beacuse i need to add some custom methods and ui?????????????????

[2018-11-30 13:00] priyanka-terala commented on #1150
Nicotroia's mention helped me in added many buttons like "Last 7 Days", "Last Month" and others. But, here I noticed an issue. Once the button, for example, "Last 7 Days" is clicked, the Date Range is being highlighted and dates are also backfilled, but the calendar is not closed. Can someone please suggest how do I achieve this functionality of closing the calendar on clicking these custom button

[2018-11-30 13:04] priyanka-terala commented on #1150
Nicotroia's mention helped me in added many buttons like "Last 7 Days", "Last Month" and others. But, here I noticed an issue. Once the button, for example, "Last 7 Days" is clicked, the Date Range is being highlighted and dates are also backfilled, but the calendar is not closed. Can someone please suggest how do I achieve this functionality of closing the calendar on clicking these custom button

[2018-11-30 23:07] jayswain commented on #1320
I've got a PR to resolve this issue here: #1481

[2018-12-02 07:45] nvnvenki commented on #983
I had the exact same problem. Had two single date pickers in the same container.
Below was the change made to fix the issue. Not sure how can this cause an issue.

![image](https://user-images.githubusercontent.com/1863449/49337131-62231a00-f634-11e8-8908-9daf6fa3f50a.png)

[2018-12-04 15:07] alexanderchabo commented on #1376
Im sharing the same issue!

[2018-12-05 04:57] JefferyHus commented on #93
An easy way is to copy and past the polyfill from here [Array.from](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/from#Polyfill)

[2018-12-05 05:00] ljharb commented on #93
That is definitely not a good idea; the polyfills on mdn are strictly not for production use.

[2018-12-05 20:14] JefferyHus commented on #93
Maybe elaborate and explain why? Because I can't see any security issues with it being used in production.

[2018-12-05 20:43] ljharb commented on #93
It's not about security issues - in general, those polyfills are not necessarily correct (the most important consideration), they're certainly not necessarily compatible with the widest range of browsers, and they're not from npm, which defies best practice entirely (all JS deps you use should come only from npm).

In this specific case, it *seems* fine, but how can I know that? There's no tests,

[2018-12-06 01:50] JefferyHus commented on #93
Ah about testing as it's just a single function I think it is fine as it presents no issues for any browsers as well as I tested under different browsers and it works fine. That alternative just for people looking for that one particular function instead of importing a whole package.

[2018-12-06 02:01] ljharb commented on #93
In general, there should be a package for each one function - Array.from is a bit more complex tho.

[2018-12-06 05:58] JefferyHus commented on #93
It is indeed.

[2018-12-06 06:47] #1480 closed

[2018-12-06 07:56] hemanth-sp opened #1483 "isdayblocked dates not working properly"
![img_20181206_132235](https://user-images.githubusercontent.com/24698571/49569632-7c256b00-f95a-11e8-9091-f14f693a20c6.jpg)

i passed 17th and 19th to blocked but it is blocking other dates 16th,20th, in photo. i think it is utc issues

[2018-12-06 10:29] oneinchman commented on #327
a medal of honor to @ian-rudge

[2018-12-06 10:33] yjvesabalaj commented on #25
Hi guys, i think ti managed to do it somehow, this is how i solved it:
I used the renderMonthElement property as its a function and allows to return everything, i returned a list of years and months and connected them with state.

Datepicker Code:
[code]

Functions:
[code]

    renderMonthElement = ({ month, onMonthSelect, onYearSelect }) =>
        <div style={{ display: 'flex', justifyContent: '

[2018-12-06 12:14] #1483 closed

[2018-12-06 15:51] ljharb commented on #1483
Did you figure it out? Others will want to benefit in the future.

[2018-12-07 04:08] PerlBug commented on #190
The selection doesn't show on mobile until after you go to the next month and come back

[2018-12-07 06:00] hemanth-sp commented on #1483
yes that time utc issues  [like](https://stackoverflow.com/questions/53646145/remove-duplicates-from-array-in-moment-js#53646298) check akrion answer

[2018-12-07 16:34] dvprz opened #1484 "Prevent first available day of month from focusing"
Hello,

Thank you all for the wonderful library!

So we're working with a team of a11y auditors and one of their suggestion goes against what react-dates does out of the box. When a user tabs to a prev/next button and hits enter after the month transition ends the first available calendar day receives focus. Our consultants want us to keep the focus on the prev/next button.

I have looked at the s

[2018-12-08 01:32] Iulia-Soimaru commented on #1333
I have the same issue, can't manually update the input.

When I click on the input I can see the cursor, and I can use arrows left and right to move the cursor, but deleting value or typing something in doesn't work, and it doesn't throw an error :(

[2018-12-10 06:59] yaswakarthi opened #1485 "Blinking cursor in mobile when using DateRangePicker"
Hi,

I am using "react-dates": "^18.1.1"

I am using DateRangePicker with withFullScreenPortal option. Once touch the input I am gettting a blinking cursor. It doesnt create a problem in desktop but it is creating a problem in mobile.

when I am using readOnly attribute, Touchinput is not working. But it works Old version only.( "react-dates": "12.2.2" version)

How to disable keyboard with calend

[2018-12-10 09:40] hamidpouladi commented on #755
hi
do you have a plan to solve this issue in future versions?
thanks

[2018-12-11 13:04] Hassan-Zahid commented on #255
Do we have any update on this?

[2018-12-11 16:53] kaushik1094 commented on #1333
@Iulia-Soimaru What version of react-dates are you using. May be updating it to the latest version might help. But, I think this is still a bug which needs to be addressed. @majapw

[2018-12-11 17:58] sahilchopra commented on #255
+1

[2018-12-12 01:52] wijdench commented on #1099
Hi,
Is there any updates in this issue.

thanks for your help.

[2018-12-12 01:53] wijdench commented on #1077
Hi,
Is there any updates in this issue.

thanks for your help.

[2018-12-12 08:56] sag1v opened #1488 "[Feature Request] Use name instead of Id"
Hi, When using `DateRangePicker` for example, these props are mandatory:
`startDateId` , `endDateId`.

This won't allow us to use multiple `DateRangePicker`s as duplicate id's are not valid.
For example, a `DateRangePicker` rendered in the header of the page + another one in a popup / modal. both targeting the same endpoint and need the same `name` fields.

So, what we actually need for the form i

[2018-12-12 08:58] ljharb commented on #1488
This is needed for accessibility - for/ID-linking labels to inputs is required (as well as nesting) to achieve full device coverage.

The form _name_ is different, and that should be separately configurable.

[2018-12-12 09:09] blade-demon opened #1489 "PresetDateRangePicker CSS-In-JS with react-with-styles doesn't work."
Hi all,

I try to implement the **PresetDateRangePicker**  demo located in the example folder. Eveything works fine, except the following codes doesn't work out. It can't change the style of the preset button.

![default](https://user-images.githubusercontent.com/8427848/49858664-91096f00-fe30-11e8-854b-1b8bdb6be0dc.png)

[code]
By the way, the following button can link to my codebase which locate

[2018-12-12 09:18] sag1v commented on #1488
OK, makes sense. Thanks.

[2018-12-12 09:18] #1488 closed

[2018-12-12 12:04] diegotsi opened #1490 "Prevent isOutsideRange on update component."
Hey Guys, I noticed that when selecting a date the isOutSideRange is called again, which causes a delay of about 300ms. What's the best way to avoid it and just called isOutsideRange when componentDidMount?

[2018-12-12 13:51] Steffi3rd opened #1491 "My Calendar doesn't show up, why?"
Hi,

I'm just trying to use `react-dates` and it seems the calendar doesn't show up whereas the console.log is displayed.

When I click on StartDate, I only have a console.log, not the calendar. I cannot choose a date.

Someone knows why?

Thanks

<img width="434" alt="capture d ecran 2018-12-12 a 14 47 45" src="https://user-images.githubusercontent.com/814410/49873932-66fa8180-fe1d-11e8-99ce-f0c9

[2018-12-12 16:03] diegotsi commented on #1387
Any news on that? It's almost impossible to use in Iphones before X.

` <DayPickerRangeController
              numberOfMonths={10}
              orientation="verticalScrollable"
              startDate={this.state.startDate}
              endDate={this.state.endDate}
              onDatesChange={this.selectDate}
              focusedInput={this.state.focusedInput}
              onFocusChange={thi

[2018-12-13 09:54] Steffi3rd opened #1493 "Always have an error : Failed prop type: Invalid prop `modifiers` of type `Object` supplied to `withStyles(CalendarDay)`, expected instance of `Set`."
Hi,

The minimum REQUIRED setup seems to not work well... What I missed?

The thing is the calendar seems working but I always have an error in console. I don't know why.
It's the same thing with `DateRangerPicker`, `SingleDatePicker`...

Help please

[code]

<img width="801" alt="capture d ecran 2018-12-13 a 10 51 31" src="https://user-images.githubusercontent.com/814410/49930540-1c344480-fec5-11

[2018-12-13 22:47] cshaver opened #1494 "Focus is lost for VO after selecting a date"
## Summary
This is also apparent with non-VO keyboard usage but is a larger issue in VO because the "place" on the page is lost in Safari.

Ideally the focus would remain on the input after selecting the date but this is currently problematic due to the way focus is tied to the calendar visibility.

Here are a couple terribly low quality gifs that attempt to demonstrate:
![react-dates-io-vo-480p](

[2018-12-14 23:40] codylawson commented on #1198
@majapw

Is it possible `Set` is being polyfilled differently between airbnb and other users of the libarary? I'm getting this same error; `airbnb-js-shims` is in my `node_modules` and I'm on `"react-dates": "^18.3.1"` and `"react": "^16.5.1"`.

Our project uses babel and includes `@babel/preset-env` and `@babel/react`, babel has its own polyfill, `Set` seems to be covered there.

If it's a matter

[2018-12-14 23:44] ljharb commented on #1198
@codylawson there's really only two common Set polyfills out there - the one in `es6-shim` (in `airbnb-js-shims` and the one in `core-js` (in `babel-polyfill`). Both have a `has` function.

[2018-12-14 23:52] codylawson commented on #1198
@ljharb that makes sense, just trying to find differences in your storybook from our project 😄.

Would handling `undefined` modifiers still be something the library should handle? I can make a pr if it's as simple as applying the logic from @klujanrosas's workaround into the `CalendarDay`.

[2018-12-14 23:54] ljharb commented on #1198
As you can see from the screenshot above, `modifiers` isn't undefined, it's an object, that has no `has` function.

I'm interested in a fix, but not a workaround :-)

[2018-12-16 11:30] mkarklinsScout commented on #1359
Can confirm the same behavior on Firefox Developer Edition 65.0b3 -  The code is roughly the same as this example [here](https://github.com/airbnb/react-dates/blob/master/examples/DateRangePickerWrapper.jsx)

Chrome works without issues.

[2018-12-16 22:40] vincerubinetti commented on #109
Note that the css file is not a css module, so if you're using webpack, you'll have to set your css loader options to `modules: false` for `react-dates`. This took me a while to realize because I expected it to be a module like most libraries. Perhaps this should be said somewhere on the getting started/readme page.

[2018-12-16 22:49] vincerubinetti commented on #1356
Note that the `./node_modules/react-dates/lib/css/_datepicker.css` is not a CSS module, so if you're using webpack, you'll need to set the CSS loader `modules` option to `false`. You may want to make a separate `rules` entry just for `react-dates` in your `webpack.config.js` file to handle this, since every other library I've used uses CSS modules.

**Note to the devs:** I feel that the readme / g

[2018-12-17 02:06] vincerubinetti commented on #676
Correct me if I'm wrong, but wouldn't this be solved if we simply had access to the `inputRef` for the actual input field? That way we could attach our own custom (HTML5) `oninput` and `onchange` listeners which could parse/format/validate the typed-in input and convert it to a `moment` object and set that as `this.state.value`. Then the calendar element itself would be updated just by virtue of t

[2018-12-17 12:00] JohnnyBDude commented on #1023
+1 this is driving me insane:)

Its probably a bug though, as onDateChanged should not be triggered at all.
See README:

[2018-12-17 16:21] thornebrandt commented on #1023
+1

[2018-12-17 17:56] diego-cesa commented on #532
As manu2784 mentioned, you can pass the dates as an object param to the onClose. You can use that instead of getting them from the this.state.

<DateRangePicker
   onClose={({startDate, endDate})=>this.onClose({ startDate, endDate })}
/>

 onClose = (dates) => {
        console.log(dates)
};

[2018-12-17 17:57] diego-cesa commented on #902
Related to issue: #532

You can pass the dates as an object param to the onClose. You can use that instead of getting them from the this.state.

<DateRangePicker
   onClose={({startDate, endDate})=>this.onClose({ startDate, endDate })}
/>

 onClose = (dates) => {
        console.log(dates)
};

[2018-12-18 00:18] janjanarnaldo commented on #950
is there any fix for this already? 😺

[2018-12-18 01:13] janjanarnaldo opened #1495 "Why do we need to click arrow down key before the calendar shows up?"
I tried to copy this wrapper https://github.com/airbnb/react-dates/blob/master/examples/SingleDatePickerWrapper.jsx to my app but I noticed that upon on focus, there's no calendar, it only displays when I click on arrow down button.

This is the initial interface
![image](https://user-images.githubusercontent.com/13392638/50125700-fb913380-02a4-11e9-9184-7a61f1ff34d6.png)

And then displays after

[2018-12-18 01:14] janjanarnaldo commented on #1495
hope you can be of any help @ljharb @majapw thanks

[2018-12-18 01:51] majapw commented on #1495
Hi @janjanarnaldo, what is your `onFocusChange` callback look like? How are you maintaining focus state? It kind of looks like that's not being properly managed.

[2018-12-18 04:35] janjanarnaldo commented on #1495
HI @majapw it is focusing if you check the component's state.

![image](https://user-images.githubusercontent.com/13392638/50132286-59337900-02c1-11e9-98c4-3139b525ca79.png)

[2018-12-18 04:36] majapw commented on #1495
Is the DayPickerRangeController rendering in the DOM?

[2018-12-18 04:37] janjanarnaldo commented on #1495
tried 2 ways of callbacks
`onFocusChange = ({ focused }) => this.setState({ focused })` and

onFocusChange({ focused }) {
  this.setState({ focused });
} // were onFocusChange is bound to .this at constructor.

[2018-12-18 04:38] janjanarnaldo commented on #1495
No @majapw but I can see SingleDatePickerInputController

[2018-12-18 04:38] majapw commented on #1495
And what version of `react-dates` are you using?

[2018-12-18 04:39] janjanarnaldo commented on #1495
18.3.1 @majapw

[2018-12-18 04:42] janjanarnaldo commented on #1495
also, after clicking arrow down which shows the calendar, the `DayPickerSingleDateController` as you mentioned is already mounted @majapw

[2018-12-18 04:45] majapw commented on #950
I'm marking this issue as `wontfix` and locking comments since the solution is in another package (`react-hot-loader`). I'll keep it open until the root cause is addressed.

For context, https://github.com/gaearon/react-hot-loader/issues/304 is the relevant issue in RHL.

[2018-12-18 04:50] majapw commented on #1495
Can you share your entire props configuration?

[2018-12-18 04:53] janjanarnaldo commented on #1495
sure I'll put the entire component instead

`import React, { Component } from 'react';
import 'react-dates/initialize';
import 'react-dates/lib/css/_datepicker.css';

import moment from 'moment';

import { SingleDatePicker } from 'react-dates';

class DateSelector extends Component {
  static defaultProps = {
    // example props for the demo
    autoFocus: false,
    initialDate: null,

    // in

[2018-12-18 04:54] majapw commented on #1493
Can you share what version of react-dates you are using?

[2018-12-18 05:03] majapw commented on #1491
Hi @Steffi3rd, calendar visibility is controlled by the `focusedInput` prop. When it is `null`, the calendar is always hidden, as it is in your case. This is why we recommend using a `state` variable to control the `focusedInput` value and then updating that state variable with the `onFocusChange` prop. You can see an example of a functional wrapper around the `DateRangePicker` in https://github.c

[2018-12-18 05:03] #1491 closed

[2018-12-18 05:05] majapw commented on #1485
@yaswakarthi does setting the `readOnly` prop to `true` solve your issue?

[2018-12-18 05:34] hemanth-sp commented on #1461
i am using in angular i cant able to override most of your code

[2018-12-18 05:34] #1461 closed

[2018-12-18 05:35] majapw commented on #1461
I think unfortunately we can't support your usecase at this point. Sorry!

[2018-12-18 05:35] hemanth-sp commented on #1461
no problem

[2018-12-18 05:38] janjanarnaldo commented on #1495
Ugh the issue is just because of styling where overflow is hidden. What a nice cut right there, it looks so much like a bug. Thanks for accommodating though @majapw will close now.

[2018-12-18 05:38] #1495 closed

[2018-12-18 05:46] majapw commented on #1495
Glad you figured it out!

[2018-12-18 05:49] majapw commented on #1476
Can you share your device details and the `react-dates` version you are using?

[2018-12-18 05:51] majapw commented on #1485
Actually I'm going to mark this as a duplicate of #1476 and continue the conversation on that issue.

[2018-12-18 05:51] #1485 closed

[2018-12-18 06:15] majapw commented on #1479
Hi @Rafi993 The date selector should auto-position according to the browser window (there's a responsive function that checks for the edge of the screen and shifts over the datepicker accordingly). Can you share a screenshot of the behavior you are seeing and the version of react-dates you are using?

[2018-12-18 06:16] majapw commented on #1478
@j33n I am assuming that this happens only after updating the month using the month dropdown. Is that right?

[2018-12-18 06:19] majapw commented on #1470
This has been fixed by #1482/#1492 in v18.3.1 of `react-dates`

[2018-12-18 06:19] #1470 closed

[2018-12-18 06:42] Rafi993 commented on #1479
![2018-12-18-121040_1366x768](https://user-images.githubusercontent.com/8092120/50136529-1fad3e80-02be-11e9-8767-a53ecc3a6a55.png)

[2018-12-18 06:56] yaswakarthi commented on #1476
@majapw  I'm using an iphone with iOS 12.1.1 and tested on Safari browser.

please let me know, how to disable keyboard with calendar using DateRangePicker in vertical orientation?

![20181218_121914](https://user-images.githubusercontent.com/45749063/50136935-867f2780-02bf-11e9-96b7-b2b9c871d72f.jpg)

[2018-12-18 10:01] misidoro commented on #1472
the problem is on the `verticalSpacing={-100}`

are you planning to support negative values on verticalSpacing?

[2018-12-18 17:36] majapw commented on #1472
@misidoro I don't ... think so? That would cause the calendar to render on top of the inputs in a pretty weird way.  You can set the spacing all the way down to zero which will sit the drop down flush with the inputs. If you want a portal-ed picker on top of the page, I'd recommend looking at the `withPortal` and `withFullscreenPortal` props.

[2018-12-18 22:49] kaushik1094 commented on #1333
@Iulia-Soimaru try to update to the latest version 18.3.1(Don't include ^) and see if it reproduces the same error.

[2018-12-18 22:53] ljharb commented on #1333
Definitely always include `^`.

[2018-12-18 23:06] majapw commented on #1333
I wonder if v16 had the code that automatically disabled typing in the vertical orientation. I *think* it's likely fixed in the latest.

[2018-12-18 23:10] majapw commented on #1479
Ah, specifically from the bottom. It is responsive to the left and right edges of the screen, but does not scroll the page up when the picker is out of view.

@Rafi993 Are you suggesting that the picker automatically open up when the calendar is below the fold or that the viewport scroll up to show the calendar? I think for the latter, you could probably do right now by setting a ref on the Single

[2018-12-18 23:11] kaushik1094 commented on #1333
@Iulia-Soimaru That might be the case. try to update to the latest version and see if that works

[2018-12-19 03:04] kuncevic commented on #369
Just use https://ng-bootstrap.github.io/#/components/datepicker/overview by `import {NgbDate, NgbCalendar} from '@ng-bootstrap/ng-bootstrap';`

[2018-12-19 18:05] Phibedy commented on #79
Same for me as @majapw already said.
* If you type in `01.01.2018` the calendar closes
* If you type in  `01.1.2018` the resulting date is null

version: 18.3.1

[2018-12-20 15:23] PavanGangireddy commented on #934
is this fixed, as of 18.1.1 version?

[2018-12-27 16:35] strokirk commented on #1013
I'm still seeing the issue that @BrandonWilliamsCS reported - should I open a new issue for that or is there some config required to keep focus when typing and editing one of the dates?

[2018-12-27 16:52] strokirk opened #1496 "Focus is lost when editing first date"
## Description
When I edit parts of the start date, the cursor always jumps to the end date, which makes it hard to edit multiple parts at the same time.

**Steps:**
1. Select a valid start date
2. Backspace one character of the day/month/year
3. Enter a valid value for the day/month/year part

**Observed behavior:**
Focus switches over to the end date field.

**Desired behavior:**
The cursor shou

[2018-12-28 09:29] greenkeeper opened #1497 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.11.1` to `7.12.0`.

🚨 [View failing branch](https://github.com/airbnb/react-dates/compare/master...airbnb:greenkeeper%2Feslint-plugin-react-7.12.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-plugin-

[2018-12-28 18:52] diegotsi commented on #1387
Hey @majapw, whats the purpose of always recompute everything when focus changed like  ` if (didFocusChange || recomputeOutsideRange) if (didFocusChange || recomputeDayBlocked) if (didFocusChange || recomputeDayHighlighted) `

Can't we just use recomputeOutsideRange or recomputeDayBlocked or recomputeDayHighlighted ? Because thats the problem, everytime that focusChange they recomputed everything

[2018-12-31 10:32] #1460 closed

[2018-12-31 12:45] Cuse89 commented on #25
yjvesabalaj thanks for the great solution. I had problems when selecting a new month as it wasn't updating the calendar month. To correct this is simple had to parseInt the e.target.value getting passed into onMonthSelect.
<select
                    value={month.month()}
                    onChange={(e) => {
                        onMonthSelect(month, parseInt(e.target.value))} }

[2018-12-31 12:46] Cuse89 commented on #25
yjvesabalaj thanks for the great solution. I had problems when selecting a new month as it wasn't updating the calendar month. To correct this is simple had to parseInt the e.target.value getting passed into onMonthSelect.
`<select
value={month.month()}
onChange={(e) => {
onMonthSelect(month, parseInt(e.target.value))} }

[2018-12-31 12:47] Cuse89 commented on #25
yjvesabalaj thanks for the great solution. I had problems when selecting a new month as it wasn't updating the calendar month. To correct this is simple had to parseInt the e.target.value getting passed into onMonthSelect.
`<select
                    value={month.month()}
                    onChange={(e) => {
                        onMonthSelect(month, parseInt(e.target.value))} }

[2019-01-01 08:18] kushalmahajan opened #1498 "How to uninstall is missing in docs"
Please specify the criteria for removing the package and all it's dependencies as well.

Yarn remove doesn't works.

[2019-01-01 15:34] ljharb commented on #1498
That should be sufficient; for every package, npm uninstall (and yarn remove) should work.

If it doesn’t, you’ll have to elaborate more on what’s not working, and it might be something you need to file on yarn.

[2019-01-01 20:56] mmiszy commented on #1138
My use case for this feature: We're an international team but our "reference timezone" is always UTC. So we want our datepickers to always work in UTC and always show the same date, no matter if I'm in Europe, Asia or Americas.
Currently I'm using a trick I'm not very proud of: `date.format('YYYY-MM-DDT00:00:00.000Z')`

[2019-01-02 00:28] #1497 closed, assigned to nobody

[2019-01-04 02:41] christianruiztel commented on #973
Hi,
I had exactly the same issue, it took me about 4 hours to find the solution. What happened in my case, was that I put a styles.css on a folder in the same level that the components folder. Some how it was looking for that file, if I delete the file I receive this error: ./src/containers/styles.css (./node_modules/css-loader??ref--6-oneOf-3-1!./node_modules/postcss-loader/src??postcss!./src/con

[2019-01-06 08:37] helloitsm3 opened #1500 "How do I display an indicator that shows I already have an event on that day?"
<img width="100" alt="marking1" src="https://user-images.githubusercontent.com/13825491/50733929-4bdb2180-11d1-11e9-951e-38d1b0e2dfac.png">
![marking4](https://user-images.githubusercontent.com/13825491/50733930-4c73b800-11d1-11e9-9298-d137d0d21b6c.png)

I'm looking to have an indicator that shows you how many events that's happening on the day but I'm unsure on how to implement it to react-dates.

[2019-01-06 19:39] adammiribyan commented on #1108
@aray12 here is how I've dealt with that, hope it helps:

[code]

[2019-01-08 09:36] heleneshaikh commented on #971
Looking for a solution to this too.

[2019-01-08 09:48] heleneshaikh commented on #23
I think that this is a very important and basic feature to implement.

[2019-01-09 09:29] terjela opened #1502 "Day selection not accessible with keyboard in Edge"
**react-dates version**
react-dates@18.3.1

**Describe the bug**
It is not possible to navigate the day selection using the keyboard in Edge.

**Screenshots/Gifs**
![singledatepicker](https://user-images.githubusercontent.com/8427100/50889916-6bed2980-13f9-11e9-8b2c-11595ca520aa.gif)

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser Edge
 - Version 42.17134.1.0

[2019-01-09 17:22] majapw commented on #1502
I will take a look at this this week. That's a pretty serious bug! D:

[2019-01-10 10:17] Kivylius opened #1503 "Svg element(s) does not have a mechanism that allows an accessible name value to be calculated."
**react-dates version**
react-dates@18.3.1

**Describe the bug**
Accessibility concern on SVG icons. The svg icons that are used in buttons should have an `alt` or `aria-label` tag(s) to be AA compliment just like how the buttons have them.

See: https://amp.levelaccess.net/public/standards/view_best_practice.php?violation_id=362

**Source code (including props configuration)**
Any date picker tha

[2019-01-11 19:00] jakesyl commented on #1498
I think he's referring to the peer dependencies.

[2019-01-11 19:12] ljharb commented on #1498
That has to be done manually; that’s not something that’s typically documented. Separately, it might not be safe to remove peer deps, because other things might be using them - so a human always has to make that choice.

I think this is answered.

[2019-01-11 19:12] #1498 closed

[2019-01-11 21:14] wesleyabbey commented on #1209
It could be because `box-sizing: border-box` is not set not set globally.

Updating this, fixed the issue for me

[2019-01-12 20:44] skevlishvili commented on #23
This would be a great feature to have

[2019-01-12 20:49] giverz commented on #23
As a workaround I'm comparing the startDate to the next earliest blocked date, and passing these dates to isOutsideRange. One downside is that the function doesn't get called when the user backspace-deletes the Check In field for example.

Would love to have this as a feature!

[2019-01-13 11:54] jack-sf commented on #1108
I also have the same weird behaviour, on iOS **only** when input has `readOnly: true`.

@adammiribyan your workaround helps a little bit but it only hides the keyboard **after** it is being shown.

I'd like to have it not be shown at all.

Probably adding `event.preventDefault()` in `DateInput` would help, as in here https://codepen.io/jochemnabuurs/pen/PPVpWg , @majapw .

Probably related issue:

[2019-01-15 04:08] ljharb commented on #647
Does #1311 solve this, @ArtyomResh?

[2019-01-15 12:22] RBrNx opened #1505 "Should initialVisibleMonth default to the currently selected date?"
**react-dates version**
react-dates@18.3.1

**Describe the bug**
I would expect the calendar to default to the month of the Date currently being edited, but instead it seems to default to the month of the Start Date.

**Source code (including props configuration)**
Steps to reproduce the behavior:
[code]
If you have custom methods that you are passing into a `react-dates` component, e.g. `onDatesC

[2019-01-15 20:52] city41 commented on #1221
I am playing with this right now, and for `onDayClick`, it seems like it needs to be `<td onClick={() => day.onDayClick(day.day)}>...`

[2019-01-16 15:02] dougmcmillan commented on #898
+1 here. Possibly that it is not fully supported?

[2019-01-16 15:04] dougmcmillan commented on #629
Seems to still be a bug in 2019, is there a workaround? Is VERTICAL_SCROLLABLE not supported?

#898 and #1353 are related

[2019-01-17 08:44] thian4 opened #1506 "lag opening modal with next.js"
I'm not sure which side is causing the issue, when the first load and user clicked on the input, there will be slightly lag, check this out https://codesandbox.io/s/github/thian4/react-dates-nextjs

[2019-01-17 13:55] MatanBobi opened #1507 "Can't change input arrow icon when in RTL view"
**react-dates version**
react-dates@18.3.1

**Describe the bug**
When trying to edit the arrow icon inside the input with the prop `customArrowIcon` and the prop `isRTL` is set to `true`, the custom arrow icon isn't used.

**Source code (including props configuration)**
Steps to reproduce the behavior:
[code]

**Desktop (please complete the following information):**
 - OS: macOS Mojave (10.14.2)

[2019-01-17 14:33] MatanBobi commented on #1507
A PR can be found here:
https://github.com/airbnb/react-dates/pull/1508

[2019-01-17 17:57] GithubGoldMiner commented on #1502
@majapw Hi, I am just curious, since I am also using this library in my side project. I do realize that Keyboard navigation is not functional as well (Chrome 69 on Win10 machine). Can you confirm with that?

[2019-01-18 08:11] bilal68 opened #1509 "Carousel slider with react"
I am trying to put Carousel bootstrap slider.I am trying to follow a simple example but not able to do it.
This is the simple code that i am trying to put on my site but design not coming right.
i imported Carousel from react-bootsrap.
what else I have to do?
[code]

[2019-01-18 08:18] ljharb commented on #1509
@bilal68 i'm not sure how this relates to `react-dates`. I'm going to close it, but am happy to reopen it if it's related.

[2019-01-18 08:18] #1509 closed

[2019-01-18 09:18] bilal68 commented on #1509
sorry its totaly not related to to dates. can you open it as a separate issue?

[2019-01-18 10:57] Shadowman4205 opened #1510 "SingleDatePicker with range option"
How can i make range functionality, with two SingleDatePicker?

So on one way i will disable second SDP on round trip i will enable it with range effect

like in this lib http://react-day-picker.js.org/examples/input-from-to?

Is this possible with this lib?

[2019-01-19 09:50] jussiniinikoski commented on #889
`
renderDayContents = (day) => {
        return (
            <React.Fragment>
                <span className="CalendarDayWeekNumber">{day.format('W')}</span>
                {day.format('D')}
            </React.Fragment>
        );
};
`

Then add this function to your DateRangePicker as renderDayContents property.
If you only need to show the week number in first cell of the week, you can accom

[2019-01-20 01:57] aminpaks commented on #1471
Would you provide a reference?

[2019-01-20 02:12] ljharb commented on #1471
@aminpaks if you won't take my comment as sufficient reference, then I'm not sure why a link to some other internet rando's comment would help.

Relying on globals has been seen as pretty universally bad in the industry for well over a decade; as has "not using modules" for at least half a decade. Since a bundler is required to use modules (except with native ESM in the most modern browsers as of

[2019-01-20 02:39] ljharb commented on #1471
In my experience, using a third party cdn doesn’t actually add value if you’re small. If you’re large enough that it might, then it’d be more efficient to serve it yourself, on your own cdn (with your own bundle splitting technique).

[2019-01-20 02:46] aminpaks commented on #1471
Bundle splitting would definitely help but still requires an advanced tooling to be properly done as oppose to CDN that is fairly easy to use without any effort.

[2019-01-20 05:21] ljharb commented on #1471
If it’s nkt worth the advanced setup, then your traffic is small enough that the CDN isn’t giving you any appreciable benefit. Don’t solve problems before you have them.

[2019-01-21 13:16] kapor190 commented on #1493
Same here. Version of react-dates: 18.4.0.

[2019-01-21 15:07] jchapelle opened #1512 "Rendering react dates drp causing blink effect"
I'm using a react drp rendered in a dropdown menu.
This is exactly the same use case than airbnb on their website with their date filter button.

However, when my dropdown opens the rendering of the react-dates drp takes few extra milliseconds compared to the rendering of the dropdown menu itself. This causes a blink because the dropdown menu appears empty and few milliseconds later, the drp appea

[2019-01-22 07:24] kumarharsh opened #1514 "minDate and maxDate disables navigation on wrong months in storybook"
**react-dates version**
react-dates@18.3.1

**Describe the bug**
The minDate and maxDate constraints disable the prev and next buttons at incorrect months in the storybook

**Screenshots/Gifs**
If applicable, add screenshots or gifs to help explain your problem.
![image](https://user-images.githubusercontent.com/760112/51518705-ce581800-1e44-11e9-97c1-4e96e0935f78.png)

See highlighted in red, the

[2019-01-22 12:45] mnikolaus commented on #1023
+1

[2019-01-22 22:32] martyniak commented on #1189
Resolving these two issues #676 and #1333 would be very helpful for Selenium automation

[2019-01-23 13:01] JohnnyBDude commented on #1023
I fixed this using this strategy:

- onDateChange callback does not change state of wrapping component if it recieves null as an argument.
- Put a "clear" button next to the datepicker that sets the state to null.

Not pretty but works....

I would also consider contributing a bugfix, but not sure where to start - i dont really have any experience in contribution to foss - i would love to get some

[2019-01-24 07:47] jonathanhotono opened #1516 "IE11 select date does not work"
**react-dates version**
e.g. react-dates@18.4.1

**Describe the bug**
Open in IE11: http://airbnb.io/react-dates/?selectedKind=DateRangePicker%20%28DRP%29&selectedStory=default&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

Select the start date & end date and it won't work.

Tried to look on the console and unfortunately no error message being displayed..

[2019-01-24 16:26] gauravbrills commented on #25
Is a similar attribute renderMonthElement present for DateRangePicker ?

[2019-01-24 16:40] gauravbrills commented on #25
Rockstar solution :) 🥇  @yjvesabalaj

[2019-01-25 15:49] jobokai opened #1517 "Upgrading from v11.0.1: Method for adding classes, not overriding?"
### Problem
In updating from version 11.0.1 to v18.4.1 I've noticed that our use of DayPicker no longer passes modifiers into cssClasses. We used the modifiers to add classes to indicate open, close, published, abnormal statuses to certain dates and used css psuedo elements to render notifications of these statuses. We passed modifiers to the DayPicker, but it looks like in the push for using with

[2019-01-25 17:09] danedavid commented on #358
@majapw Can I take this up?

[2019-01-26 01:05] ljharb commented on #1517
That's a big jump - I'd suggest upgrading one major at a time, reading the changelog each time to understand the breaking changes.

[2019-01-26 01:05] ljharb commented on #358
@danedavid please do!

[2019-01-26 03:14] buildbreakdo commented on #953
Anyone else lands here, best documentation have found so far is here:

https://airbnb.io/projects/react-dates/

It's incomplete, does not cover all the props. But is as good as it seems to get. Storybook docs are great for boolean or numerical props; outside of that for something like a function there is not enough detail to determine the structure of arguments passed in and what is expected retur

[2019-01-26 11:17] danedavid commented on #358
@rafinskipg Could not reproduce the issue from my side. I did not notice anything when changing from `VERTICAL_ORIENTATION` to `HORIZONTAL_ORIENTATION`. Could you please provide a small working example to reproduce the issue, or atleast steps for reproducing the issue?

[2019-01-27 09:07] sche0025 opened #1518 "How to assign the stardate/enddate to rangepicker?"
Hi there:

I was trying to retrieve the stardate & enddate from the database and put it on rangepicker:
![image](https://user-images.githubusercontent.com/35447735/51798948-c5b17880-226e-11e9-89a9-33fc94e2c009.png)
The dates above were also generated by react-date,
However, this will trigger :
![image](https://user-images.githubusercontent.com/35447735/51798953-f7c2da80-226e-11e9-905b-0a471588a3f3

[2019-01-27 13:23] jamesrichards opened #1519 "DayPickerSingleDateController - How to disable dates in the past"
**react-dates version**
react-dates@18.4.1

**Describe the bug**
I'm using the DayPickerSingleDateController component and by default dates in the past are not disabled. [But on the storybook examples previous dates are disabled.](http://airbnb.io/react-dates/?selectedKind=DayPickerSingleDateController&selectedStory=single%20month&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factio

[2019-01-28 03:37] sche0025 commented on #1518
Hi, thank you for your reply:
![image](https://user-images.githubusercontent.com/35447735/51813299-a4ea3100-2309-11e9-9754-b1710e25826b.png)
this is the date in string format, what I want to do is to convert it into moment object, and assign this value to datepicker, so could you tell me how I can convert string to moment object?

[2019-01-28 04:39] ljharb commented on #1518
For that, see the moment docs: http://momentjs.com/

[2019-01-28 10:52] nijona opened #1520 "SingleDatePicker auto closes on hover on today when withPortal={true}"
**react-dates version**
react-dates@18.4.1

**Describe the bug**
SingleDatePicker auto closes on hover on today when withPortal={true}
onDateChange doesn't get called

**Source code (including props configuration)**
Steps to reproduce the behavior:
[code]

**Is the issue reproducible in Storybook?**
yes
[http://airbnb.io/react-dates/?selectedKind=SDP%20-%20Calendar%20Props&selectedStory=horizontal

[2019-01-28 14:58] jobokai commented on #1517
It looks like this issue is fairly similar to what I'm encountering: https://github.com/airbnb/react-dates/issues/1017

[2019-01-28 16:02] jobokai commented on #1517
I've changed things to use the renderDayContents method to render a div with the classes that used to be added via modifiers so I would have more control over the CalendarDay rendering. This seems to take care of everything.

[2019-01-28 16:02] #1517 closed

[2019-01-28 20:55] MarkEhr commented on #239
@ckeeney be aware that this solution is creating a new function each render call thus forcing a re-render of the component even though nothing may have changed.
If you want to avoid this just create the function as a constant outside your component like:
`const falseFunc = ()=>false;`
and then use the function as the prop
`isOutsideRange={falseFunc}`
This may add too little overhead to be noticeab

[2019-01-28 22:24] sche0025 commented on #1518
@ljharb Thank you so much

[2019-01-28 23:09] ljharb commented on #1518
Closing since this seems answered; happy to reopen if not.

[2019-01-28 23:09] #1518 closed

[2019-01-29 06:44] akshaynaik404 commented on #1150
I am also not able to find any solution to "close the range picker progrmmatically".

[2019-01-29 14:36] npenalopez commented on #1519
same problem here, have you solved this issue @jamesrichards ?

[2019-01-29 14:47] jamesrichards commented on #1519
@npenalopez Afraid not, I've sort of parked this feature of the work I'm doing in hopes someone, or a maintainer can point me in the right direction. I'm not even sure if it's a bug, or just a lack of required prop.

Any help would be appreciated 😬

[2019-01-30 13:14] marcos0x commented on #1493
I have this error: Failed prop type: Invalid prop `modifiers.2019-03-01` of type `Set` supplied to `CalendarMonth`, expected instance of `Set`.

[2019-01-30 17:49] ljharb commented on #1493
@marcos0x are you polyfilling `Set`, and can you ensure that you're doing that before any other code (including `react-dates`) is loaded?

[2019-01-30 19:47] marcos0x commented on #1493
@ljharb Yes, I used "airbnb-js-shims"

[2019-01-30 20:32] ljharb commented on #1493
and can you confirm that you're importing that before *any* other code? and that you're not also using `babel-polyfill` which conflicts?

[2019-01-31 13:08] marcos0x commented on #1493
@ljharb yes, a import in first line in index.js before of all imports

[2019-01-31 15:37] ljharb commented on #1493
and can you confirm that you’re also not using babel-polyfill in any way, which conflicts?

[2019-01-31 16:40] ljharb commented on #1493
k - it can sneak in if you’re using any babel settings besides babel-present-airbnb.

Your propType error strongly implies that the global `Set` isn’t the same one that was available when the instanceof propType was created (which uses the global `Set`). Since it’s unlikely that that’d be caused by anything but a non-first-run polyfill, then assuming you’re using the global Set as well, I’m not su

[2019-01-31 17:07] marcos0x commented on #1516
@ljharb @majapw I urgently need it to work in IE11!

[2019-01-31 17:12] ljharb commented on #1516
@marcos0x a PR to fix the bug, with a test, would be most appreciated, and will help accelerate the process :-)

[2019-01-31 17:45] marcos0x commented on #1516
@majapw has @ljharb said, a PR please! :)

[2019-01-31 22:50] ljharb commented on #1516
@marcos0x you misunderstood; i'm suggesting that if you need it, *you* can submit a PR. Both my and @majapw's time is very limited.

[2019-02-01 10:37] panasevich commented on #1028
Hi @M-Willett, you can use onFocusChange={this.onDateRangeFocusChange} prop from DateRangePicker to detect when dateRange is focused and calendar is opened. Then you can wrap dateRangePicker in div with dynamic className.
![9bd647d693](https://user-images.githubusercontent.com/5693677/52116164-2814cb00-2619-11e9-936c-3a32822c3d7c.jpg)

[2019-02-01 10:40] alvaro-cuesta opened #1522 "SingleDatePicker auto closes on clicking anywhere when appendToBody={true}"
**react-dates version**
react-dates@18.4.1 (18.4.0 is fine)

**Describe the bug**
When `SingleDatePicker` has `appendToBody={true}`, clicking anywhere (including a date) closes the calendar (and no date is selected).

If you click any of the day names ("Mo", "Tu", etc.) the calendar works as expected from then on.

**Source code (including props configuration)**

[code]

Parent component handlers:

[2019-02-01 13:47] thais-molica opened #1523 "DateRangePicker blinking after select startDate"
Hello, there.
I'm  setting up DateRangePicker, but when I select startDate the calendar blinks.

![screencast-localhost-3000-2019 02 01-11-33-13](https://user-images.githubusercontent.com/9726793/52126556-c6ebf800-2616-11e9-9a7b-4c443e1fdb53.gif)

Here's my code

[code]

[2019-02-01 18:52] marcos0x commented on #1516
@ljharb @majapw https://github.com/airbnb/react-dates/pull/1524

[2019-02-02 06:19] majapw commented on #1522
@monokrome @TaeKimJR can you take a look at this? It looks like it is related to y'all's tabbing change.

[2019-02-03 13:07] danedavid commented on #1520
Can I work on this issue?

[2019-02-05 00:36] winterblack commented on #1357
This is frustrating. I do think I know the purpose though, which is that if you scroll the page while date-picker is open, it remains fixed to the page rather than scrolling with the content (just try unchecking `overflow-y: hidden` in devtools to see).

[2019-02-05 09:53] Airboy commented on #840
Hi @mariepw,

Would be nice to update the documentation about the use of this feature ;-)
`calendarInfoPosition` is missing within the README file. Let me know if I can help with that.
Thanks.

[2019-02-05 15:14] claykohut opened #1527 "Is there a way to style the '.CalendarDay__selected_start' differently when there is a range selected or hovered?"
Basically looking to be able to detect when there is a selected or hovered range so that I can style the ".CalendarDay__selected_start" item differently in this state. As far as I can tell, there is no class on the start date to tell whether or not there is a selected / hovered range -- is this the case?

Basically looking to accomplish something like this, where the start date is a circle when no

[2019-02-05 22:11] mccambridge commented on #1516
Thank you! I've been spending hours on this bug

[2019-02-05 22:39] mccambridge opened #1530 "SingleDatePicker doesn't fire onDateChange in IE11"
**react-dates version**
e.g. react-dates@18.4.1

**Describe the bug**
In, IE11, SingleDatePicker renders and opens on focus. But when I click on a date, the calendar disappears without updating the date in the input. This works fine on other browsers.

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser IE
 - Version 11.0.9600.19236

**Is the issue reproducible in St

[2019-02-06 10:10] greenkeeper[bot] opened #1531 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `devDependency` [react](https://github.com/facebook/react) was updated from `16.7.0` to `16.8.0`.
- The `devDependency` [react-dom](https://github.com/facebook/react) was updated from `16.7.0` to `16.8.0`.

🚨 [View failing branch](https://github.com/airbnb/react-dates/compare/master...airbnb:greenkeeper%2Fmonorepo.react-20190206093014).

[2019-02-06 10:42] jamesrichards commented on #1519
Bump. @majapw Hope you don't mind the direct mention. Would you be willing to shed some light on this one please? Not sure if this is a bug, or intentional behaviour. If it's the latter, what props should I be providing in order to disable dates in the past?

Thank you

[2019-02-06 18:23] ljharb commented on #1519
This prop: https://github.com/airbnb/react-dates/blob/master/src/components/DayPickerSingleDateController.jsx#L43 should let you define whether past dates are allowed or not, i think?

[2019-02-06 21:12] derekaspaulding opened #1532 "Next/Previous month position styling is not applied when passing a custom icon"
**react-dates version**
react-dates@18.4.1

**Describe the bug**
When passing custom arrows, the position styling is not applied. In previous versions (I'm upgrading from 16.x to 18.4.1, so I'm not sure how far back this changed) the custom icon would still have the position set to the same as the default arrow icons. This would be less of an issue if there was a good way to select the individual

[2019-02-06 21:38] ljharb commented on #1532
@derekaspaulding it would help if you could try v17, and an earlier v18, to try to pin down where the behavior changed.

[2019-02-06 23:19] derekaspaulding commented on #1532
@ljharb It looks like the change happened in the 17.0.0 release. There was another slight change with the 17.2 release, and that is still the current behavior. I removed all my other custom styles and took some screenshots of the different versions

**16.7.1 - This version is good**
<img width="264" alt="dates-bug-16 7 1" src="https://user-images.githubusercontent.com/15877673/52380352-0d848c80-2a

[2019-02-07 04:03] #1522 closed

[2019-02-07 15:03] devans-k4 opened #1534 "DateRangePicker selecting dates not working in IE11"
react-dates@18.3.1

When trying to pick a start and end date in the DRP those dates do not populate  in the start and end date fields. It seems to just revert back to nothing ever being selected and I'm not getting any sort of error. I've also noticed that this same problem is happening when I try in Storybook.

<DateRangePicker
          startDate = {this.calcDate('startDate', user)}
          st

[2019-02-07 15:16] devans-k4 commented on #1534
This is actually happening be clicking anywhere inside the date picker component. It just closes the calendar window.

[2019-02-07 19:48] gilbsgilbs opened #1535 "appendToBody property breaks date selection in SingleDatePicker"
**react-dates version**

- react-dates@19.0.0
- react-dates@18.5.x
- react-dates@18.4.1

**Describe the bug**

When `appendToBody` is set in a `SingleDatePicker`, the picker displays correctly on click but `onDateChange` callback is never called and the picker gets closed immediately. The date doesn't update.

This actually looks like a regression from #1522 . It appears that it was introduced in

[2019-02-08 04:12] krissalvador27 opened #1536 "Last in range day has incorrect border"
**react-dates version**
react-dates@18.4.0

**Describe the bug**
Last in selected date range has wrong border top. In the screenshot below day 21 has a gray border (looks like it's the default border). Would expect it to be green like the days in the range before it.

**Source code (including props configuration)**
Steps to reproduce the behavior:
[code]

**Screenshots/Gifs**
<img width="596" alt=

[2019-02-08 11:42] #1373 closed

[2019-02-08 12:17] tlaak opened #1537 "Custom Arrow Icon does not work if small={true}"
**react-dates version**
e.g. react-dates@19.0.1

**Describe the bug**
The `customArrowIcon` property is ignored when property `small` is set to `true`

**Source code (including props configuration)**
Steps to reproduce the behavior:
[code]

[2019-02-08 15:51] krissalvador27 commented on #1536
@ljharb would love to fix and test it, but I don't think the CSS file is exposed in the repo (only in the published version on npm). Any suggestions?

[2019-02-08 19:19] ljharb commented on #1536
The css file is built from the in-JS styles. You should be able to make a fix there.

[2019-02-08 23:46] ljharb commented on #1537
This seems to be very intentional: https://github.com/airbnb/react-dates/blob/master/src/components/DateRangePickerInput.jsx#L176

I might expect `customArrowIcon` to be disallowed when `small` is `true`, however, to enforce that.

[2019-02-09 16:07] jamesrichards commented on #1519
Excellent, thanks for sharing this. I didn't realise you had to explicitly specify this prop for the SingleDateController. Works as expected now.

Thank you

[2019-02-09 16:07] #1519 closed

[2019-02-10 17:20] danedavid commented on #1520
@ljharb Looks like this issue has been fixed, maybe unknowingly, in https://github.com/airbnb/react-dates/pull/1533. The issue no longer persists.

[2019-02-10 17:42] danedavid commented on #1535
I tried reverting https://github.com/airbnb/react-dates/pull/1533, which was a fix for https://github.com/airbnb/react-dates/issues/1522, but issue still persists.

[2019-02-10 17:43] ljharb commented on #1520
Whoops, thanks for catching that!

Fixed in #1533.

[2019-02-10 17:43] #1520 closed

[2019-02-11 02:31] samism commented on #1432
This is still an issue, even with 19.0.2. In the storybook demo, you cannot enter a date previous to today's date and have it resolve.

[2019-02-11 02:41] samism opened #1541 "Cannot manually type in a date before today's date and have it resolve"
**react-dates version**
react-dates@19.0.2

**Describe the bug**
I am trying to manually type in a date via the YYYY-MM-DD syntax and it does not let this date "resolve" into a MM/DD/YYYY date unless it is greater than or equal the current day's date. I tried debugging this, and it seems like the `!isOutsideRange(newDate);` from line 243 in SingleDatePickerInputController (`var isValid = newDate &

[2019-02-11 03:21] samism commented on #1541
Wow, so apparently never mind. I have no idea what kind of black magic was behind the scenes.

I downgraded the version to 18.0.0, `CTRL+C`'ed my `react-scripts` server running my front end, then `yarn start`ed it back up in case npm was doing some caching behind the scenes and I was able to manually type in past dates after doing this. Wondering if it was the caching the whole time rather than th

[2019-02-11 03:22] #1541 closed

[2019-02-11 10:04] thian4 opened #1542 "make endDate not clickable"
import { DateRangePicker } from 'react-dates'

I'm using `DateRangePicker`, how can I make the endDate input non-clickable? if I supply disabled="endDate" flag to the component, it won't make it non-clickable, it will make the `DateRangePicker` a single date picker. I want to restrict the user to be able to select only from startDate and able to pick 2 dates.

[2019-02-11 18:30] pratap003 commented on #1516
I'm facing the same issue.

[2019-02-12 00:29] #1535 closed

[2019-02-12 01:21] majapw commented on #1516
This should be fixed in v19.0.3, releasing now

[2019-02-12 01:21] #1516 closed

[2019-02-12 04:09] thian4 commented on #1542
any update on this? do I have to use multiple singledatepicker to sort of hacking it?

[2019-02-12 07:41] eldyvoon opened #1543 "don't allow user start from endDate in DateRangePicker"
In DateRangePicker, there's a start date and an end date. What I want to achieve is if the user clicked on the end date while the start date is null, do not allow him to choose the end date first, because it will introduce 2 kind of selection which can lead to confusion.

I tried this,
[code]
force focusInput to be startDate if endDate is selected and if startDate is null

But then the behaviour s

[2019-02-12 13:27] pwfcurry commented on #1060
Hi,

I had the same problem, fixed by -

[code]

(no need to set moment.locale).

Note I'm using moment-timezone.

[2019-02-12 13:28] pwfcurry commented on #1077
https://github.com/airbnb/react-dates/issues/1099 might help.

[2019-02-12 13:31] pwfcurry commented on #1099
Thanks! Actually just the locale import fixed this for me: `import "moment/locale/en-gb";` - I didn't need to set `moment.locale("en-gb")`.

[2019-02-12 16:06] ljharb commented on #1077
The locale shouldn’t be set in render; it needs to be set prior to rendering.

[2019-02-12 16:48] Dakkers commented on #1268
is there any news on this? AirBNB SSR's their pages right? so I'm surprised this isn't solved

[2019-02-12 17:01] ljharb commented on #1268
All of our datepickers are initially hidden and only show on user interaction, so we don’t run into it. It’s still very much worth solving - a PR would be helpful.

[2019-02-12 19:42] fillipe-ramos commented on #1523
I have the same issue

[2019-02-13 02:59] thian4 opened #1544 "isOutsideRange to handle disable dates if user clicked on endDate first"
I've this requirement where I need to restrict the user to select only max 10 days, I used isOutsideRange and it worked.

[code]

but if the user clicked on the endDate first, then above function need more handling. I'm ok to just make the endDate not clickable, but it seems that there's no option for that.

[2019-02-13 05:00] ljharb commented on #1544
It seems like this is a duplicate of #1542 (your other issue) - I'm going to close it in favor of that one.

[2019-02-13 05:00] #1544 closed

[2019-02-13 09:18] waldell commented on #1530
Any update on this? We're having the same issue and tried importing `airbnb-browser-shims` without success.  Would be much appreciated if this could be fixed.

[2019-02-13 13:25] majapw commented on #1534
This should be fixed in v19.0.3.

[2019-02-13 13:25] #1534 closed

[2019-02-13 13:25] majapw commented on #1530
This should be fixed in v19.0.3. Please let me know if that's not the case!

[2019-02-13 14:37] #908 closed

[2019-02-13 19:30] nkinser commented on #1543
Hi! The reason this doesn't work is because in the react-dates version you're using for the demo, `onFocusChange` is called before `onDatesChange`, which means that your `startDate` isn't set yet when `onFocusChange` is called for the day click. The ordering of the calls to `onFocusChange` and `onDatesChange` has been switched in v19.0.0, so this should work if you use that version.

[2019-02-13 23:45] avaldelvira commented on #1523
I'm having the same issue, anybody knows something about this issue?

Thanks @fillipe-ramos for the tip, that version works perfectly for me.

[2019-02-14 01:19] eldyvoon commented on #1543
@nkinser Are you saying the code logic is correct just that the version v19 should worked? I tried to upgrade the version but it doesn't behave as expect like you said.

https://codesandbox.io/s/jpom95rw8w

[2019-02-14 09:15] eldyvoon commented on #1542
#1543

[2019-02-14 13:02] tornado1979 opened #1545 "'vertical scrollable' & 'vertical scrollable with custom month nav' doc in storybook is not accurate"
**react-dates version**
e.g. react-dates@18.3.1

**Describe the bug**
A clear and concise description of what the bug is.

**Source code (including props configuration)**
Steps to reproduce the behavior:
[code]
If you have custom methods that you are passing into a `react-dates` component, e.g. `onDatesChange`, `onFocusChange`, `renderMonth`, `isDayBlocked`, etc., please include the source for tho

[2019-02-14 13:14] tornado1979 commented on #1545
storybook examples, 'vertical scrollable' & 'vertical scrollable with custom month nav' are using a different func  in order to load more months, is cant be 'onPrevMonthClick' & 'onNextMonthClick', that is shown on 'Show info' button.

[2019-02-14 14:20] PiotrekPaprocki commented on #1530
I'm afraid it still doesn't work :<
Just tested on WM with windows 7 and ie11
- OS: Windows 7
- Browser IE
- Version 11.0.9600.19266
- react-dates@19.0.3

[2019-02-14 19:30] #1077 closed

[2019-02-14 23:37] raimondi1337 opened #1546 "DateRangePicker text field input disables typing but still fires events"
**react-dates version**
v16.3.6

**Describe the bug**
Perhaps I've just put myself in a bad state, but when clicking either input field, a cursor is placed in the text field, but the date string is immutable - it never changes. Even though the field does not actually change, `onDatesChange` is fired with a `startDate` or `endDate` of `null`, which then requires error handling.

Allowing to the use

[2019-02-15 01:49] thian4 opened #1548 "set disabled date in"
I have a reset function like so
[code]
but it doesn't reset the disabled day value since I also have isOutsideRange rule for the calendar
[code]

<img src="https://im4.ezgif.com/tmp/ezgif-4-b37a10abe45b.gif" />

Any idea how to solve this?

[2019-02-15 02:57] thian4 commented on #330
having the same issue

https://github.com/airbnb/react-dates/issues/1548

[2019-02-15 10:10] waldell commented on #1530
It works using 19.0.3 in the DateRangePicker but the SingleDatePicker still does not work.

* OS: Windows 10
* Browser IE
* Version 11.523.17134.0
* react-dates@19.0.3

[2019-02-15 10:50] burtek opened #1549 "Allow to use custom input"
It would be nice to be able to use custom input element, i.e. input from `react-input-autosize` or any other controllable component with at least `value` and `onChange` props

[2019-02-15 17:18] dpereira411 commented on #1506
having the same problem

[2019-02-15 17:44] danedavid commented on #1523
I'm looking into this.

[2019-02-15 23:00] nkinser commented on #1543
Sorry, I misunderstood this and thought it involved the `DayPickerRangeController`, but it doesn't. It seems like it's working correctly to me, because when you click on the end date input without the start date being selected, it does move the focus to the start date and the day you select is set as the start date. I am confused though because if you click the end date again, `focusedInput` stays

[2019-02-16 09:53] eldyvoon commented on #1543
my current workaround is apply this
[code]

in

[code]

[2019-02-18 16:51] GfxKai commented on #1523
In case it helps track down the cause of this issue: if you select a start date that isn't within the leftmost month, the calendar re-renders to show that month on the far left. This doesn't happen pre-18.3.1.

![ohdear](https://user-images.githubusercontent.com/22200114/52965665-47438480-339d-11e9-84fb-0959d47d421f.gif)

[2019-02-18 17:51] gilbsgilbs commented on #1535
Hi,

Thanks @danedavid for the PR. Although reproduction source code from first post indeed seems fixed by #1540, the issue persists in a real-world project. Switching back to 18.4.0 works fine, while 19.0.3 breaks consistently. I'm still trying hard to figure out what makes the bug happen, but I'm currently failing to have a clean repro I can show. It may be a conflict with some other component b

[2019-02-18 18:17] ljharb commented on #1535
@gilbsgilbs filing a new issue with the repro, when you can find it, would be most effective.

[2019-02-18 18:50] GfxKai commented on #1523
Looks like this is something to do with the change of focus between the start date and end date inputs, which happens to be triggered when you select a date. If you simply select the end date input box directly, the same flashing occurs. This doesn't happen in 18.4.0.

[2019-02-18 22:08] gilbsgilbs opened #1550 "appendToBody property breaks date selection in SingleDatePicker when in a Material-UI Dialog"
**react-dates version**

- react-dates@19.0.3

**Describe the bug**

When `appendToBody` is set in a `SingleDatePicker` and the date picker is in a Material-UI dialog, the picker displays correctly on click but `onDateChange` callback is never called and the picker gets closed immediately. The date doesn't update.

As I said in #1535 , #1540 has fixed the most the obvious cases (thanks again @dane

[2019-02-18 22:11] sajidahmed21 opened #1551 "DatePicker transitions to incorrect month in RTL mode"
Clicking the `left arrow key` while on the last day of the month should take me to the next month, but instead it takes me to the previous month.

Similarly, clicking on the `right arrow key` while on the first day of the month, should take me to the previous month, but instead it takes me to the next month.

NOTE: In RTL mode, `left arrow key` is used to increment dates and `right arrow key` is u

[2019-02-18 22:31] sajidahmed21 commented on #1551
Fix: https://github.com/airbnb/react-dates/pull/1552

[2019-02-18 23:38] gilbsgilbs commented on #1550
Ok, it appears that this diff does fix the issue:

[code]

but I have to admit I have no clue whether this is correct or not (disclaimer: it's probably not).

Maybe @monokrome you could help me figure this out? It appears that in the case of the `Dialog`, `relatedTarget` is set to the dialog node and `target` is set to the calendar day node on the `FocusEvent`. I don't see a case where `relatedTar

[2019-02-19 15:40] mccambridge commented on #1530
Confirmed still not working in IE for SDP default example on airbnb.io/react-dates

[2019-02-19 21:44] austinwerner358 commented on #1530
I am seeing this issue on react-dates 19.0.3 (was also seeing it on 18.4.1).

- **OS:** Windows 10 Enterprise x64
- **Browser:** Internet Explorer 11
- **Browser Version:** 11.2007.14393.0
- react-dates@19.0.3

No javascript console errors.

On the same computer, it works on Chrome and Edge.

[2019-02-20 10:54] HaciKale commented on #644
this is an issue with enableOutsideDays in general, the last day on the calendar doesn't have the blocked styling and there's cursor on it as if you can click on it, but clicking on it doesn't do anything.
also if you could click on it, it should automatically slide to next month but that's an enhancement.

the last day in the calendar looks like this
`<td class="CalendarDay CalendarDay_1 Calendar

[2019-02-20 15:02] florentdestremau commented on #287
hi, digging up this topic to make sure I understood @majapw clearly: If I want a full-width calendar say on a column in a responsive layout, I can't do it with css ?

[2019-02-20 16:11] EricBrovko commented on #1530
Hi there!
The method `onDateChange` is not called on **IE11** when user selects the date

[2019-02-20 18:38] ReTWi opened #1554 "Buttons in SDP is in wrong place"
**react-dates version**
"react-dates": "^19.0.3",

**Describe the bug**
[Buttons](https://i.imgur.com/oNEbysf.png) is not in correct place.

**Source code (including props configuration)**

[code]

**Screenshots/Gifs**
https://i.imgur.com/oNEbysf.png

**Desktop**
 - OS: Windows
 - BrowserChrome
 - Version 72.0.3626.109

**Is the issue reproducible in Storybook?**
Nope

[2019-02-21 13:45] Tam commented on #1493
I'm also getting `Warning: Failed prop type: Invalid prop 'modifiers' of type 'Object' supplied to 'withStyles(CalendarDay)', expected instance of 'Set'.` and `Warning: Failed prop type: Invalid prop 'modifiers' of type 'Object' supplied to 'CalendarDay', expected instance of 'Set'.`

Working my way up the stacktrace, it appears that the default `modifiers` prop on the compiled `CalendarMonth` in

[2019-02-22 09:26] QuangTrungK15 commented on #1159
Who have any idea for the issue above

[2019-02-22 11:10] mmakarin commented on #1523
Still flickering for me in 18.4.1

[2019-02-22 17:35] revant9c opened #1556 "onPrevMonthClick & onNextMonthClick not getting called when being passed as props to <DayPickerSingleDateController>"
**react-dates version**
react-dates@18.2.2

**Describe the bug**
onPrevMonthClick & onNextMonthClick are not being passed down to `<DayPickerSingleDateController>`. I implemented this 3-4 months back and it was working fine and has suddenly stopped working. I know there was already an issue similar to this reported here but NONE of the solutions worked for me. I am not sure whether it's bug or an

[2019-02-22 22:11] capaj opened #1557 "How can I change the width of the dropdown container?"
**react-dates version**
e.g. react-dates@19.0.3

**Describe the bug**
for some reason i ti set to 619px and the elements inside the container to 618px

![image](https://user-images.githubusercontent.com/1305378/53274273-fb734100-36f6-11e9-8474-0535214d1d11.png)

**Screenshots/Gifs**
![image](https://user-images.githubusercontent.com/1305378/53274197-ab947a00-36f6-11e9-8983-46e67ecc7b0e.png)

I cou

[2019-02-24 03:47] colindjk opened #1558 "Dispatching redux action in callback for `onFocusChange` triggers infinite recursion"
So I am trying to dispatch an action when the `onFocusChange` action is triggered, which will update internal redux state. It looks a bit like this -

[code]

The `updateSettings` function is basically like `setState` except it dispatches an action to modify redux state like this

[code]

The reducer then applies the `updates` to the `settings` slice of state.

For some reason, this causes infinit

[2019-02-24 03:49] ljharb commented on #1558
Can you share part of a stack trace?

[2019-02-24 03:51] colindjk commented on #1558
[code]

[2019-02-24 03:54] colindjk commented on #1558
I tried creating a new app from scratch and connecting a `DateRangePicker` to a redux store, in order to try and replicate the bug from scratch, but the `dispatch` call seems to work without triggering infinite recursion if I just do this -

App.js
[code]

store.js
[code]

[2019-02-24 04:06] colindjk commented on #1558
One thing I noticed in `react-dates/src/components/DateRangePicker`

[code]

Isn't calling `setState` inside `componentDidMount` a quick way to potentially cause infinite recursion? That being said, if that is indeed the issue, I have no idea why it only triggers during a dispatch, rather than during any update to props.

[2019-02-24 04:41] ljharb commented on #1558
No, cDM only ever fires once.

[2019-02-24 13:26] dinfyru opened #1559 "DayPickerSingleDateController outside range month disable navigation"
How i can disable navigation (prevNav && nextPav) for outside range month?
react-dates - 19.0.3
[code]

[2019-02-25 12:30] HaciKale opened #1560 "Question: Navigate to Next Month when clicking on last day of current month"
**react-dates version**
react-dates@19

**Describe the bug**
is there anyway to navigate to nexth month without clicking on the navigation arrows?
 I wanna navigate to next month when arrival date is being selected and the selected date is the last day of the month, or if I'm selecting departure, and the enableoutsiderange is true and I click on a day that is outside of the current visible month

[2019-02-25 12:33] HaciKale opened #1561 "Request: documentation for dummies"
A more precise documentation explaining how to use the different props?
I'm having a hard time understanding what does "navNext" do? what does renderCalendarInfo do and how to use it

[2019-02-25 20:59] dfonidata commented on #1493
Any news about this problem? I'm having these errors too.

[2019-02-25 21:45] dfonidata commented on #1493
Found a solution that worked for me.

https://github.com/airbnb/react-dates/issues/1198#issuecomment-419154768

[2019-02-26 19:58] kdave2 commented on #1030
@sibelius having issue with material ui withStyles can you provide an example

[2019-02-28 13:36] arshKhachatryan commented on #697
Hello,
I have the same issue in react-dates(20.0.0), on Win10/Edge.
This issue exist even in https://www.airbnb.com/ when browsing with Edge.
https://www.screencast.com/t/bDGA6Czw

[2019-02-28 20:20] arshKhachatryan commented on #1197
Hi,
this is the workaround I used to change hovered days background color to red to indicate that the user
can't select more than 30 days
[code]

[2019-03-01 15:29] arshKhachatryan commented on #697
Hello,
I found out why it behaves like that.
The module airbnb/is-touch-device returns TRUE for Edge browser. This module is used in onDayMouseEnter(day){} function in DayPickerRangeController.jsx component
[code]

And when it returns TRUE the function is returned without doing anything,

[2019-03-01 16:35] ljharb commented on #697
Seems like you filed https://github.com/airbnb/is-touch-device/issues/2 for that; thanks!

[2019-03-02 22:21] Laawe commented on #1534
@majapw when that will happen? I've got version ^20.0.0 and having the same scenario (don't know if bug or something)

[2019-03-02 22:26] Laawe commented on #1530
Having the same issue my version is ^20.0.0

[2019-03-03 07:01] sht5 commented on #1035
I managed to do this by overriding the renderCalendarDay method. i give it the relevant classes and add a hover action to keep a state of selected week which i highlight in the same method.
woohoooo!
https://codesandbox.io/s/5nk78l76x

[2019-03-03 07:02] sht5 commented on #1062
I managed to do this by overriding the renderCalendarDay method. i give it the relevant classes and add a hover action to keep a state of selected week which i highlight in the same method.
woohoooo!
https://codesandbox.io/s/5nk78l76x

[2019-03-03 07:02] sht5 commented on #349
I managed to do this by overriding the renderCalendarDay method. i give it the relevant classes and add a hover action to keep a state of selected week which i highlight in the same method.
woohoooo!
https://codesandbox.io/s/5nk78l76x

[2019-03-03 13:34] sergiubologa opened #1565 "Selecting dates in DateRangePicker triggers a rerender"
**react-dates version**
react-dates@18.4.1 and above

**Describe the bug**
Starting from version `18.4.1`, when selecting a date the component is re-rendered and the user faces a flicker. This is more like an UX bug.

**Source code**
Here's a codesandbox with the code to reproduce the issue: https://codesandbox.io/s/9334257n7p

If I change the version to `18.4.0` everything works as expected.

**S

[2019-03-03 19:53] sergiubologa commented on #1565
Seems like there's been only one change added to 18.4.1 and has been made in this PR: https://github.com/airbnb/react-dates/pull/1499.

@monokrome do you have any idea what may cause this?

[2019-03-04 10:23] burtek commented on #1565
Isn't this a dup of #1523, fixed in 046c7f8d203dcdeaff54a8570316026ab7673125 ?

[2019-03-04 10:42] Buddhimal commented on #983
This Doesn't work for me. What is the issue?

 constructor(props) {
        super(props);

        this.state = {
            fields: {},
            errors: {},
            date: '',
            date1: '',
            startDate: moment(),
            minDate: '1900/1/1',
            maxDate:moment(),
            endDate: moment(),
            dateRangeFocusedInput: true,
            focusedTwo: t

[2019-03-04 10:43] burtek commented on #1565
Dup of #1523 ?

[2019-03-04 11:16] Buddhimal commented on #599
Thanks it works.

[2019-03-04 12:48] inginging commented on #1080
What is the status of this issue? I agree with @dan-mu, the placeholder shouldn't be the aria-label, and it should be possible to set them separately. The actual label is not read anymore by the screen reader and it just reads the description in my case: (MM-DD-YYYY). Which is not descriptive. According to https://www.w3.org/TR/wai-aria/#aria-labelledby

[2019-03-04 14:34] inginging opened #1566 "add verticalBorderSpacing to SingleDatePicker"
Is it possible to add the verticalBorderSpacing to SingleDatePicker, so that we can use this prop too for the singleDatePicker? Or is there another way to make this possible?

[2019-03-04 15:58] SonnyBrooks opened #1567 "Cannot get CSS to behave properly"
**react-dates version**
react-dates@20.0.0

**Describe the bug**
CSS is not behaving as expected. Dropdown is not functional because of the styling issues.

**Source code (including props configuration)**
Steps to reproduce the behavior:
[code]
I am also including the imports mentioned in the Getting Started docs
[code]

**Screenshots/Gifs**
![image 1](https://user-images.githubusercontent.com/848

[2019-03-04 16:46] SonnyBrooks commented on #1567
This was a webpack issue.

Here is my webpack to fix it. The order does matter!

[code]

[2019-03-04 16:46] #1567 closed

[2019-03-04 16:51] SonnyBrooks commented on #1566
You could add vertical spacing via CSS/SCSS for additional customization.

See reference -
https://developer.mozilla.org/en-US/docs/Web/CSS/border-spacing

[2019-03-05 08:01] ljharb commented on #1565
Closing as a duplicate of #1523.

[2019-03-05 08:01] #1565 closed

[2019-03-05 13:23] pwnreza opened #1569 "numberOfMonths not working as expected in DayPickerSingleDateController"
**react-dates version**
e.g. react-dates@20.0.0

**Describe the bug**
When using the DayPickerSingleDateController the numberOfMonths prop is not working as expected.
E.g. when using the value 2 it will render 4 months, when using 0 it will render 2 months.
(numberOfMonths=n will render n+2 months)
I tried the workaround: numberOfMonths=-1
and it worked, but then the Weekdays (e.g. Mo, Thu etc.) w

[2019-03-05 15:12] jrgleason commented on #239
Would be nice to understand the inputs to the function, like how do I say outside range if more than a year in the past.

[2019-03-05 15:13] jrgleason commented on #239
Spec tests show a day being passed but how do I make it relative to the start/end without outside vars?

[2019-03-06 06:51] #1556 closed

[2019-03-06 07:10] revant9c opened #1570 "I have a custom input which controls the DayPickerSingleDateController. I want to keep focus on the input when I am interacting with the date picker."
**react-dates version**
e.g. latest

**Describe the bug**
I have a custom input which controls the DayPickerSingleDateController. I want to keep focus on the input when I am interacting with the date picker. Right now, the input loses focus when interacting with the date picker. This issue is present on Storybook too.

**Source code (including props configuration)**
[code]

**Screenshots/Gifs**
He

[2019-03-06 12:41] inginging commented on #1566
@SonnyBrooks But by adjusting this the height of the popup calendar will not be updated to the new height of the table.

[2019-03-06 14:13] S1rFrancis commented on #1530
I'm also seeing this issue in v20.0.0

[2019-03-06 20:38] sergiubologa commented on #1523
There's an open PR for this: https://github.com/airbnb/react-dates/pull/1553

[2019-03-06 22:59] michelsch opened #1571 "Unexpected onBlur behavior for DayPickerRangeController?"
**react-dates version**
react-dates@20.0.0

**Describe the bug**
I've been playing around with the `DayPickerRangeController` and the onBlur behavior does not seem to work as expected when tabbing through. I added a window alert on the default storybook example and the onBlur alert did not show up when tabbing 'out' of the calendar, however it did show up on date selection.

**Source code (includi

[2019-03-07 04:16] richardverheyen commented on #1422
Exactly the same issue here

[2019-03-07 04:53] dougmacknz commented on #1532
I did a bit of investigation on this and found this was done by design in https://github.com/airbnb/react-dates/pull/1204. I've submitted a PR to add the missing styling to the stories, so that this doesn't appear as though it's a bug.

[2019-03-07 15:41] hugocruz opened #1574 "DateRangePicker className miss placed and missing (SSR)"
**react-dates version**
react-dates@20.0.0

**Describe the bug**
I've got a **SSR** application where I use DataRangePicker. When in mobile the input div for one of the input fields is missing, resulting in a bad display for the input. This doesn't happen when I render client-side.
I know that this might be related to ReactDom.hydrate, not being able to distinguish between both nodes, but I though

[2019-03-08 08:58] WarrickPardoe opened #1575 "Unable to have multiple datepickers in different locales"
**react-dates version**
react-dates@20.0.0
moment@2.24.0

**The Bug**
This occurs when changing the global locale for the moments singleton , then creating a new instance of moments in a different locale and using that as the date prop. The month names change, however the week headers (DayPicker_weekHeader) stay in the locale used in the global moments singleton.

This makes it very difficult to h

[2019-03-08 17:09] ljharb commented on #1575
Is there an easy way to get the same as `moment()`, but with all the options (including locale) of a given moment instance?

[2019-03-08 19:09] DaveCole commented on #1530
To shine a little light on the subject - I only began experiencing this issue after I upgraded from `react-scripts` 1.1.5 to 2.1.5 and `react`/`react-dom` 16.4.2 to 16.8.3.  Likely babel's default requirements at this point introduced the problem.  I changed the browserlist to `not ie <= 10` and added `babel-polyfill` as well as `airbnb-browser-shims` and still experience the problem.

[2019-03-08 20:39] DaveCole commented on #1530
Actually it looks like the error started occurring when I updated from react-dates 18.1.0 to 18.1.4.

[2019-03-10 03:23] krissalvador27 commented on #1536
fixed in `v20.0.0`

[2019-03-10 03:23] #1536 closed

[2019-03-11 10:39] pwnreza commented on #1569
I might have initialized the Package in a wrong way

[2019-03-11 12:10] WarrickPardoe commented on #1575
The current month headers uses a the passed in moment instance, using that seems to resolve the issue for me.

Daypicker.jsx Line 178

[code]

Suggested change

[code]

[2019-03-11 16:11] ljharb commented on #1575
I think it might have to clone the object, but otherwise that looks like a good approach. Want to make a PR?

[2019-03-11 19:18] Laawe commented on #1530
So no update on this?

[2019-03-12 13:22] rvanlaarhoven commented on #1530
It's working fine for me on v18.3.1 & v18.4.0 and started to be an issue from v18.4.1.

[2019-03-12 17:13] majapw commented on #1530
I'll take a look today!

[2019-03-12 17:55] DaveCole commented on #1530
@rvanlaarhoven it might be possible I updated from 18.1.0 to 18.4.1 -- what's interesting is in order to roll back I also had to roll back the package-lock.json file; changing the version in package.json alone didn't make a difference.  Maybe I just don't grasp the impact of package-lock.json well enough.  Thanks @majapw!

[2019-03-12 19:25] ljharb commented on #1530
Once this fix lands in master, I’ll backport it to v18 and v19 as well.

[2019-03-13 00:32] Laawe commented on #1530
I've tried this versions and there's no response in Internet Explorer 😢

[2019-03-13 07:26] GattoLupesco commented on #1530
Hi all,
the bug is the same founded for DateRangePicker in #1516 the solution is the same: in method "onFocusOut" of SingleDatePicker you have to change:
`if (this.dayPickerContainer.contains(e.relatedTarget || e.target)) return;`
into:
`if (this.dayPickerContainer.contains(e.relatedTarget || e.target) || this.dayPickerContainer.contains(e.target)) return;`

release the fix please...